<div ng-controller="GiftideasController as search"> 
    <div class="ui inverted masthead slim center aligned vertical segment discover" ng-show="!category">
        <div class="ui text container">
            <h1 class="ui inverted header">Find The Perfect Gift</h1>
            <h2>It's that easy. What's on your mind?</h2>
            <gs-product-search home="false" results="false" menu="false"></gs-product-search>
        </div>
    </div>
    
    <div class="giftideas wrapper ui container main full">
        <gs-product-search home="false" results="true" menu="false"></gs-product-search>
    </div>
</div>