<div class="ui grid stackable join container main full" ng-controller="LoginOrCreateController">
    <div class="eight wide column">
        <div class="userlogin__emaillogin login-block" ng-show="showCreate">
            <ng-include src="'/views/join/join-form.html'"></ng-include>
            <div class="userlogin__createacc switchtxt" ng-hide="showSocials">
                <span>Already have an account? </span>
                <span><a ng-href="/login" class="userlogin__createacclink linky">Login</a></span>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="masthead segment bg-gradient">
            <div class="ui container">
                <div class="introduction">
                    <div class="wide right floated column youtube">
                        <div class="ui embed" data-source="youtube" data-id="sNP59QXUlFQ"></div>
                    </div>
                    <div class="ui icon ui secondary segment grid red">
                        <div class="content column seven wide">
                            <h4 class="ui header">
                                Rather use social media?
                            </h4>
                        </div>
                        <div class="column nine wide">
                            <button class="ui circular facebook icon button" ng-click="doLoginFacebook()">
                                <i class="facebook icon"></i>
                            </button>
                            <button class="ui circular twitter icon button" ng-click="doLoginTwitter()">
                                <i class="twitter icon"></i>
                            </button>
                            <button class="ui circular linkedin icon button" ng-click="doLoginLinkedin()">
                                <i class="linkedin icon"></i>
                            </button>
                            <button class="ui circular google plus icon button" ng-click="doLoginGoogleplus()">
                                <i class="google plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script>
    function handlePopupClosed() {
        angular.element(document.getElementById('shareControllerWrapper')).scope().refreshPermissionsStatus();
    }
</script>