<div class="ui grid join container">
    <div class="eight wide column">
        <div class="" ng-controller="LoginOrCreateController">
            <div class="userlogin__emaillogin login-block" ng-show="showCreate">
                <div class="ui icon message">
                    <i class="users icon"></i>
                    <div class="content">
                        <div class="header">
                            Rather use social media?
                        </div>
                        <p>It only takes a few clicks...</p>
                    </div>
                </div>
                <ng-include src="'/views/join/join-form.html'"></ng-include>
                <div class="userlogin__createacc switchtxt" ng-hide="showSocials">
                    <span>Already have an account? </span>
                    <span><a ng-href="/login" class="userlogin__createacclink linky">Login</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column">

        <div class="masthead segment bg-gradient">
            <div class="ui container">
                <div class="introduction">

                    <h1 class="ui inverted header">
        <span class="tagline">
          Giving is a language of love.
        </span>
						<p><br><br><br><br><br><br></p>
      </h1>
                    <div class="ui hidden divider"></div>

                </div>
            </div>

        </div>
    </div>


    <div class="ui social basic modal">
        <i class="close icon"></i>
        <div class="header">
            Archive Old Messages
        </div>
        <div class="image content">
            <div class="userlogin__sociallogin login-block" ng-show="showSocials">
                <div class="social">
                    <a class="social__link linky" ng-click="doLoginFacebook()">
                        <img class="social__icons" src="/assets/login/facebook.png">
                    </a>
                    <br/>
                    <a class="social__link linky" ng-click="doLoginTwitter()">
                        <img class="social__icons" src="/assets/login/twitter.png">
                    </a>
                    <br/>
                    <a class="social__link linky" ng-click="doLoginLinkedin()">
                        <img class="social__icons" src="/assets/login/linkedin.png">
                    </a>
                    <br/>
                    <a class="social__link linky" ng-click="doLoginGoogleplus()">
                        <img class="social__icons" src="/assets/login/google.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui blue basic inverted button">
                    <i class="twitter icon"></i>
                    No
                </div>
                <div class="ui blue basic inverted button">
                    <i class="facebook icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>

    <script>
        function handlePopupClosed() {
            angular.element(document.getElementById('shareControllerWrapper')).scope().refreshPermissionsStatus();
        }
    </script>