@charset "UTF-8";
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.static-pages {
  clear: both;
  padding-bottom: 50px; }
  .static-pages a {
    color: #e44028; }
  .static-pages .headerwrap {
    color: white;
    margin: 66px auto 50px auto;
    height: 300px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    background-size: cover; }
    @media only screen and (max-width: 667px) {
      .static-pages .headerwrap {
        margin: 1em auto 0 !important; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .static-pages .headerwrap {
        margin: 1em auto 0 !important; } }
    .static-pages .headerwrap h1 {
      color: white;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 1.5em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 2.25em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2.5em; } }
    .static-pages .headerwrap p {
      margin: 10px auto 7px auto;
      width: 60%;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.8em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.9em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1.125em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 667px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
  .static-pages a.button {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .static-pages a.button:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
      filter: alpha(opacity=70);
      zoom: 1; }
    .static-pages a.button.red {
      background-color: #e44028;
      color: white;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .static-pages a.button.red:hover {
        background-color: #ea7063;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
        filter: alpha(opacity=70);
        zoom: 1; }

.h--hide {
  display: none; }

.h--show {
  display: block; }

.linky:hover, div.faq .main h2:hover {
  cursor: pointer; }

.hidden {
  display: none; }

div.faq {
  text-align: left; }
  div.faq .headerwrap {
    background: url("/assets/faq/FAQHero.jpg") no-repeat center top;
    background-size: cover; }
    div.faq .headerwrap a {
      color: #ffffff; }
  div.faq .main {
    padding: 7px 75px; }
    @media only screen and (min-width: 1025px) {
      div.faq .main {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -webkit-margin-bottom-collapse: separate; } }
    div.faq .main h1 {
      color: #00838F;
      font: 1.5em Gotham, sans-serif;
      padding-top: 1em;
      padding-bottom: 10px; }
    div.faq .main h2 {
      font-size: 16px;
      padding: 15px 0 5px 0; }
      div.faq .main h2:hover, div.faq .main h2.open {
        color: #00ACC1; }
      div.faq .main h2 img {
        width: 12px;
        margin-right: 5px; }
    div.faq .main p {
      margin-left: 30px; }
    div.faq .main .sections {
      display: inline-block;
      width: 99%; }
