iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

gs-subscribe-header {
  text-align: center; }
  gs-subscribe-header div.subscribe-header-padding {
    max-height: 2.625em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  @media screen and (min-width: 37.5em) {
    gs-subscribe-header div.subscribe-header-padding.shown {
      max-height: 5.625em; } }
  @media screen and (min-width: 37.5em) {
    gs-subscribe-header div.subscribe-header.shown {
      max-height: 6em; } }
  gs-subscribe-header div.subscribe-header {
    background-color: #414141;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1001;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media screen and (max-width: 37.5em) {
      gs-subscribe-header div.subscribe-header {
        display: none; } }
    gs-subscribe-header div.subscribe-header span {
      margin: 0 auto;
      display: block; }
      gs-subscribe-header div.subscribe-header span p {
        font-size: 16px;
        color: #ffffff;
        display: inline-block;
        margin: 0.75em 0;
        vertical-align: top; }
      gs-subscribe-header div.subscribe-header span button {
        padding: 0; }
      gs-subscribe-header div.subscribe-header span p.cancel {
        float: right;
        margin: 0;
        padding: 0.75em;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      gs-subscribe-header div.subscribe-header span p.cancel:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      gs-subscribe-header div.subscribe-header span form {
        display: inline-block;
        margin: 7px; }
        gs-subscribe-header div.subscribe-header span form input {
          border: none;
          width: 15em; }
        gs-subscribe-header div.subscribe-header span form button {
          border: 2px solid #ffffff;
          background-color: transparent;
          padding: 2px 0.35em;
          font-size: 1.5em; }
        gs-subscribe-header div.subscribe-header span form button:hover {
          background-color: rgba(255, 255, 255, 0.3); }
