<style>
    footer .footblock .logo {
        margin-left: auto;
        margin: 30px auto 0;
    }
    @media screen and (max-width: 1030px) {
        footer .footblock .footcol.joinus {
            margin: 0 6%;
            width: auto;
        }
        footer .footblock.left {
            margin-bottom: 0;
        }
    }
</style>

<div class="text-center affix bg-color4" data-spy="affix" style="padding: 10px; width: 100%; text-transform: uppercase; border-bottom: 1px solid #e2e2e2; z-index: 10;">
    Questions? Call Us: <span id="contactNumber"></span>
</div>
<div role="main" class="main yourvillage" style="padding-top: 47px;">
    <section class="product-tab top-tall">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img id="logo" class="img-responsive center-block text-center img-responsive" src="/assets/webLogo.png">
                </div>
            </div>
        </div>
    </section>
    <section class="product-tab">
        <div class="container" style="padding-left: 15px; padding-right: 15px;">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="h1 text-center" style="color: #000; padding-bottom: 15px">Create A GiftStarter Campaign And Easily:</h1>
                    <div class="col-md-4 col-md-offset-4">
                        <ul>
                            <li>
                                <h2 class="h4" style="text-transform: none;">Break any product or service into affordable pieces.</h2>
                            </li>
                            <li>
                                <h2 class="h4" style="text-transform: none;">Get support from family &amp; friends.</h2>
                            </li>
                            <li>
                                <h2 class="h4" style="text-transform: none;">Save time and money when it matters most.</h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-tab top-tall bg-color4">
        <div class="container bg-color4">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="h2 text-center">Get The Help You Need</h1>
                    <p class="text-center">Not quite sure what will make your life easier?We have teamed up with Providence to provide a few suggestions based on what other mother's have found useful.</p>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-xs-6" style="float:left; width: 50%;">
                                <div class="thumb-item">
                                    <div class="thumb-item-img">
                                        <a href="https://www.giftstarter.com/giftideas/abcdoula">
                                            <img class="img-responsive thumbnail center-block" src="images/products/abcdoula.png">
                                            <h3 class="h4 text-center">ABC Duola <i class="fa fa-arrow-right"></i></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6" style="float:left; width: 50%;">
                                <div class="thumb-item">
                                    <div class="thumb-item-img">
                                        <a href="https://www.giftstarter.com/giftideas/lishfood">
                                            <img class="img-responsive thumbnail center-block" src="images/products/lishfood.png">
                                            <h3 class="h4 text-center">Lish <i class="fa fa-arrow-right"></i></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6" style="float:left; width: 50%;">
                                <div class="thumb-item">
                                    <div class="thumb-item-img">
                                        <a href="https://www.giftstarter.com/giftideas/farmtofit">
                                            <img class="img-responsive thumbnail center-block" src="images/products/farmtofit.png">
                                            <h3 class="h4 text-center">Farm To Fit <i class="fa fa-arrow-right"></i></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6" style="float:left; width: 50%;">
                                <div class="thumb-item">
                                    <div class="thumb-item-img">
                                        <a href="https://www.giftstarter.com/giftideas/fullbellyfare">
                                            <img class="img-responsive thumbnail center-block" src="images/products/fullbellyfare.png">
                                            <h3 class="h4 text-center">Full Belly Fare <i class="fa fa-arrow-right"></i></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-foot bg-color2">
        <div class="container bg-color2">
            <div class="row row-fluid">
                <div class="newsletter" style="padding-top: 55px; padding-bottom: 55px;">
                    <div class="newsletter-form">
                        <h2 class="h2">We're Here To Help</h2>
                        <p style="margin-bottom: 20px;">Enter your phone number and a "Mommy Happiness Expert" will contact you soon.</p>
                        <form role="form">
                            <div class="form-group" style="width: 85%;">
                                <input type="tel" style="width: 100%; font-size: 16px; padding: 25px;" class="form-control" id="#" placeholder="Click To Enter Your Phone Number">
                            </div>
                            <button type="submit" class="btn btn-default">Get Help</button>
                        </form>
                        <p><small>or <a style="text-decoration: underline; color: white;" href="mailto:giftconcierge@giftstarter.com">send us an email</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        var $elContactNumber = $('#contactNumber'),
            contactNumber = '+1-111-123-1234',
            contactNumberDisplay = '(111) 123-1234',
            $body = $('body');
        $body.attr({
            style: "max-width: none;"
        });
        if(isMobile()) {
            if(isIOS()) {
                fixIOSAffix();
            }
            $elContactNumber.html('<a href="tel:' + contactNumber + '" style="color:#E44028;">' + contactNumberDisplay + '</a>');
        } else {
            $elContactNumber.html(contactNumberDisplay).css('color', '#E44028');
        };

        function isIOS() {
            return /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
        }

        function isMobile() {
            return /(iPad|iPhone|iPod|Android|BlackBerry|BB\d+|CriOS)/g.test(navigator.userAgent);
        }

        function fixIOSAffix() {
            var affix = $('[data-spy="affix"]'),
                input = $('input');
            input.on('focus', function () {
                affix.fadeOut();
            });
            input.on('blur', function () {
                affix.fadeIn();
            });
        }
    });
</script>