<style>
    .ui.fixed.menu+.ui.grid.providence {
        padding-top: 0;
    }
    .ui.header .sub.header {
        line-height: 1.4em;
        padding-top: .8rem;
        font-size: 1.2rem;
    }
    .ui.card>.content>.header:not(.ui) {
        font-size: .8em;
    }
    .divider.hidden {
        display: inherit;
    }
</style>
<a class="ui teal inverted one item menu top fixed" href="tel:+1-206-486-4849">
    <div class="item">
        Questions? Give us a call today!
    </div>
</a>

<div class="ui grid stackable providence container">
    <div class="sixteen wide column">
        <img class="ui fluid centered medium image" src="/assets/webLogo.png">
        <div class="ui center aligned huge header">Create a GiftStarter Campaign and Easily:</div>
        <div class="ui text container">
            <div class="ui large list">
                <div class="item">
                    <i class="corner green checkmark icon"></i>
                    <div class="content">Break any product or service into affordable pieces.</div>
                </div>
                <div class="item">
                    <i class="corner green checkmark icon"></i>
                    <div class="content">Get support from family &amp; friends.</div>
                </div>
                <div class="item">
                    <i class="corner green checkmark icon"></i>
                    <div class="content">Save time and money when it matters most.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui section divider"></div>
<div class="ui text container">
    <h1 class="ui center aligned header">
        Get the help you need.
        <div class="sub header">Not quite sure what will make your life easier? We have teamed up with Providence &amp; YourVillage to provide a few suggestions based on what other mothers have found useful.</div>
    </h1>
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <div class="ui fluid brown card">
                    <a class="image" href="https://www.giftstarter.com/giftideas/abcdoula">
                        <img src="images/products/abcdoula.png">
                    </a>
                    <div class="content">
                        <a class="header center aligned" href="https://www.giftstarter.com/giftideas/abcdoula">
                            ABC Doula
                            <i class="arrow right brown icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid olive card">
                    <a class="image" href="https://www.giftstarter.com/giftideas/lishfood">
                        <img src="images/products/lishfood.png">
                    </a>
                    <div class="content">
                        <a class="header center aligned" href="https://www.giftstarter.com/giftideas/lishfood">
                                Lish 
                                <i class="arrow right olive icon"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui fluid yellow card">
                    <a class="image" href="https://www.giftstarter.com/giftideas/farmtofit">
                        <img src="images/products/farmtofit.png">
                    </a>
                    <div class="content">
                        <a class="header center aligned" href="https://www.giftstarter.com/giftideas/farmtofit">
                                Farm To Fit 
                                <i class="arrow right yellow icon"></i>
                            </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid grey card">
                    <a class="image" href="https://www.giftstarter.com/giftideas/fullbellyfare">
                        <img src="images/products/fullbellyfare.png">
                    </a>
                    <div class="content">
                        <a class="header center aligned" href="https://www.giftstarter.com/giftideas/fullbellyfare">
                                Full Belly Fare 
                                <i class="arrow right grey icon"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui grid stackable container tablet only mobile only">
    <div class="sixteen wide column">
        <div class="ui attached segment">
            <div class="ui header huge centered">
                We're here to help.
                <div class="sub header">
                    Our "Mommy Happiness" specialist are always here to help. Give us a call or send us an email.
                </div>
            </div>
        </div>
        <div class="ui two bottom attached buttons">
            <a class="ui grey button" href="mailto:giftconcierge@giftstarter.com">
                <i class="mail icon"></i>
                Email
            </a>
            <a class="ui teal button" href="tel:+1-206-486-4849">
                <i class="phone icon"></i>
                Call
            </a>
        </div>
    </div>
</div>

<script>
    //TODO: 5 Oct 2015 Tyler Goelz (@yaboi)
    //Uncomment when form is implemented to fix iOS
    //number pad / affix error.
    //
    //NOTE: Test this with Semantic, because this fix
    //was put in place for Bootstrap 3 affix which is
    //no longer being used.
    //
    //     $(function () {
    //         if(isMobile()) {
    //             if(isIOS()) {
    //                 fixIOSAffix();
    //             }
    //         }
    //         function isIOS() {
    //             return /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
    //         }
    //         function isMobile() {
    //             return /(iPad|iPhone|iPod|Android|BlackBerry|BB\d+|CriOS)/g.test(navigator.userAgent);
    //         }
    //         function fixIOSAffix() {
    //             var affix = $('[data-spy="affix"]'),
    //                 input = $('input');
    //             input.on('focus', function () {
    //                 affix.fadeOut();
    //             });
    //             input.on('blur', function () {
    //                 affix.fadeIn();
    //             });
    //         }
    //     });
</script>