<div class="yourvillage">
    <div class="ui grid stackable container main full">
        <div class="sixteen wide column">
            <img class="ui fluid centered medium image" src="/assets/webLogo.png">
            <div class="ui center aligned huge header">Create a GiftStarter Campaign and Easily:</div>
            <div class="ui text container">
                <div class="ui large list">
                    <div class="item">
                        <i class="corner green checkmark icon"></i>
                        <div class="content">Break any product or service into affordable pieces.</div>
                    </div>
                    <div class="item">
                        <i class="corner green checkmark icon"></i>
                        <div class="content">Get support from family &amp; friends.</div>
                    </div>
                    <div class="item">
                        <i class="corner green checkmark icon"></i>
                        <div class="content">Save time and money when it matters most.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui text container">
        <h1 class="ui center aligned header">
        Get the help you need.
        <div class="sub header">Not quite sure what will make your life easier? We have teamed up with Providence &amp; YourVillage to provide a few suggestions based on what other mothers have found useful.</div>
    </h1>

        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui fluid link card">
                    <a class="image" href="/giftideas/abcdoula">
                        <img src="images/products/abcdoula.png">
                    </a>
                    <div class="content">
                        <a class="header" href="/giftideas/abcdoula">ABC Doula</a>
                        <div class="meta">Portland, OR &amp; Seattle, WA</div>
                        <a class="description" href="/giftideas/abcdoula"><strong>A</strong>fter <strong>B</strong>aby <strong>C</strong>omes Doula Service is a team of postpartum doulas in Portland, OR offering in-home postpartum care to families with newborns.</a>
                    </div>
                    <a class="ui bottom attached button brown" href="/giftideas/abcdoula">
                        <span>Find your Doula <i class="arrow right icon"></i></span>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid link card">
                    <a class="image" href="/giftideas/lishfood">
                        <img src="images/products/lishfood.png">
                    </a>
                    <div class="content">
                        <a class="header" href="/giftideas/lishfood">Lish Food</a>
                        <div class="meta">Seattle, WA Only</div>
                        <a class="description" href="/giftideas/abcdoula">Lish gives you convenient access to delicious, wholesome meals prepared fresh by top local chefs, including alums from The French Laundry and Canlis.</a>
                    </div>
                    <a class="ui bottom attached button olive" href="/giftideas/lishfood">
                        <span>Place your order <i class="arrow right icon"></i></span>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid link card">
                    <a class="image" href="/giftideas/farmtofit">
                        <img src="images/products/farmtofit.png">
                    </a>
                    <div class="content">
                        <a class="header" href="/giftideas/farmtofit">Farm To Fit</a>
                        <div class="meta">
                            Portland, OR Only
                        </div>
                        <a class="description" href="/giftideas/farmtofit">Farm to Fit is a local meal delivery service with calorie specific meal plans. We also offer Gluten Free &amp; Diabetic Friendly options.</a>
                    </div>
                    <a class="ui bottom attached button orange" href="/giftideas/farmtofit">
                        <span>Place your order <i class="arrow right icon"></i></span>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid link card">
                    <a class="image" href="/giftideas/fullbellyfare">
                        <img src="images/products/fullbellyfare.png">
                    </a>
                    <div class="content">
                        <a class="header" href="/giftideas/fullbellyfare">Full Belly Fare</a>
                        <div class="meta">Portland, OR Only</div>
                        <a class="description" href="/giftideas/fullbellyfare">Portland's healthy meal delivery service! Vegetarian? Paleo? Vegan? Dairy free? Soy free? Your gourmet food delivery service is here!</a>
                    </div>
                    <a class="ui bottom attached button grey" href="/giftideas/fullbellyfare">
                        <span>Place your order <i class="arrow right icon"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui grid stackable container tablet only mobile only">
        <div class="sixteen wide column">
            <div class="ui attached segment">
                <div class="ui header huge centered">
                    We're here to help.
                    <div class="sub header">
                        Our "Mommy Happiness" specialists are here to help. Give us a call or send us an email.
                    </div>
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <a class="ui grey basic button" href="mailto:giftconcierge@giftstarter.com">
                    <i class="mail icon"></i>
                    Email
                </a>
                <a class="ui positive button" href="tel:+1-206-486-4849">
                    <i class="phone icon"></i>
                    Call
                </a>
            </div>
        </div>
    </div>
    <div class="ui hidden section divider"></div>
</div>

<script>
    //TODO: 5 Oct 2015 Tyler Goelz (@yaboi)
    //Uncomment when form is implemented to fix iOS
    //number pad / affix error.
    //
    //NOTE: Test this with Semantic, because this fix
    //was put in place for Bootstrap 3 affix which is
    //no longer being used.
    //
    //     $(function () {
    //         if(isMobile()) {
    //             if(isIOS()) {
    //                 fixIOSAffix();
    //             }
    //         }
    //         function isIOS() {
    //             return /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
    //         }
    //         function isMobile() {
    //             return /(iPad|iPhone|iPod|Android|BlackBerry|BB\d+|CriOS)/g.test(navigator.userAgent);
    //         }
    //         function fixIOSAffix() {
    //             var affix = $('[data-spy="affix"]'),
    //                 input = $('input');
    //             input.on('focus', function () {
    //                 affix.fadeOut();
    //             });
    //             input.on('blur', function () {
    //                 affix.fadeIn();
    //             });
    //         }
    //     });
</script>