@import "../base"

#giftsgivenbar
  background-color: #238471 !important
  text-align: center
  white-space: nowrap
  overflow-x: hidden

  margin: 0 auto
  padding-bottom: 1.5%
  vertical-align: middle
  width: 100%
  .title
    font-size: 32px
    margin: 10px auto
    color: #FFFFFF
    @include apply-at-size("tablet")
      font-size: 28px
    @include apply-at-size("phone")
      font-size: 20px
  .hidephone
    @include apply-at-size("phone")
      display: none !important
  .giftbox
    position: relative
    display: inline-block
    width: 12.5%
    margin: 1% 1%
    overflow: hidden
    @include apply-at-size("phone")
      width: 25%
    img
      position: absolute
      left: 50%
      top: 50%
      height: 100%
      width: auto
      -webkit-transform: translate(-50%,-50%)
      -ms-transform: translate(-50%,-50%)
      transform: translate(-50%,-50%)
  .giftbox:before
    content: ''
    display: block
    padding-top: 100%

