@import "../static-pages"

.howitworks

  .headerwrap
    background: url("/assets/press/press-bg.png") no-repeat center top

  .main
    overflow: hidden

  .menu
    height: 99%
    margin: 0 50px
    text-align: center

    .menu-item
      @extend .linky
      background-color: $disabled-color
      border: 1px solid black
      display: inline-block
      height: 50px
      margin: 20px
      vertical-align: middle
      width: 150px

  .content
    font: 1em "Roboto", sans-serif
    margin: 0 auto
    text-align: left
    width: 85%
    h2
      padding-bottom: 0
    h3, h4
      margin-top: 0
    p
      font-family: Roboto, sans-serif
    td
      padding: 10px
      vertical-align: top
    td:first-child
      white-space: nowrap

  .clear
    clear: both