<div class="howitworks static-pages" ng-controller="HowItWorksController">
  <div class="headerwrap">
    <h1>GIFTSTARTER 101</h1>
    <br />
    <p>Let us tell you a bit more about how it works.<br />GiftStarter is the place to give and get meaningful gifts. Gift and pay for ANY product or service TO anyone WITH anyone.</p>
    <a class="button" target="_blank" href="/blog">ASK A QUESTION</a>
  </div>

  <div class="main">
    <div class="menu">
      <div class="menu-wrapper">
        <div class="menu-item" ng-click="sectionShown = 'welcome'" ng-class="{selected: sectionShown == 'welcome'}">
          WELCOME
        </div>
      </div>
      <div class="menu-wrapper">
        <div class="menu-item" ng-click="sectionShown = 'group-gifting'" ng-class="{selected: sectionShown == 'group-gifting'}">
          GROUP GIFTING
        </div>
      </div>
      <div class="menu-wrapper">
        <div class="menu-item" ng-click="sectionShown = 'concierge'" ng-class="{selected: sectionShown == 'concierge'}">
          GIFT CONCIERGE
        </div>
      </div>
      <div class="menu-wrapper">
        <div class="menu-item" ng-click="sectionShown = 'search'" ng-class="{selected: sectionShown == 'search'}">
          FIND A GIFT
        </div>
      </div>
      <div class="menu-wrapper">
        <div class="menu-item" ng-click="sectionShown = 'glossary'" ng-class="{selected: sectionShown == 'glossary'}">
          GLOSSARY
        </div>
      </div>
    </div>

    <div id="selector-bar"></div>

    <div class="content">
      <div id="welcome" ng-show="sectionShown == 'welcome'">
        <h2>Welcome to GiftStarter!</h2>
        <h4>Start amazing gifts here -- ones you are proud to give, and they're happy to get.</h4>
        <p>
          GiftStarter is the best way to bring family and friends together to give an amazing gift. You start it -- and we help you with the rest. When you use GiftStarter, you don't have to collect the money or chase people down for cash.<br />It only takes a couple minutes to launch a campaign for your gift.
          <br />Start an amazing gift today! Once it is complete, we handle ensuring the card with everyone's messages and the gift is shipped!
        </p>
      </div>
      <div id="glossary" ng-show="sectionShown == 'glossary'">
        <h2>Giftstarter Glossary</h2>
        <h4>GiftStarter is a new gifting movement bringing people committed to giving amazing gifts.</h4>
        <p>
          Here's a glossary of gifting words to help you in our gifting community:
        </p>
        <table>
          <tr>
            <td>GiftStarter - n.</td>
            <td>That's us! We are here to help you give amazing gifts you are proud to give, and they are happy to get.</td>
          </tr>
          <tr>
            <td>Gift Champion - n.</td>
            <td>This is a person (you!) that starts an amazing gift, and invites family and friends to pitch in.</td>
          </tr>
          <tr>
            <td>Contributor - n.</td>
            <td>The people invited in by the Gift Champion to pitch in on the amazing gift and sign the card.</td>
          </tr>
          <tr>
            <td>Recipient - n.</td>
            <td>The person(s) that receive the amazing gift!</td>
          </tr>
          <tr>
            <td>Gift Concierge - n.</td>
            <td>Our gift concierge is like your personal shopper who will help you find and give that amazing gift.</td>
          </tr>
          <tr>
            <td>Nudge - n.</td>
            <td>We will give you friendly reminders to help make your gifting event amazing.</td>
          </tr>
        </table>
      </div>
      <div id="search" ng-show="sectionShown == 'search'">
        <h2>Find an Amazing Gift</h2>
        <h4>GiftStarter helps you give amazing gifts you are proud to give and they are happy to get.</h4>
        <p>GiftStarter has the tools to help you find those gifts you’re proud to give, and they’re happy to get.</p>
        <div class="search-item">
          <div class="desc">
            <p>SEARCH</p>
            <p>Use our search bar located at the top of the page and on the home page to search for products by name or brand. We source our gifts from reliable stores such as:</p>
          </div>
          <img src="/assets/howitworks/how-it-works-findagift-1.png" />
        </div>
        <div class="search-item">
          <div class="desc">
            <p>GIFT CONCIERGE</p>
            <p>Our Gift Concierge is like you personal shopping assistant who will help you find the perfect gift for the occassion - even if it’s not on our site!</p>
          </div>
          <div id="search-item-concierge">
            <p>You can <a href="mailto:giftconcierge@giftstarter.co">email</a> (giftconcierge@giftstarter.co), contact via <a href="javascript:void(0);" onclick="olark('api.box.expand')">chat</a>, or call  206.486.4849</p>
          </div>
        </div>
        <div class="search-item">
          <div class="desc">
            <p>GIFT IDEAS</p>
            <p>More of a browser when you shop? Our carefully curated gift ideas are a great place to see what new and exciting products there are to gift.</p>
          </div>
          <img src="/assets/howitworks/how-it-works-findagift-2.png" />
        </div>
      </div>
      <div id="concierge" ng-show="sectionShown == 'concierge'">
        <h2>Gift Concierge</h2>
        <h4>Fast, fun, and no pressure personal shopper to help you find that perfect gift. Can't find it? We can help. Can't think of an idea? We can help.</h4>
        <h3>Contact the Gift Concierge!</h3>
        <p>We'll get back to you same day if possible -- definitely within 24 hours.</p>
        <table>
          <td class="concierge-item">
            <p>EMAIL<br/><br/>
              Send us an email at any time. The more information you include about your need, the more we can help!<br/><br/><br/>
              <a href="mailto:giftconcierge@giftstarter.co">giftconcierge@giftstarter.co</a>
            </p>
          </td>
          <td class="concierge-item">
            <p>LIVE CHAT<br/><br/>
              You can access our live chat program in the bottom right corner of your browser.<br/><br/>
              <a href="javascript:void(0);" onclick="olark('api.box.expand')">Don't see it?</a><br/><br/>
              *Live chat available during business hours (PST)
            </p>
          </td>
          <td class="concierge-item">
            <p>ONLINE FORM<br/><br/>
              Fill out the quick form about your gifting need and we'll get on it ASAP!<br/><br/><br/>
              <a href="/concierge" class="button">ONLINE FORM</a>
            </p>
          </td>
        </table>
        <p>Or you can just plain call us: 206-486-4849.</p>
      </div>
      <div id="group-gifting" ng-show="sectionShown == 'group-gifting'">
        <h2>Group Gifting Starts Here</h2>
        <h4>GiftStarter is a new gifting movement focused on bringing people together in a community that loves giving amazing gifts.<br/></h4>
        <p class="sub">Our patent-pending technology divides the price of the gift into perfect tiles, giving family and friends the ability to purchases as many or as few tiles as they wish! Any product available online can be gifted with GiftStarter, and we’re here to help every step of the way. From collecting the money to shipping the gift - and even creating a special card with your personal messages - we’ve got you covered!<br/></p>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-1.png" />
          <p class="center">1<br/>FIND A GIFT</p><p>Search from over 3 million products on our site. You can also discover our favorite gifts on our Gift Ideas page or contact our Gift Concierge for custom gifts.</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-2.png" />
          <p class="center">2<br/>SELECT A GIFT</p><p>From the search results or Gift Ideas page, you can click on product images to view product information and details, and the “GiftStart it” button. Click this button to start your group gift!</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-3.png" />
          <p class="center">3<br/>ADJUST THE TILES</p><p>Click the “+” to add tiles, thus lowering the price of each tile. Click the “-” button to remove tiles, and increase the price of each tile. Consider the size of the group you’ll invite; some people will buy 1 tile, some may buy more.</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-4.png" />
          <p class="center">4<br/>YOUR GIFTING EVENT</p><p>Describe the reason for this gift. What’s the event? Who is it for? Why is this a good gift for this person and/or event?</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-5.png" />
          <p class="center">5<br/>THE GIFT</p><p>Tell us where this gift needs to go and when you want it there and we’ll make it happen! <br />*Note standard shipping is always free with GiftStarter</p>
        </div>
        <p class="clear sub">That’s all there is to it. Share and invite friends and family to purchase tiles and give a gift that shows how much you care. We’re here to help you at any time and to ensure the gift and personal card are delivered. <br /><br />Give a remarkable gift today.</p>
      </div>
    </div>
    <div class="clear">
      <a href="/giftideas" alt="" class="button" id="gifting-button">START GIFTING</a>
    </div>

    <hr />

    <h2>Inspiring Examples</h2>
    <ng-include src="'/scripts/inspirationalexamples/inspirationalexamples.ng.html'"></ng-include>
  </div>

</div>