@import "../static-pages"

.howitworks

  .headerwrap
    background: url("/assets/press/press-bg.png") no-repeat center top

  .main
    overflow: hidden

    #glossary
      text-align: left

  .menu
    background-color: $disabled-color
    float: left
    height: 99%
    margin: 0 50px
    text-align: left

    .menu-item
      margin: 20px

  .content
    font: 1em "Roboto", sans-serif

  .clear
    clear: both