@import "../static-pages"

.howitworks

  .headerwrap
    background: url("/assets/press/press-bg.png") no-repeat center top

  .main
    overflow: hidden

  .menu
    border-spacing: 20px
    display: table
    margin: 0 auto
    text-align: center

    .menu-item
      @extend .linky
      background-color: $disabled-color
      border: 1px solid black
      display: table-cell
      height: 50px
      margin: 20px
      padding: 20px
      vertical-align: middle
      width: 200px

  .content
    font: 1em "Roboto", sans-serif
    margin: 0 auto
    text-align: center
    width: 85%
    h2
      padding: 20px
    h3, h4
      margin: 20px auto
      width: 60%
    .sub
      padding-bottom: 30px
      margin: 0 auto
      width: 60%
    table
      background-color: white
    td
      padding: 10px
      text-align: left
      vertical-align: top
      &:first-child
        white-space: nowrap

    .concierge-item
      background-color: #d3d3d3
      border: 20px solid white
      padding: 20px
      text-align: center
      width: 33%
      &:first-child
        white-space: normal

    .search-item
      display: inline-block
      text-align: center
      width: 32.5%
      @include  apply-at-size("phone")
        width: 100%
      vertical-align: top
      img
        width: 100%
      .desc
        background-color: #e2e2e2
        height: 150px
        padding: 5px
      #search-item-concierge
        display: table-cell
        height: 200px
        vertical-align: middle

    .group-item
      background-color: #e2e2e2
      border: 5px solid white
      border-top: 0
      border-bottom: 0
      clear: both
      overflow: hidden
      text-align: left
      p
        display: inline-block
        margin: 10px
        margin-left: 40px
        text-align: left
        width: 360px
        vertical-align: top
        @include  apply-at-size("phone")
          width: 100%
      img
        display: inline-block
        float: right
        @include  apply-at-size("phone")
          width: 100%
      .center
        text-align: center

  .clear
    clear: both