iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

#giftstart-squares {
  padding: 0 1vw;
  text-align: center;
  width: 95%;
  max-width: 95%; }
  #giftstart-squares div.column {
    float: left; }
  #giftstart-squares div.column.one {
    width: 16.6666666%; }
  #giftstart-squares div.column.two {
    width: 33.333333%; }
  #giftstart-squares div.column.three {
    width: 50%; }
    #giftstart-squares div.column.three div.giftstart-square {
      width: 33%; }
  #giftstart-squares div.giftstart-square.big {
    height: 32vw;
    width: 100%; }
    #giftstart-squares div.giftstart-square.big p {
      font-size: 1.5em; }
  #giftstart-squares div.giftstart-square {
    vertical-align: bottom;
    padding: 0.25em;
    position: relative;
    height: 16vw;
    width: 100%;
    float: left; }
    #giftstart-squares div.giftstart-square div.square-overlay {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      opacity: 1;
      height: 100%;
      width: 100%;
      background-size: 150%;
      background-position: 0, 0;
      background-repeat: no-repeat; }
      #giftstart-squares div.giftstart-square div.square-overlay p {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        opacity: 1;
        padding: 1em;
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
        height: 100%;
        width: 100%;
        text-shadow: rgba(0, 0, 0, 0.7) 0 0 5px; }
    #giftstart-squares div.giftstart-square div.square-overlay:hover {
      opacity: 1;
      background-size: 120%;
      background-position: 20%, 20%; }
      #giftstart-squares div.giftstart-square div.square-overlay:hover p {
        opacity: 0; }
    #giftstart-squares div.giftstart-square p {
      margin: 0; }
      @media screen and (max-width: 1030px) {
        #giftstart-squares div.giftstart-square p {
          overflow: hidden; } }

@media screen and (max-width: 1030px) {
  #giftstart-squares {
    margin-left: 4vw; }
    #giftstart-squares div.column.one {
      width: 29vw; }
    #giftstart-squares div.column.two {
      width: 56vw; }
    #giftstart-squares div.column.three {
      width: 90vw; }
    #giftstart-squares div.giftstart-square.big {
      height: 58vw;
      width: 58vw; }
    #giftstart-squares div.giftstart-square {
      height: 29vw;
      width: 29vw; } }

@media screen and (max-width: 37.5em) {
  #giftstart-squares {
    margin-left: 1vw; } }
