iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

@media screen and (min-width: 1030px) {
  gs-top-campaign:first-of-type {
    margin-right: 3%; } }

gs-top-campaign:hover h1 {
  color: #e44028; }

gs-top-campaign {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  margin-top: 1em;
  width: 100%; }
  @media screen and (min-width: 1030px) {
    gs-top-campaign {
      width: 48%; } }
  gs-top-campaign div.campaign-preview.wrapper {
    width: 100%;
    text-align: left;
    display: inline-block; }
    gs-top-campaign div.campaign-preview.wrapper a {
      text-decoration: none; }
    gs-top-campaign div.campaign-preview.wrapper div.campaign-title h1 {
      font-size: 180%;
      text-align: left;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    gs-top-campaign div.campaign-preview.wrapper p.product-name {
      margin: 0 0 0.5em 0;
      color: #888;
      text-decoration: underline;
      cursor: pointer; }
    gs-top-campaign div.campaign-preview.wrapper img.product-image {
      max-width: 30%;
      max-height: 6em;
      cursor: pointer; }
      @media screen and (min-width: 1802.5px) {
        gs-top-campaign div.campaign-preview.wrapper img.product-image {
          max-height: 8em; } }
    gs-top-campaign div.campaign-preview.wrapper div.comment-container.fadedIn img {
      opacity: 1; }
    gs-top-campaign div.campaign-preview.wrapper div.comment-container.fadedIn div.comment-wrapper {
      opacity: 1; }
    gs-top-campaign div.campaign-preview.wrapper div.comment-container {
      padding: 2%;
      display: inline-block;
      vertical-align: top;
      width: 68%;
      height: 6em;
      border: solid #999 1px; }
      @media screen and (min-width: 1802.5px) {
        gs-top-campaign div.campaign-preview.wrapper div.comment-container {
          height: 8em; } }
      gs-top-campaign div.campaign-preview.wrapper div.comment-container img {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        opacity: 0;
        width: 27%;
        border-radius: 50%; }
        @media screen and (min-width: 1802.5px) {
          gs-top-campaign div.campaign-preview.wrapper div.comment-container img {
            margin-top: 0.75em; } }
      gs-top-campaign div.campaign-preview.wrapper div.comment-container div.comment-wrapper {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        opacity: 0;
        vertical-align: top;
        display: inline-block;
        padding-left: 2%;
        width: 70%; }
        @media screen and (min-width: 1802.5px) {
          gs-top-campaign div.campaign-preview.wrapper div.comment-container div.comment-wrapper {
            margin-top: 0.75em; } }
        gs-top-campaign div.campaign-preview.wrapper div.comment-container div.comment-wrapper p {
          margin: 0; }
        gs-top-campaign div.campaign-preview.wrapper div.comment-container div.comment-wrapper p.contrib-message {
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-height: 6em; }
        gs-top-campaign div.campaign-preview.wrapper div.comment-container div.comment-wrapper p.contrib-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
          color: #999; }
