// ------------------------- FONTS -------------------------

@font-face
  font-family: Gotham
  src: url('/assets/fonts/Gotham-Book.woff'), url('/assets/fonts/Gotham-Book.ttf')

@font-face
  font-family: Gotham
  font-style: italic
  src: url('/assets/fonts/Gotham-BookItalic.woff'), url('/assets/fonts/Gotham-BookItalic.ttf')

@font-face
  font-family: "Roboto Condensed"
  font-weight: 300
  src: url('/assets/fonts/RobotoCondensed-Light-webfont.woff')

@font-face
  font-family: "Roboto Condensed"
  font-weight: 700
  src: url('/assets/fonts/RobotoCondensed-Bold-webfont.woff')

@font-face
  font-family: "Roboto Slab"
  src: url('/assets/fonts/RobotoSlab-Thin-webfont.woff')

@font-face
  font-family: "Roboto Bold"
  src: url('/assets/fonts/Roboto-Bold.woff'), url('/assets/fonts/Roboto-Bold.ttf')

@font-face
  font-family: "Roboto"
  src: url('/assets/fonts/Roboto-Medium.woff'), url('/assets/fonts/Roboto-Medium.ttf')