.social
  margin: 1rem 0 2rem

  &__link
    &:first-child
      margin-left: -1rem

  &__icons
    width: 2rem
    height: 2rem
    margin-left: 1rem

  &__desc
    text-transform: uppercase
    color: #fff
    font-size: 1.2rem
    font-family: Gotham, sans-serif

  &__inputs
    color: #eee
    border: 1px solid #ccc
    background: transparent
    vertical-align: top

    &::-webkit-input-placeholder
      color: #eee

    &:-moz-placeholder
      color: #eee
      opacity: 1

    &::-moz-placeholder
      color: #eee
      opacity: 1

    &:-ms-input-placeholder
      color: #eee

  &__inline
    display: inline

  &__secondrow
    width: 79.5%
    margin-top: 1rem