.social
  margin: 1rem 0 2rem

  &__link
    &:first-child
      margin-left: -1rem

  &__icons
    width: 2rem
    height: 2rem
    margin-left: 1rem

  &__desc
    text-transform: uppercase
    color: #fff
    font-size: 1.2rem
    font-family: Gotham, sans-serif
