iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

div.wrapper.giftideas {
  height: 100%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #222; }
  @media only screen and (max-width: 667px) {
    div.wrapper.giftideas {
      margin-left: 0px !important;
      margin-top: 1em !important; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    div.wrapper.giftideas {
      margin-left: 0px !important;
      margin-top: 1em !important; } }

.giftideas {
  /* Links */
  /* ==========================================================================
   * MEDIA QUERIES
   * ========================================================================== */
  /*ipad portrait */ }
  @media only screen and (max-width: 667px) {
    .giftideas .headerwrap {
      margin: 1em auto 0 !important;
      height: 350px !important; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .giftideas .headerwrap {
      margin: 1em auto 0 !important;
      height: 350px !important; } }
  .giftideas .scrollbox {
    overflow-y: auto;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    max-height: 19.8em;
    min-height: 19.8em; }
  .giftideas .gsbuttons {
    padding-top: 10px; }
    .giftideas .gsbuttons .loader {
      height: 14px;
      width: 14px; }
  .giftideas .centered {
    text-align: center; }
  .giftideas .grid {
    margin: 25px auto; }
  .giftideas .clear {
    clear: both; }
  .giftideas #product-search-anchor #categories-container {
    width: 100%; }
  .giftideas #disclaimer {
    font-size: 10px;
    max-width: 550px;
    margin: 25px auto 0 auto;
    text-align: center !important; }
  .giftideas a {
    color: #df484c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in; }
    .giftideas a:hover, .giftideas a:focus {
      color: #df484b;
      text-decoration: none;
      outline: 0; }
    .giftideas a:before, .giftideas a:after {
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in; }
  @media screen and (max-width: 1050px), screen and (max-device-width: 1050px) {
    .giftideas body .header {
      background-attachment: scroll; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .giftideas .header {
      background-attachment: scroll; } }
  @media screen and (max-width: 37.5em) {
    .giftideas .scrollbox {
      overflow-y: auto;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      max-height: none; } }
