@charset "UTF-8";
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.static-pages {
  clear: both;
  padding-bottom: 50px;
  text-align: center; }
  .static-pages a {
    color: #e44028; }
  .static-pages .headerwrap {
    color: white;
    margin: 0 auto 50px auto;
    height: 300px;
    padding-top: 30px;
    text-align: center;
    width: 100%; }
    .static-pages .headerwrap h1 {
      color: white;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 1.5em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 2.25em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2.5em; } }
    .static-pages .headerwrap p {
      font-size: 15px;
      margin: 10px auto 7px auto;
      width: 60%;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.8em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.9em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1.125em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 667px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
  .static-pages a.button {
    background-color: white;
    border: #e44028 2px solid;
    border-radius: 25px;
    clear: left;
    color: #e44028;
    display: inline-block;
    font: 1.25em Gotham, sans-serif;
    padding: 14px 53px 10px 53px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .static-pages a.button:hover {
      background-color: #ea7063;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
      filter: alpha(opacity=70);
      zoom: 1; }
    .static-pages a.button.red {
      background-color: #e44028;
      color: white;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .static-pages a.button.red:hover {
        background-color: #ea7063;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
        filter: alpha(opacity=70);
        zoom: 1; }
  .static-pages h2 {
    padding: 15px 0 30px 0; }

#giftstart-contact-wrapper {
  clear: both;
  text-align: center;
  padding: 1px; }
  #giftstart-contact-wrapper gs-overlay {
    margin-left: 0; }
  #giftstart-contact-wrapper .invisible {
    visibility: hidden; }
  #giftstart-contact-wrapper .state-title {
    margin-top: 20px;
    font-size: 34px; }
  #giftstart-contact-wrapper .state-subtitle {
    text-transform: uppercase;
    font-size: 12px; }
  #giftstart-contact-wrapper div.gsintro {
    border: 1px solid #bbbbbb;
    text-align: left;
    position: relative;
    margin: 1em auto;
    width: 90%;
    padding: 0.5em 1.5em; }
    @media screen and (min-width: 40em) {
      #giftstart-contact-wrapper div.gsintro {
        width: 36em;
        padding: 1em 2em; } }
    #giftstart-contact-wrapper div.gsintro h1 {
      margin-top: 0; }
    #giftstart-contact-wrapper div.gsintro p.copy {
      margin-bottom: 2em; }
    #giftstart-contact-wrapper div.gsintro p.cancel-button {
      color: #888;
      position: absolute;
      bottom: 0;
      right: 1em;
      cursor: pointer; }
  #giftstart-contact-wrapper div.block {
    text-align: left; }
  #giftstart-contact-wrapper div.block.image {
    text-align: center; }
  #giftstart-contact-wrapper input, #giftstart-contact-wrapper textarea {
    width: 100%; }
  #giftstart-contact-wrapper label {
    display: block;
    margin-bottom: 0.5em; }
  #giftstart-contact-wrapper textarea {
    display: block; }
  #giftstart-contact-wrapper div.login-box {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    #giftstart-contact-wrapper div.login-box input {
      margin-left: 0; }
    #giftstart-contact-wrapper div.login-box .vertical-line {
      display: none; }
    #giftstart-contact-wrapper div.login-box .switchtxt {
      position: relative;
      width: 100%; }
    #giftstart-contact-wrapper div.login-box .login-block {
      display: block;
      text-align: center;
      width: 100%;
      vertical-align: top; }
      #giftstart-contact-wrapper div.login-box .login-block input {
        width: 100% !important; }
    #giftstart-contact-wrapper div.login-box .userlogin {
      display: block; }
      #giftstart-contact-wrapper div.login-box .userlogin__message {
        padding-top: 5px; }
      #giftstart-contact-wrapper div.login-box .userlogin__loginbtn {
        margin: 5px auto 0 auto; }
      #giftstart-contact-wrapper div.login-box .userlogin__passwordwrap, #giftstart-contact-wrapper div.login-box .userlogin__email, #giftstart-contact-wrapper div.login-box .userlogin__surname {
        margin-top: 5px; }
        @media only screen and (max-width: 667px) {
          #giftstart-contact-wrapper div.login-box .userlogin__passwordwrap, #giftstart-contact-wrapper div.login-box .userlogin__email, #giftstart-contact-wrapper div.login-box .userlogin__surname {
            width: 100%; } }
        @media only screen and (max-width: 375px) and (orientation: portrait) {
          #giftstart-contact-wrapper div.login-box .userlogin__passwordwrap, #giftstart-contact-wrapper div.login-box .userlogin__email, #giftstart-contact-wrapper div.login-box .userlogin__surname {
            width: 100%; } }
      #giftstart-contact-wrapper div.login-box .userlogin__password {
        padding: 0.9em !important; }
      #giftstart-contact-wrapper div.login-box .userlogin__eye {
        position: relative;
        top: -85%;
        left: 80%; }
    #giftstart-contact-wrapper div.login-box p {
      margin: 0; }
    #giftstart-contact-wrapper div.login-box .social {
      margin-top: 0.5rem; }
      #giftstart-contact-wrapper div.login-box .social__icons {
        margin: 0 auto; }
  #giftstart-contact-wrapper div.submitting {
    opacity: 0.2;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }
  #giftstart-contact-wrapper img.loader {
    margin-left: 20px;
    height: 40px;
    width: 40px; }
  #giftstart-contact-wrapper div.block {
    width: 32em;
    display: inline-block;
    padding: 0.75em 1.5em;
    vertical-align: top; }
    @media screen and (max-width: 1030px) {
      #giftstart-contact-wrapper div.block {
        width: 100%; } }
    @media screen and (min-width: 1030px) and (max-width: 1802.5px) {
      #giftstart-contact-wrapper div.block {
        width: 40%; } }
  #giftstart-contact-wrapper div.block.details {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    #giftstart-contact-wrapper div.block.details h2 {
      margin-top: 1rem;
      margin-bottom: 10px;
      color: #e27f24;
      font-size: 1.2em; }
    #giftstart-contact-wrapper div.block.details form input[type="text"], #giftstart-contact-wrapper div.block.details form input[type="email"], #giftstart-contact-wrapper div.block.details form input[type="password"], #giftstart-contact-wrapper div.block.details form textarea, #giftstart-contact-wrapper div.block.details form select {
      padding: 0.9em;
      border-width: 1px;
      margin-left: 0;
      margin-right: 0; }
    #giftstart-contact-wrapper div.block.details form input[type="text"], #giftstart-contact-wrapper div.block.details form input[type="email"], #giftstart-contact-wrapper div.block.details form input[type="password"], #giftstart-contact-wrapper div.block.details form textarea {
      width: 23.75em; }
      @media screen and (max-width: 1030px) {
        #giftstart-contact-wrapper div.block.details form input[type="text"], #giftstart-contact-wrapper div.block.details form input[type="email"], #giftstart-contact-wrapper div.block.details form input[type="password"], #giftstart-contact-wrapper div.block.details form textarea {
          width: 100%; } }
    #giftstart-contact-wrapper div.block.details form div.shipping-details span {
      display: inline-block; }
      #giftstart-contact-wrapper div.block.details form div.shipping-details span input {
        width: 100%; }
    #giftstart-contact-wrapper div.block.details form div.shipping-details span.state {
      vertical-align: top;
      margin-right: 1em; }
      #giftstart-contact-wrapper div.block.details form div.shipping-details span.state select {
        height: 2em;
        padding: 0.5px;
        background-color: transparent; }
    #giftstart-contact-wrapper div.block.details form div.shipping-details span.zip {
      margin-right: 1em; }
      #giftstart-contact-wrapper div.block.details form div.shipping-details span.zip input {
        width: 7em;
        height: 2em; }
    #giftstart-contact-wrapper div.block.details form div.shipping-details span.name {
      display: block; }
      #giftstart-contact-wrapper div.block.details form div.shipping-details span.name input {
        width: 23.75em;
        margin-bottom: 1em; }
        @media screen and (max-width: 1030px) {
          #giftstart-contact-wrapper div.block.details form div.shipping-details span.name input {
            width: 100%; } }
    #giftstart-contact-wrapper div.block.details form div.shipping-details span.email {
      display: block; }
      #giftstart-contact-wrapper div.block.details form div.shipping-details span.email input {
        width: 23.75em; }
        @media screen and (max-width: 1030px) {
          #giftstart-contact-wrapper div.block.details form div.shipping-details span.email input {
            width: 100%; } }
    #giftstart-contact-wrapper div.block.details form div.email input {
      width: 23.75em; }
      @media screen and (max-width: 1030px) {
        #giftstart-contact-wrapper div.block.details form div.email input {
          width: 100%; } }
    #giftstart-contact-wrapper div.block.details form div.coupon-code input {
      width: 23.75em; }
      @media screen and (max-width: 1030px) {
        #giftstart-contact-wrapper div.block.details form div.coupon-code input {
          width: 100%; } }
    #giftstart-contact-wrapper div.block.details .desc {
      margin-bottom: 50px; }
  #giftstart-contact-wrapper .progress-nav {
    display: block;
    margin: 2em auto;
    vertical-align: top; }
  #giftstart-contact-wrapper .back-indicator, #giftstart-contact-wrapper .step-indicator {
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    width: 60px;
    white-space: nowrap;
    text-align: center; }
    #giftstart-contact-wrapper .back-indicator img, #giftstart-contact-wrapper .step-indicator img {
      padding-bottom: 5px; }
  #giftstart-contact-wrapper .back-indicator {
    margin-right: 40px; }
  @media screen and (max-width: 37.5em) {
    #giftstart-contact-wrapper .step-indicator {
      display: none; } }
  #giftstart-contact-wrapper .step-indicator-divider {
    vertical-align: top;
    margin-top: 19px; }
    @media screen and (max-width: 37.5em) {
      #giftstart-contact-wrapper .step-indicator-divider {
        display: none; } }
  #giftstart-contact-wrapper div.image-container {
    margin-top: 1.5em; }
  #giftstart-contact-wrapper button.float-right {
    float: right; }
  #giftstart-contact-wrapper button.help {
    display: none; }
  @media screen and (max-width: 1030px) {
    #giftstart-contact-wrapper button.help {
      width: 100%; } }
  #giftstart-contact-wrapper button.next {
    margin: 0 0 0 40px; }
  #giftstart-contact-wrapper img.linky:hover {
    opacity: 0.6;
    cursor: pointer; }
  #giftstart-contact-wrapper span.numtiles {
    font-size: 24px;
    margin: 0;
    display: block; }
  #giftstart-contact-wrapper span.money {
    font-size: 14px;
    margin: 0;
    display: block; }
  #giftstart-contact-wrapper span.parts-control {
    width: 12em;
    display: block;
    margin: 15px auto;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase; }
  #giftstart-contact-wrapper .more-parts, #giftstart-contact-wrapper .fewer-parts, #giftstart-contact-wrapper .fewer-parts-mobile {
    display: block;
    margin: 0 auto;
    text-align: center; }
  @media screen and (max-width: 1030px) {
    #giftstart-contact-wrapper .fewer-parts {
      display: none; } }
  #giftstart-contact-wrapper .fewer-parts-mobile {
    display: none; }
    @media screen and (max-width: 1030px) {
      #giftstart-contact-wrapper .fewer-parts-mobile {
        float: left;
        padding-left: 5%;
        display: block; } }
  @media screen and (max-width: 1030px) {
    #giftstart-contact-wrapper .more-parts {
      float: right;
      padding-right: 5%; } }
  @media screen and (max-width: 1030px) {
    #giftstart-contact-wrapper .cost {
      z-index: 99; } }
  #giftstart-contact-wrapper div.price-block, #giftstart-contact-wrapper div.total-price-block {
    display: inline-block;
    width: 43%;
    vertical-align: top; }
    #giftstart-contact-wrapper div.price-block span.tooltip-icon, #giftstart-contact-wrapper div.total-price-block span.tooltip-icon {
      position: relative;
      font: 16px / 2 Gotham, sans-serif;
      font-weight: 700;
      color: #fff; }
      #giftstart-contact-wrapper div.price-block span.tooltip-icon span.tooltip, #giftstart-contact-wrapper div.total-price-block span.tooltip-icon span.tooltip {
        color: #000;
        font-weight: 300;
        position: absolute;
        top: 100%;
        left: 100%;
        padding: 0.7em;
        width: 12em;
        border-radius: 0.7em;
        cursor: default;
        background: #f0f0f0; }
    #giftstart-contact-wrapper div.price-block input#tooltip-checkbox, #giftstart-contact-wrapper div.total-price-block input#tooltip-checkbox {
      display: none; }
    #giftstart-contact-wrapper div.price-block input#tooltip-checkbox + label, #giftstart-contact-wrapper div.total-price-block input#tooltip-checkbox + label {
      display: inline-block;
      margin-left: 0.3em;
      padding-left: 0.4em;
      padding-right: 0.5em;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      background: #e44028; }
    #giftstart-contact-wrapper div.price-block input#tooltip-checkbox + label span.tooltip, #giftstart-contact-wrapper div.total-price-block input#tooltip-checkbox + label span.tooltip {
      display: none; }
    #giftstart-contact-wrapper div.price-block input#tooltip-checkbox:checked + label span.tooltip, #giftstart-contact-wrapper div.total-price-block input#tooltip-checkbox:checked + label span.tooltip {
      display: inline-block; }
  #giftstart-contact-wrapper div.total-price-block {
    margin-left: 7%; }
  #giftstart-contact-wrapper h2 {
    margin-top: 1rem; }
  #giftstart-contact-wrapper #campaign-description {
    height: 8.5em; }
  #giftstart-contact-wrapper #special-notes {
    height: 5em; }
  #giftstart-contact-wrapper #num-part-selection {
    margin-top: 15px; }
    #giftstart-contact-wrapper #num-part-selection .tax-note {
      font-size: 10px; }
    #giftstart-contact-wrapper #num-part-selection .disclaimer {
      display: block;
      margin: 25px 25%;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center; }
    @media screen and (min-width: 1030px) {
      #giftstart-contact-wrapper #num-part-selection {
        margin-top: 25px;
        margin-right: 15%; } }
  #giftstart-contact-wrapper #price {
    width: 8em; }
  #giftstart-contact-wrapper #selected-image {
    max-width: 100%; }
  #giftstart-contact-wrapper img.loading {
    height: 2em; }
  #giftstart-contact-wrapper div.campaign-length * {
    margin: 0; }
  #giftstart-contact-wrapper div.campaign-length h2 {
    margin-top: 2rem; }
  #giftstart-contact-wrapper div.campaign-length .endDate-text {
    display: inline-block; }
  #giftstart-contact-wrapper div.campaign-length h2.endDate-date {
    color: #238471;
    display: inline-block;
    margin: 0 0 0 5px; }
  #giftstart-contact-wrapper div.campaign-length h4 {
    margin: 15px 0 0 0; }
    #giftstart-contact-wrapper div.campaign-length h4 a {
      margin: 0 10px; }
  #giftstart-contact-wrapper div.campaign-length #endDate-comment {
    font-style: italic; }
  #giftstart-contact-wrapper input.hasDatepicker {
    width: 23.75em; }
    @media screen and (max-width: 1030px) {
      #giftstart-contact-wrapper input.hasDatepicker {
        width: 100%; } }
  #giftstart-contact-wrapper input.hasDatepicker + label {
    display: inline-block; }
  #giftstart-contact-wrapper #not-long-enough {
    text-align: left; }
    #giftstart-contact-wrapper #not-long-enough p, #giftstart-contact-wrapper #not-long-enough li {
      color: #e44028; }
  #giftstart-contact-wrapper label.error {
    color: red; }
  #giftstart-contact-wrapper .errorWrapper {
    position: absolute; }
    #giftstart-contact-wrapper .errorWrapper .errorMessage {
      padding: 10px;
      background-color: #e44028;
      color: #fff;
      margin-left: 10px;
      margin-top: -1px; }
  #giftstart-contact-wrapper .arrowUp {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e44028;
    margin-left: 30px; }

#new-pillow {
  background: url("/assets/homepage_hero.jpg") no-repeat center top;
  clear: both;
  color: white;
  height: 300px;
  text-align: center;
  /*h1
    color: white
    font: 700 3.5em "Roboto Condensed"
    letter-spacing: 3px
    -webkit-font-smoothing: antialiased */
  /*p
    font: 1.688em "Roboto", sans-serif
    line-height: 35px
    @include apply-at-size("phone", "portrait")
      font-size: 0.9em
      line-height: 18px
    @include apply-at-size("phone", "landscape")
      font-size: 1.25em
      line-height: 26px
    letter-spacing: 1px
    margin: 10px auto 3px auto
    width: 60%
    @include apply-at-size("phone")
      width: 80%
    -webkit-font-smoothing: antialiased */ }
  #new-pillow div {
    margin: 0px auto 50px auto; }
    #new-pillow div img.welcome {
      max-width: 60%; }
  @media only screen and (max-width: 667px) {
    #new-pillow .welcome {
      width: 100%; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    #new-pillow .welcome {
      width: 100%; } }

div.ui-datepicker table th {
  font-weight: 300;
  padding: 0 .3em; }
div.ui-datepicker table td .ui-state-default {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #ffffff;
  font-size: 12px;
  text-align: center; }
  div.ui-datepicker table td .ui-state-default:hover {
    border-color: #238471; }
div.ui-datepicker table td .ui-state-active {
  background: #238471;
  color: white; }
div.ui-datepicker table td .ui-state-disabled {
  font-size: 12px; }
div.ui-datepicker table td .ui-datepicker-current-day a {
  background: #238471;
  color: #ffffff; }
div.ui-datepicker table td .ui-datepicker-today a {
  border-color: #238471;
  color: #238471;
  font-weight: 700; }
div.ui-datepicker-header {
  color: white;
  background: #238471;
  border: 0; }
div.ui-datepicker-prev::after {
  content: "<";
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.2em;
  cursor: pointer; }
  div.ui-datepicker-prev::after span.ui-icon-circle-triangle-w {
    cursor: pointer; }
div.ui-datepicker-prev.ui-state-hover {
  background: none;
  border: none; }
div.ui-datepicker-next::after {
  content: ">";
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.2em;
  cursor: pointer; }
  div.ui-datepicker-next::after span.ui-icon-circle-triangle-w {
    cursor: pointer; }
div.ui-datepicker-next.ui-state-hover {
  background: none;
  border: none; }
