iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.share.pitchin #title {
  background-color: #00ACC1;
  padding: 20px; }
  .share.pitchin #title h1 {
    color: white !important;
    font-size: 1.75em; }
.share.pitchin #share-block #content {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-flow: row; }
  @media only screen and (max-width: 667px) {
    .share.pitchin #share-block #content {
      flex-flow: column;
      -webkit-flex-flow: column; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .share.pitchin #share-block #content {
      flex-flow: column;
      -webkit-flex-flow: column; } }
  .share.pitchin #share-block #content div.block {
    display: flex;
    display: -webkit-flex;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    max-width: none;
    text-align: left;
    width: 100%; }
.share.pitchin #share-block .message {
  flex-flow: column;
  -webkit-flex-flow: column; }
  @media only screen and (max-width: 667px) {
    .share.pitchin #share-block .message #shareMessage {
      height: 250px; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .share.pitchin #share-block .message #shareMessage {
      height: 250px; } }
.share.pitchin #share-block textarea {
  border-width: 1px;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  font-size: 13px;
  line-height: 20px;
  width: 100%; }
.share.pitchin #share-block .share-where {
  display: inline-block;
  flex-flow: row;
  -webkit-flex-flow: row; }
  @media only screen and (max-width: 667px) {
    .share.pitchin #share-block .share-where {
      flex-flow: column;
      -webkit-flex-flow: column; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .share.pitchin #share-block .share-where {
      flex-flow: column;
      -webkit-flex-flow: column; } }
  .share.pitchin #share-block .share-where div {
    display: inline-block;
    vertical-align: top; }
    @media only screen and (max-width: 667px) {
      .share.pitchin #share-block .share-where div {
        width: 100%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .share.pitchin #share-block .share-where div {
        width: 100%; } }
  .share.pitchin #share-block .share-where-social {
    margin-right: 20px;
    width: calc(40% - 1.5em); }
    .share.pitchin #share-block .share-where-social .social__icons {
      display: block;
      width: 100%; }
      @media only screen and (max-width: 667px) {
        .share.pitchin #share-block .share-where-social .social__icons {
          display: inline-block;
          width: 49%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .share.pitchin #share-block .share-where-social .social__icons {
          display: inline-block;
          width: 49%; } }
    .share.pitchin #share-block .share-where-social #social-icons-container {
      text-align: center; }
  .share.pitchin #share-block .share-where-email {
    display: flex !important;
    display: -webkit-flex !important;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex-flow: column;
    -webkit-flex-flow: column;
    width: calc(60% - 1.5em); }
    .share.pitchin #share-block .share-where-email p {
      margin-top: 0; }
  .share.pitchin #share-block .share-where-link {
    max-width: 500px;
    margin: 50px auto; }
    .share.pitchin #share-block .share-where-link input {
      border-width: 1px;
      max-width: 500px;
      width: 90%; }
      .share.pitchin #share-block .share-where-link input::selection {
        background-color: #8FBFB5; }
    .share.pitchin #share-block .share-where-link p {
      margin: 14px auto;
      text-align: left;
      width: 90%; }
    @media only screen and (max-width: 667px) {
      .share.pitchin #share-block .share-where-link h4 {
        margin: auto;
        text-align: left;
        width: 90%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .share.pitchin #share-block .share-where-link h4 {
        margin: auto;
        text-align: left;
        width: 90%; } }
.share.pitchin #share-block .share-buttons p {
  background-color: #eee;
  padding: 10px; }
.share.pitchin #share-block .share-buttons .twitter-note {
  background-color: #fff;
  padding: 0 30%;
  margin-bottom: 0; }
  @media only screen and (max-width: 667px) {
    .share.pitchin #share-block .share-buttons .twitter-note {
      padding: 0 10%; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .share.pitchin #share-block .share-buttons .twitter-note {
      padding: 0 10%; } }
.share.pitchin #share-block button {
  margin: 10px 30px;
  max-width: calc(100% - 60px);
  width: 300px; }
.share.pitchin #share-block h4 {
  font-size: 0.92em;
  font-weight: normal; }
.share.pitchin #share-block a {
  text-decoration: underline; }
.share.pitchin #share-block p {
  font-size: 13px; }
  .share.pitchin #share-block p#twitterNote {
    margin: 10px auto;
    width: 40%; }
    @media only screen and (max-width: 667px) {
      .share.pitchin #share-block p#twitterNote {
        width: 90%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .share.pitchin #share-block p#twitterNote {
        width: 90%; } }
