<table style=" width: 500px; background-color: #f8f8f8;">
    <tr>
        <td>
            <a href="https://www.giftstarter.co"><img src="https://www.giftstarter.co/assets/Logo-01.png" style=" width: 150px; padding: 10px 0 0 15px;"></a>
        </td>
    </tr>
    <tr>
        <td>
            <table style=" border-radius: 8px; background-color: #ffffff; width: 460px; margin: 10px 30px; border-collapse: collapse;">
                <tr>
                    <td style=" padding: 0;">
                        {{ body | safe }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style=" text-align: center;">
            <img src="https://www.giftstarter.co/assets/logo_square_nobg.png" style=" width: 50px; margin-bottom: 10px;"/>
        </td>
    </tr>
</table>
