<table style=" width: 500px; background-color: #f8f8f8;">
    <tr>
        <td style=" text-align: center;">
            <a href="https://www.giftstarter.com"><img src="https://www.giftstarter.com/assets/GSlogo_web_large_reg.png" style=" width: 150px; padding: 10px 0 0 15px;"></a>
        </td>
    </tr>
    <tr>
        <td>
            <table style=" border-radius: 8px; background-color: #ffffff; width: 460px; margin: 10px 30px; border-collapse: collapse;">
                <tr>
                    <td style=" padding: 0;">
                        {{ body | safe }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style=" text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; font-size: 0.8em;">
            <a href="http://www.facebook.com/giftstart"><img src="https://www.giftstarter.com/assets/facebookicon.png" style=" width:44px; height: 44px; border: none" alt="facebook"></a>
            <a href="http://twitter.com/giftstarter"><img src="https://www.giftstarter.com/assets/twittericon.png" style=" width:44px; height: 44px; border: none" alt="twitter"></a>
            <a href="http://plus.google.com/116424249306917038363/about"><img src="https://www.giftstarter.com/assets/googleicon.png" style=" width:44px; height: 44px; border: none" alt="google"></a>
            <a href="http://www.linkedin.com/company/giftstarter"><img src="https://www.giftstarter.com/assets/linkedInicon.png" style=" width:44px; height: 44px; border: none" alt="linkedin"></a>
            <a href="http://www.pinterest.com/Giftstarter/"><img src="https://www.giftstarter.com/assets/pintresticon.png" style=" width:44px; height: 44px; border: none" alt="pinterest"></a>
            <a href="http://www.youtube.com/channel/UCDYNpHMV5-tOC1T9SGs8elQ"><img src="https://www.giftstarter.com/assets/youtubeicon.png" style=" width:44px; height: 44px; border: none" alt="youtube"></a>
        </td>
    </tr>
    <tr>
        <td style=" text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; font-size: 0.8em;">
            &copy; 2015 GiftStarter, P.O. Box 18284, Seattle, WA 98118<br/>All rights reserved.
        </td>
    </tr>
</table>
