<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455; margin-left: 30px; margin-right: 30px; margin-top: 30px;">OH NO!</h1>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-left: 30px; margin-right: 30px;">Your giftstart "{{campaign_name}}" only has one day left!  Go back and spread the word to drive it to completion!</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-left: 30px; margin-right: 30px;">Here's the link to it:</p>
<a href="{{campaign_link}}" style=" display: block; color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{campaign_link}}</a>

{% include 'full_bleed_image.html' %}

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em; margin-left: 30px; margin-right: 30px;">Thanks!</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em; margin-left: 30px; margin-right: 30px; margin-bottom: 30px;">Team GiftStarter</p>
