<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455;">WAY TO BE!</h1>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">The GiftStart you pitched in on has completed!</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">It didn't reach the funding goal, but we've sent out the group card and a gift card for the amount raised, and the lucky recipient will receive them soon.  Check out what everyone else said:</p>
<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{campaign_link}}</a>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em;">Thinking about starting your own GiftStart?  It's easy:</p>
<a href="https://www.giftstarter.co" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 0.5em;">https://www.giftstarter.co</a>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em;">Thanks!</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em;">Team GiftStarter</p>