ALL GOOD THINGS MUST COME TO AN END

The funding time for Giftstarter campaign "{{campaign_name}}" has officially closed. Even though the gift wasn't fully funded (slackers), our lawyers won't let us keep your money (bummer). We'll send a gift card for the raised amount to the recipient, along with a group card showing all your awesome efforts.

Remember, we here at Giftstarter think you're awesome. Even though the gift wasn't fully funded, it's okay - they can still get the rest of the gift themselves!

Here's a link to the campaign:
{{campaign_link}}

Love,
Team GiftStarter
