CAMPAIGNS DON'T HAVE TO BE POLITICAL

You can campaign for anything these days, but other campaigns aren't as easy to create as the one you just made with GiftStarter! (Seriously, have you seen how many people it takes to campaign for governor?!)

Here's the link to your GiftStarter Campaign, "{{campaign_name}}"

{{campaign_link}}

The funding period will be open for ten days, so send it to everyone you know. Or just your mom. It really doesn't matter to us, but you might want to include some people who will consider contributing.


We are forever indebted to you.

Love,
Team GiftStarter
