YOU'VE GIFTSTARTED SOMETHING MAGICAL

Nice job!  You just took the first step to delivering happiness to someone who matters to you by creating that GiftStart.  The next steps are to go pitch in, and invite people!

Here's the link to your GiftStart, "{{campaign_name}}"

{{campaign_link}}

The funding period will be open for ten days, so send it to everyone you know. Or just your mom. It really doesn't matter to us, but you might want to include some people who want to give - and tell them to invite their friends too!


We are forever indebted to you.

Love,
Team GiftStarter
