<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455;">YOU'VE GIFTSTARTED SOMETHING MAGICAL</h1>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">Nice job!  You just took the first step to delivering happiness to someone who matters to you by creating that GiftStart.  The next steps are to go pitch in, and invite people!</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">Here's the link to your GiftStart, "{{campaign_name}}"</p>
<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{campaign_link}}</a>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em;">The funding period will be open for ten days, so send it to everyone you know. Or just your mom. It really doesn't matter to us, but you might want to include some people who want to give - and tell them to invite their friends too!</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">We are forever indebted to you.</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em;">Love,</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em;">Team GiftStarter</p>