<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455;">OH NO!</h1>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">Your giftstart "{{campaign_name}}" only has one day left!  Go back and spread the word to drive it to completion!</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">Here's the link to it:</p>
<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{campaign_link}}</a>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em;">Thanks!</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em;">Team GiftStarter</p>