<!--<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 0.5em; margin-left: 30px; margin-right: 30px;"><div style=" width: 460px; height: 270px; margin: 15px 0; background-size: cover; background-position-y: center; background-image: url('{{ product_img_url }}');"></div></a>-->
<!--<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 0.5em; margin-left: 30px; margin-right: 30px;"><div style=" width: 460px; height: 270px; margin: 15px 0;"><table style="height: 270px; width: 460px; margin: 0; padding: 0; border: 0;">-->
    <!--<tr>-->
        <!--<td style=" vertical-align: middle; text-align: center; overflow: hidden; padding: 0;"><img src="{{ product_img_url }}" style="width: 460px; margin: -225px 0;"></td>-->
    <!--</tr>-->
<!--</table></div></a>-->
<a href="{{ campaign_link }}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 0.5em;"><img style=" width: 460px; margin: 15px 0;" src="{{ product_img_url }}"></a>
