<table style=" width: 500px; background-color: #f8f8f8;">
    <tr>
        <td>
            <a href="https://www.giftstarter.co"><img src="https://www.giftstarter.co/assets/Logo-01.png" style=" width: 150px; padding: 10px 0 0 15px;"></a>
        </td>
    </tr>
    <tr>
        <td>
            <table style=" border-radius: 8px; background-color: #ffffff; width: 460px; margin: 10px 30px; padding: 30px;">
                <tr>
                    <td>
                        <!--{{ body }}-->
                        <h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #dd4455;">NICE ONE!</h1>
                        <p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">One of your friends was awesome enough to send their thanks!  Come check it out here!</p>
                        <a style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" href="">https://www.giftstarter.co/giftstart/what-an-awesome-campaign</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style=" text-align: center;">
            <img src="https://www.giftstarter.co/assets/logo_square_nobg.png" style=" width: 50px; margin-bottom: 10px;"/>
        </td>
    </tr>
</table>