<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455;">AH, THAT WARM FUZZY FEELING</h1>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300;">Want to keep that happy glow from giving just a bit longer? Just pretend this receipt is for someone else's bank account.</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em;">Pitch In for GiftStart:</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-bottom: 0.5em;">"{{campaign_name}}"</p>
<a href="{{campaign_link}}" style=" color: #dd4455; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top: 0.5em;">{{campaign_link}}</a>
<table style=" margin: 40px 0; width: 100%;">
    <tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Total Charge</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_charge}}</td>
    </tr><tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Transaction ID</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_id}}</td>
    </tr><tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Card Last 4 Digits</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_last_four}}</td>
    </tr>
</table>
<p style=" font-weight: 300; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
    From the bottom of our hearts, thanks for pitching in!</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em;">Hugs,</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em;">Team GiftStarter</p>