<h1 style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; color: #dd4455; margin: 30px 30px 0 30px;">AH, THAT WARM FUZZY FEELING</h1>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-left: 30px; margin-right: 30px;">Want to keep that happy glow from giving just a bit longer? Just pretend this receipt is for someone else's bank account.</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-left: 30px; margin-right: 30px;">Pitch In for GiftStart:</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-bottom: 0.5em; margin-left: 30px; margin-right: 30px;">"{{campaign_name}}"</p>
{% include 'full_bleed_image.html' %}
<table style=" margin: 40px 30px; width: 100%;">
    <tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Total Charge</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_charge}}</td>
    </tr><tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Transaction ID</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_id}}</td>
    </tr><tr>
        <td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">Card Last 4 Digits</td><td style=" font-family: 'Courier New', Courder, serif; color: #444444; font-weight: 300; font-size: 14px;">{{pitchin_last_four}}</td>
    </tr>
</table>
<p style=" font-weight: 300; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-left: 30px; margin-right: 30px;">
    From the bottom of our hearts, thanks for pitching in!</p>

<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em; margin-left: 30px; margin-right: 30px;">Hugs,</p>
<p style=" font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 300; margin-top: 0.5em; margin-left: 30px; margin-right: 30px; margin-bottom: 30px;">Team GiftStarter</p>

{% include 'giftstart_it_footer.html' %}
