
<div>
    {% if thanks_img_url %}
    <img src="{{thanks_img_url}}" style=" height: 80px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -ms-border-radius: 50%; display: inline;">
    {% endif %}
    <h1 style=" display: inline;">Nice One!</h1>
    <p>You received a thank you for your awesome pitch in on the "<a href="{{giftstart_link}}" style=" color: #df484b;">{{giftstart_name}}</a>" GiftStart!  Go see what they said!</p>
    <p><a href="{{giftstart_link}}" style=" color: #df484b;">{{giftstart_link}}</a></p>

    <p style=" margin-bottom: 0;">Hugs!</p>
    <p style=" margin-top: 0;">Team GiftStarter</p>
</div>