/client/_temp-go/ 
/client/stylesheets/*.css
/client/bower_components/*
/client/client.iml
/client/.sass-cache/*
/client/scripts/out/*
/client/scripts/webapp/*
/client/stylesheets/trashy/*
/setuptools/*
/requests/*
/lxml/*
/manuel/*
/tl/*
/_markerlib/*
*node_modules
requests_oauthlib
stripe
cloudstorage
oauthlib
*marvel*


app.iml
.idea
*.pyc
*.DS_Store
*.xcf
*.min.js
lxml-*.*

client/npm-debug.log
client/stylesheets/compiled.css.map
easy_install.py
GoogleAppEngineCloudStorageClient-*.*
manuel-*.*
mock-*.*
mock.py
npm-debug.log
oauthlib-*.*
paypalrestsdk
pkg_resources.py
requests_*.*
requests-*.*
setuptools-*.*
six-*.*
six.py
stripe-*.*
tl.testing-*.*
VERSION
client/stylesheets/compiled.csssudo

client/stylesheets/compiled.csssudo.map

build.sh

client/stylesheets/compiled.csscd..

deploy.sh

# Python dependencies
OpenSSL
_cffi_backend.so
cffi-1.1.2-py2.7.egg-info
cffi
cryptography-0.9.3-py2.7.egg-info
cryptography
enum
enum34-1.0.4-py2.7.egg-info
funcsigs-0.4.dist-info
funcsigs
get-pip.py
idna-2.0.dist-info
idna
ipaddress-1.0.11.dist-info
ipaddress.py
mock
paypalrestsdk-1.10.0-py2.7.egg-info
pbr-1.3.0.dist-info
pbr
pkg_resources
pyOpenSSL-0.15.1.dist-info
pyasn1-0.1.8-py2.7.egg-info
pyasn1
pycparser-2.14-py2.7.egg-info
pycparser
