
<div class="create wrapper shipping" id="giftstart-contact-wrapper" ng-controller="GiftStartCreateCampaignController">
    <img class="progress" src="/assets/progress_bar_3.png"/>
    <div class="block image">
        <h2>Select Image</h2>
        <label>(Image {{imgIndex + 1}} of {{product.imgs.length + 1}})</label>
        <div><button class="circle" ng-click="previousImage()">&lt;</button><button class="circle" ng-click="nextImage()">&gt;</button></div>
        <div class="image-container">
            <img id="selected-image" ng-src="{{selectedImg}}"/>
        </div>
    </div>
    <div class="block details">
        <form name="campaignForm" novalidate>
        <h2>Campaign Title</h2>
        <label for="campaign-title">Create a name that represents the theme of the gift.</label>
        <input type="text" id="campaign-title" placeholder="&quot;Grillin' is Awesome Yo&quot;" ng-model="title" required=""/>

        <h2>Campaign Description</h2>
        <label for="campaign-description">Make it fun!  Why should your friends join in on this GiftStarter?  Excite them!</label>
        <textarea id="campaign-description" placeholder="&quot;Yo yo yo-Jim just got a house.  He needs to have a grill-and then invite us over for the SeaFair party of the year since he's right there with the best view on the block!&quot;" ng-model="description" required=""></textarea>

        <div class="price-block">
            <h2>Non-Sale Price</h2>
            <label for="price">Base price of the gift.</label>
            <input type="number" id="price" ng-model="inputPrice" ng-change="priceChanged()" required=""/>
        </div>

        <div class="total-price-block">
            <h2>Total Price</h2>
            <label>Incl. tax, shipping, and fees.</label>
            <div class="money" ng-hide="fetchingTaxRate">${{ totalPrice/100 | number : 2 }}</div><img class="loading" src="/assets/loading.gif" ng-show="fetchingTaxRate"/>
        </div>

        <h2>Number of Parts</h2>
        <label>Consider the number of participants and how much each might want to contribute.  Keep in mind participants can always give more than one part if they wish!</label>
        <div id="num-part-selection">
            <button class="circle" ng-click="fewerParts()">&lt;</button><span class="parts-control"><span class="money"> {{x*y}} </span> parts at <span class="money" ng-hide="fetchingTaxRate"> ${{ totalPrice/100/x/y | number : 2 }} </span><img class="loading"  src="/assets/loading.gif" ng-show="fetchingTaxRate"/> each</span><button class="circle" ng-click="moreParts()">&gt;</button>
            <button class="help float-right" ng-click="help()">Help</button>
        </div>

        <h2>Special Notes</h2>
        <label for="special-notes">Need to specify color, size, or political preference?  Do it here!</label>
        <textarea id="special-notes" ng-model="specialNotes" placeholder="&quot;If a grill were a jacket, I'd want it in sage, size medium!&quot;"></textarea>
        </form>

        <button class="float-right next" ng-click="next()" ng-class="{disabled: campaignForm.$invalid}">Next</button>

    </div>
</div>