<div class="giftstart wrapper" ng-controller="GiftStartController" ng-mousemove="mouseActivityCallback('mouse-move')" ng-click="mouseActivityCallback('click')">

    <div class="title block">
        <a ng-href="{{giftStart.product.product_url}}" class="title"><div class="title" ng-bind="giftStart.title"></div></a>
    </div>

    <div class="overlay block">
        <gs-overlay ng-class="{initialized: pitchInsInitialized}" giftstart="giftStart" ng-click="selectionUpdated();"></gs-overlay>
    </div>

    <div class="money block">
        <div class="price">Remaining:<div>$<span class="giftstart product remaining">{{giftStart.remaining / 100 | number : 2}}</span></div></div>
        <div class="price">Contribution:<div>$<span class="giftstart product contribution">{{giftStart.totalSelection / 100 | number : 2}}</span></div></div>
        <div>Time Left:<div class="countdown" ng-class="{danger: (secondsLeft < 86400) && (secondsLeft != 0)}">{{countdown}}</div></div>
    </div>

    <div class="description block">
        <div class="description" ng-bind="giftStart.description"></div>
    </div>

    <div class="pitch-in block">
        <button class="pitch-in button large" ng-class="{disabled: giftStart.totalSelection == 0}" ng-click="pitchIn()" ng-mouseover="pitchInHoverCallback()">Pitch In!</button>
        <a href="mailto:?subject={{mailSubject}}&body={{mailBody}}" target="_blank"><button class="large email"><img src="/assets/email_icon.png"/><span>Share!</span></button></a>
        <button class="facebook-send button large" ng-click="facebookSend()"><img src="/assets/facebook_white_icon_256.png"/><span>Share!</span></button>
    </div>

    <div class="comments block">
        <div class="comment" ng-repeat="pitchIn in pitchIns">
            <img ng-src="{{pitchIn.img}}"/>
            <div>{{pitchIn.note}}<span class="timestamp">{{pitchIn.timestampString}}</span></div>
        </div>
    </div>
</div>