<div class="landing-page">
    <div class="copy">
        <h1>What is it and how does it work?</h1>
        <div>
            <p>Ever been a part of a "group gift"?  Ever been the person in charge of collecting all the money for that gift?  It's not fun having to ask that one friend, who never seems to have cash on him, or thinks "I'll get you back when we go out for drinks" is a valid form of payment.</p>
            <p>And what if you're the "out of town" friend, or the "my boss always makes me work weekends" friend who always contributes to group gifts, but is rarely present for</p>
        </div>
        <div>
            <p> the actual giving of the gift?  It's a bummer to wonder if the recipient even knew you were in on it.  GiftStarter puts the fun and convenience back into the gifting experience.  With our simple funding campaign builder, it's easy for friends and family to come together and purchase items from the web.  The GiftStarter process is just 5 simple steps: </p>
        </div>
    </div>
    <div class="process">
        <div class="step one">
            <span class="number">1</span>
            <h2>Find a Product</h2>
            <img src="/assets/sketch1.png">
            <p>GiftStarter&copy; Beta is compatible with providers from any of the retailers listed below! Or, select a product from out "Most Popular" list.</p>
        </div><div class="step two">
            <span class="number">2</span>
            <h2>Copy+Paste Link</h2>
            <img src="/assets/sketch2.png">
            <p>Find something you love?  Copy/paste the link into the  box at the top of this page.</p>
        </div><div class="step three">
            <span class="number">3</span>
            <h2>Become a Gift Champion</h2>
            <img src="/assets/sketch3.png">
            <p>Whether the gift is for you or someone else, you're this gift's champion! Give us some info so we can make dreams come true.</p>
        </div><div class="step four">
            <span class="number">4</span>
            <h2>Share With Friends</h2>
            <img src="/assets/sketch4.png">
            <p>Share your special GiftStarter page with friends and family via Facebook, Twitter, or email to start the gifting!</p>
        </div><div class="step five">
            <span class="number">5</span>
            <h2>Complete and Ship</h2>
            <img src="/assets/sketch5.png">
            <p>As people pitch in, your GiftStarter page will show the progress.  Once Gifting has completed, the product is shipped to the giftee with a special "Contributor Card."</p>
        </div>
    </div>
    <div class="retailers">
        <h1>Participating Retailers</h1>
        <img id="rei" src="/assets/rei.png"/>
        <img id="filson" src="/assets/filson.jpg"/>
        <img id="brooks" src="/assets/brooks.png"/>
        <p>Don't see the retailer you're looking for?  Let us know at <a href="mailto:team@giftstarter.co">team@giftstarter.co!</a></p>
    </div>
</div>