<div class="login-popover" ng-controller="LoginPopoverController">
    <h1 class="white">Login</h1>
    <!--<p>Log in so they'll know who to thank!</p>-->
    <div class="block">
        <p>No need to memorize yet another username and password - you can use any of these networks to create and access your GiftStarts.</p>
        <p>And we solemnly swear to never post on your behalf, share your information, or stalk your friends.</p>
    </div>
    <div class="block">
        <div class="login-button facebook" ng-click="facebookLogin()"><img class="login-button" src="/assets/login_facebook2.png" /></div>
        <div class="login-button twitter" ng-click="twitterLogin()"><img class="login-button" src="/assets/login_twitter2.png" /></div>
        <div class="login-button googleplus" ng-click="googleLogin()"><img class="login-button" src="/assets/login_google2.png" /></div>
    </div>
    <div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Cancel</p></div>
</div>