<div class="note-popover" ng-controller="NotePopoverController">
    <h1 class="white">Make Your Mark!</h1>
    <p>Write a message to the recipient and we'll include it on the group card so they'll know part of this gift came from you. You know, giving credit where credit is due. We’re all about that.</p>
    <div class="note-wrapper">
        <img class="profile-picture" ng-src="{{profilePicture}}">
        <div class="note">
            <textarea ng-model="noteText" maxlength="500"></textarea>
        </div>
    </div>
    <button class="large white-border" ng-click="submit()">Submit!</button>
    <div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Cancel</p></div>
</div>