<div class="pay-popover" ng-controller="PayPopoverController">
    <h1 class="white">Pitch In!</h1>
    <div class="powered">Powered by <img src="/assets/powered_by_stripe.png"></div>
    <form stripe-form="stripeSubmit">
        <div class="email">
            <img src="/assets/cc_icon_email.png"/>
            <input type="email" ng-model="email" placeholder="Email Address"/>
        </div>
        <div class="number">
            <img src="/assets/cc_icon_card_number.png"/>
            <input type="text" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card" ng-class="type" placeholder="Card Number"/>
        </div><div class="cvc">
            <img src="/assets/cc_icon_cvc.png"/>
            <input type="text" ng-model="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc" placeholder="CVC"/>
        </div><div class="expiry">
            <img src="/assets/cc_icon_expiry.png"/>
            <input type="text" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="MM / YY"/>
        </div><div class="zip">
            <img src="/assets/cc_icon_zip.png">
            <input type="text" ng-model="address_zip" maxlength="5" placeholder="ZIP"/>
        </div><span class="subscribe" ng-hide="userAlreadyAskedToSubscribe">
            <input type="checkbox" id="subscribe-checkbox" ng-model="emailSubscribe"/><label class="small" for="subscribe-checkbox">Want to hear about new features? (Don't worry, once a month - max!)</label>
        </span>

        <button type="submit" class="large white-border" ng-class="{disabled: pitchingIn}" ng-click="pitchingIn = true;">Pay ${{currentCharge / 100 | number : 2}}</button>
    </form>
</div>