<!--<div class="product-link wrapper" ng-controller="ProductLinkController">-->
<div id="product-search-anchor" class="product-link">
    <div class="search wrapper">
        <span class="inputs">
            <label class="block">To start, search for a gift below:</label>
            <input id="product-search-input" class="text-input" type="text" name="product-link" placeholder="Product search terms" ng-model="product_url" ng-keyup="$event.keyCode == 13 ? submit() : null"/><button id="product-search-button" class="submit" ng-click="submit()">Submit</button>
        </span>
    </div>

    <div class="loading" ng-show="loading">
        <img src="/assets/loading.gif"/>
    </div>

    <div class="failed" ng-show="failed">
        <img src="/assets/failed.png"/>
        <div>
            We couldn't figure out that query.  Try another?
        </div>
    </div>

    <div class="failed" ng-show="results_empty">
        <img src="/assets/failed.png"/>
        <div>
            We didn't find anything for that query.  Try another?
        </div>
    </div>

    <section id="search-products-section" class="products" ng-class="{hidden: products.length == 0}">
        <div class="product-container" ng-class="{selected: product.selected}" ng-repeat="product in selectedProducts" ng-hide="!product.imgUrl" ng-click="showProductDetails({{$index}})">
            <div class="product">
                <div class="image-container">
                    <span class="vert-align-helper"></span>
                    <img ng-click="goToProduct($index);" ng-src="{{product.imgUrl}}"/>
                </div>
                <div class="product-details">
                    <h3 class="title" ng-click="goToProduct($index, $event);">{{product.title}}</h3>
                    <p class="retailer">From {{product.retailer}}</p>
                    <p class="description" ng-bind-html="product.description"></p>
                    <p class="price block">${{product.price / 100 | number : 2}}</p>
                </div>
                <button class="cancel" ng-click="hideProductDetails();$event.stopPropagation();">X</button>
                <div class="buttons">
                    <button class="giftstart" ng-click="startCampaignFrom($index);$event.stopPropagation();">GiftStart!</button>
                </div>
            </div>
        </div>
        <div class="page-buttons" ng-show="products.length > 10" >
            <button ng-click="decrementPage()">Previous</button><span class="page-number" ng-class="{selected: pageNumber == selectedPage}" ng-repeat="pageNumber in pageNumbers" ng-click="selectPage(pageNumber)">{{pageNumber}}</span><button ng-click="incrementPage()">Next</button>
        </div>
    </section>
</div>