<div class="user-wrapper" ng-controller="UserController">
    <header>
        <img ng-src="{{user.img_url}}" src=""/>
        <h1>{{user.name}}</h1>
    </header>
    <section>
        <article class="giftstarts">
            <h2>{{user.giftstarts.length}} GiftStarts</h2>
            <div class="giftstarts">
                <div class="giftstart" ng-repeat="gs in user.giftstarts">
                    <a ng-href="/giftstart/{{gs.giftstart.giftstart_url_title}}">
                        <p><span class="title">{{gs.giftstart.title}}</span><br>{{gs.giftstart.description}}</p>
                    </a>
                </div>
            </div>
        </article>
        <article class="pitchins">
            <h2>{{user.pitchins.length}} PitchIns</h2>
            <div class="pitchins">
                <div class="pitchin" ng-repeat="pi in user.pitchins">
                    <a ng-href="/giftstart/{{pi.giftstart_url_title}}">
                        <p><span class="title">{{pitchin.gs_title}}</span>{{pi.note}}</p>
                    </a>
                </div>
            </div>
        </article>
    </section>
</div>

