@import "../base"

#marketingbanner
  text-align: center
  white-space: nowrap
  overflow: hidden
  margin: 0 auto
  vertical-align: middle
  width: 100%
  @include apply-at-size("phone")
    display: none
  .marketingbox
    display: inline-block
    width: 33%
    img
      height: auto
      width: 100%