iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

footer {
  background-color: #333;
  display: table;
  padding: 40px 0;
  width: 100%;
  -webkit-font-smoothing: antialiased; }
  footer .footblock {
    display: table-cell;
    vertical-align: top;
    margin: 0 0 40px 0;
    padding: 0;
    color: #e2e2e2;
    font-size: 14px;
    line-height: 22px; }
    @media screen and (max-width: 1030px) {
      footer .footblock {
        display: inline-block; } }
    footer .footblock .socialicon {
      margin-right: 6px;
      width: 28px;
      vertical-align: middle; }
    footer .footblock .logo {
      width: 50px;
      height: 50px;
      margin-left: -10px; }
    footer .footblock.left {
      width: 80%; }
      @media screen and (max-width: 1030px) {
        footer .footblock.left .footcol {
          margin: 0 1% 40px 6%; } }
      @media screen and (max-width: 1030px) {
        footer .footblock.left {
          text-align: center;
          width: 100%;
          margin-left: 0; } }
    footer .footblock.right {
      position: relative;
      width: 19%;
      font-size: 10px;
      text-align: center;
      vertical-align: bottom; }
      @media screen and (max-width: 1030px) {
        footer .footblock.right {
          width: 100%; } }
      footer .footblock.right #comodo-desktop {
        display: block;
        position: absolute;
        right: 40px;
        top: 25px; }
      footer .footblock.right #comodo-mobile {
        display: none; }
      @media screen and (max-width: 1030px) {
        footer .footblock.right #comodo-mobile {
          display: inline-block;
          margin-left: -7px;
          vertical-align: -webkit-baseline-middle; }
        footer .footblock.right #comodo-desktop {
          display: none; } }
      footer .footblock.right #patentpending-desktop {
        color: white;
        display: block;
        font-size: 12px;
        position: absolute;
        right: 50px;
        top: 0; }
      footer .footblock.right #patentpending-mobile {
        display: none; }
      @media screen and (max-width: 1030px) {
        footer .footblock.right #patentpending-mobile {
          display: inline-block; }
        footer .footblock.right #patentpending-desktop {
          display: none; } }
      footer .footblock.right #logo .bullet {
        display: none; }
        @media screen and (max-width: 1030px) {
          footer .footblock.right #logo .bullet {
            display: inline-block; } }
  footer .footcol {
    display: inline-block;
    width: 15%;
    margin: 0 0 0 6%;
    text-align: left;
    vertical-align: top;
    color: #e2e2e2;
    line-height: 26px; }
    footer .footcol #mce-EMAIL {
      width: 100%; }
    @media screen and (max-width: 37.5em) {
      footer .footcol {
        width: 42%; } }
    footer .footcol .colhead {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: uppercase;
      font-family: Roboto, sans-serif; }
    footer .footcol input, footer .footcol button {
      margin: 2px 0;
      vertical-align: middle;
      border: 1px solid #666 !important; }
    footer .footcol input {
      padding: 8px;
      margin-top: 8px;
      font-size: 12px;
      line-height: 14px;
      color: #222; }
    footer .footcol button {
      padding: 8px;
      margin-top: 8px;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #fff;
      background-color: #333; }
    footer .footcol a {
      font: 12px / 2 Gotham, sans-serif;
      color: #e2e2e2;
      text-decoration: none;
      display: inline-block;
      white-space: nowrap; }
    footer .footcol .nobr {
      white-space: nowrap; }
    footer .footcol.social a {
      line-height: 42px; }
    footer .footcol.joinus {
      width: 230px; }
      footer .footcol.joinus #desc {
        font-family: Gotham, sans-serif; }
  footer div.patent-pending {
    text-align: center;
    margin: 0; }
    footer div.patent-pending p {
      color: #aaa; }
  footer div.wrapper {
    padding: 1em 0;
    margin: 0 auto; }
    @media screen and (min-width: 75em) {
      footer div.wrapper {
        width: 75em; } }
    @media screen and (min-width: 37.5em) and (max-width: 75em) {
      footer div.wrapper {
        width: 37.5em; } }
    @media screen and (max-width: 37.5em) {
      footer div.wrapper {
        width: 100%; } }
  footer div.subscribe header div.social {
    display: inline-block;
    vertical-align: top; }
  footer div.subscribe header h1 {
    display: inline-block;
    margin: 0 0.3em 0 0; }
  footer div.subscribe header img.social {
    padding: 0.5em;
    height: 56px;
    vertical-align: top;
    margin-left: 0.1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%; }
    @media screen and (max-width: 37.5em) {
      footer div.subscribe header img.social {
        padding: 0.1em;
        height: 40px;
        vertical-align: initial; } }
  footer div.subscribe p {
    margin-bottom: 1.5em; }
  footer div.subscribe input.email {
    width: 20em;
    padding: 0.75em 1em; }
    @media screen and (max-width: 37.5em) {
      footer div.subscribe input.email {
        width: 100%; } }
  @media screen and (max-width: 37.5em) {
    footer div.subscribe button {
      width: 100%; } }
  footer div.block {
    display: inline-block;
    padding: 0.75em 1.5em;
    vertical-align: top; }
    @media screen and (min-width: 37.5em) {
      footer div.block {
        width: 37.3em; } }
    @media screen and (max-width: 37.5em) {
      footer div.block {
        width: 100%; } }
  @media screen and (min-width: 75em) {
    footer div.block.founders {
      padding-top: 4em; } }
  footer div.block.founders div.founder {
    text-align: center;
    padding: 0; }
    @media screen and (min-width: 37.5em) {
      footer div.block.founders div.founder {
        width: 11.4333333333em; } }
    @media screen and (max-width: 37.5em) {
      footer div.block.founders div.founder {
        width: 33%; } }
    footer div.block.founders div.founder img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      max-width: 80%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: 0 10%; }
    footer div.block.founders div.founder p {
      margin: 0.2em 0 0 0;
      color: #585858; }
  footer #privacy-and-terms {
    margin: 1em;
    text-align: center;
    color: #fff; }
    footer #privacy-and-terms span.text-divider {
      margin: 0 1em; }
    footer #privacy-and-terms a {
      font: 12px / 2 Gotham, sans-serif;
      color: #fff;
      text-decoration: none;
      display: inline-block; }
