iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.h--hide {
  display: none; }

.h--show {
  display: block; }

.linky:hover {
  cursor: pointer; }

.hidden {
  display: none; }

body {
  margin: 0 auto; }

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

p.small, label.small {
  font-size: 1em; }

input, button, select, textarea {
  padding: 0.075em 0.5em; }

input, select, textarea {
  padding: 0.5em;
  border: 2px solid #a3a3a3; }

select {
  padding: 0.45em; }

input:focus, button:focus, select:focus, textarea:focus {
  outline: none; }

.old-button {
  font: 1.25em Gotham, sans-serif;
  vertical-align: top;
  background-color: white;
  border: solid 2px;
  border-radius: 25px;
  cursor: pointer;
  padding: 9px 10px 5px 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased; }
  .old-button:hover {
    background: #e44028;
    color: white; }
  .old-button.searchbtn {
    background: #e44028;
    border-color: #e44028;
    border-radius: 0;
    color: white; }
  .old-button.primary, .old-button.red {
    background: #e44028;
    border-color: #e44028;
    color: white; }
    .old-button.primary-green, .old-button.red-green {
      background: #238471; }
      .old-button.primary-green:hover, .old-button.red-green:hover {
        background: #238471;
        border-color: #12584c;
        color: white; }
  .old-button.secondary, .old-button.white {
    background: white;
    border-color: #e44028;
    color: #e44028; }
    .old-button.secondary-green, .old-button.white-green {
      border-color: #238471;
      color: #238471; }
      .old-button.secondary-green:hover, .old-button.white-green:hover {
        background: #238471;
        border-color: #238471;
        color: white; }
  .old-button.green {
    border-color: #238471;
    color: #238471; }
    .old-button.green-fill {
      color: white;
      background: #238471; }
    .old-button.green:hover {
      background: #238471;
      border-color: #238471;
      color: white; }

.old-button.share {
  background: #5f8493;
  border-color: #5f8493; }

.old-button.edit {
  font: 16px / 2 Gotham, sans-serif; }

button:disabled, button:disabled:focus, button:disabled:active, button.disabled, button.disabled:active, button.disabled:hover, button.disabled:focus {
  background: #e2e2e2;
  border-color: #e2e2e2;
  color: #616161;
  box-shadow: #000 0 0 0;
  -moz-box-shadow: #000 0 0 0;
  -webkit-box-shadow: #000 0 0 0;
  cursor: default; }

button.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  padding: 0; }

button:active, button:hover, button:focus {
  background: #ea7063;
  border-color: #ea7063; }

button.share:active, button.share:hover, button.share:focus {
  background: #7fa8b3;
  border-color: #7fa8b3; }

button.white-border {
  border-color: #fff; }

button.white-border.disabled {
  border-color: #e2e2e2; }

button.cancel {
  position: absolute;
  top: 11px;
  right: -5px;
  background: transparent;
  color: #bbb;
  border: solid 0 black;
  font-family: Gotham, sans-serif;
  font-size: 2em; }

button.cancel:hover {
  color: #e44028; }

span.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0;
  color: white;
  text-align: center;
  background: #e44028; }

h1 {
  color: #000;
  font: 500 2.5rem Roboto, sans-serif;
  margin: 10px auto; }
  h1.accent {
    color: #e44028; }
  h1.white {
    color: #fff; }
  h1 a {
    font: 500 2.5rem Roboto, sans-serif;
    font-size: 1em;
    text-decoration: none; }

h2 {
  font: 300 1.4rem Roboto, sans-serif; }
  h2.black {
    color: #000; }

h3 {
  font: 300 1.4rem Roboto, sans-serif; }
  h3.black {
    color: #000; }

h4 {
  font: 300 1.2rem Roboto, sans-serif; }
  h4.accent {
    color: #e44028; }

/*  ANGULAR VIEW  */
@media screen and (max-width: 1030px) {
  #angular-view {
    margin: 1em auto; } }

iframe[src^="https://apis.google.com"] {
  display: none; }

a img {
  border: 0 solid transparent; }
