@import "../../base"

$debug-css: false
$phone-portrait-width: 375px
$phone-landscape-width: 667px
$tablet-portrait-width: 768px
$tablet-landscape-width: 1024px
$phone-in-portrait-query: "only screen and (max-width: $phone-portrait-width) and (orientation: portrait)"

=apply-at-size($device, $orientation: none)
  @if $debug-css
    border: 1px dotted grey
  @if $orientation == none
    @if $device == "phone"
      @media only screen and (max-width: $phone-landscape-width)
        @content
    @else if $device == "tablet"
      @media only screen and (min-width: $phone-landscape-width + 1) and (max-width: $tablet-landscape-width)
        @content
  @if $device == "phone"
    @if $orientation == "landscape"
      @media only screen and (max-width: $phone-landscape-width) and (orientation: landscape)
        @content
        @if $debug-css
          border: 1px solid blue
    @else
      @media only screen and (max-width: $phone-portrait-width) and (orientation: portrait)
        @content
        @if $debug-css
          border: 1px dashed blue
  @else if $device == "tablet"
    @if $orientation == "landscape"
      @media only screen and (min-width: $phone-landscape-width + 1) and (max-width: $tablet-landscape-width) and (orientation: landscape)
        @content
        @if $debug-css
          border: 1px solid purple
    @else
      @media only screen and (min-width: $phone-portrait-width + 1) and (max-width: $tablet-portrait-width) and (orientation: portrait)
        @content
        @if $debug-css
          border: 1px dashed purple
  @else if $device == "desktop"
    @media only screen and (min-width: $tablet-landscape-width + 1)
      @content

div.presspage
  color: white
  font-family: "Roboto", sans-serif !important
  text-align: center
  padding-bottom: 50px

  #headerwrap
    background: url("/assets/press/press-bg.png") no-repeat center top
    color: white
    margin: 0px auto 50px auto
    height: 300px
    padding-top: 30px
    text-align: center
    width: 100%

    h1
      color: white
      font: 700 3.125em "Roboto Condensed"
      letter-spacing: 3px
      -webkit-font-smoothing: antialiased

    p
      font: 1.5em "Roboto", sans-serif
      @include  apply-at-size("phone", "portrait")
        font-size: 0.9em
      letter-spacing: 1px
      margin: 0px auto 15px auto
      width: 60%
      @include apply-at-size("phone")
        width: 80%
      -webkit-font-smoothing: antialiased
      span
        @include apply-at-size("desktop")
          display: block

  a.button
    background-color: rgb(223, 72, 76)
    border: 0px solid
    border-radius: 4px
    clear: left
    color: white
    font: 1.125em "Roboto", sans-serif
    padding: 12px 53px 12px 53px
    text-decoration: none

  h2
    color: rgb(51, 51, 51)
    font: 2.25em "Roboto", sans-serif
    padding-bottom: 50px

  .main
    padding: 0px 30px 50px 30px
    text-align: left
    h2
      text-align: center
    .press-item
      display: inline-block
      padding: 20px
      text-align: center
      width: 24%
      vertical-align: top
      @include apply-at-size("tablet")
        width: 49%
      @include apply-at-size("phone")
        width: 99%

      img
        max-height: 100%
        max-width: 100%

      p
        color: rgb(85, 85, 85)
        font: 300 1em "Roboto", sans-serif
        margin: 35px 0 25px 0

  #bottom
    hr
      margin: -20px 0 50px 0
    h2
      padding: 10px 0 40px 0