@import "../static-pages"

div.presspage

  .headerwrap
    background: url("/assets/press/press-bg.png") no-repeat center top
    p
      span
        @include apply-at-size("desktop")
          display: block

  .main
    padding: 0 30px 50px 30px
    text-align: left
    h2
      text-align: center
    .press-item
      display: inline-block
      padding: 20px
      text-align: center
      width: calc(25% - 3px)
      vertical-align: top
      @include apply-at-size("tablet")
        width: 49%
      @include apply-at-size("phone")
        width: 99%

      img
        max-height: 100%
        max-width: 100%

      p
        color: rgb(85, 85, 85)
        margin: 35px 0 25px 0

  .bottom
    hr
      margin-top: -20px
    h2
      padding: 10px 0 40px 0