<div class="concierge static-pages" ng-controller="ConciergeController">
    <div class="headerwrap">
        <div class="ui container">
            <h1>Your Gift Concierge</h1>
            <h3>Need help coming up with ideas, finding a specific gift, or setting up your gift?
                <br />We can help.</h3>
        </div>
    </div>
    <div class="ui stackable two column grid container vertical top small">
        <div class="concierge-item column wide six">
            <h3 class="header">Provide some details for your Gift Concierge</h3>
            <div id="concierge-form" class="ui stacked segment">
                <form ng-submit="sendMsg()" name="conciergeform" class="ui form">
                    <div class="field" ng-class="{ 'error': conciergeform.title.$error.required && conciergeform.title.$touched}">
                        <div class="ui left icon input">
                            <i class="calendar icon"></i>
                            <input type="text" name="title" ng-model="title" required placeholder="What event is the gift for?" />
                        </div>
                        <div class="ui pointing red basic label" ng-show="conciergeform.title.$error.required && conciergeform.title.$touched">
                            Please enter a value.
                        </div>
                    </div>
                    <div class="field" ng-class="{ 'error': conciergeform.budget.$error.required && conciergeform.budget.$touched}">
                        <div class="ui left icon input">
                            <i class="dollar icon"></i>
                            <input type="number" name="budget" ng-model="budget" required placeholder="Is there a budget you want to stay within?" />
                        </div>
                         <div class="ui pointing red basic label" ng-show="conciergeform.budget.$error.required && conciergeform.budget.$touched">
                            Please enter a value.
                        </div>
                    </div>
                    <div class="field" ng-class="{ 'error': conciergeform.url.$error.required && conciergeform.url.$touched || conciergeform.url.$error.pattern || conciergeform.url.$error.pattern}">
                        <div class="ui left icon input">
                            <i class="gift icon"></i>
                            <input type="text" name="url" required pattern="^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}" ng-model="url" placeholder="URL to the gift you're thinking of" />
                        </div>
                        <div class="ui pointing red basic label" ng-show="conciergeform.url.$error.required && conciergeform.url.$touched">
                            Please enter a value.
                        </div>
                        <div class="ui pointing red basic label" ng-show="conciergeform.url.$error.pattern && conciergeform.url.$touched">
                            Please, enter a valid URL.
                        </div>
                    </div>
                    <div class="field" ng-class="{ 'error': conciergeform.fromemail.$error.required && conciergeform.fromemail.$touched || conciergeform.fromemail.$error.pattern || conciergeform.fromemail.$error.pattern}">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="fromemail" ng-model="fromemail" required placeholder="Your email address" />
                        </div>
                        <div class="ui pointing red basic label" ng-show="conciergeform.fromemail.$error.required && conciergeform.fromemail.$touched">
                            Please enter a value.
                        </div>
                        <div class="ui pointing red basic label" ng-show="conciergeform.fromemail.$error.pattern && conciergeform.fromemail.$touched">
                            Please, enter a valid email.
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="comment icon"></i>
                            <input type="text" name="comments" ng-model="comments" placeholder="Additional comments" />
                        </div>
                    </div>
                    <button type="submit" class="button ui icon fluid">
                        <i class="send icon"></i> Make your request
                    </button>
                    <div class="ui" ng-class="message: msg > 0">{{msg}}</div>
                </form>
            </div>
        </div>
        <div class="column wide eight">
            <h4>Give them a gift you're proud to give - and they're happy to get. </h4>
            <blockquote>
                <em>"The best thing about the Gift Concierge is that someone will go out of their way to help you find the perfect gift and to craft the perfect experience. It is like recruiting a super hero that will make the impossible possible." - Thibault L.</em>
            </blockquote>
            <a class="ui tag yellow icon label">
                <i class="icon gift"></i> The Gift Concierge is here to help you make it happen.
                <div class="detail">Guaranteed.</div>
            </a>
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">Timely</a>
                <a class="item" data-tab="second">Personal</a>
                <a class="item" data-tab="third">More Options</a>
            </div>
            <div class="ui tab items active" data-tab="first">
                <div class="item">
                    <div class="content">
                        <h3 class="header">Timely, Personalized Service</h3>
                        <div class="extra">
                            Your Gift Concierge can provide fast and friendly guidance on how to make your gift campaign a success. We can also help you "quick start" your GiftStart campaign by setting it up exactly to your needs then sending you the details to share with friends
                            and family...or everyone.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab items" data-tab="second">
                <div class="item">
                    <div class="content">
                        <h3 class="header">Personal Gifter</h3>
                        <div class="extra">
                            Fun, Fast and No Pressure Gift Ideas - we provide recommendations without the feeling of obligation to take our advice. Once you settle on the perfect gift and the campaign is set up, we take care of the rest through the GiftStarter platform (collecting
                            payments and personal messages, making the card, shipping).
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab items" data-tab="third">
                <div class="item">
                    <div class="content">
                        <h3 class="header">If You Can Dream It, You Can Gift It</h3>
                        <div class="extra">
                            Can't find it on our site? We can make that perfect Group Gift Campaign a reality. No matter what the gift, whether it's horseback riding lessons with a local provider or an airline ticket to a beautiful beach, we can make it happen! For ideas and inspiration,
                            check our <a href="http://www.pinterest.com/Giftstarter/">2014 Gift Guides on Pinterest</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
