<div class="concierge static-pages" ng-controller="ConciergeController">
  <div class="headerwrap">
    <h1>GIFT CONCIERGE IS STANDING BY.</h1>
    <br />
    <p>Need help coming up with ideas, finding a specific gift, or setting up your gift? Send any gift request and we can help.</p>
    <a class="button" target="_blank" href="javascript:void(0);" onclick="olark('api.box.expand')">CONTACT NOW</a>
  </div>

  <div class="main">
    <h2>Give an Amazing Gift</h2>
    <div class="concierge-item intro">
      <p>Give them a gift you're proud to give - and they're happy to get. By bringing people together with GiftStarter, you can give the gift they won't be able to stop talking about.<br /><br />The Gift Concierge is here to help you make it happen. See all the ways the Gift Concierge can assist you.</p>
      <a class="button" href="/howitworks">LEARN MORE</a>
    </div>
    <div class="concierge-item form">
      <p>Fill out the form below and we'll get back to you the same day (if possible) or within 24 hours guaranteed.</p>
      <div id="concierge-form">
        <form ng-submit="sendMsg()">
          <input type="text" name="title" ng-model="title" placeholder="What event is the gift for?" /><br/>
          <input type="text" name="budget" ng-model="budget" placeholder="Is there a budget you want to stay within?" /><br/>
          <input type="text" name="url" ng-model="url" placeholder="URL to the gift you're thinking of" /><br/>
          <input type="email" name="email" ng-model="email" placeholder="Your email address (required)" /><br/>
          <input type="text" name="comments" ng-model="comments" placeholder="Additional Comments" /><br/>
          <button type="submit" class="button">SUBMIT</button>
        </form>
      </div>
      <p>{{msg}}</p>
    </div>
    <hr />
    <h2>Give the perfect group gift, every time.</h2>
    <div class="info">
      <div class="info-item">
        <img src="/assets/concierge/img/clock-icon-2x.png" alt="We'll help you find the perfect gift">
        <br/>
        <h3>Timely, Personalized Service</h3>
        <p>Our Gift Concierge can provide fast and friendly guidance on how to make your gift campaign a success. We can also help you "quick start" your GiftStart campaign by setting it up exactly to your needs then sending you the link.</p>
      </div>
      <div class="info-item">
        <img src="/assets/concierge/img/gift-icon-2x.png" alt="Custom help in finding the right gift">
        <br/>
        <h3>Personal Gifter</h3>
        <p>Fun, Fast and No Pressure Gift Ideas - we provide recommendations without the feeling of obligation to take our advice. Once you settle on the perfect gift and the campaign is set up, we take care of the rest through the GiftStarter platform (collecting payments and personal messages, making the card, shipping). We've seen hundreds of group gifts, let us help you find yours!</p>
      </div>
      <div class="info-item">
        <img src="/assets/concierge/img/bulb-icon-2x.png" alt="Group Gift any gift you can imagine">
        <br/>
        <h3>If You Can Dream It, You Can Gift It</h3>
        <p>Can't find it on our site? We can make that perfect Group Gift Campaign a reality. No matter what the gift, whether it's horseback riding lessons with a local provider or an airline ticket to a beautiful beach, we can make it happen! For ideas and inspiration, check our <a href="http://www.pinterest.com/Giftstarter/">2014 Gift Guides on Pinterest.</a></p>
      </div>
    </div>
  </div>
</div>