@import "../static-pages"

.concierge

  p
    font-family: Roboto, sans-serif

  .headerwrap
    background: url("/assets/concierge/img/gift.png") no-repeat center
    a
      font-size: 1em

  .main
    input
      margin: 5px
      width: 300px
      max-width: 100%
    button
      font: 1em Roboto, sans-serif
      padding: 10px
    .info-item
      display: inline-block
      padding: 20px
      width: 32.5%
      @include apply-at-size("phone")
        width: 99%
      vertical-align: top
      img
        height: 70px
        width: 70px
        max-height: 100%
        max-width: 100%