@import base

#add-the-button
  width: 100%
  padding: 0 5%
  margin: 2em auto

  @media screen and (min-width: 40em)
    width: 40em

  pre
    white-space: pre-wrap
    white-space: -moz-pre-wrap
    white-space: -pre-wrap
    white-space: -o-pre-wrap
    word-wrap: break-word
    font-size: 10px
    color: #666