
// ------------------------- FONTS -------------------------
@font-face
  font-family: Blanch
  src: url('/assets/fonts/BLANCH.otf')

@font-face
  font-family: BlanchCondensed
  src: url('/assets/fonts/BLANCH_CONDENSED.otf')

$font-accent: 400 28px BlanchCondensed, sans-serif
$font-accent-large: 400 40px BlanchCondensed, sans-serif
$font-normal: 300 14px 'Roboto', sans-serif
$font-normal-large: 300 28px 'Roboto', sans-serif

// ------------------------- COLORS -------------------------
$primary-color: #d45
$primary-color-highlight: #f67
$dash-color: rgba(255, 255, 255, 0.4)
$dash-hovered-color: rgba(255, 255, 255, 0.7)

// ----------------------- BOX SIZING -----------------------

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius


=box-sizing($sizing)
  box-sizing: $sizing
  -moz-box-sizing: $sizing
  -webkit-box-sizing: $sizing

body
  margin: 0

body *
  +box-sizing(border-box)
  font-family: 'Roboto', sans-serif

// ----------------------- GENERAL STYLING -----------------------

input, button
  font: $font-accent
  padding: 3px 5px

button
  background: $primary-color
  color: #fff
  border: solid $primary-color 2px
  cursor: pointer

button:active, button:hover, button:focus
  background: $primary-color-highlight

button.large
  font: $font-accent-large
  padding: 6px 10px
  margin-top: 20px

button.white-border
  border-color: white

h1.accent.large
  font: $font-accent-large
  margin-top: 0px

p.small
  font-size: 11px