
// ------------------------- FONTS -------------------------
@font-face
  font-family: Blanch
  src: url('/assets/fonts/BLANCH_CAPS.otf')

@font-face
  font-family: BlanchCondensed
  src: url('/assets/fonts/BLANCH_CONDENSED.otf')

@font-face
  font-family: BlanchCondensedInline
  src: url('/assets/fonts/BLANCH_CONDENSED_INLINE.otf')

$base-font-size: 14px
$button-font-size: 2em
$h1-font-size: 2.75em
$h2-font-size: 2em

$h1-font: 400 $h1-font-size BlanchCondensed, sans-serif
$h2-font: 400 $h2-font-size BlanchCondensed, sans-serif
$p-font: 300 $base-font-size 'Roboto Condensed', sans-serif
$button-font: 400 $button-font-size BlanchCondensed, sans-serif

// ------------------------- COLORS -------------------------
$primary-color: #d45
$primary-color-highlight: #f67
$share-color: rgb(95, 132, 147)
$share-color-highlight: rgb(127, 168, 179)
$secondary-color: #4bc
$secondary-color-highlight: #6de
$email-color: #5c4
$email-color-highlight: #7f6
$facebook-color: #3B5998
$facebook-color-highlight: #5577bb
$dash-color: rgba(255, 255, 255, 0.4)
$dash-hovered-color: rgba(255, 255, 255, 0.7)
$border-color: #a3a3a3
$footer-bg-color: #eaeaea

// ------------------------- MOBILE -------------------------
$phone-tablet-boundary: 37.5em
$tablet-computer-boundary: 2*$phone-tablet-boundary

// ------------------------- MIXINS -------------------------

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius


=box-sizing($sizing)
  box-sizing: $sizing
  -moz-box-sizing: $sizing
  -webkit-box-sizing: $sizing

=box-shadow($color, $x, $y, $radius)
  box-shadow: $color $x $y $radius
  -moze-box-shadow: $color $x $y $radius
  -webkit-box-shadow: $color $x $y $radius

=no-select()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


=display-flex()
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

=justify-content($value: flex-start)
  @if $value == flex-start
    -webkit-box-pack: start
    -ms-flex-pack: start
  @else if $value == flex-end
    -webkit-box-pack: end
    -ms-flex-pack: end
  @else if $value == space-between
    -webkit-box-pack: justify
    -ms-flex-pack: justify
  @else
    -webkit-box-pack: $value
    -ms-flex-pack: $value

  -webkit-justify-content: $value
  -moz-justify-content: $value
  justify-content: $value

=flex-direction($value: row)
  @if $value == row-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: horizontal
  @else if $value == column
    -webkit-box-direction: normal
    -webkit-box-orient: vertical
  @else if $value == column-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: vertical
  @else
    -webkit-box-direction: normal
    -webkit-box-orient: horizontal

  -webkit-flex-direction: $value
  -moz-flex-direction: $value
  -ms-flex-direction: $value
  flex-direction: $value

=flex-wrap($value: wrap)
  -webkit-flex-wrap: $value
  flex-wrap: $value
