@import base.sass

body
  margin: 0

body *
  +box-sizing(border-box)

// ----------------------- GENERAL STYLING -----------------------

p, label
  font: $p-font
  line-height: 1.5

p.small, label.small
  font-size: 0.78em

input, button, select, textarea
  font: $p-font
  padding: 0.1em 0.5em
  +border-radius(0.4rem)

input, select, textarea
  padding: 0.5em
  border: 2px solid $border-color

select
  padding: 0.45em

input:focus, button:focus, select:focus, textarea:focus
  outline: none
  +box-shadow(#333, 0, 0, 0.1em)

button
  font: $button-font
  vertical-align: top
  background: $primary-color
  border: solid $primary-color 2px
  color: #fff
  cursor: pointer
  transition: all 0.2s

button.share
  background: $share-color
  border-color: $share-color

button.disabled, button.disabled:active, button.disabled:hover, button.disabled:focus
  background: #aaa
  border-color: #aaa
  color: #555
  +box-shadow(#000, 0, 0, 0)
  cursor: default

button.circle
  +border-radius(50%)
  padding: 0

button:active, button:hover, button:focus
  background: $primary-color-highlight
  border-color: $primary-color-highlight

button.share:active, button.share:hover, button.share:focus
  background: $share-color-highlight
  border-color: $share-color-highlight

button.white-border
  border-color: #fff

h1
  font: $h1-font
  color: #000
  margin-top: 0px
  margin-bottom: 0px

h1.accent
  color: $primary-color
h1.white
  color: #fff

h2
  font: $h2-font
  color: $primary-color
  margin-top: 0px
  margin-bottom: 0px

/*  ANGULAR VIEW  */
#angular-view
  //overflow: auto
  margin-bottom: 2em
