@import base


#shipping-contact-wrapper
  text-align: center
  overflow: hidden

  h2
    display: inline-block
  button
    float: right
  img.progress
    max-width: 39em
    @media screen and (max-width: $phone-tablet-boundary)
      max-width: 90%
    display: block
    margin: 2em auto

  @media screen and (max-width: $phone-tablet-boundary)
    button
      width: 100%
    img
      max-width: 100%

  div.block
    text-align: left

    input
      width: 100%
      margin-bottom: 0.5em
    input.city
      width: 50%

  div.input-group
    margin-bottom: 1em

    label
      display: block
    span
      display: block
      overflow: hidden

      input
        width: 100%

    input.city, select.state
      float: left
    select.state
      margin-left: 0.5em
      margin-right: 0.5em
