
@import base.sass
@import column

div.giftstart.wrapper
  margin: 0 auto

  button.share
    width: 4em
    margin: 0.5em
    @media screen and (max-width: $phone-tablet-boundary)
      margin: 0.25em

  button.pitch-in
    width: 7em
    margin: 0.5em

  @media screen and (max-width: $tablet-computer-boundary)
    width: 100%
  @media screen and (min-width: $tablet-computer-boundary)
    width: 2*$column-width

div.block
  width: $column-width
  display: inline-block
  padding: $margin-vert $margin-horz
  vertical-align: top

  @media screen and (max-width: $phone-tablet-boundary)
    width: 100%

  @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
    width: 40%

div.block.overlay
  width: $column-width
  text-align: center
  padding: 0
  float: left
  margin: $margin-vert 0

  @media screen and (max-width: $phone-tablet-boundary)
    width: 100%

  @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
    width: 60%

div.block.description
  float: right
  a.title
    text-decoration: none
    color: black
  a.title:hover
    text-decoration: underline
  h1
    color: black
  div.description
    font: $p-font
    line-height: 1.5
    margin-bottom: 2em
  .description
    line-height: 1.5
    font-weight: 300

div.block.price
  h1
    color: black
  div.price
    display: inline-block
    width: 49%

  h1.countdown
    text-align: center

div.block.comments
  display: inline-block
  vertical-align: top
  width: 100%
  border: 1px solid #bbb
  padding: 3%
  border-radius: 1em
  @media screen and (max-width: $tablet-computer-boundary)
    width: 96%
    margin: 0 2%

  h1
    margin-bottom: 0.5em

  .comment
    position: relative
    margin-bottom: 2.5em
    vertical-align: top
    display: inline-block
    width: 100%
    @media screen and (min-width: $phone-tablet-boundary)
      width: 45%
      margin-right: 5%
      margin-bottom: 1em

    img
      width: 16%
      +border-radius(50%)
      vertical-align: top

    div
      position: relative
      width: 78%
      margin-left: 1%
      padding: 0 3%
      font-weight: 300
      text-align: left

      display: inline-block
      border-radius: 10px

      p
        margin-top: 0

      span.timestamp
        margin-top: 4px
        text-align: right
        font-size: 70%
        display: block
        color: #555

  p.no-contributors
    color: #aaa
    font-size: 1.3em
    text-align: center

//div:before
    //  content: ""
    //  position: absolute
    //
    //  top: 8% //30px
    //  bottom: auto
    //  left: -30px
    //  border-style: solid
    //  border-width: 15px 30px 15px 0
    //  border-color: transparent $primary-color
    //
    //div:after
    //  content: ""
    //  position: absolute
    //
    //  top: 11% //33px
    //  bottom: auto
    //  left: -24px
    //  border-style: solid
    //  border-width: 12px 25px 12px 0
    //  border-color: transparent #fff
