
@import base.sass
@import column

div.giftstart.wrapper
  margin: 0 auto

  button.share
    width: 4em
    margin: 0.5em
  button.pitch-in
    width: 7em
    margin: 0.5em

  @media screen and (max-width: $tablet-computer-boundary)
    width: 100%
  @media screen and (min-width: $tablet-computer-boundary)
    width: 2*$column-width

div.block
  width: $column-width
  display: inline-block
  padding: $margin-vert $margin-horz
  vertical-align: top

  @media screen and (max-width: $phone-tablet-boundary)
    width: 100%

  @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
    width: 40%

div.block.overlay
  width: $column-width
  text-align: center
  padding: 0
  float: left
  margin: $margin-vert 0

  @media screen and (max-width: $phone-tablet-boundary)
    width: 100%

  @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
    width: 60%

div.block.description
  float: right
  a.title
    text-decoration: none
    color: black
  a.title:hover
    text-decoration: underline
  h1
    color: black
  div.description
    font: $font-normal
    line-height: 1.5
    margin-bottom: 2em
  .description
    line-height: 1.5
    font-weight: 300

div.block.price
  h1
    color: black
  div.price
    display: inline-block
    width: 49%


div.block.comments
  display: inline-block
  vertical-align: top

  .comment
    position: relative
    margin-bottom: 20px


    img
      width: 18%
      +border-radius(50%)
      vertical-align: top

    div
      position: relative
      width: 78%
      margin-left: 1%
      padding: 4% 14px
      font-weight: 300
      text-align: left

      display: inline-block
      border-radius: 10px
      border: solid 3px $primary-color

      span.timestamp
        margin-top: 4px
        text-align: right
        font-size: 70%
        display: block
        color: #555

    div:before
      content: ""
      position: absolute

      top: 8% //30px
      bottom: auto
      left: -30px
      border-style: solid
      border-width: 15px 30px 15px 0
      border-color: transparent $primary-color

    div:after
      content: ""
      position: absolute

      top: 11% //33px
      bottom: auto
      left: -24px
      border-style: solid
      border-width: 12px 25px 12px 0
      border-color: transparent #fff
