@import base

#header
  background: url('/assets/headerBackground.png')
  background-size: cover
  width: 100%
  z-index: 1000

  /*  HEADER  */
  $header-height: 9em
  $header-margin-bottom: 10px

  #header-logo
    @media screen and (max-width: 37.5em)
      width: 100%
    @media screen and (min-width: 37.5em)
      height: $header-height
    display: block
    padding: 2em 2em 0 0
    margin: 0 auto $header-margin-bottom auto

  > div.wrapper
    margin: 0 auto

    h1
      cursor: default
      @media screen and (max-width: 37.5em)
        font-size: 2em
      color: $primary-color
      text-align: center

    div.nav
      text-align: center
      padding: 0.7em 0 1.25em

      h2
        display: inline-block
        cursor: default
      h2.navitem
        padding: 0 0.5em
        cursor: pointer
        vertical-align: text-bottom
      h2.navitem:hover
        color: $primary-color-highlight

#header
  div.wrapper.small
    #header-logo
      //padding: 1em 0 3em 0
      height: 8em

    div.big-container
      display: none