@import base
@import column

$step-width: 14em

div.landing-page
  padding: 0.75em 1.5em
  text-align: center
  margin: 2em auto

  div.copy
    margin-bottom: 2em
    text-align: left

    h1
      color: #000

  div.process
    div.step
      display: inline-block
      text-align: center
      width: $step-width
      vertical-align: top
      margin-bottom: 2em

      span.number
        width: 1em
        height: 1em
        display: inline-block
        text-align: center
        background: $primary-color
        +border-radius(50%)
        color: #fff
        font: $button-font
        margin-bottom: 0.2em
      h2
        font-size: 2em
      img
        width: $step-width
      p
        margin: 0
        text-align: left

  @media screen and (max-width: $phone-tablet-boundary)
    width: 100%

    div.process
      div.step
        width: 100%

        img
          width: 100%

  @media screen and (min-width: $phone-tablet-boundary)
    width: 2 * $column-width
    div.process
      div.step
        margin-left: 1em
        margin-right: 1em

  div.retailers
    h1
      color: #000
      text-align: left
    img
      width: 14em
    #brooks
      padding-top: 3em
    @media screen and (min-width: $phone-tablet-boundary)
      #filson
        margin: 0 6em
