@import base

.login-popover
  padding: 40px
  background: $primary-color
  color: #fff

div.facebook-login-button
  width: 404px
  height: 90px
  background-image: url("/assets/active_404_2x.png")

div.facebook-login-button:active
  background-image: url("/assets/pressed_404_2x.png")
