@import base

div.login-popover

  div.block
    text-align: left
    width: 18em
    p
      margin-top: 0

  div.login-button
    margin-bottom: 1.5em
    cursor: pointer
    img
      width: 100%
  div.login-button:last-of-type
    margin-bottom: 0