@import base

.note-popover
  padding: 40px
  background: $primary-color
  color: #fff

  img.profile-picture
    vertical-align: top
    margin: 5px 20px 5px 0
    width: 75px
    height: 75px
    +border-radius(50%)

  textarea.note
    width: 400px
    height: 200px
    font: $font-normal
    display: inline-block
    font-size: 22px
    border: solid 1px rgba(255, 255, 255, 1)
    padding: 10px
    +border-radius(10px)
    outline-width: 0

  button
    margin-top: 20px