@import base

.pay-popover
  padding: 40px
  background: $primary-color
  color: #fff

  form
    div
      text-align: left
      input
        font: $font-normal
        margin-left: 18px
      span
        display: inline-block
        color: #fff
        text-align: left
        width: 110px
    div.number
      input
        width: 150px
    div.cvc
      input
        width: 40px
    div.expiry
      input
        width: 70px
    div.zip
      input
        width: 55px