
gs-popover
  position: fixed
  display: none
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.6)
  z-index: 10000

  .table-row
    display: table-row

    .table-cell
      display: table-cell
      vertical-align: middle
      text-align: center
      z-index: 10001

      .template-container
        display: inline-block

