
.product-link.wrapper
  /*  PRODUCT LINK INPUT  */
  .search.wrapper
    margin: 110px auto 20px auto
    text-align: center

  .loading
    margin-top: 100px
    text-align: center

  /*  PRODUCT RESULT  */
  .result.wrapper
    text-align: center

    $column-width: 480px
    .image
      max-width: $column-width
      max-height: $column-width
      display: inline-block
      padding: 20px

      img
        padding: 0

    .details
      width: $column-width
      padding: 20px
      display: inline-block
      vertical-align: top
      text-align: left

      div
        display: inline-block
        vertical-align: top
        text-align: center

      div.details-container
        display: block
        margin: 20px auto 0 auto

      div.price
        margin-top: 20px
        margin-right: 20px

        input
          width: 70px
          display: block
          margin-left: auto
          margin-right: auto

      div.parts
        margin-top: 20px
        margin-right: 20px

        div
          display: block

          span
            padding: 10px

      div.cost
        margin-top: 20px

        span.description
          display: block

    .title
      display: block
      font-weight: 300
      font-size: 200%
      margin-bottom: 20px

    .price
      display: block

    .submit
      display: block
      margin: 30px auto
