<div class="ui inverted masthead center aligned vertical segment home" ng-controller="HomeController as home">
    <div class="ui text container">
        <h1 class="ui inverted header">Group Gifting Made Simple</h1>
        <h2>The easiest way for you and your friends, colleagues, or family members to give a personalized gift to someone that matters.</h2>
        <div class="ui message black">
            <div class="content">
                <p>GiftStarter is <strong>always</strong> free to use as many times as you would like.</p>
                <div class="ui left icon action input fluid">
                    <i class="envelope icon"></i>
                    <input type="text" placeholder="Email Address">
                    <button class="ui teal button">Start Gifting</button>
                </div>
            </div>
        </div>
    </div>
    <!--     <div class="headerwrap">
        <h1>Welcome to GiftStarter!</h1>
        <p>We are putting the emotion back into gifting. With GiftStarter you can give gifts you're proud to give, and they're happy to get. Make your lists. Find your community. Give better gifts.</p>
        <a name="productsearch"></a>
        <gs-product-search></gs-product-search>
    </div> -->
    <!-- <ng-include src="'/scripts/product/search-results.ng.html'"></ng-include> 
    <ng-include src="'/scripts/home/whatisgiftstarter/why-giftstarter.ng.html'" class="hidden"></ng-include>
    <ng-include src="'/scripts/home/whatisgiftstarter/how-it-works.ng.html'"></ng-include>
    <ng-include src="'/scripts/staffpicks/staffpicks.ng.html'"></ng-include>
    <ng-include src="'/scripts/giftsgivenbar/giftsgivenbar.ng.html'"></ng-include> 
    <ng-include src="'/scripts/login/login-or-create.html'" class="hidden"></ng-include> 
    <ng-include src="'/scripts/brandbar/brandbar.ng.html'" class="hidden"></ng-include> -->

</div>
