html, body {
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  font-weight: 500; }

.hidden {
  display: none !important; }

.vertical.small.bottom {
  margin-bottom: 1em; }
.vertical.medium.bottom {
  margin-bottom: 2em; }
.vertical.large.bottom {
  margin-bottom: 3em; }
.vertical.small.top {
  margin-top: 1em; }
.vertical.medium.top {
  margin-top: 2em; }
.vertical.large.top {
  margin-top: 3em; }

.ui.checkbox .box, .ui.checkbox label {
  cursor: pointer; }

body.pushable > .pusher.grey {
  background: #90A4AE; }

header.slim {
  height: 60px !important; }

.ui.main.menu {
  margin-top: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
  background-color: #FFFFFF;
  border: 0px solid #DDD;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000 !important; }
  .ui.main.menu.inverted {
    border: none;
    box-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4)); }
    .ui.main.menu.inverted .item img.logo, .ui.main.menu.inverted .item .ui.inverted.button {
      opacity: .7; }
  .ui.main.menu .item, .ui.main.menu .menu {
    display: none; }
  .ui.main.menu .item img.logo {
    margin-right: 1.5em; }
.ui.menu .right.item .item.help {
  display: none; }
.ui.main.menu .toc.item, .ui.menu .right.item .item {
  display: block; }
.ui.main.menu .header.item {
  display: block;
  padding-right: 0;
  margin-right: 0;
  padding-top: 2px; }
.ui.menu .item > .input input {
  border-radius: .28571429rem; }
.ui.main.menu.transparent {
  box-shadow: none;
  background: transparent; }

.overlay {
  float: left;
  margin: 0em 3em 1em 0em; }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease; }

.overlay.fixed .menu {
  left: 800px; }

.right.menu .toc.item {
  display: none; }

.ui.secondary.menu .topmenu .link.item:hover, .ui.secondary.menu .topmenu a.item:hover {
  background: inherit; }

.main.container {
  margin: 0 auto 3em !important;
  width: 100%; }
.main.full {
  margin: 4em auto 2em !important;
  width: 100% !important; }
.main.pad {
  margin-top: 7em !important; }
.main.red {
  background-image: url("/images/bg/5-compressor.jpg"); }

.fade {
  opacity: 1; }
  .fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .fade.ng-enter {
    opacity: 0; }
  .fade.ng-enter-active, .fade.ng-leave {
    opacity: 1; }
  .fade.ng-leave-active {
    opacity: 0; }

.ui.dimmer {
  z-index: 5; }

.ui.active.dimmer {
  opacity: .7; }

.long {
  width: 100%; }

@media only screen and (min-width: 723px) {
  .ui.main.menu .toc.item {
    display: none; }
  .ui.main.menu .item {
    display: block; }
  .main.menu .menu, .ui.menu .right.item .item.help {
    display: block; } }

div.rn-carousel-indicator span.active {
  color: #E44028; }

.joiny .masthead {
  background-color: #000000; }

.join .masthead {
  -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s; }
  .join .masthead.bg-gradient:after {
    background-image: url("/images/bg/colorful-gradient.jpg"); }
  .join .masthead:after {
    -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s; }

.ui.masthead.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), url(/assets/bg/gift-and-flowers-mobile.jpg);
  background-size: cover;
  background-position: center top;
  box-shadow: inset 0 0 4rem rgba(0, 0, 0, 0.35);
  position: relative;
  min-height: 350px;
  padding: 1em 0em;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3)); }
  .ui.masthead.home .desktop {
    display: none; }
  .ui.masthead.home .ui.container {
    min-height: 77vh;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    .ui.masthead.home .ui.container h1.ui.header {
      margin-top: 2.5em;
      margin-bottom: .5em;
      font-size: 2.5em; }
    .ui.masthead.home .ui.container h2 {
      font-size: 1.3em;
      margin-top: 20px;
      margin-bottom: 2rem;
      display: none; }
    .ui.masthead.home .ui.container .ui.message {
      text-shadow: none; }
      .ui.masthead.home .ui.container .ui.message.black {
        background: rgba(0, 0, 0, 0.65); }
      .ui.masthead.home .ui.container .ui.message.secondary {
        background: rgba(248, 248, 249, 0.85); }
      .ui.masthead.home .ui.container .ui.message .mobile .ui.button {
        margin-bottom: 0.75em; }
      .ui.masthead.home .ui.container .ui.message .ui.form {
        padding-bottom: .5em; }

@media only screen and (min-width: 700px) {
  .ui.masthead.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), url(/assets/bg/gift-and-flowers@2x.jpg), url(/assets/bg/gift-and-flowers.jpg);
    min-height: 700px; }
    .ui.masthead.home .desktop {
      display: block; }
    .ui.masthead.home .mobile {
      display: none; }
    .ui.masthead.home .ui.container {
      height: auto; }
      .ui.masthead.home .ui.container h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 3em; }
      .ui.masthead.home .ui.container h2 {
        display: block; } }

.ui.statistic > .value, .ui.statistics .statistic > .value {
  font-size: 1.2rem; }

.steps-indicator {
  position: absolute;
  padding: 0; }

.join .ui.input {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: flex; }

.footer .logo {
  width: 55px; }

.ui.buttons .or {
  height: 3.571429em; }
