// globals

html, body
  font-size: 16px
h1, h2, h3, h4, h5
  font-weight: 500
.hidden
  display:none !important;

.vertical
  &.small.bottom
    margin-bottom: 1em
  &.medium.bottom
    margin-bottom: 2em
  &.large.bottom
    margin-bottom: 3em
  &.small.top
    margin-top: 1em
  &.medium.top
    margin-top: 2em
  &.large.top
    margin-top: 3em

.ui.checkbox
  .box, label
    cursor: pointer

// bgs

body.pushable > .pusher.grey
  background: #90A4AE

// header

header.slim
  height: 60px !important

// top menu
.ui
  &.main.menu
    margin-top: 0
    border-radius: 0
    border: none
    box-shadow: none
    transition: box-shadow 0.5s ease, padding 0.5s ease
    background-color: #FFFFFF
    border: 0px solid #DDD
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)
    z-index: 1000 !important
    &.inverted
      border: none;
      box-shadow: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
      .item img.logo, .item .ui.inverted.button
        opacity: .7;
    .item, .menu
      display: none
    .item img.logo
      margin-right: 1.5em
  &.menu .right.item .item.help
    display: none
  &.main.menu .toc.item, &.menu .right.item .item
    display: block
  &.main.menu .header.item
    display: block
    padding-right: 0
    margin-right: 0
    padding-top: 2px
  &.menu .item > .input input
    border-radius: .28571429rem
  &.main.menu.transparent
    box-shadow: none
    background: transparent

.overlay
  float: left
  margin: 0em 3em 1em 0em
  .menu
    position: relative
    left: 0
    transition: left 0.5s ease

.overlay.fixed .menu
  left: 800px

// end top menus

.right.menu .toc.item
  display: none

.ui.secondary.menu .topmenu
  .link.item:hover, a.item:hover
    background: inherit

// end top menus

// main containers

.main
  &.container
     margin: 0 auto 3em !important
     width: 100%
  &.full
    margin: 4em auto 2em !important
    width: 100% !important
  &.pad
    margin-top: 7em !important
  &.red
    background-image: url("/images/bg/5-compressor.jpg")

.fade
  opacity: 1
  &.ng-enter, &.ng-leave
    -webkit-transition: all 1s ease
    transition: all 1s ease
  &.ng-enter
    opacity: 0
  &.ng-enter-active, &.ng-leave
    opacity: 1
  &.ng-leave-active
    opacity: 0

.ui.dimmer
  z-index: 5
.ui.active.dimmer
  opacity: .7

// mobile menus

// forms

.long
  width: 100%

// media queries
@media only screen and (min-width: 723px)
  .ui.main.menu
    .toc.item
      display: none
    .item
      display: block
  .main.menu .menu, .ui.menu .right.item .item.help
    display: block

// carousel

div.rn-carousel-indicator span.active
  color: #E44028

// join masthead

.joiny .masthead
  background-color: #000000

.join .masthead
  &.bg-gradient:after
    background-image: url("/images/bg/colorful-gradient.jpg")
  -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
  -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
  -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
  transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
  &:after
    -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
    -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
    -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s
    transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s

// home masthead
.ui.masthead.home
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url(/assets/bg/gift-and-flowers-mobile.jpg)
    background-size: cover
    background-position: center top
    box-shadow: inset 0 0 4rem rgba(0,0,0,.35)
    position: relative;
    min-height: 350px
    padding: 1em 0em 
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3))
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3))
        
    .desktop
        display: none
    
    .ui.container
        min-height: 77vh
        
        h1, h2, p
        text-shadow: 0 0 5px rgba(0,0,0,.25)
    
        h1.ui.header
            margin-top: 2.5em
            margin-bottom: .5em
            font-size: 2.5em
            
        h2
            font-size: 1.3em
            margin-top: 20px
            margin-bottom: 2rem
            display: none;
        
        .ui.message
            text-shadow: none
            
            &.black
                background: rgba(0,0,0,.65)
            
            &.secondary
                background: rgba(248,248,249,.85)
                
            .mobile 
                .ui.button
                    margin-bottom: 0.75em;
                
            .ui.form
                padding-bottom: .5em;
                
        
@media only screen and (min-width: 700px)
    .ui.masthead.home
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url(/assets/bg/gift-and-flowers@2x.jpg),url(/assets/bg/gift-and-flowers.jpg)
        min-height: 700px
        
        .desktop
            display: block
            
        .mobile
            display: none
        
        .ui.container
            height: auto
        
            h1.ui.header
                margin-top: 3em
                margin-bottom: 0em
                font-size: 3em
            
            h2
                display: block
            
// statistics

.ui
  &.statistic > .value, &.statistics .statistic > .value
    font-size: 1.2rem

// angular wizard

.steps-indicator
  position: absolute
  padding: 0

.join .ui.input
  display: -webkit-inline-box
  display: -webkit-inline-flex
  display: -ms-inline-flex
  display: flex

// footer

.footer .logo
  width: 55px

// buttons
.ui.buttons .or 
  height: 3.571429em