html, body {
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  font-weight: 500; }

.vertical.small.bottom {
  margin-bottom: 1em; }
.vertical.medium.bottom {
  margin-bottom: 2em; }
.vertical.large.bottom {
  margin-bottom: 3em; }
.vertical.small.top {
  margin-top: 1em; }
.vertical.medium.top {
  margin-top: 2em; }
.vertical.large.top {
  margin-top: 3em; }

.ui.checkbox .box, .ui.checkbox label {
  cursor: pointer; }

body.pushable > .pusher.grey {
  background: #90A4AE; }

header.slim {
  height: 60px !important; }

.main.menu {
  margin-top: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease; }
  .main.menu .item img.logo {
    margin-right: 1.5em; }

.overlay {
  float: left;
  margin: 0em 3em 1em 0em; }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease; }

.ui.main.menu {
  background-color: #FFFFFF !important;
  border: 0px solid #DDD;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10 !important; }

.overlay.fixed .menu {
  left: 800px; }

.ui.menu {
  margin-top: 0; }

.slim .ui.main.menu .toc.item {
  display: none; }

.ui.main.menu .item, .ui.main.menu .menu {
  display: none; }
.ui.menu .right.item .item.help {
  display: none; }
.ui.main.menu .toc.item, .ui.menu .right.item .item {
  display: block; }
.ui.main.menu .header.item {
  display: block;
  padding-right: 0;
  margin-right: 0; }
.ui.menu .item > .input input {
  border-radius: .28571429rem; }
.ui.main.menu.transparent {
  box-shadow: none;
  background: transparent; }

.right.menu .toc.item {
  display: none; }

.ui.secondary.menu .topmenu .link.item:hover, .ui.secondary.menu .topmenu a.item:hover {
  background: inherit; }

.main.container {
  margin: 0 auto 3em !important;
  width: 100%; }
.main.full {
  margin: 4em auto 2em !important;
  width: 100% !important; }
.main.pad {
  margin-top: 7em !important; }
.main.red {
  background-image: url("/images/bg/5-compressor.jpg"); }

.fade {
  opacity: 1; }
  .fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .fade.ng-enter {
    opacity: 0; }
  .fade.ng-enter-active, .fade.ng-leave {
    opacity: 1; }
  .fade.ng-leave-active {
    opacity: 0; }

.long {
  width: 100%; }

@media only screen and (min-width: 723px) {
  .ui.main.menu .toc.item {
    display: none; }
  .ui.main.menu .item {
    display: block; }
  .main.menu .menu, .ui.menu .right.item .item.help {
    display: block; } }

div.rn-carousel-indicator span.active {
  color: #E44028; }

.joiny .masthead {
  background-color: #000000; }

.join .masthead {
  -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
  transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s; }
  .join .masthead.bg-gradient:after {
    background-image: url("/images/bg/colorful-gradient.jpg"); }
  .join .masthead:after {
    -ms-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s; }

.ui.statistic > .value, .ui.statistics .statistic > .value {
  font-size: 1.7rem; }

.steps-indicator {
  position: absolute;
  padding: 0; }

.join .ui.input {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: flex; }

.footer .logo {
  width: 55px; }

.ui.buttons .or {
  height: 3.571429em; }
