@import "../base"

// ---------------------- STATIC PAGES ----------------------
.static-pages
  clear: both
  font-family: "Roboto", sans-serif !important
  text-align: center

  a
    color: $primary-color
    font-family: "Roboto", sans-serif

  h1, h2, h3, h4, h5, h6
    font-family: "Roboto", sans-serif
    color: $font-color

  .headerwrap
    color: white
    margin: 0px auto 50px auto
    height: 300px
    padding-top: 30px
    text-align: center
    width: 100%

    h1
      color: white
      font: 700 3.063em "Roboto Condensed"
      @include apply-at-size("phone", "portrait")
        font-size: 1.5em
      @include apply-at-size("phone", "landscape")
        font-size: 2em
      @include apply-at-size("tablet", "portrait")
        font-size: 2.25em
      @include apply-at-size("tablet", "landscape")
        font-size: 2.5em
      letter-spacing: 3px
      -webkit-font-smoothing: antialiased

    p
      font: 1.2em "Roboto", sans-serif
      line-height: 25px
      @include  apply-at-size("phone", "portrait")
        font-size: 0.8em
        line-height: 18px
      @include  apply-at-size("phone", "landscape")
        font-size: 1em
        line-height: 20px
      @include apply-at-size("tablet", "portrait")
        font-size: 0.9em
        line-height: 20px
      @include apply-at-size("tablet", "landscape")
        font-size: 1.125em
        line-height: 22px
      letter-spacing: 1px
      margin: 10px auto 7px auto
      width: 60%
      @include apply-at-size("tablet")
        width: 80%
      @include apply-at-size("phone")
        width: 80%
      -webkit-font-smoothing: antialiased

  a.button
    background-color: $primary-color
    border: 0px solid
    clear: left
    color: white
    display: inline-block
    font: $button-font
    padding: 14px 53px 10px 53px
    text-decoration: none
    -webkit-font-smoothing: antialiased

  h2
    color: $font-color
    font: 2.25em "Roboto", sans-serif
    padding: 15px 0 30px 0
