<footer ng-hide="fullContainer">
	<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui column centered stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <a href="/"><img class="one column logo" src="/assets/logo_square_nobg.png" /></a>
			<p>Made with ♥ by Emotiv Labs</p>
			<p class="item" style="padding-top:10px">
				<a href="/join" class="ui inverted red basic button">Get Started</a>
			</p>
        </div>
        <div class="three wide column">
          <div class="ui inverted link list">
			<a href="/" class="item">Home</a>
			<a href="/is" class="item">How It Works</a>
            <a href="/concierge" class="item">Gift Concierge</a>
            <a href="/discover" class="item">Discover</a>
            <a href="/faq" class="item">FAQ</a>
            <a href="/login" class="item">Login</a>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui inverted link list">
            <a href="/about" class="item">About Us</a>
            <a href="/blog" class="item">Blog</a>
            <a href="/press" class="item">Press</a>
            <a href="/partners" class="item">Partners</a>
            <a href="/terms" class="item">Terms of Service</a>
            <a href="/privacy" class="item">Privacy</a>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui inverted link list">
            <a href="https://www.facebook.com/giftstart" class="item" target="_blank">
				<i class="facebook square icon"></i> Facebook
			</a>
            <a href="https://twitter.com/giftstarter" class="item" target="_blank">
				<i class="twitter icon"></i> Twitter
				</a>
            <a href="https://www.pinterest.com/Giftstarter/" class="item" target="_blank">
				<i class="pinterest icon"></i> Pinterest
			  </a>
            <a href="https://www.youtube.com/channel/UCDYNpHMV5-tOC1T9SGs8elQ" class="item" target="_blank">
				<i class="youtube icon"></i> Youtube
			  </a>
            <a href="https://www.linkedin.com/company/giftstarter" class="item" target="_blank">
				<i class="linkedin icon"></i> LinkedIn
				</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
