<div class="thank-you block" ng-show="thanks.editable || thanks.edit || thanks.message">
    <!--<div class="thank-you block">-->
    <div class="message">
        <div class="show-message" ng-hide="thanks.edit">
            <h1>GiftStart Success!</h1>
            <h3>A Thank You From the Recipient:</h3>
            <p>{{thanks.message}}</p>
        </div>
        <div class="edit-message" ng-show="thanks.edit">
            <h1>Say Thank You!</h1>
            <p>Say a few words of thanks to those who pitched in, we'll send them a link when you're finished, and you can share it on your favorite social sites:</p>
            <textarea ng-model="thanks.newMessage"></textarea>
            <div class="profile-img" ng-show="thanks.profileImageUrl">
                <p>Logged in as:</p>
                <img ng-src="{{thanks.profileImageUrl}}"/>
            </div>
            <div class="login-for-pic" ng-hide="loggedIn">
                <p>Login to add a profile picture!</p><button class="white-fill" ng-click="thanks.showLogin()">Login</button>
            </div>
        </div>
    </div>
    <div class="image">
        <img ng-src="{{thanks.imgUrl}}" ng-show="thanks.imgUrl && !thanks.edit"/>
        <gs-image-upload class="white-buttons" ng-show="thanks.edit" on-image-updated="thanks.imageUpdated"></gs-image-upload>
    </div>
    <div class="buttons">
        <button class="white-fill submit" ng-show="thanks.edit" ng-click="thanks.update();">Say Thanks!</button><button class="edit white-border" ng-show="thanks.editable && !thanks.edit" ng-click="thanks.edit=true;"><img class="edit" src="/assets/edit_button_white.png"/></button>
    </div>
    <button class="cancel" ng-show="thanks.edit" ng-click="thanks.edit=false;">X</button>
</div>