@font-face {
  font-family: Blanch;
  src: url("/assets/fonts/BLANCH.otf"); }
@font-face {
  font-family: BlanchCondensed;
  src: url("/assets/fonts/BLANCH_CONDENSED.otf"); }
body {
  margin: 0; }

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

input, button {
  font: 400 28px BlanchCondensed, sans-serif;
  padding: 3px 5px; }

button {
  background: #dd4455;
  color: white;
  border: solid #dd4455 2px;
  cursor: pointer; }

button.large {
  font: 400 40px BlanchCondensed, sans-serif;
  padding: 6px 10px; }

h1.accent.large {
  font: 400 40px BlanchCondensed, sans-serif; }

p.small {
  font-size: 11px; }

/*  HEADER  */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000; }

#header-logo {
  height: 60px;
  display: block;
  margin: 0 auto 10px auto; }

/*  ANGULAR VIEW  */
#angular-view {
  margin-top: 70px; }
