
@font-face {
    font-family: Blanch;
    src: url('/assets/fonts/BLANCH.otf');
}
@font-face {
    font-family: BlanchCondensed;
    src: url('/assets/fonts/BLANCH_CONDENSED.otf');
}

body {
    margin: 0;
}
body * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*  HEADER  */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1000;
}
#header-logo {
    height: 50px;
    display: block;
    margin: 0 auto 10px auto;
}

/*  ANGULAR VIEW  */
#angular-view {
    margin-top: 60px;
}

/* GENERAL STYLING */
input, button {
    font-family: BlanchCondensed, sans-serif;
    font-size: 28px;
    padding: 3px 5px;
}
button {
    background: #d45;
    color: #fff;
    border: solid #d45 2px;
    cursor: pointer;
}
button.large {
    font-size: 40px;
    padding: 6px 10px;
}