
.giftstart.wrapper {
    text-align: center;
}
.giftstart.product.image {
    max-width: 480px;
    max-height: 480px;
    display: inline-block;
    padding: 20px;
}
.giftstart.product.details {
    width: 480px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}
.giftstart.product.title {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
}
a.giftstart.product.title {text-decoration: none; color: black;}
a.giftstart.product.title:hover {text-decoration: underline;}
.giftstart.product.description {
    text-align: left;
}
.giftstart.product.price {
    display: block;
}
.giftstart.pitch-in.button {
    display: block;
    margin: 30px auto;
}

.giftstart.contribution, .giftstart.total-price {
    font-family: Blanch, sans-serif;
    font-size: 60px;
}
.giftstart.price {
    display:inline-block;
    font-size: 24px;
    padding: 20px;
}