gs-overlay.product-overlay {
    display: inline-block;
}
.product-overlay.overlay {
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

.part-cell {
    background: rgba(80, 150, 255, 0.3);
    border: dashed 1px rgba(255, 255, 255, 0.4);
    transition: all 0.2s;
    cursor: pointer;
}
.part-cell:hover {
    background: rgba(80, 150, 255, 0.2);
    border: dashed 1px rgba(255, 255, 255, 0.7);
}
/*  BOUGHT  */
.part-cell.bought {
    opacity: 0;
    cursor: default;
}
/*  SELECTED  */
.part-cell.selected {
    background: rgba(80, 150, 255, 0.1);
}