@font-face {
  font-family: Blanch;
  src: url("/assets/fonts/BLANCH.otf"); }
@font-face {
  font-family: BlanchCondensed;
  src: url("/assets/fonts/BLANCH_CONDENSED.otf"); }
body {
  margin: 0; }

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

input, button {
  font: 400 28px BlanchCondensed, sans-serif;
  padding: 3px 5px; }

button {
  background: #dd4455;
  color: white;
  border: solid #dd4455 2px;
  cursor: pointer; }

button:active, button:hover, button:focus {
  background: #ff6677; }

button.large {
  font: 400 40px BlanchCondensed, sans-serif;
  padding: 6px 10px;
  margin-top: 20px; }

button.white-border {
  border-color: white; }

h1.accent.large {
  font: 400 40px BlanchCondensed, sans-serif;
  margin-top: 0px; }

p.small {
  font-size: 11px; }

gs-overlay.product-overlay {
  display: inline-block;
  margin: 40px; }
  gs-overlay.product-overlay .overlay {
    width: 100%;
    position: relative;
    border-collapse: collapse; }
  gs-overlay.product-overlay img {
    max-width: 480px;
    max-height: 480px;
    padding: 0; }

.part-cell {
  background: rgba(80, 150, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  border: dashed 1px rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.part-cell:hover {
  background: rgba(80, 150, 255, 0.2);
  color: black;
  text-shadow: 0 0 8px white;
  border: dashed 1px rgba(255, 255, 255, 0.7); }

.part-cell.bought {
  opacity: 0;
  cursor: default; }

.part-cell.selected {
  background: rgba(80, 150, 255, 0.1);
  color: rgba(255, 255, 255, 0); }
