gs-overlay.product-overlay {
    display: inline-block;
    margin: 40px;
}
.product-overlay.overlay {
    width: 100%;
    position: relative;
    border-collapse: collapse;
}
.product-overlay.image {
    max-width: 480px;
    max-height: 480px;
}

.part-cell {
    background: rgba(80, 150, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
    border: dashed 1px rgba(255, 255, 255, 0.4);
    transition: all 0.2s;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.part-cell:hover {
    background: rgba(80, 150, 255, 0.2);
    color: rgba(0, 0, 0, 1);
    text-shadow: 0 0 8px #fff;
    border: dashed 1px rgba(255, 255, 255, 0.7);
}
/*  BOUGHT  */
.part-cell.bought {
    opacity: 0;
    cursor: default;
}
/*  SELECTED  */
.part-cell.selected {
    background: rgba(80, 150, 255, 0.1);
    color: rgba(255, 255, 255, 0);
}