.product-link.wrapper {
  /*  PRODUCT LINK INPUT  */
  /*  PRODUCT RESULT  */ }
  .product-link.wrapper .search.wrapper {
    margin: 110px auto 20px auto;
    text-align: center; }
  .product-link.wrapper .result.wrapper {
    text-align: center; }
    .product-link.wrapper .result.wrapper .image {
      max-width: 480px;
      max-height: 480px;
      display: inline-block;
      padding: 20px; }
      .product-link.wrapper .result.wrapper .image img {
        padding: 0; }
    .product-link.wrapper .result.wrapper .details {
      width: 480px;
      padding: 20px;
      display: inline-block;
      vertical-align: top;
      text-align: left; }
    .product-link.wrapper .result.wrapper .title {
      display: block;
      font-weight: 300;
      font-size: 200%;
      margin-bottom: 20px; }
    .product-link.wrapper .result.wrapper .price {
      display: block; }
    .product-link.wrapper .result.wrapper .submit {
      display: block;
      margin: 30px auto; }
