gs-overlay.product-overlay {
    display: inline-block;
}
.product-overlay.overlay {
    width: 100%;
    position: relative;
}

.part-cell {
    background: rgba(80, 150, 255, 0.2);
    border: dashed 1px rgba(255, 255, 255, 0.4);
    transition: all 0.2s;
}
.part-cell:hover {
    background: rgba(0, 0, 0, 0);
    border: dashed 1px rgba(255, 255, 255, 0);
}
/*  BOUGHT  */
.part-cell.bought {
    background: rgba(80, 150, 255, 0);
    border: dashed 1px rgba(255, 255, 255, 0);
    transition: all 0.2s;
}