@import "../static-pages"

div.about
  .headerwrap
    background: url("/assets/about/img/about-bg.jpg") no-repeat center top

  .main
    text-align: left

    h2
      text-align: center

  .member-item
    display: inline-block
    padding: 20px
    text-align: center
    width: 33%
    vertical-align: top

    img
      max-width: 100%

    h4
      font-size: 1em

  ul
    display: table
    margin: 0 auto
    text-align: left

  .mission
    font-family: "Roboto", sans-serif
    font-size: 1.125em
    span
      display: block
      margin-left: 50px

  .milestones
    table
      margin: 0 auto
      text-align: left

      td
        font-size: 1.125em
        padding: 10px

  .font
    font-family: "Roboto", sans-serif
    font-size: 1.125em

  a
    font-size: 1em
    -webkit-text-size-adjust: none