@import "../../base"

gs-image-upload
  //height: 100%
  display: block
  width: 100%

  div.image-upload.wrapper
    height: 0
    padding-bottom: 100%
    canvas
      background-image: url("/assets/camera_bg.png")
      background-size: cover
      cursor: all-scroll
      +transform(scale(0.5) translate(-50%, -50%))
    div.uploader
      position: relative;
      top: 3rem;
  input.thanks-image-input
    display: none


gs-image-upload.white-buttons
  div.image-upload.wrapper
    div.uploader
      button
        border-color: #fff
        background-color: #fff
        color: $primary-color
      button:hover
        color: $primary-color-highlight
      button.rotate
        background-image: url("/assets/rotate_button_primary.png")
      button.image
        background-image: url("/assets/camera_button_primary.png")

