/* Fluid Layout */
/* NEEDS TO FINISHED - SEPT 15 by @fedora */
.fluid {
	/*
	 .body {
		margin: 0 auto;
		@media (min-width: ___px) {
			max-width: ___px;
		}
		@media (min-width: ___px) {
			max-width: ___px;
		}
		@media (min-width: ___px) {
			max-width: ___px;
		}
	}
	*/
}

