<!--<div class="product-link wrapper" ng-controller="ProductLinkController">-->
<div id="product-search-anchor" class="product-link">
    <div class="search wrapper">
        <span class="inputs">
            <input id="product-search-input" class="text-input" type="text" name="product-link" placeholder="Search here for the perfect gift..." ng-model="product_url" ng-keyup="$event.keyCode == 13 ? submit() : null"/><button id="product-search-button" class="submit" ng-click="submit()">Shop</button>
        </span>
    </div>

    <div class="loading" ng-show="loading">
        <img src="/assets/loading.gif"/>
    </div>

    <div class="failed" ng-show="failed">
        <img src="/assets/failed.png"/>
        <div>
            <p>Looks like that search term didn’t find any results.</p><p>Please try a more specific term, or email our gift concierge at gift <a href="mailto:concierge@giftstarter.co" ng-click="giftConciergeClicked()">concierge@giftstarter.co</a> for help finding the perfect gift!</p>
        </div>
    </div>

    <div class="failed" ng-show="results_empty">
        <img src="/assets/failed.png"/>
        <div>
            <p>Looks like that search term didn’t find any results.</p><p>Please try a more specific term, or email our gift concierge at gift <a href="mailto:concierge@giftstarter.co" ng-click="giftConciergeClicked()">concierge@giftstarter.co</a> for help finding the perfect gift!</p>
        </div>
    </div>

    <section id="search-products-section" class="products" ng-class="{hidden: products.length == 0}">
        <div class="product-container" ng-class="{selected: product.selected}" ng-repeat="product in selectedProducts" ng-hide="!product.imgUrl" ng-click="showProductDetails({{$index}})">
            <div class="product">
                <div class="image-container">
                    <span class="vert-align-helper"></span>
                    <img ng-click="goToProduct($index);" ng-src="{{product.imgUrl}}"/>
                </div>
                <div class="product-details">
                    <h4 class="title" ng-click="goToProduct($index, $event);">{{product.title}}</h4>
                    <p class="retailer">From {{product.retailer}}</p>
                    <p class="description" ng-bind-html="product.description"></p>
                    <p class="price block">${{product.price / 100 | number : 2}}</p>
                </div>
                <button class="cancel" ng-click="hideProductDetails();$event.stopPropagation();">X</button>
                <div class="buttons">
                    <button class="giftstart" ng-click="startCampaignFrom($index);$event.stopPropagation();">GiftStart!</button>
                </div>
            </div>
        </div>
        <div class="page-buttons" ng-show="products.length > 10" >
            <button ng-click="decrementPage()">Previous</button><span class="page-number" ng-class="{selected: pageNumber == selectedPage}" ng-repeat="pageNumber in pageNumbers" ng-click="selectPage(pageNumber)">{{pageNumber}}</span><button ng-click="incrementPage()">Next</button>
        </div>
    </section>
    <p class="need-help-concierge" ng-hide="products.length || results_empty || failed">Can't find what you're looking for? Just contact our <a href="mailto:giftconcierge@giftstarter.co" ng-click="giftConciergeClicked()">Gift Concierge</a> and we'll find it for you.</p>
    <p class="need-help-concierge" ng-show="products.length && !results_empty && !failed">Not finding what you’re looking for? Our gift concierge would love to help! Email <a href="mailto:giftconcierge@giftstarter.co" ng-click="giftConciergeClicked()">giftconcierge@giftstarter.co</a>!</p>
</div>
