<div class="create wrapper shipping ui container main full" id="giftstart-contact-wrapper" ng-controller="GiftStartCreateController" style="margin-top: 5rem;">

    <div ng-hide="showLoginBox">
        <div ng-show="isCreateStepTiles()">
            <h2 class="state-title">How many pitch-in pieces do you want?</h2>
            <div class="state-subtitle">Create Your Gifting Event: Step 2 of 4</div>
        </div>
        <div ng-show="isCreateStepStory()">
            <h2 class="state-title">Your Gifting Event</h2>
            <div class="state-subtitle">Create Your Gifting Event: Step 3 of 4</div>
        </div>
        <div ng-show="isCreateStepShipping()">
            <h2 class="state-title">Shipping Details</h2>
            <div class="state-subtitle">Create Your Gifting Event: Step 4 of 4</div>
        </div>
    </div>

    <div class="block image">
        <div class="image-container">
            <gs-overlay giftstart="giftStart" ng-class="{initialized: pitchInsInitialized}" ng-click="selectionUpdated();"></gs-overlay>
        </div>
    </div>

    <div class="block details" ng-class="{submitting:isSubmittingData}" id="giftstart-create-controls">

        <form name="campaignForm" ng-hide="showLoginBox" novalidate class="ui form">

            <div ng-show="isCreateStepTiles()" id="num-part-selection">
                <div class="desc"><h2>Things to consider:</h2>
                    <br />How many people do you think will pitch-in on the gift? How much do you think each person will pitch-in?
                    <br />We recommend picking the smallest amount per piece because remember, a person can always buy more than one piece.</div>
                <div class="more-parts">
					Add <br/>Pieces<br/>
					<button ng-click="moreParts($event)" class="circular ui icon button large">
  						<i class="icon plus large"></i>
					</button>
                </div>
                <div class="fewer-parts">
					Remove <br/>Pieces<br/>
					<button ng-click="fewerParts($event)" class="circular ui icon button large">
  						<i class="icon minus large"></i>
					</button>   
                </div>

				<div class="fewer-parts-mobile">
					Remove <br/>Pieces
                    <br/>
					<button ng-click="fewerParts($event)" class="circular ui icon button large">
  						<i class="icon minus large"></i>
					</button>                
				</div>
                <span class="parts-control">
					<span class="numtiles"> {{x*y}} Pieces</span>
                	<span class="money" ng-hide="fetchingTaxRate"> ${{ totalPrice/100/x/y | number : 2 }} 
						<img class="loading"  src="/assets/loading.gif" ng-show="fetchingTaxRate"/> each* <span class="tax-note">(+tax)</span>
					</span>
                </span>
                <!-- button class="help float-right" ng-click="help()">Help</button -->
                <span class="disclaimer">* Shipping is included.</span>
            </div>

            <div ng-show="isCreateStepStory()">
                <h2>1. What's the gifting event?</h2>
                <div class="field ui left icon input" style="width:100%">
                    <i class="gift icon"></i>
                    <input type="text" id="campaign-title" name="title" placeholder="What's the occasion?" maxlength="140" ng-model="title" ng-focus="hideValidationError.title = true" ng-blur="hideValidationError.title = false" onkeypress="return event.keyCode==13?false:true" required="" />
                </div>

                <div ng-show="(campaignForm.$submitted || campaignForm.title.$touched || validationTrigger.createButtonClicked) && !hideValidationError.title" class="errorWrapper">
                    <div ng-show="campaignForm.title.$error.required">
                        <div class="arrowUp"></div>
                        <div class="errorMessage">
                            Don't forget to name the gifting event.
                        </div>
                    </div>
                </div>
                <h2>2. Describe your gifting event.</h2>
                <textarea id="campaign-description" name="description" placeholder="Who's the gift for? What's your relationship? Why this gift?" maxlength="500" ng-focus="hideValidationError.description = true" ng-blur="hideValidationError.description = false" ng-model="description" ng-blur="onDescriptionBlur()" required=""></textarea>
                <label for="campaign-description">500 character maximum (3-5 sentences)</label>
                <div ng-show="(campaignForm.$submitted || campaignForm.description.$touched || validationTrigger.createButtonClicked) && !hideValidationError.description" class="errorWrapper">
                    <div ng-show="campaignForm.description.$error.required">
                        <div class="arrowUp"></div>
                        <div class="errorMessage">
                            Don't forget to describe the event.
                        </div>
                    </div>
                </div>
                <div id="not-long-enough" ng-hide="descriptionLongEnough">
                    <p>Woah there. Looks like your GiftStart description is a bit short. 
						We know, brevity is the soul of wit - but how about we add to the story to get people more involved? 
						Here are a few questions for inspiration:
					</p>
                    <ul>
                        <li>Why does the recipient deserve this gift?</li>
                        <li>Is there a story behind the gift or why the recipient might need/want it?</li>
                        <li>What is special/awesome/interesting/unique about this product?</li>
                    </ul>
                </div>
                <div class="email">
                    <h2>3. Your Email Address</h2>
                    <input type="email" id="contact-email" placeholder="username@mail.com" name="gcEmail" ng-model="gcEmail" ng-focus="hideValidationError.gcEmail = true" ng-blur="hideValidationError.gcEmail = false" onkeypress="return event.keyCode==13?false:true" required="">
                    <div ng-show="(campaignForm.$submitted || campaignForm.gcEmail.$touched || validationTrigger.createButtonClicked) && !hideValidationError.gcEmail" class="errorWrapper">
                        <div ng-show="campaignForm.gcEmail.$error.required">
                            <div class="arrowUp"></div>
                            <div class="errorMessage">
                                Don't forget your email address.
                            </div>
                        </div>
                        <div ng-show="campaignForm.gcEmail.$error.email">
                            <div class="arrowUp"></div>
                            <div class="errorMessage">
                                That email address doesn't look right.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="isCreateStepShipping()">
                <h2>1. Who is the Gift for?</h2>
                <!-- label>All prices include taxes, shipping, and handling, based on destination.</label -->
                <div class="shipping-details">
                    <div class="ui left icon input">
                        <span class="name">
                        <input type="text"
                               placeholder="First and Last Name"
                               ng-model="shippingName"
                               name="shippingName"
                               ng-focus="hideValidationError.shippingName = true"
                               ng-blur="hideValidationError.shippingName = false"
                               onkeypress="return event.keyCode==13?false:true"
                               required="" />
                        <div ng-show="(campaignForm.$submitted || campaignForm.shippingName.$touched || validationTrigger.createButtonClicked) && !hideValidationError.shippingName " class="errorWrapper">
                            <div ng-show="campaignForm.shippingName.$error.required">
                                <div class="arrowUp"></div>
                                <div class="errorMessage">
                                    Don't forget their name.
                                </div>
                            </div>
                        </div>
                    </span>
                    </div>
                    <div class="ui left icon input">
                        <span class="email">
                        <input type="email"
                               ng-model="shippingEmail"
                               name="shippingEmail"
                               placeholder="Email Address*"
                               ng-focus="hideValidationError.shippingEmail = true"
                               ng-blur="hideValidationError.shippingEmail = false"
                               onkeypress="return event.keyCode!=13"
                               required="" />
                        <label>* An email will only be sent after the gift is received</label>
                        <div ng-show="(campaignForm.$submitted || campaignForm.shippingEmail.$touched || validationTrigger.createButtonClicked) && !hideValidationError.shippingEmail" class="errorWrapper">
                            <div ng-show="campaignForm.shippingEmail.$error.required">
                                <div class="arrowUp"></div>
                                <div class="errorMessage">
                                    Don't forget their email address.
                                </div>
                            </div>
                            <div ng-show="campaignForm.shippingEmail.$error.email">
                                <div class="arrowUp"></div>
                                <div class="errorMessage">
                                    That email address is not quite right.
                                </div>
                            </div>
                        </div>
                    </span>
                    </div>

                    <h2>2. Where should the Gift be shipped?</h2>
                    <span class="state">
                        <select class="state"
                                ng-model="shippingState"
                                name="shippingState"
                                required=""
                                ng-change="shippingChanged()"
                                ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                ng-focus="hideValidationError.shippingState = true"
                                ng-blur="hideValidationError.shippingState = false"
                                onkeypress="return event.keyCode==13?false:true"
                                >
                            <option value="">State</option>
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                        <div ng-show="(campaignForm.$submitted || campaignForm.shippingState.$touched || validationTrigger.createButtonClicked) && !hideValidationError.shippingState" class="errorWrapper">
                            <div ng-show="campaignForm.shippingState.$error.required">
                                <div class="arrowUp"></div>
                                <div class="errorMessage">
                                    Don't forget to add the state.
                                </div>
                            </div>
                        </div>
                    </span>
                    <span class="zip">
                        <input type="text"
                               class="zip"
                               name="shippingZip"
                               placeholder="Zip Code"
                               minlength="5" maxlength="5"
                               ng-model="shippingZip"
                               required=""
                               ng-change="shippingChanged()"
                               ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                               ng-focus="hideValidationError.shippingZip = true"
                               ng-blur="hideValidationError.shippingZip = false"
                               onkeypress="return event.keyCode==13?false:true" />
                        <div ng-show="(campaignForm.$submitted || campaignForm.shippingZip.$touched || validationTrigger.createButtonClicked) && !hideValidationError.shippingZip" class="errorWrapper">
                            <div ng-show="campaignForm.shippingZip.$error.required">
                                <div class="arrowUp"></div>
                                <div class="errorMessage">
                                    Don't forget to add the zip.
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="campaign-length">
                    <h2>3. When do you need the gift to be delivered?</h2>
                    <label>Currently we only allow delivery dates less than 34 days away.</label>
                    <h4>Delivery Date</h4>
                    <input ui-date type="text" class="endDate" ng-model="deliveryDate" name="deliveryDate" placeholder="mm/dd/yyyy" ng-focus="hideValidationError.deliveryDate = true" ng-blur="hideValidationError.deliveryDate = false; deliveryDateChanged()" required="">
                    <div ng-show="(campaignForm.$submitted || campaignForm.deliveryDate.$touched || validationTrigger.createButtonClicked) && !hideValidationError.deliveryDate" class="errorWrapper">
                        <div ng-show="campaignForm.deliveryDate.$error.required">
                            <div class="arrowUp"></div>
                            <div class="errorMessage">
                                Please select a date.
                            </div>
                        </div>
                        <div ng-show="!dateChosenValid()">
                            <div class="arrowUp"></div>
                            <div class="errorMessage">
                                Please select a date.
                            </div>
                        </div>
                    </div>
                    <h2 ng-hide="dueDateEmpty()">4. Campaign End Date <!--a class="button" ng-click="changeDueDate = !changeDueDate">Change</a--></h2>
                    <p class="endDate-text" ng-hide="dueDateEmpty()">Your campaign will end on</p>
					<a class="ui teal tag label endDate-date" ng-hide="dueDateEmpty()"><i class="calendar icon"></i> {{campaignEndDate.toDateString()}}</a>
                    <p class="endDate-text" ng-hide="dueDateEmpty()">.</p>
                    <p id="endDate-comment" ng-hide="dueDateEmpty()">Your campaign needs to end at least 5 days before your delivery date.</p>
                    <div ng-show="changeDueDate" class="endRange" ng-class="{opaque: dueDateEmpty()}" ui-date></div>
                </div>

				
				<div class="coupon-code">
                    <h2>5. Do you have a promo code?</h2>
                    <input type="text" id="coupon" name="coupon" placeholder="Enter your code" maxlength="20" ng-model="coupon" ng-focus="hideValidationError.code = true" ng-blur="hideValidationError.code = false;" onkeypress="return event.keyCode==13?false:true" ng-change="priceChanged()" />
                </div>
                <div class="price-block">
                    <h2>Price
						<a class="ui price tooltip" for="tooltip-checkbox" data-content="The price of the gift at the time of creation will be used to determine the gift base price.">
							<i class="info circle icon"></i>
                        </a>
					</h2>
                    <label>
                        Base price of the gift.
                        <input type="checkbox" id="tooltip-checkbox" />
                    </label>

                    <div class="ui statistic">
                        <div class="value">
                            <i class="ui dollar icon grey"></i> {{inputPrice}}
                        </div>
                    </div>
                </div>
                <div class="total-price-block">
                    <h2>Total Price</h2>
                    <label>Includes fees & taxes.</label>
                    <div class="ui statistic">
                        <div class="value" ng-hide="fetchingTaxRate || !shippingDetailsSubmitted">
                            <i class="ui dollar icon green"></i> {{ totalPrice/100 | number : 2 }}
                        </div>
                    <img class="loading" src="/assets/loading.gif" ng-show="fetchingTaxRate" />
                    </div>
                </div>
            </div>

        </form>

        <div ng-show="showLoginBox" class="login-box grid aligned centered center">
            <ng-include src="'/scripts/login/login-or-create.html'" ng-repeat="showCreate in [true]"></ng-include>
        </div>

    </div>

    <div class="progress-nav" ng-hide="showLoginBox">
        <div class="back-indicator" ng-class="{'hidden': isCreateStepTiles()}">
            <img id="giftstart-create-prev" class="linky prev" ng-click="prevStep()" src="/assets/circle_black_lt.png">
            <br/>Previous
            <br/>Step</div>
        <div class="step-indicator">
            <img src="/assets/circle_green_check.png" alt="Find a gift" />
            <br/>Find
            <br/>a Gift</div>
        <img class="step-indicator-divider" src="/assets/hbar_black.png" />
        <div class="step-indicator">
            <img ng-hide="isCreateStepStory()||isCreateStepShipping()" src="/assets/circle_black.png" alt="Adjust the tiles" />
            <img ng-show="isCreateStepStory()||isCreateStepShipping()" src="/assets/circle_green_check.png" class="linky" ng-click="goToStep(1)" alt="Adjust the pieces" />
            <br/>Adjust
            <br/>the pieces</div>
        <img class="step-indicator-divider" src="/assets/hbar_black.png" />
        <div class="step-indicator">
            <img ng-hide="isCreateStepShipping()" src="/assets/circle_black.png" alt="Tell the story" />
            <img ng-show="isCreateStepShipping()" src="/assets/circle_green_check.png" class="linky" ng-click="goToStep(2)" alt="Tell the story" />
            <br/>Tell the
            <br/>story</div>
        <img class="step-indicator-divider" src="/assets/hbar_black.png" alt="Shipping datails" />
        <div class="step-indicator back-indicator">
            <img src="/assets/circle_black.png" />
            <br/>Shipping
            <br/>details</div>
        <button id="giftstart-create-next" class="ui right labeled icon button large next" ng-hide="isCreateStepShipping()" ng-click="nextStep()">
            <i class="arrow right icon"></i>
            Continue
        </button>
        <button id="giftstart-create-submit" class="ui right labeled icon button large next secondary create-campaign" ng-show="isCreateStepShipping()" ng-click="next()">
            <i class="arrow right icon"></i>
            Continue
        </button>
    </div>

</div>
