<div class="email-share-popover" ng-controller="EmailSharePopoverController">
    <h1 class="white">Email Share!</h1>
    <div id="open-with-email-client">
        <a href="{{emailUrl}}" target="_blank" ng-click="trackEmailClientClick()">
            <span class="share">Open in email client</span>
        </a>
    </div>
    <div>
        <label>To:</label>
        <textarea ng-model="toEmails" placeholder="friend@email.com; family@email.com"></textarea>
    </div>
    <div>
        <label>From:</label>
        <input type="email" ng-model="fromEmail" placeholder="you@email.com" name="email"/>
    </div>
    <div>
        <textarea class="message" ng-model="message" placeholder="Check out this baller campaign!">
        </textarea>
    </div>
    <span class="error" ng-hide="formValid">Invalid email!</span>
    <button class="large white-border" ng-click="submit()">Send!</button>
    <div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Cancel</p></div>
</div>
