@import "../../base"

gs-email-share-popover
  div.email-share-popover
    width: 18em
    div
      margin-top: 0.25em
      text-align: left
      label
        display: block
      textarea, input
        border-width: 0
        width: 100%
        color: #000000
      textarea.message
        height: 6em
    button
      margin-top: 0.5em

    span.error
      display: block
      background: rgba(255, 255, 255, 0.2)
      margin: 0.5em 0
      padding: 0.5em
      font: $p-font
      border-radius: 0.5em

  .message-sub
    margin-left: 10px
    font-size: 12px
    line-height: 16px

#open-with-email-client
  span.share
    vertical-align: top
    text-align: center
    display: block
    text-decoration: underline