iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

#marketingbanner {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  vertical-align: middle;
  width: 100%; }
  @media only screen and (max-width: 667px) {
    #marketingbanner {
      display: none; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    #marketingbanner {
      display: none; } }
  #marketingbanner .marketingbox {
    display: inline-block;
    width: 33%; }
    #marketingbanner .marketingbox img {
      height: auto;
      width: 100%; }
