<div class="giftstart wrapper" ng-controller="GiftStartController" >

    <div class="fullwidth block">
        <div class="title">
            <h1 class="title campaign-title" ng-hide="editMode">{{giftStart.title}}</h1>
            <input class="title" ng-model="newTitle" ng-show="editMode"/>
            <span class="title edit"></span>
        </div>
    </div>

    <div class="fullwidth block">

        <div class="col2 block" ng-hide="showLoginBox||showPayBox||showSignBox">
            <div class="prodtitle">
                <a ng-href="{{giftStart.product_url}}" rel="nofollow" class="title" target="_blank" ng-click="productLinkClicked();" ng-mouseover="hideOverlay();" ng-mouseleave="showOverlay();" ng-show="giftStart.product_title">{{giftStart.product_title}}</a>
            </div>
            <div class="description">
                <span class="description edit"><textarea class="description" ng-model="newDescription" ng-show="editMode"></textarea></span>
                <span class="description makelinks" ng-hide="editMode" style="white-space: pre-line;">{{giftStart.description}}</span>
            </div>
            <div class="signature">
                <p class="name" ng-show="!editMode">
                    <span class="signature__title" ng-show=" giftStart.gc_name "> {{ giftStart.gc_name }} </span>
                </p>
                    <input class="gc-name" ng-model="newGcName" ng-show="editMode"/>
                <button class="edit" ng-show="campaignEditable && !editMode && secondsLeft > 0 && !campaignComplete()" ng-click="editMode=true;">EDIT</button>
                <div class="save"><button class="save" ng-click="updateCampaign();" ng-show="editMode">Save</button><button class="save" ng-click="editMode=false;" ng-show="editMode">X</button></div>
                <p ng-show="giftStart.gc_name.length > 0 || editMode" class="gift-champion">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gift Champion</p>
            </div>
        </div>
        <div class="overlay block" Xng-class="{shrunk: showPayBox}">
            <div class="image-upload" ng-show="editMode"><label>Upload New Image:  </label><input id="campaign-image-input" type="file" capture="camera" accept="image/*"/></div>
            <gs-overlay ng-class="{initialized: pitchInsInitialized}" giftstart="giftStart" ng-click="selectionUpdated();"></gs-overlay>
            <div class="receipt-wrap" ng-show="showPayBox">
                <div class="receipt">
                    <div class="receipt-tiles">
                        <div class="img-wrap" style="background-image:url('{{giftStart.product_img_url}}')"></div>
                        <div class="info-tiles">
                            <div class="num-tiles">{{giftStart.nSelected}} TILES</div>
                            <div class="cost-tiles">AT ${{getTileCost() / 100 | number : 2}} EACH</div>
                        </div>
                    </div>
                    <div class="receipt-total">
                        <div class="purchase-total">PURCHASE TOTAL: <div class="total-price">${{giftStart.totalSelection / 100 | number : 2}}</div></div>
                        <div class="purchase-note">Includes all costs of taxes, shipping, handling, fees, and handmade card.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box" ng-show="showLoginBox">
            <h2>Log in or create an account:</h2>
            <ng-include src="'/scripts/login/login-or-create.html'"></ng-include>
        </div>
        <div class="pay-box" ng-show="showPayBox">
            <h2>Payment Information:</h2>
            <p>We accept payment by Visa, MasterCard, Amex, or Discover.  Our payments are secure and processed by PayPal.</p>
            <ng-include src="'/scripts/pay/pay.html'"></ng-include>
        </div>
        <div class="sign-box" ng-show="showSignBox">
            <h2>Sign the Card:</h2>
            <p>Write a message to the recipient and we'll include it on the group card so they'll know part of this gift came from you. You know, giving credit where credit is due. We’re all about that.</p>
            <ng-include src="'/scripts/popover/note/note-popover.html'"></ng-include>
        </div>

        <!--ng-include src="'/scripts/share/invite-pitchin.html'"></ng-include-->

        <div class="col2 block" ng-hide="showLoginBox||showPayBox||showSignBox">
            <div class="pitch-instructions">
                <p ng-show="secondsLeft > 0 && !campaignComplete()"><span class="ordinal">1.</span> Click on the tiles you want to purchase</p>
                <p ng-show="secondsLeft > 0 && !campaignComplete()"><span class="ordinal">2.</span> Pitch in!</p>
            </div>
            <button class="pitch-in button red" ng-show="secondsLeft > 0 && !campaignComplete()" ng-class="{disabled: giftStart.totalSelection == 0}" ng-click="pitchIn()" ng-mouseover="pitchInHoverCallback()" title="{{pitchinButtonHoverMessage}}">PAY ${{giftStart.totalSelection / 100 | number : 2}} NOW</button>

            <div class="giftstart-this" ng-show="secondsLeft <= 0 || campaignComplete()">
                Would you like to give this gift to someone you know?  Click the button below to start your own campaign for this gift.<br/>
                <a class="giftstart-this-link" target="_self" href="{{giftstartThisUrl()}}"><button class="pitch-in button">GIFTSTART IT</button></a>
                <div class="saveforlater">
                    <button class="pitch-in button" ng-click="saveProdForLater();">SAVE FOR LATER <img ng-show="isSavingForLater" class="loader" src="/assets/loading_transparent.gif"></button>
                    <div class="product-message" ng-bind-html="productMessage"></div>
                </div>
            </div>

            <button class="pitch-in button green" ng-click="showShare=true" ng-hide="showShare"><span ng-hide="secondsLeft <= 0 || campaignComplete()">INVITE FRIENDS TO PITCH IN</span><span ng-show="secondsLeft <= 0 || campaignComplete()">SHARE THIS CAMPAIGN WITH FRIENDS</span></button>
            <div class="invite block">
                <h3 class="black invite-friends">Share This Campaign With Friends!</h3>
                <img class="share" src="/assets/envelope.png" ng-click="emailShare();" />
                <img class="share" src="/assets/facebookicon.png" ng-click="facebookShare();"/>
                <img class="share" src="/assets/twittericon.png" ng-click="twitterShare();" />
                <img class="share" src="/assets/googleicon.png" ng-click="googlePlusShare();" /><br/>
                Or share this link:
                <input id="share-url" type="text" value="{{campaignUrl()}}" gs-copy-url readonly/>
            </div>
        </div>
    </div>

    <div class="fullwidth block fullwidth--last">
        <div class="prices block">
            <div class="price funded">
                <h3>Gifted!</h3>
                <h2><span class="giftstart product contribution">{{giftStart.nBought}}</span> Tiles</h2>
            </div>
            <div class="price remaining">
                <h3>Needed:</h3>
                <h2><span class="giftstart product remaining">{{giftStart.nTotal-giftStart.nBought}}</span> Tiles</h2>
            </div>
            <gs-funding-bar></gs-funding-bar>
        </div>
        <div class="completion block">
            <div><h3>Time Left in Campaign:</h3></div>
            <div><h2 class="countdown" ng-class="{danger: (secondsLeft < 86400) && (secondsLeft <= 0)}">{{countdown}}</h2></div>
        </div>
    </div>

    <div id="share-panel">
        <a id="closebtn" href="" ng-show="showShare" ng-click="showShare=false">CLOSE</a>
        <ng-include src="'/scripts/share/invite-pitchin.html'" ng-show="showShare"></ng-include>
    </div>

    <gs-thanks></gs-thanks>
    <div class="groupcard">
        <div class="title title--groupcard">
            <h3 class="title__name">Group Card</h3>
            <span class="title__catchline">To sign the card, first pitch-in by purchasing some tiles above</span>
        </div>
        <div ng-repeat-start="pitchIn in pitchIns | orderBy:'-timestamp' track by $index" ng-class="{true: 'contributors--row'}[$index % 3 == 0 && !$first]" class="contributors--pre h--hide"></div>
        <div class="contributors" ng-class="{true: 'contributors--only'}[pitchIns.length == 1]">
            <div class="contributors__figure">
                <a class="contributors__link" ng-href="/users/{{pitchIn.uid}}" ng-hide="isEditing(pitchIn) && picEdit">
                    <img class="contributors__img" ng-src="{{pitchIn.img}}" />
                </a>
                <button class="userprofile__imageedit" ng-show="isEditing(pitchIn) && !picEdit" ng-click="setPicEdit(true)">Change photo</button>
                <gs-image-upload ng-show="isEditing(pitchIn) && picEdit" on-image-updated="imageUpdated"></gs-image-upload>
                <button class="userprofile__imagesave" ng-click="picSubmit()" ng-show="isEditing(pitchIn) && picEdit">Save</button>
            </div>
            <div class="contributors__info">
                <h3 class="contributors__name" ng-show="!isEditing(pitchIn)">{{pitchIn.name}}</h3>
                <input type="text" ng-model="pitchIn.name" ng-show="isEditing(pitchIn)"/>
                <p class="contributors__info" ng-show="!isEditing(pitchIn)">{{pitchIn.note}}</p>
                <textarea ng-model="pitchIn.note" ng-show="isEditing(pitchIn)"/>
            </div>
            <div class="contributors__edit">
              <button class="contributors__edit__button" ng-show="pitchIn.uid == userId && !isEditing(pitchIn) && commentEditing.length == 0" ng-click="editingComment(pitchIn, true)">EDIT</button>
              <button class="contributors__edit__button" ng-show="isEditing(pitchIn)" ng-click="cancelEditComment(pitchIn)">CANCEL</button>
                <button class="contributors__edit__button savebtn" ng-show="isEditing(pitchIn)" ng-disabled="picUploading" ng-click="editingComment(pitchIn, false)">SAVE</button>
            </div>
        </div>
        <div ng-repeat-end class="h--hide"></div>
        <p class="nocontributors" ng-hide="pitchIns.length > 0">No contributors yet - be the first one on the card!</p>
    </div>
    <div ng-show="campaignComplete()" class="btn btn--pdf">
        <a href="" ng-click="toPDFPage()" class="btn__link">
            View Card PDF
        </a>
    </div>
</div>
