<div class="giftstart wrapper ui container main pad" ng-controller="GiftStartController">

    <div class="fullwidth block">
        <div class="title">
            <h1 class="title campaign-title" ng-hide="editMode">{{giftStart.title}}</h1>
            <input class="title" ng-model="newTitle" ng-show="editMode" />
            <span class="title edit"></span>
        </div>
    </div>

    <div class="fullwidth block">
        <div class="col2 ui card block" ng-hide="showLoginBox||showPayBox||showSignBox||showShareBox" style="padding: initial;">
            <div class="content">
                <div class="header">
                    <a ng-href="{{giftStart.product_url}}" rel="nofollow" class="title" target="_blank" ng-click="productLinkClicked();" ng-mouseover="hideOverlay();" ng-mouseleave="showOverlay();" ng-show="giftStart.product_title">
			{{giftStart.product_title}}
		</a>
                </div>
            </div>
            <div class="content">
                <div class="ui dscription">
                    <div class="description">
                        <span class="description edit"><textarea class="description" ng-model="newDescription" ng-show="editMode"></textarea></span>
                        <span class="description makelinks" ng-hide="editMode" style="white-space: pre-line;">{{giftStart.description}}</span>
                    </div>
                    <div class="meta">
                        <p class="name" ng-show="!editMode">
                            <span class="signature__title" ng-show=" giftStart.gc_name "> {{ giftStart.gc_name }} </span>
                        </p>
                        <input class="gc-name" ng-model="newGcName" ng-show="editMode" />
                    </div>

                </div>
            </div>
            <a class="ui bottom attached button icon" ng-show="campaignEditable && !editMode && secondsLeft > 0 && !campaignComplete()" ng-click="editMode=true;">
                <i class="edit icon"></i> Edit
            </a>
            <a class="save ui bottom attached button icon" ng-click="updateCampaign();" ng-show="editMode">
                <i class="save icon"></i>Save
            </a>
        </div>


        <div class="gs-overlay block" Xng-class="{shrunk: showPayBox}">
            <div class="image-upload" ng-show="editMode">
                <label>Upload New Image:</label>
                <input id="campaign-image-input" type="file" capture="camera" accept="image/*" />
            </div>
            <gs-overlay ng-class="{initialized: pitchInsInitialized}" giftstart="giftStart" ng-click="selectionUpdated();"></gs-overlay>
            <div class="receipt-wrap" ng-show="showPayBox" style="margin: 0">
                <div class="receipt ui card ">
                    <div class="receipt-tiles content">
                        <div class="img-wrap image" style="background-image:url('{{giftStart.product_img_url}}')"></div>
                        <div class="info-tiles">
                            <h2 class="num-tiles">{{giftStart.nSelected}} Pieces</h2>
                            <h4 class="cost-tiles">at  ${{getTileCost() / 100 | number : 2}} Each</h4>
                        </div>
                    </div>
                    <div class="receipt-total">
                        <h4 class="purchase-total header">Purchase Total: </h4>
                        <p class="purchase-note meta">Includes our gift concierge service, taxes, shipping, handling, and handmade card.</p>
                    </div>
					<div class="extra content">
     				 	<h2 class="total-price aligned center ui"><i class="dollar icon green"></i>{{giftStart.totalSelection / 100 | number : 2}}</h2>
  					</div>
                </div>
            </div>
        </div>
        <div class="login-box ui aligned centered center grid" ng-show="showLoginBox">
            <a class="label basic ui icon aligned center middle" ng-click="switchLoginBox(false)">
                <i class="cancel icon"></i> Cancel - take me back
            </a>
            <ng-include src="'/scripts/login/login-or-create.html'"></ng-include>
        </div>
        <div class="pay-box" ng-show="showPayBox">
            <p>Your payments are secure and processed by PayPal.</p>
            <ng-include src="'/scripts/pay/pay.html'"></ng-include>
        </div>
        <div class="sign-box" ng-show="showSignBox">
            <h2>Sign the Card:</h2>
            <p>Write a message to the recipient and we'll include it on the group card so they'll know part of this gift came from you. You know, giving credit where credit is due. We’re all about that.</p>
            <ng-include src="'/scripts/popover/note/note-popover.html'"></ng-include>
        </div>
        <div class="share-box" ng-show="showShareBox">
            <h2>Share with Friends:</h2>
            <p>Your payment was successful! Thank you. You will receive an email shorty. In the meantime, you can invite friends to pitch in just like you did.</p>
            <a class="pitch-in ui button icon">
                <i class="friends icon"></i> Invite friends to pitchin
            </a>
            <a href="" ng-click="shareBox(false)">Skip this step</a>
        </div>

        <!--ng-include src="'/scripts/share/invite-pitchin.html'"></ng-include-->

        <div class="col2 block" ng-hide="showLoginBox||showPayBox||showSignBox||showShareBox">
            <div class="pitch-instructions" ng-show="secondsLeft > 0 && !campaignComplete()">
                <div class="ordinal_circle">
                    <span class="ordinal">1</span>
                </div>
                <h4>Click the pieces you want to buy</h4>
                <br/>
                <div class="ordinal_circle">
                    <span class="ordinal">2</span>
                </div>
                <h4> Pitch In</h4>
            </div>
            <button class="ui pitch-in button huge teal icon" ng-show="secondsLeft > 0 && !campaignComplete()" ng-class="{disabled: giftStart.totalSelection == 0}" ng-click="pitchIn()" ng-mouseover="pitchInHoverCallback()" title="{{pitchinButtonHoverMessage}}">
                <i class="gift right icon"></i> Pitch In <span class="hidden">${{giftStart.totalSelection / 100 | number : 2}}</span>
            </button>

            <div class="giftstart-this" ng-show="secondsLeft <= 0 || campaignComplete()">
                Would you like to give this gift to someone you know? Click the button below to start your own campaign for this gift.
                <br/>
                <a class="giftstart-this-link" target="_self" href="{{giftstartThisUrl()}}">
                    <button class="pitch-in ui button teal">GiftStart It</button>
                </a>
                <div class="saveforlater">
                    <button class="ui pitch-in button ico large" ng-click="saveProdForLater();">
                        <i class="bookmark icon"></i> Save For Later
                        <img ng-show="isSavingForLater" class="loader" src="/assets/loading_transparent.gif">
                    </button>
                    <div class="product-message" ng-bind-html="productMessage"></div>
                </div>
            </div>

            <button class="ui invite-friends button blue large fluid icon">
                <span ng-hide="secondsLeft <= 0 || campaignComplete()">
						<i class="users right icon"></i>
						Invite Friends
					</span>
                <span ng-show="secondsLeft <= 0 || campaignComplete()">
						<i class="external right share icon"></i>
						Share This Campaign
					</span>
            </button>
            <!--div class="invite block">
                <h3 class="black invite-friends">Share This Campaign With Friends!</h3>
                <img class="share" src="/assets/envelope.png" ng-click="emailShare();" />
                <img class="share" src="/assets/facebookicon.png" ng-click="facebookShare();"/>
                <img class="share" src="/assets/twittericon.png" ng-click="twitterShare();" />
                <img class="share" src="/assets/googleicon.png" ng-click="googlePlusShare();" /><br/>
                Or share this link:
                <input id="share-url" type="text" value="{{campaignUrl()}}" gs-copy-url readonly/>
            </div-->
        </div>
    </div>

<div class="container ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
	<div class="center aligned row ui grid stackable">
        <div class="prices block column ui">
            <gs-funding-bar></gs-funding-bar>
            <div class="price funded column">
                <h2><span class="giftstart product contribution">{{giftStart.nBought}}</span> Pieces</h2>
                <h4>Gifted</h4>
            </div>
            <div class="block column ui">
                <h2><span class="giftstart product remaining">{{giftStart.nTotal-giftStart.nBought}}</span> Pieces</h2>
                <h4>Remaining</h4>
            </div>
        </div>
        <div class="completion block">
            <p>This campaign ends {{giftStart.deadline*1000 | date:"MMMM d 'at' ha PST" : 'PST'}}</p>
            <div>
                <h2 class="countdown" ng-class="{danger: (secondsLeft < 86400) && (secondsLeft <= 0)}">{{countdown}}</h2>
                <h4 ng-hide="secondsLeft <= 0 || campaignComplete()">Left for Pitch-ins</h4>
            </div>
        </div>
	</div>
    </div>
</div>

    <div id="share-panel">
        <a id="closebtn" href="" ng-show="showShare" ng-click="showSharePanel(false)">Close</a>
        <ng-include src="'/scripts/share/invite-pitchin.html'" ng-show="showShare"></ng-include>
    </div>


    <gs-thanks></gs-thanks>
    <div class="groupcard">
        <div class="title title--groupcard">
            <h2 class="title__name">Group Card</h2>
            <span class="title__catchline">To sign the card, first pitch-in by purchasing some pieces above</span>
        </div>
        <div ng-repeat-start="pitchIn in pitchIns | orderBy:'-timestamp' track by $index" class="h--hide"></div>
        <div class="contributors {{randomColor($index)}}">
            <div class="contributors__titleblock {{randomColor($index)}}"></div>
            <div class="contributors__figure">
                <a class="contributors__link" ng-href="/users/{{pitchIn.uid}}" ng-hide="isEditing(pitchIn) && picEdit">
                    <img class="contributors__img" ng-src="{{pitchIn.img}}" />
                </a>
                <a class="userprofile__imageedit button" ng-show="isEditing(pitchIn) && !picEdit" ng-click="setPicEdit(true)">Change photo</a>
                <gs-image-upload ng-show="isEditing(pitchIn) && picEdit" on-image-updated="imageUpdated"></gs-image-upload>
                <a class="userprofile__imagesave button" ng-click="picSubmit()" ng-show="isEditing(pitchIn) && picEdit">Save</a>
            </div>
            <div class="contributors__info">
                <h4 class="contributors__name" ng-show="!isEditing(pitchIn)">{{pitchIn.name}}</h4>
                <input type="text" ng-model="pitchIn.name" ng-show="isEditing(pitchIn)" placeholder="Name" />
                <p class="contributors__info" ng-show="!isEditing(pitchIn)">{{pitchIn.note}}</p>
                <textarea ng-model="pitchIn.note" ng-show="isEditing(pitchIn)" placeholder="Comment" />
                <p id="textcount" ng-show="isEditing(pitchIn)">{{230 - pitchIn.note.length}}</p>
            </div>
            <div class="contributors__edit">
                <a class="contributors__edit__button button" ng-show="pitchIn.uid == userId && !isEditing(pitchIn) && commentEditing.length == 0" ng-click="editingComment(pitchIn, true)">
					Edit
				</a>
                <a class="contributors__edit__button button" ng-show="isEditing(pitchIn)" ng-click="cancelEditComment(pitchIn)">
					Cancel
				</a>
                <button class="contributors__edit__button savebtn red" ng-show="isEditing(pitchIn)" ng-disabled="picUploading || pitchIn.note.length > 230 || pitchIn.name.length > 38 || pitchIn.name.length < 1" ng-click="editingComment(pitchIn, false)">
                    Save
                </button>
            </div>
        </div>
        <div ng-repeat-end class="h--hide"></div>
        <p class="nocontributors" ng-hide="pitchIns.length > 0">No contributors yet - time for <em>you</em>  to be the trend setter.</p>
    </div>
    <div ng-show="secondsLeft <= 0 || campaignComplete()" class="btn btn--pdf ui container">
        <a href="" ng-click="toPDFPage()" class="ui button icon labeled">
            <i class="pdf icon red"></i> View Card
        </a>
    </div>
</div>
