iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

gs-email-share-popover div.email-share-popover {
  width: 18em; }
  gs-email-share-popover div.email-share-popover div {
    margin-top: 0.25em;
    text-align: left; }
    gs-email-share-popover div.email-share-popover div label {
      display: block; }
    gs-email-share-popover div.email-share-popover div textarea, gs-email-share-popover div.email-share-popover div input {
      border-width: 0;
      width: 100%;
      color: #000000; }
    gs-email-share-popover div.email-share-popover div textarea.message {
      height: 6em; }
  gs-email-share-popover div.email-share-popover button {
    margin-top: 0.5em; }
  gs-email-share-popover div.email-share-popover span.error {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    margin: 0.5em 0;
    padding: 0.5em;
    font: 16px / 2 Gotham, sans-serif; }
gs-email-share-popover .message-sub {
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px; }

#open-with-email-client span.share {
  vertical-align: top;
  text-align: center;
  display: block;
  text-decoration: underline; }
