<div id="giftideas">

    <h1 ng-show="!category">Top Categories for Group Gifting</h1>

    <div ng-show="!category" class="grid categories">
        <div class="group left">
            <div class="tile"><a href="/giftideas/birthday"><img src="/assets/giftideas/category/Birthday.jpg" /><div class="tilelabel">Birthdays</div></a></div>
            <div class="tile"><a href="/giftideas/wedding"><img src="/assets/giftideas/category/Wedding.jpg" /><div class="tilelabel">Wedding</div></a></div>
        </div>
        <div class="group right">
            <div class="tile"><a href="/giftideas/baby"><img src="/assets/giftideas/category/Baby.jpg" /><div class="tilelabel">Baby Shower</div></a></div>
            <div class="tile"><a href="/giftideas/office"><img src="/assets/giftideas/category/Office.jpg" /><div class="tilelabel">For the Office</div></a></div>
        </div>
    </div>

    <div ng-show="category && !product" class="products">
        <div class="head">
            <div class="hero">
                <img src="/assets/giftideas/category/{{category.categorySlug}}-hero.jpg">
            </div>
            <div class="titles">
                <h1><span ng-bind-html="category.categoryName"></span></h1>
                <h3>Our Favorite Gifts & Most Popular GiftStarts</h3>
                <p><span ng-bind-html="category.categoryBlurb"></span><p>
            </div>
            <p></p>
        </div>
        <div class="grid">
            <div ng-repeat="group in groups" class="group" ng-class-odd="'left'" ng-class-even="'right'">
                <div ng-repeat="product in group" class="tile" title="{{product.productNameStripped}}"><a href="{{path}}/{{product.productSlug}}"><img src="/assets/giftideas/category{{product.productThumb}}" alt="{{product.imageAltText}}" /><div class="tilelabel"><span ng-bind-html="product.productNameShort"></span><br/><span class="price">${{product.productPrice}}</span></div></a></div>
            </div>
        </div>
    </div>

    <div ng-show="product" class="singleproduct">
        <div class="head">
            <div class="hero">
                <img src="/assets/giftideas/category{{product.productImage}}" alt="{{product.imageAltText}}">
            </div>
            <div class="titles">
                <h1 class="textleft"><span ng-bind-html="product.productName"></span></h1>
                <h5 class="textleft">${{product.productPrice}}</h5>
                <h4 class="textleft"><span ng-bind-html="product.productDescription"></span></h4>
                <a href="{{product.giftStartLink}}" class="button main rounded">GIFTSTART IT!</a>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>

</div>