<div id="giftideas">

    <div ng-show="product" class="singleproduct">
        <div class="head">
            <div class="hero">
                <div class="ui one cards">
                    <a class="red card">
                        <div class="image">
                            <img src="/assets/giftideas/category{{product.productImage}}" alt="{{product.imageAltText}}">
                        </div>
                    </a>
                </div>
            </div>
            <div class="titles">
                <button ng-click="goToLink(product.giftStartLink)" target="_self" class="primary ui huge button icon primary top attached" ng-show="product.hasPrice">
                    <i class="gift icon"></i>
                    Gift It
                </button>
                <div class="scrollbox ui segment card attached">
                    <div class="content">
                        <div class="header"><span ng-bind-html="product.productName"></span>
                        </div>
                        <div class="meta">${{product.productPrice}}</div>
                        <div class="description"><span ng-bind-html="product.productDescription"></span>
                        </div>
                    </div>
                </div>
                <button onclick="olark('api.box.expand')" class="primary ui button" ng-show="!product.hasPrice">Contact The Gift Concierge</button>
                <div ng-show="product.hasPrice" class="saveforlater">
                    <button ng-click="saveGiftIdeaForLater(product);" class="ui icon small button bottom attached" ng-show="product.hasPrice">
                        <i class="bookmark icon"></i>
                        Save for Later
                        <img ng-show="isSavingForLater" class="loader" src="/assets/loading_transparent.gif">
                    </button>
                    <div class="product-message" ng-bind-html="productMessage"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div ng-show="category" class="products">
        <div class="ui stackable four column grid">
            <div class="eight wide column">
                <h2 class="ui center aligned header" ng-show="!product">
  			<img class="ui circular image" src="/assets/giftideas/category/{{category.categorySlug}}.jpg" alt="{{category.categorySlug}}" style="    display: block; margin: 0 auto .5rem;width: 57%;">
		</h2>
            </div>
            <div class="eight wide column" ng-show="!product">
                <div class="ui piled segment padded center aligned secondary">
                    <h2 class="center aligned header">
  			{{category.categoryName}}
		</h2>
                    <span ng-bind-html="category.categoryBlurb"></span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="grid">
            <div ng-repeat="group in groups" class="group ui two stackable cards" ng-class-odd="'left'" ng-class-even="'right'">
                <div ng-repeat="product in group" ng-class="{'last':product==lastProduct&&group.length==1}" class='ui link card tile' title="{{product.productNameStripped}}">
                    <a href="{{categoryPath}}/{{product.productSlug}}" class="image">
                        <img src="/assets/giftideas/category{{product.productThumb}}" alt="{{product.imageAltText}}" class="load" />
                        <div class="content">
                            <a class="header" ng-bind-html="product.productNameShort"></a>
                            <div class="meta">${{product.productPrice}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <h1 class="vertical medium top bottom">Top Categories</h1>
    <div class="categories ui four stackable link cards">

        <div class="card">
            <a class="image" href="/giftideas/music">
                <img src="/assets/giftideas/category/music.jpg" alt="Music" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/music">Music</a>
                <div class="description">
                    Looking for the perfect gift for someone who has everything or loves the gift of music?
                </div>
            </div>
            <div class="extra content">
                <a class="center" href="/giftideas/music">
                    <i class="unhide icon"></i> View Music
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/luma">
                <img src="/assets/giftideas/category/luma-diamonds.jpg" alt="Luma Diamonds" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/luma">Luma Diamonds</a>
                <div class="description">
                    With such a variety of beautiful pieces, there is sure to be one perfect for the deserving individual in your life.
                </div>
            </div>
            <div class="extra content">
                <a class="center" href="/giftideas/luma">
                    <i class="unhide icon"></i> View Luma
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/kids">
                <img src="/assets/giftideas/category/kids.jpg" alt="Kids" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/kids">Kids</a>
                <div class="description">
                    We've picked out some of the very best kid gifts that are sure to delight a little one in your life.
                </div>
            </div>
            <div class="extra content">
                <a class="center" href="/giftideas/kids">
                    <i class="unhide icon"></i> View Kids
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/home">
                <img src="/assets/giftideas/category/home.jpg" alt="Home" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/home">Home</a>
                <div class="content">
                    These gift ideas will help to make any house feel more like a home!
                </div>
            </div>
            <div class="extra content">
                <a class="center" href="/giftideas/home">
                    <i class="unhide icon"></i> View Home
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/cute">
                <img src="/assets/giftideas/category/cute.jpg" alt="Cute" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/cute">Cute</a>
                <div class="description">
                    Know someone who absolutely loves cute things? This is the place for that kind of stuff.
                </div>
            </div>
            <div class="extra content bottom button attached">
                <a class="center" href="/giftideas/cute">
                    <i class="view icon"></i> View Cute
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/baby">
                <img src="/assets/giftideas/category/Baby.jpg" alt="Baby" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/baby">Baby</a>
                <div class="description">
                    Hand picked and curated by moms all over for the best experience for both baby & mom.
                </div>
            </div>
            <div class="extra content bottom button attached">
                <a class="center" href="/giftideas/baby">
                    <i class="view icon"></i> View Baby
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/forher">
                <img src="/assets/giftideas/category/forHer.jpg" alt="For Her" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/forher">For Her</a>
                <div class="description">
                    Sisters. Grandmas. Moms. Aunts. Cousins. Friends. Colleagues. We have our own tastes, and here are some favorites.
                </div>
            </div>
            <div class="extra content bottom button attached">
                <a class="center" href="/giftideas/forher">
                    <i class="unhide icon"></i> View For Her
                </a>
            </div>
        </div>
        <div class="card">
            <a class="image" href="/giftideas/forhim">
                <img src="/assets/giftideas/category/forHim.jpg" alt="For Him" class="load" />
            </a>
            <div class="content">
                <a class="header" href="/giftideas/forhim">For Him</a>
                <div class="description">
                    The best damm handcrafted gift list for guys.
                </div>
            </div>
            <div class="extra content bottom button attached">
                <a class="center" href="/giftideas/forhim">
                    <i class="unhide icon"></i> View Him
                </a>
            </div>
        </div>


        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/cool">
                    <img src="/assets/giftideas/category/cool.jpg" alt="Cool" class="load" />
                    <div class="tilelabel">Cool</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/office">
                    <img src="/assets/giftideas/category/office.jpg" alt="Office" class="load" />
                    <div class="tilelabel">Office</div>
                </a>
            </div>
        </div>
        <div class="group right">
            <div class="tile">
                <a target="_top" href="/giftideas/farewell">
                    <img src="/assets/giftideas/category/Farewell.jpg" alt="Farewell" class="load" />
                    <div class="tilelabel">Farewell</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/sympathy">
                    <img src="/assets/giftideas/category/sympathy.jpg" alt="Sympathy" class="load" />
                    <div class="tilelabel">Sympathy</div>
                </a>
            </div>
        </div>
        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/beauty">
                    <img src="/assets/giftideas/category/beauty.jpg" alt="Beauty" class="load" />
                    <div class="tilelabel">Beauty</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/wine">
                    <img src="/assets/giftideas/category/wine.jpg" alt="Wine" class="load" />
                    <div class="tilelabel">Wine</div>
                </a>
            </div>
        </div>
        <div class="group right">
            <div class="tile">
                <a target="_top" href="/giftideas/butterlondon">
                    <img src="/assets/giftideas/category/butterLONDON.jpg" alt="butter LONDON" class="load" />
                    <div class="tilelabel">butter LONDON</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/petlovers">
                    <img src="/assets/giftideas/category/pet-lovers.jpg" alt="Pet Lovers" class="load" />
                    <div class="tilelabel">Pet Lovers</div>
                </a>
            </div>
        </div>
        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/wedding">
                    <img src="/assets/giftideas/category/Wedding.jpg" alt="Wedding" class="load" />
                    <div class="tilelabel">Wedding</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/graduation">
                    <img src="/assets/giftideas/category/graduation.jpg" alt="Graduation" class="load" />
                    <div class="tilelabel">Graduation</div>
                </a>
            </div>
        </div>
        <div class="group right">
            <div class="tile">
                <a target="_top" href="/giftideas/red">
                    <img src="/assets/giftideas/category/red.jpg" alt="Wear Red" class="load" />
                    <div class="tilelabel">Wear Red</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/pisces">
                    <img src="/assets/giftideas/category/pisces.jpg" alt="Pisces" class="load" class="load" />
                    <div class="tilelabel">Pisces</div>
                </a>
            </div>
        </div>
        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/patriots">
                    <img src="/assets/giftideas/category/Patriots.jpg" alt="Patriots" class="load" />
                    <div class="tilelabel">Patriots</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/seahawks">
                    <img src="/assets/giftideas/category/Seahawks.jpg" alt="Seahawks" class="load" />
                    <div class="tilelabel">Seahawks</div>
                </a>
            </div>
        </div>
        <div class="group right">
            <div class="tile">
                <a target="_top" href="/giftideas/employee">
                    <img src="/assets/giftideas/category/employee.jpg" alt="Employee Appreciation" class="load" />
                    <div class="tilelabel">Employee Appreciation</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/boss">
                    <img src="/assets/giftideas/category/Boss.jpg" alt="Boss" class="load" />
                    <div class="tilelabel">Boss</div>
                </a>
            </div>
        </div>
        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/teacher">
                    <img src="/assets/giftideas/category/teacher.jpg" alt="Teacher" class="load" />
                    <div class="tilelabel">Teacher</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/electronics">
                    <img src="/assets/giftideas/category/electronics.jpg" alt="Electronics" class="load" />
                    <div class="tilelabel">Electronics</div>
                </a>
            </div>
        </div>
        <div class="group right">
            <div class="tile">
                <a target="_top" href="/giftideas/outdoors">
                    <img src="/assets/giftideas/category/outdoors.jpg" alt="Outdoors" class="load" />
                    <div class="tilelabel">Outdoors</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/green">
                    <img src="/assets/giftideas/category/green.jpg" alt="Green and Organic" class="load" />
                    <div class="tilelabel">Green and Organic</div>
                </a>
            </div>
        </div>
        <div class="group left">
            <div class="tile">
                <a target="_top" href="/giftideas/military">
                    <img src="/assets/giftideas/category/Military.jpg" alt="Military" class="load" />
                    <div class="tilelabel">Military</div>
                </a>
            </div>
            <div class="tile">
                <a target="_top" href="/giftideas/giftcard">
                    <img src="/assets/giftideas/category/giftcard.jpg" alt="Gift Cards" class="load" />
                    <div class="tilelabel">Gift Cards</div>
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>