<div class="ui inverted masthead center aligned vertical segment holiday-2015" ng-controller="HomeController as home">
    <div class="ui text container">
        <h1 class="ui inverted header">You Love Giving.<br class="desktop" /> We Love Helping.</h1>
        <h2 class="ui inverted header">GiftStarter matches the gifts you give with the thought you put in.</h2>
        <button class="ui animated vertical button facebook huge fluid" ng-controller="LoginOrCreateController" ng-click="doLoginFacebook()" analytics-on="click" analytics-event="CTA" ng-show="!showOnboarding">
            <div class="visible content">
                <i class="facebook icon"></i>
                Start Giving Gifts
            </div>
            <div class="hidden content">
                <i class="facebook icon"></i>
                Join With Facebook
            </div>
        </button>
        <div class="ui message black start" ng-show="showOnboarding">
            <div class="content">
                <p>Do you already have the perfect gift in mind?</p>
                <div class="desktop">
                    <a class="ui button grey inverted" data-cta-type="secondary">No, I'd like some help</a>
                    <a class="ui button teal" data-cta-type="primary">Yep, let's get started</a> 
                </div>
                <div class="mobile">
                    <a class="ui button teal fluid" data-cta-type="primary">Yep, let's get started</a>
                    <a class="ui button grey fluid inverted" data-cta-type="secondary">No, I'd like some help</a>
                </div>
            </div>
        </div>
        <div class="ui message teal primary hidden" ng-show="showOnboarding">
            <div class="content">
                <p>Awesome! GiftStarter gets <strong>better</strong> the more you use it.</p>
                <form class="ui form">
                    <div class="desktop">
                        <div class="ui left icon action input fluid">
                            <i class="envelope icon"></i>
                            <input type="text" placeholder="Email Address" onkeyup="if(event.keyCode==13){top.location='/join/'}">
                            <a class="ui teal button" href="/join">Start Gifting</a>
                        </div>
                    </div>
                    <div class="mobile table">
                        <div class="ui left icon input fluid field mobile">
                            <i class="envelope icon"></i>
                            <input type="text" placeholder="Email Address" onkeyup="if(event.keyCode==13){top.location='/join/'}">
                        </div>
                        <a class="ui teal fluid button" href="/join">Start Gifting</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="ui message secondary hidden" ng-show="showOnboarding">
            <div class="content">
                <p>Search <strong>4+ million</strong> products and give the perfect gift.</p>
               <gs-product-search home="true" results="false" menu="false"></gs-product-search>
                    <p>
                        <small>Looking for a more personal experience? Get your own <a href="/is/concierge" class="ui tiny yellow tag label icon"><i class="gift icon primary"></i> Gift Concierge</a></small>
                    </p>
            </div>
        </div>

		<p>
            <small class="light">
                It's the thought that counts.
            </small>
        </p>
    </div>
</div>