<div class="ui inverted masthead center aligned vertical segment home" ng-controller="HomeController as home">
    <div class="ui text container">
        <h1 class="ui inverted header">You Love Giving.<br class="desktop" /> We Love Helping.</h1>
        <h2 class="ui inverted header">GiftStarter matches the gifts you give<br />with the thought you put into them.</h2>
        <div class="ui basic segment">
            <a class="ui button facebook huge fluid">
                <i class="facebook icon"></i>
                Start Giving Gifts
            </a>
            <p><small>Give the gifts that count.</small></p>
        </div>
    </div>
</div>