<div class="ui inverted masthead center aligned vertical segment home" ng-controller="HomeController as home">
    <div class="ui text container">
        <h1 class="ui inverted header">Group Gifting Made Simple</h1>
        <h2>The easiest way for you and your friends, family members, or colleagues to give personalized gifts.</h2>
        <h2 class="hidden">Give personalized gifts for any occasion with the help of friends, family, or colleagues.</h2>

        <div class="ui message black start">
            <div class="content">
                <p>Do you already have the perfect gift in mind?</p>
                <div class="desktop">
                    <a class="ui button grey inverted" data-cta-type="secondary">No, I'd like some help</a>
                    <a class="ui button teal" data-cta-type="primary">Yep, let's get started</a> 
                </div>
                <div class="mobile">
                    <a class="ui button teal fluid" data-cta-type="primary">Yep, let's get started</a>
                    <a class="ui button grey fluid inverted" data-cta-type="secondary">No, I'd like some help</a>
                </div>
            </div>
        </div>
        <div class="ui message teal primary hidden">
            <div class="content">
                <p>Awesome! GiftStarter gets <strong>better</strong> the more you use it.</p>
                <p class="hidden">Awesome! GiftStarter is <strong>better</strong> the more you use it.</p>
                <form class="ui form">
                    <div class="desktop">
                        <div class="ui left icon action input fluid">
                            <i class="envelope icon"></i>
                            <input type="text" placeholder="Email Address" onkeyup="if(event.keyCode==13){top.location='/join/'}">
                            <a class="ui teal button" href="/join">Start Gifting</a>
                        </div>
                    </div>
                    <div class="mobile table">
                        <div class="ui left icon input fluid field mobile">
                            <i class="envelope icon"></i>
                            <input type="text" placeholder="Email Address" onkeyup="if(event.keyCode==13){top.location='/join/'}">
                        </div>
                        <a class="ui teal fluid button" href="/join">Start Gifting</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="ui message secondary hidden">
            <div class="content">
                <p>Search <strong>4+ million</strong> products to find the perfect gift.</p>
               <gs-product-search home="true" results="false" menu="false"></gs-product-search>
                    <p>
                        <small>Looking for a more personal experience? Get your own <a href="/concierge" class="ui tiny tag label icon"><i class="gift icon primary"></i> Gift Concierge</a></small>
                    </p>
            </div>
        </div>
    </div>
</div>