<div class="profile-popover" ng-controller="ProfilePopoverController" >
    <div class="leftcol">
        <h1 class="white">Upload your Photo!</h1>
        <p>Your picture will show up on the tiles you purchased and next to your message on the group card that will be hand-made and mailed to the recipient.</p>
        <img src="/assets/cardExample.png"><img src="/assets/gridExample.png">
    </div>
    <div class="rightcol">
        <div class="profile-wrapper">
            <div id="profile-image-container" ng-class="{edit: editMode}">
                <img id="profile-image" ng-src="{{profilePicture}}" ng-hide="editMode" src=""/>
                <gs-image-upload ng-show="editMode" on-image-updated="imageUpdated"></gs-image-upload>
                <button class="cancel" ng-show="editMode" ng-click="editMode = false;">X</button>
                <button class="edit" ng-show="!editMode" ng-click="editMode=true;" onclick="$('#profile-image-container gs-image-upload div div button.image').click()">EDIT</button>
            </div>
        </div>
        <div>
            <input id="useAsProfilePicture" type="checkbox" ng-model="useAsProfilePicture">
            <label for="useAsProfilePicture">Use this as my default profile picture</label>
        </div>
        <button class="large white-border" ng-click="action.submit()" ng-class="{disabled: !imageSet}">Submit Photo</button>
        <div class="cancel-button"><p class="cancel-button" ng-click="cancel()">Cancel</p></div>
    </div>
</div>