@import "../../base"

$profile-popover-width: 42em

div.profile-popover
  width: 100%
  @media screen and (min-width: $profile-popover-width)
    width: $profile-popover-width

  .leftcol
    float: left
    width: 48%
    img
      width: 45%
      margin: 0px 1%

  .rightcol
    float: right
    width: 48%

  .smalltext
    font-size: 12px

  .sup
    padding-bottom: 2px
    font-size-adjust: 0.8

  img.profile-picture
    vertical-align: top
    width: 48%
    margin-bottom: 0.7em
    +border-radius(50%)

  button
    margin-top: 20px
