<div class="thanks-popover" ng-controller="ThanksPopoverController">
    <h1 class="white">Success!</h1>
    <p>Ah, that warm fuzzy feeling is the best, isn't it? Thank you for using GiftStarter as the new way to give! Seriously-we think you're just phenomenal.</p>
    <p>Give some friends the opportunity to get some warm fuzzies from this GiftStart, too.</p>
    <div class="buttons">
        <!--<button class="share" ng-click="socialShare()">Facebook</button>-->
        <!--<a href="mailto:?subject={{mailSubject}}&body={{mailBody}}" target="_blank" ng-click="mixpanel.track('Email share in thanks clicked');"><button class="share">Email</button></a>-->
        <!--<button class="large white-border" ng-click="close()">Close</button>-->
        <div class="share-button" ng-click="facebookShare()"><img class="share-button" src="/assets/login_facebook2.png" /></div>
        <div class="share-button" ng-click="twitterShare()"><img class="share-button" src="/assets/login_twitter2.png" /></div>
        <div class="share-button" ng-click="googlePlusShare()"><img class="share-button" src="/assets/login_google2.png" /></div>
    </div>
    <p>Want to start your own GiftStart?<br>It's easy – start <a href="/" ng-click="hidePopover()">here.</a></p>
    <div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Close</p></div>
</div>