@import "../../base"

div.wrapper.faq
  margin: 0 auto
  width: 48em
  font-family: "Roboto"
  font-weight: 800
  @media screen and (max-width: 48em)
    width: 90%

  h1
    margin-top: 1em
    margin-bottom: 10px

  h2
    font-size: 28px

  p
    font-size: 14px
