<div class="faq static-pages" ng-controller="FaqController">
    <div class="headerwrap">
        <div class="ui container">

            <h1>Frequently Asked Questions</h1>
            <h3>We are here to help in any way we can. Start here if you have questions.</h3>
            <a ng-click="toggleAll()" class="ui labeled icon button white huge">
                <div class="ui visible content">
                    <span ng-hide="openQuestions.length == questionCount">Expand All</span>
                    <span ng-show="openQuestions.length == questionCount">Close All</span>
                </div>
                <i class="plus icon left" ng-hide="openQuestions.length == questionCount"></i>
                <i class="minus icon left" ng-show="openQuestions.length == questionCount"></i>
				<div class="ui hidden content">Super Fun!</div>
            </a>
        </div>
    </div>
    <div class="main">

        <div ng-repeat="section in items" class="sections">
            <h1>{{section.name}}</h1>
            <div ng-repeat="question in section.questions">
                <h2 ng-click="toggleQuestion(question)" ng-class="{open: isOpenQuestion(question)}"><img src="/assets/plus1.png" class="expand" ng-hide="isOpenQuestion(question)"/><img src="/assets/minus.png" class="contract" ng-show="isOpenQuestion(question)"/>{{question.question}}</h2>
                <p ng-show="isOpenQuestion(question)" ng-bind-html="question.answer"></p>
            </div>
        </div>
    </div>
</div>
