@import "../base"

#header
  background-color: white
  border-bottom: 2px solid #eee
  height: 50px
  @media screen and (max-width: $phone-tablet-boundary)
    height: 70px
  max-width: 1200px
  width: 100%
  vertical-align: middle
  -webkit-font-smoothing: antialiased

  form#searchbar
    display: inline-block
    float: left
    margin: 5px
    padding: 5px

    input
      background: #eee
      border: 0
      color: #333
      height: 34px
      -webkit-input-placeholder: #333

  .header-menu-button
    display: none
    width: 40px
    @media screen and (max-width: $phone-tablet-boundary)
      display: table-cell

  .headerLogoWrapper
    display: table
    float: left
    @include apply-at-size("desktop")
      margin-left: 10px
    @media screen and (max-width: $phone-tablet-boundary)
      width: 100%

    #logo
      @media screen and (max-width: $phone-tablet-boundary)
        display: none

    #logo-mobile
      display: table-cell
      margin: 0 auto
      text-align: center
      @include apply-at-size("desktop")
        display: none

    img
      @include apply-at-size("desktop")
        height: 40px
      @media screen and (max-width: $phone-tablet-boundary)
        height: 70px

  #menu
    @media screen and (max-width: $phone-tablet-boundary)
      a
        color: #333
        &:hover
          color: $primary-color
        font-size: 1.2em
      .mobile-rule
        display: block

      .submenu
        padding: 0
        margin-bottom: 30px
        a
          font-size: 1em

    .coming-soon
      color: #bbb !important

    @include apply-at-size(desktop)
      float: right
      list-style: none
      margin: 0
      padding: 0

      .mobile-rule
        display: none

      li
        float: left
        position: relative
        white-space: nowrap
        &:hover
          background: #6E8B97
          a
            color: white
          .submenu
            display: block

        a
          color: #333
          display: block
          height: 48px
          padding: 20px
          &:hover
            background: #6E8B97
            color: white

        .submenu
          background-color: #e2e2e2
          border-left: 8px solid #6E8B97
          color: #333
          display: none
          position: absolute
          list-style: none
          margin: 0
          padding: 10px 0
          z-index: 100

          li
            clear: left
            left: auto
            width: 100%
            white-space: nowrap
            //&:last-child      //for if we have a submenu for last menu item later (to drop to the right instead of the left)
            //  left: auto
            //  right: 0
            a
              color: #333
              height: auto
              padding: 5px 10px
              &:hover
                color: white

      .menu-login
        height: 48px
        &:hover
          background: $primary-color
        a
          color: $primary-color
          text-decoration: underline
          &:hover
            background: $primary-color
            color: white
        .menu-user
          display: inline-block
          padding-left: 5px
          text-decoration: none
        .submenu
          border-left: 8px solid $primary-color
          a
            text-decoration: none
        #header-profile-picture
          display: inline-block
          margin-top: 5px
          vertical-align: top

  .menuwrapper
    background-color: white
    display: inline-block
    float: right
    margin-left: auto
    margin-right: 10px
    img
      height: 40px
    @media screen and (max-width: $phone-tablet-boundary)
      border-bottom: 2px solid $bg-color
      display: block
      float: left
      position: absolute
      top: 70px
      width: 100%
      z-index: 999
      &.hideMobileMenu
        display: none
      li
        display: block
        float: none

  #searchbar
    @media screen and (max-width: $phone-tablet-boundary)
      display: table
      width: 100%
      &.hideMobileSearch
        display: none

      input
        width: calc(100% - 100px)

  .loginwrapper
    background-color: white
    border-bottom: 2px solid $bg-color
    position: absolute
    width: 100%
    max-width: 1200px
    top: 70px
    @include apply-at-size("desktop")
      top: 50px
    z-index: 999

  .blackout-screen
    background-color: black
    display: none
    opacity: 0.7
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 998