@import "../base"

#header
  background-size: cover
  width: 100%
  position: fixed
  top: 48px
  left: 0
  right: 0
  z-index: 1000
  background-color: white
  height: $header-height
  @media screen and (max-width: $phone-tablet-boundary)
    height: $header-height-mobile

  @media screen and (max-width: $phone-tablet-boundary)
    top: 0

  #header-logo
    height: $header-height
    position: absolute
    left: 20px
    top: 0
    @media screen and (max-width: $phone-tablet-boundary)
      height: $header-height-mobile
      left: auto
      right: 20px
      top: 5px

  > div.wrapper
    margin: 0 auto

    @media screen and (max-width: $phone-tablet-boundary)
      div.headerLogoWrapper
        width: 100%
        height: $header-height-mobile
        background-color: #fff

    h1
      cursor: default
      @media screen and (max-width: 37.5em)
        font-size: 2em
      color: $primary-color
      text-align: center

    ul.nav.expanded
      top: 60px
    ul.nav
      padding-top: 25px
      text-align: center
      font-family: "Roboto"
      @media screen and (max-width: $phone-tablet-boundary)
        position: absolute
        padding: 10px 20px
        background-color: #eaeaea
        text-align: left
        top: -280px
        width: 100%
        z-index: -1
        +transition(all, 0.5s)
      li.login
        position: absolute
        right: 20px
        margin-top: -7px
        @media screen and (max-width: $phone-tablet-boundary)
          position: static
          margin: auto
      li
        list-style: none
        display: inline-block
        margin: 0 10px
        @media screen and (max-width: $phone-tablet-boundary)
          display: block
          margin: 15px 0
        a
          text-decoration: none
          color: #000
          font-size: 14pt


#header-padding
  height: $header-height-mobile * 7 / 8
  @media screen and (min-width: $phone-tablet-boundary)
    height: $header-height * 7 / 8
#header-padding.gs-it-expanded
  height: $header-height-mobile * 7 / 8 + 3em

#header-menu-button
  position: absolute
  top: 1em
  left: 0.4em
  padding: 0.6em 0.6em 0.4em 0.6em
  display: inline-block
  cursor: pointer
  img
    height: 1.8em

#subliminal-header
  +transition(all, 0.2s)
  cursor: default
  position: absolute
  top: 3em
  right: 24%
  height: 1.0em
  width: 10em
  background-image: url("/assets/subliminal_scroller.png")
  background-size: 8em
  background-position-y: -3px
  @media screen and (min-width: $phone-tablet-boundary)
    right: 1.7em
  
#header-profile-picture
  border-radius: 50%
  height: 3.4em
  margin: -1em 0 -0.9em -0.8em
