@import "../base"

#header
  background-color: white
  border-bottom: 2px solid #eee
  height: 50px
  max-width: 1200px
  padding: 5px 20px
  width: 100%
  vertical-align: middle

  img
    height: 40px

  form
    display: inline-block
    float: left
    padding: 5px

  #header-menu-button
    display: none
    @media screen and (max-width: $phone-tablet-boundary)
      display: inline-block

  .headerLogoWrapper
    display: inline-block
    float: left

  .right
    display: inline-block
    float: right
    margin-left: auto

  #menu
    list-style-type: none

    li
      display: inline-block