iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.userlogin {
  display: table;
  margin: 0 auto;
  padding: 40px 0; }
  @media only screen and (max-width: 667px) {
    .userlogin {
      display: block; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .userlogin {
      display: block; } }
  .userlogin h4 {
    margin: 0; }
  .userlogin__title {
    text-align: center;
    padding-bottom: 0.5em !important; }
    @media only screen and (max-width: 667px) {
      .userlogin__title {
        padding-bottom: 0.5rem !important; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__title {
        padding-bottom: 0.5rem !important; } }
  .userlogin__logo {
    background-image: url("/assets/giftstarter.png");
    background-size: 51px 51px;
    background-repeat: no-repeat;
    width: 51px;
    height: 51px;
    margin: 1.25rem auto 0 auto; }
  .userlogin__form {
    text-align: center;
    clear: both; }
    .userlogin__form input {
      border: 1px solid #cdcdcd;
      padding: .8em;
      box-shadow: none; }
      .userlogin__form input:-moz-placeholder {
        box-shadow: none !important; }
  .userlogin__email, .userlogin__passwordwrap, .userlogin__name, .userlogin__surname, .userlogin__reentermail, .userlogin__reenterpassword {
    display: inline-block;
    border: 1px solid #cdcdcd;
    width: 100%;
    height: 38px;
    margin-top: 18px; }
    @media only screen and (max-width: 667px) {
      .userlogin__email, .userlogin__passwordwrap, .userlogin__name, .userlogin__surname, .userlogin__reentermail, .userlogin__reenterpassword {
        width: 70%;
        margin: .2rem auto;
        padding: 1rem 0.5rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__email, .userlogin__passwordwrap, .userlogin__name, .userlogin__surname, .userlogin__reentermail, .userlogin__reenterpassword {
        width: 70%;
        margin: .2rem auto;
        padding: 1rem 0.5rem; } }
  .userlogin__passwordwrap {
    text-align: left;
    padding: 0; }
    @media only screen and (max-width: 667px) {
      .userlogin__passwordwrap {
        padding: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__passwordwrap {
        padding: 0; } }
  .userlogin__password {
    width: 76%;
    height: 100%;
    display: inline-block;
    border: 0 !important;
    outline: 0 !important;
    margin: 0 0 0 0.8em;
    padding: 0 !important; }
    .userlogin__password:hover, .userlogin__password:active, .userlogin__password:focus {
      outline: none;
      border: none;
      box-shadow: none; }
  .userlogin__eye {
    display: inline-block;
    margin-left: 2%;
    width: 14%;
    height: 12px;
    vertical-align: middle;
    background-image: url("/assets/login/showPassword.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; }
  @media only screen and (max-width: 667px) {
    .userlogin br {
      display: none; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .userlogin br {
      display: none; } }
  .userlogin__remember, .userlogin__rememberlabel, .userlogin__forgot {
    margin-top: 15px;
    position: relative;
    float: left;
    display: block; }
  .userlogin__remember {
    left: 25%;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5); }
    @media only screen and (max-width: 667px) {
      .userlogin__remember {
        left: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__remember {
        left: 0; } }
  .userlogin__rememberlabel, .userlogin__forgot, .userlogin__createacclink {
    text-transform: uppercase;
    color: #333; }
  .userlogin__rememberlabel {
    left: 26%; }
    @media only screen and (max-width: 667px) {
      .userlogin__rememberlabel {
        left: 0.4rem;
        top: 1.8rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__rememberlabel {
        left: 0.4rem;
        top: 1.8rem; } }
    .userlogin__rememberlabel:hover {
      text-decoration: underline; }
  @media only screen and (max-width: 667px) {
    .userlogin__wrapper {
      position: relative;
      width: 70%;
      margin: 0 auto; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .userlogin__wrapper {
      position: relative;
      width: 70%;
      margin: 0 auto; } }
  .userlogin__forgot {
    float: none;
    display: block;
    font-size: 14px; }
    .userlogin__forgot:hover {
      color: #333; }
  .userlogin__message {
    padding-top: 15px;
    color: #DE4A50;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
    @media only screen and (max-width: 667px) {
      .userlogin__message {
        max-width: 75%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin__message {
        max-width: 75%; } }
  .userlogin__loginbtn {
    clear: both;
    display: block;
    margin: 5px auto 30px auto;
    position: relative;
    font-size: 1em;
    padding: 9px 40px 5px 40px; }
  .userlogin__createacc {
    position: relative;
    margin-top: 15px;
    text-align: center; }
  .userlogin__createacclink {
    text-decoration: underline; }
    .userlogin__createacclink:hover {
      color: #333; }
  .userlogin__sociallogin {
    position: relative;
    text-align: center; }
  .userlogin .login-block {
    display: table-cell;
    width: 255px;
    vertical-align: top; }
    @media only screen and (max-width: 667px) {
      .userlogin .login-block {
        display: block;
        width: auto; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin .login-block {
        display: block;
        width: auto; } }
  .userlogin .vertical-line-block {
    display: table-cell;
    vertical-align: middle; }
  .userlogin .vertical-line {
    border-left: 1px solid #cdcdcd;
    display: inline-block;
    height: 100px;
    margin: 0 20px;
    width: 0; }
    @media only screen and (max-width: 667px) {
      .userlogin .vertical-line {
        display: none; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin .vertical-line {
        display: none; } }
  .userlogin .switchtxt {
    bottom: 22px;
    position: absolute;
    width: 100%; }
    @media only screen and (max-width: 667px) {
      .userlogin .switchtxt {
        position: relative; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userlogin .switchtxt {
        position: relative; } }
  .userlogin span {
    font: 12px / 2 Gotham, sans-serif; }
