iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

div.funding-bar.wrapper {
  position: relative;
  margin-bottom: 1em; }
  div.funding-bar.wrapper div.mask, div.funding-bar.wrapper div.bar, div.funding-bar.wrapper div.bar-bg, div.funding-bar.wrapper div.pi-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  div.funding-bar.wrapper div.bar {
    width: 0%;
    background: #de7f24; }
  div.funding-bar.wrapper div.pi-bar {
    width: 0%;
    background: #ff912b; }
  div.funding-bar.wrapper div.bar-bg {
    background: #e6e6e6; }
  div.funding-bar.wrapper div.mask {
    position: relative; }
    div.funding-bar.wrapper div.mask img {
      display: block;
      width: 100%; }
