iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }

div.popover-wrapper {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  text-align: center;
  z-index: 10000; }
  div.popover-wrapper div.popover-container {
    display: inline-block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
    transition: all 0.2s;
    z-index: 10001;
    padding: 1em;
    background: #e44028;
    color: #fff;
    margin-top: -5%; }
    div.popover-wrapper div.popover-container a {
      color: #fff; }
  div.popover-wrapper p.cancel-button {
    display: inline-block;
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
    margin: 0; }
  div.popover-wrapper div.cancel-button {
    text-align: right; }
  @media screen and (min-width: 1030px) {
    div.popover-wrapper div.popover-container {
      padding: 2em; } }

div.popover-wrapper.shown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
