@charset "UTF-8";
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.static-pages {
  clear: both;
  padding-bottom: 50px;
  text-align: center; }
  .static-pages a {
    color: #e44028; }
  .static-pages .headerwrap {
    color: white;
    margin: 0 auto 50px auto;
    height: 300px;
    padding-top: 30px;
    text-align: center;
    width: 100%; }
    .static-pages .headerwrap h1 {
      color: white;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 1.5em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap h1 {
          font-size: 2.25em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap h1 {
          font-size: 2.5em; } }
    .static-pages .headerwrap p {
      margin: 10px auto 7px auto;
      width: 60%;
      -webkit-font-smoothing: antialiased; }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.8em; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1em; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          font-size: 0.9em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
        .static-pages .headerwrap p {
          font-size: 1.125em; } }
      @media only screen and (min-width: 668px) and (max-width: 1024px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 667px) {
        .static-pages .headerwrap p {
          width: 80%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .static-pages .headerwrap p {
          width: 80%; } }
  .static-pages a.button {
    background-color: white;
    border: #e44028 2px solid;
    border-radius: 25px;
    clear: left;
    color: #e44028;
    display: inline-block;
    font: 1.25em Gotham, sans-serif;
    padding: 14px 53px 10px 53px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .static-pages a.button:hover {
      background-color: #ea7063;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
      filter: alpha(opacity=70);
      zoom: 1; }
    .static-pages a.button.red {
      background-color: #e44028;
      color: white;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .static-pages a.button.red:hover {
        background-color: #ea7063;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
        filter: alpha(opacity=70);
        zoom: 1; }

.partnerportal .headerwrap {
  background: url("/assets/partners/img/partnersHero.jpg") no-repeat center; }
.partnerportal .login .login-title {
  color: #333;
  font-size: 2em;
  padding: 15px 0; }
.partnerportal .login .userlogin__createacc.switchtxt {
  position: relative;
  padding-top: 10px; }
.partnerportal .core-info {
  text-align: center;
  padding: 15px 5%;
  margin: 0 auto;
  width: 80%; }
  .partnerportal .core-info h1 {
    padding-bottom: 14px;
    float: left; }
  .partnerportal .core-info .core-form {
    display: block;
    margin: 0 auto;
    width: 80%; }
    .partnerportal .core-info .core-form .row {
      height: 35px;
      display: block;
      clear: both; }
      .partnerportal .core-info .core-form .row .label, .partnerportal .core-info .core-form .row .value, .partnerportal .core-info .core-form .row .input {
        height: 32px;
        display: block;
        text-align: left;
        font-size: 16px; }
        @media only screen and (max-width: 667px) {
          .partnerportal .core-info .core-form .row .label, .partnerportal .core-info .core-form .row .value, .partnerportal .core-info .core-form .row .input {
            height: 46px; } }
        @media only screen and (max-width: 375px) and (orientation: portrait) {
          .partnerportal .core-info .core-form .row .label, .partnerportal .core-info .core-form .row .value, .partnerportal .core-info .core-form .row .input {
            height: 46px; } }
      .partnerportal .core-info .core-form .row .label {
        width: 35%;
        font-weight: bold;
        padding-top: 3px;
        line-height: 16px;
        float: left; }
      .partnerportal .core-info .core-form .row .value {
        width: 65%;
        padding-top: 3px;
        float: right; }
        @media only screen and (max-width: 667px) {
          .partnerportal .core-info .core-form .row .value {
            padding-top: 0; } }
        @media only screen and (max-width: 375px) and (orientation: portrait) {
          .partnerportal .core-info .core-form .row .value {
            padding-top: 0; } }
      .partnerportal .core-info .core-form .row .input {
        width: 65%;
        float: right; }
        .partnerportal .core-info .core-form .row .input input {
          width: 100%; }
      .partnerportal .core-info .core-form .row .error {
        width: 100%;
        color: red; }
      .partnerportal .core-info .core-form .row .buttons {
        width: 100%;
        text-align: right;
        float: right; }
.partnerportal #add-the-button {
  width: 80%;
  margin: 2em auto;
  text-align: left; }
  .partnerportal #add-the-button .toggle-button {
    padding: 0;
    margin: 0; }
    .partnerportal #add-the-button .toggle-button li {
      display: inline-block;
      padding: 2px 5px;
      margin: 0;
      border: 1px solid #222222;
      position: relative;
      top: 1px;
      padding-bottom: -2px;
      background-color: #dddddd; }
      .partnerportal #add-the-button .toggle-button li a {
        color: grey; }
      .partnerportal #add-the-button .toggle-button li.selected {
        border: 1px solid #222222;
        border-bottom: 0;
        background-color: lightgrey;
        position: relative;
        top: 2px; }
        .partnerportal #add-the-button .toggle-button li.selected a {
          color: #000;
          font-weight: bold; }
  .partnerportal #add-the-button .add-instructions {
    margin: 0;
    padding: 5px;
    border: 1px solid #222222;
    background-color: lightgrey; }
    .partnerportal #add-the-button .add-instructions pre, .partnerportal #add-the-button .add-instructions textarea {
      width: 90%;
      color: #666;
      background-color: #ffffff;
      padding-top: 10px;
      margin: 0 0 0 25px;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      font-size: 10px; }
