<md-toolbar class="main-nav background-regal l-pinned-top l-layer-5 md-default-theme">
    <nav>
        <h1>
			<a class="md-button md-default-theme" href="/" md-button="">
			<span class="ng-scope">GiftStarter </span>
			</a>
		</h1>
        <button class="main-nav-button main-nav-mobile-trigger l-right md-button md-default-theme" aria-label="View Menu" ng-click="toggleMainMenu($event)" md-button="md-button" tabindex="0">
			<span class="ng-scope">Dicover </span>
			<span class="icon icon-arrow-drop-down ng-scope"></span>
        </button>
        <ul ng-class="showMainNav ? 'is-visible' : ''">
            <li class="l-left"><a class="main-nav-button md-button md-default-theme" href="/features.html" md-button="">
				<span class="ng-scope">Features</span></a>
            </li>
            <li class="l-left"><a class="main-nav-button md-button md-default-theme" href="/docs/js/latest/" md-button="">
				<span class="ng-scope">Docs</span></a>
            </li>
            <li class="l-left"><a class="main-nav-button md-button md-default-theme" href="/about/" md-button="">
				<span class="ng-scope">About</span></a>
            </li>
            <li class="l-left"><a class="main-nav-button md-button md-default-theme" href="/contribute.html" md-button="">
				<span class="ng-scope">Contribute</span></a>
            </li>
            <li class="l-right">
                <a class="main-nav-button has-icon md-button md-default-theme" href="/download/" md-button=""> 
					<span class="icon icon-cloud-download ng-scope"></span>
					<span class="ng-scope"> Install</span>
                </a>
            </li>
        </ul>
    </nav>
</md-toolbar>
