{% raw %}
<div class="navbar-collapse nav-main-collapse collapse">
    <nav class="nav-main">
        <ul class="nav nav-pills nav-main-menu pull-right">
			<li class="menu-login" ng-class="{hideOnMobile: notifyOpen}">
				<a ng-href="/login" class="btn btn-link" ng-hide="header.loggedIn || header.portaling" ng-click="zheader.closeMobileMenu()">Login</a>
			</li>
			<li class="menu-login tour-info" ng-class="{hideOnMobile: notifyOpen}">
				<a href="/join" class="" ng-hide="header.loggedIn || header.portaling" ng-click="header.closeMobileMenu()">Get Started</a>
			</li>
			<li class="dropdown megamenu menu-login" ng-show="header.loggedIn" ng-class="{hideOnMobile: notifyOpen}">
				<a class="menu-user dropdown-toggle" ng-href="{{header.userProfileUrl}}" ng-click="header.closeMobileMenu()" ng-show="header.loggedIn" data-toggle="dropdown">
					<img class="header-picture" ng-src="{{header.userImageUrl}}" ng-show="header.loggedIn && header.userImageUrl"/> 
					{{header.userName}}
				</a>
          		<div class="dropdown-menu small">
					<div class="mega-menu-content">
                		<div class="menu-column-inner menu-column">
          					<ul class="submenu">
            					<li><a ng-href="{{header.userProfileUrl}}" ng-click="header.closeMobileMenu()">Profile Page</a></li>
            					<li><a ng-href="{{header.userProfileUrl}}#mycampaigns" ng-click="header.closeMobileMenu()">My Campaigns</a></li>
            					<li><a ng-href="{{header.userProfileUrl}}#savedgiftideas" ng-click="header.closeMobileMenu()">Saved Gift Ideas</a></li>
            					<li id="mobile_notifications"><a ng-click="header.openNotifications()" class="linky">Notifications ({{numNotificationsUnseen}})</a></li>
            					<li><a class="linky logout_action" ng-click="header.logout(); actions.menuItemClicked(); header.closeMobileMenu()">Log Out</a></li>
          					</ul>
						</div>
					</div>
				</div>
        	</li>
        	<li id="nav_notifications" class="dropdown megamenu menu-login" ng-show="header.loggedIn" ng-mouseenter="header.notificationsHoverIn()" ng-mouseleave="header.notificationsHoverOut()" ng-class="{hideMobileNotifications: !notifyOpen}">
				
				<a name="notificationlist" href="#" class="menu-notifications dropdown-toggle" ng-hide="notifyOpen" data-toggle="dropdown">
					<img class="header-notifications hide hidden" ng-src="/assets/notifications-{{notificationHover && 'open' || numNotifications==0 && 'none' || 'new'}}.png" ng-hide="notifyOpen"/> 
					<span class="badge">{{numNotificationsUnseen}}</span>
				</a>
          		<div class="dropdown-menu small alert alert-info" ng-hide="numNotifications==1">
					<div class="mega-menu-content">
                		<div class="menu-column-inner menu-column">
           					<ul id="notification-list" class="submenu">
            					<li ng-repeat="item in notifications" ng-class="{notificationsRead: item.seen, notificationsUnread: !item.seen}"><a href="{{item.link}}" ng-click="header.notificationClick(item)">{{item.title}}</a></li>
            					<li id="no-notifications-msg" ng-show="numNotifications==0" ng-click="header.closeNotifications()">No messages</li>
          					</ul>
						</div>
					</div>
				</div>
        	</li>    
        </ul>
        <ul class="nav nav-pills nav-main-menu pull-left push-left" ng-hide="header.loggedIn || header.portaling">
			<li>
				<a ng-href="#">Link</a>
			</li>
			<li>
				<a ng-href="#">Link 2</a>
			</li>
			<li>
				<a ng-href="#" class"btn btn-link">Link 2</a>
			</li>
		</ul>
		<ul class="nav nav-pills nav-main-menu pull-left push-left" ng-show="header.loggedIn">
			{% endraw %}
				{% include 'header/categories-nav.html' %}
			{% raw %}
        </ul>
    </nav>
</div>
<div id="affix-placeholder"></div>
{% endraw %}