{% raw %}
<!-- Landing Page Menu -->
<div class="ui secondary main facebook-login menu inverted" ng-if="facebookLogin">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" class="logo" src="/assets/logo/logo-web-white.png" />
                <img id="logo-mobile" class="logo" src="/assets/logo/logo-mobile-white.png" />
            </a>
        </div>
        <div class="right item">
            <a class="item" href="/login">Login</a>
            <a class="ui inverted button" href="/join">
                <i class="facebook icon"></i>
                Join Now
            </a>
        </div>
    </div>
</div>
{% endraw %}