{% raw %}
<!-- Your Village Menu -->
<div class="ui secondary main menu yourvillage fixed top teal inverted" ng-show="yourVillageMenu">
    <div class="ui container">
        <div class="back item" ng-show="yourVillageSubPage">
            <button class="ui button mini inverted" ng-click="goBack()">
                <i class="left arrow icon"></i>
                Back
            </button>
        </div>
        <div class="right item">
            <a class="ui button inverted" href="tel:+1-206-486-4849">Questions? Call Us!</a>
        </div>
    </div>
</div>
{% endraw %}