{% raw %}
<!-- Main Menu -->
<div class="ui secondary main top fixed menu" ng-hide="header.loggedIn || fullContainer">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" class="logo" src="/assets/webLogo.png" />
                <img id="logo-mobile" class="logo" src="/assets/logo-mobile.png" />
            </a>
        </div>
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/">Home</a>
        <a class="item" href="/is">Product</a>
        <a class="item" href="/giftideas">Discover</a>
        <div class="right item">
            <a class="item" href="/login">Login</a>
            <a class="ui button secondary" href="/join">Join</a>
        </div>
    </div>
</div>

<!-- Main Menu - Mobile -->
<div class="ui left vertical menu wide sidebar inverted" ng-hide="header.loggedIn">
    <a class="item" href="/">Home</a>
    <a class="item" href="/is">Learn More</a>
    <a class="item" href="/giftideas">Discover</a>
    <a class="item" href="/login">Login</a>
    <a class="item" href="/join">Signup</a>
</div>

<!-- User Menu -->
<div class="ui secondary main top fixed menu" ng-show="header.loggedIn || header.portaling">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" class="logo" src="/assets/logo-mobile.png" />
                <img id="logo-mobile" class="logo" src="/assets/logo-mobile.png" />
            </a>
        </div>
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/giftideas">Gift Ideas</a>
        <div class="ui dropdown item" tabindex="0">
            Explore
            <span><i class="dropdown icon"></i></span>
            <div class="ui vertical menu transition hidden" tabindex="-1">
                <a class="item" href="/giftideas">Browse Gifts</a>
                <a class="item" href="/concierge">Gift Concierge</a>
                <a class="item" href="/giftideas">Gift Ideas</a>
                <a class="item" href="/howitworks">How It Works</a>
                <a class="item" href="/faq">FAQs</a>
            </div>
        </div>
        <div class="ui item category search">
            <div class="ui transparent left icon input">
                <input class="prompt" type="text" placeholder="Search Gifts Ideas" onkeypress="if(event.keyCode==13){top.location='/search/'+jQuery(this).val()}">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <div class="right item menu">
            <div class="ui dropdown item" tabindex="0">
                <span><i class="alarm teal icon notification"></i></span>
                <img class="ui avatar image" ng-src="{{header.userImageUrl || '/assets/noUserImage.png' }}">
                <span><i class="dropdown icon"></i></span>
                <div class="ui vertical menu transition hidden" tabindex="-1">
                    <a class="item" ng-href="{{header.userProfileUrl}}">Activity <span class="ui teal empty circular label"></span></a>
                    <a class="item" ng-href="{{header.userProfileUrl}}#mycampaigns">Campaigns</a>
                    <a class="item" ng-href="{{header.userProfileUrl}}#savedgiftideas">Saved Gifts</a>
                    <div class="ui divider"></div>
                    <a class="item" ng-href="{{header.userProfileUrl}}">Profile</a>
                    <a class="item" ng-href="{{header.userProfileUrl}}">Settings</a>
                    <a class="item logout_action" ng-click="header.logout();">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User Menu - Mobile -->
<div class="ui left vertical menu wide sidebar inverted" ng-show="header.loggedIn">
    <div class="ui item">
        <div class="ui action input">
            <input id="searchValMobile" type="text" placeholder="Search Gifts Ideas">
            <button class="ui teal button" onclick="top.location='/search/'+jQuery('#searchValMobile').val()">Search</button>
        </div>
    </div>
    <a class="item" href="/">Home</a>
    <a class="item" href="/giftideas">Gift Ideas</a>
    <a class="item" href="/giftideas">Browse Gifts</a>
    <a class="item" href="/concierge">Gift Concierge</a>
    <a class="item" href="/giftideas">Gift Ideas</a>
    <a class="item" href="/howitworks">How It Works</a>
    <a class="item" href="/faq">FAQs</a>
</div>

<!-- Slim Menu -->
<div class="ui secondary main menu top fixed" ng-show="fullContainer" ng-hide="header.loggedIn || header.portaling">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" src="/assets/webLogo.png" />
                <img id="logo-mobile" src="/assets/logo-mobile.png" />
            </a>
        </div>
        <a class="toc item"><i class="sidebar icon"></i></a>
        <div class="right item">
            <div class="item help">
                <p>Already have an account?</p>
            </div>
            <a class="ui button secondary basic grey" href="/login">Login</a>
        </div>
    </div>
</div>
{% endraw %}