{% raw %}
<!-- Main Menu -->
<div class="ui top menu secondary main fixed top" ng-if="mainMenu" ng-controller="HeaderController as header">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" class="logo" src="/assets/webLogo.png" />
                <img id="logo-mobile" class="logo" src="/assets/logo-mobile.png" />
            </a>
        </div>
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/">Home</a>
        <a class="item" href="/is">How It Works</a>
        <a class="item" href="/discover">Discover</a>
        <div class="right item">
            <a class="item" href="/login">Login</a>
            <div class="item">
                <a class="ui button teal" href="/join">Join</a>
            </div>
        </div>
    </div>
</div>
{% endraw %}