{% raw %}
<!-- User Menu -->
<div class="ui secondary main menu fixed top" ng-if="userMenu">
    <div class="ui container">
        <div class="header item">
            <a class="headerLogoWrapper" href="/">
                <img id="logo" class="logo" src="/assets/logo-mobile.png" />
                <img id="logo-mobile" class="logo" src="/assets/logo-mobile.png" />
            </a>
        </div>
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/discover"><i class="gift icon"></i> Start a Group Gift</a>
        <div class="ui dropdown item" tabindex="0">
            Explore
            <span><i class="dropdown icon"></i></span>
            <div class="ui vertical menu transition hidden" tabindex="-1">
                <a class="item" href="/is"><i class="sidebar icon"></i> How it Works</a>
                <a class="item" href="/concierge"><i class="comments outline icon"></i> Gift Concierge</a>
                <a class="item" href="/faq"><i class="help icon"></i>  FAQs</a>
                <a class="item" href="/blog" target="_blank"><i class="feed icon"></i> Blog</a>
            </div>
        </div>
        <div class="ui item category search">
            <gs-product-search home="false" results="false" menu="true"></gs-product-search>
        </div>
        <div class="right item menu">
            <div class="ui dropdown item" tabindex="0">
                <i class="alarm teal icon notification" ng-hide="numNotificationsUnseen === 0"></i>
                <!-- 
                     Tyler Goelz @yaboi - 7 Nov 2015
                     BEFORE THIS IS PUSHED...
                     Uncomment line directly underneath this comment becuase it
                     is the correct code to work in production.
                     Remove second line, it's only a placeholder to make the
                     the cross-domain image issue work.
                -->
                <!-- <img class="ui avatar image" data-ng-src="{{header.userImageUrl || '/assets/noUserImage.png' }}"> -->
                <img class="ui avatar image" src="https://storage.googleapis.com/giftstarter-pictures/u/fe4a68d6-4d27-4f7e-80c1-99801116ee2c.png">
                <span><i class="dropdown icon"></i></span>
                <div class="ui vertical menu transition hidden" tabindex="-1">
                    <a class="item" data-ng-href="{{header.userProfileUrl}}">Activity <span class="ui teal empty circular label" ng-hide="numNotificationsUnseen === 0"></span></a>
                    <a class="item" data-ng-href="{{header.userProfileUrl}}#campaigns">Campaigns</a>
                    <a class="item" data-ng-href="{{header.userProfileUrl}}#pitchins">Pitch Ins</a>
                    <a class="item" data-ng-href="{{header.userProfileUrl}}#savedgiftideas">Saved Gifts</a>
                    <div class="ui divider"></div>
                    <a class="item" data-ng-href="{{header.userProfileUrl}}">Profile</a>
                    <a class="item" data-ng-href="{{header.userProfileUrl}}#settings">Account</a>
                    <a class="item logout_action" data-ng-click="header.logout(); actions.menuItemClicked();">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}