{% raw %}
<!-- User Menu Sidebar -->
<div class="ui left vertical menu sidebar" ng-controller="HeaderController as header" ng-hide="!userMenu">
    <a class="item ui teal" href="/discover">
        <i class="gift icon teal ui"></i> Start a Group Gift
    </a>
    <a href="/concierge" class="item">
        <i class="comments outline icon"></i> Gift Concierge
    </a>
    <a class="item" href="/is">
        <i class="idea icon"></i> How it Works
    </a>
    <a href="/faq" class="item">
        <i class="question circle icon"></i> FAQs
    </a>
    <div class="item"></div>
    <a href="https://www.facebook.com/giftstart" class="item ui blue" target="_blank">
        <i class="facebook blue icon"></i> Share with Friends
    </a>
    <a href="/blog" class="item">
        <i class="feed icon"></i> Blog
    </a>
</div>
{% endraw %}