iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.inspirationalexamples {
  overflow: hidden; }
  .inspirationalexamples .product-item {
    background-color: #363636;
    color: white;
    display: inline-block;
    height: 368px;
    padding: 10px;
    margin: 10px;
    width: 524px;
    white-space: normal;
    vertical-align: top;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (max-width: 667px) {
      .inspirationalexamples .product-item {
        height: 184px;
        width: 262px; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .inspirationalexamples .product-item {
        height: 184px;
        width: 262px; } }
    .inspirationalexamples .product-item .left-col {
      float: left;
      height: 100%; }
    .inspirationalexamples .product-item .right-col {
      height: 100%; }
    .inspirationalexamples .product-item .title {
      font-size: 1.125em;
      line-height: 90%;
      margin: 5px; }
    .inspirationalexamples .product-item hr {
      margin: 5px; }
  .inspirationalexamples .rotate {
    overflow: hidden;
    position: relative;
    left: -50%;
    height: 378px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    vertical-align: top; }
    @media only screen and (max-width: 667px) {
      .inspirationalexamples .rotate {
        left: auto; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .inspirationalexamples .rotate {
        left: auto; } }
  .inspirationalexamples #outer {
    display: inline-block;
    position: relative;
    right: -50%; }
    @media only screen and (max-width: 667px) {
      .inspirationalexamples #outer {
        right: auto; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .inspirationalexamples #outer {
        right: auto; } }
  .inspirationalexamples #clear {
    clear: both; }
  .inspirationalexamples .large {
    font-size: 2em; }
