@import "../../base"

div.wrapper.giftideas
  height: 100%
  color: #555
  -webkit-font-smoothing: antialiased
  -webkit-overflow-scrolling: touch
  input, select, textarea
  color: #222
  @include apply-at-size("phone")
    margin-left: 0px !important
    margin-top: 1em !important
.giftideas
  .headerwrap
    @include apply-at-size("phone")
      margin: 1em auto 0 !important
      height: 350px !important

  .scrollbox
    overflow-y: auto
    -webkit-line-clamp: 9
    -webkit-box-orient: vertical
    max-height: 19.8em
    min-height: 19.8em

  .gsbuttons
    padding-top: 10px
    .loader
      height: 14px
      width: 14px

  .centered
    text-align: center

  .grid
    margin: 25px auto

  .clear
    clear: both

  #product-search-anchor
    a
    #categories-container
      width: 100%

  #disclaimer
    font-size: 10px
    max-width: 550px
    margin: 25px auto 0 auto
    text-align: center !important

  /* Links

  a
    color: #df484c
    word-wrap: break-word
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in
    -o-transition: color 0.1s ease-in, background 0.1s ease-in
    transition: color 0.1s ease-in, background 0.1s ease-in
    &:hover, &:focus
      color: #df484b
      text-decoration: none
      outline: 0
    &:before, &:after
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in
      -o-transition: color 0.1s ease-in, background 0.1s ease-in
      transition: color 0.1s ease-in, background 0.1s ease-in


  /* ==========================================================================
   * MEDIA QUERIES
   * ==========================================================================

  @media screen and (max-width: 1050px), screen and (max-device-width: 1050px)
    body .header
      background-attachment: scroll

  /*ipad portrait
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
    .header
      background-attachment: scroll

  @media screen and (max-width: $phone-boundary)
    .scrollbox
      overflow-y: auto
      -webkit-line-clamp: unset
      -webkit-box-orient: unset
      max-height: none
