iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

gs-toast {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  gs-toast div.toast-wrapper {
    position: relative;
    display: none;
    background: #f0f0f0;
    border-bottom: solid 4px #e0e0e0;
    text-align: center;
    overflow: none;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    gs-toast div.toast-wrapper p.toast {
      font-size: 120%;
      padding: 0.5em;
      padding-right: 1.5em;
      margin: 0; }
    gs-toast div.toast-wrapper p.close {
      padding: 0.5em;
      margin: 0em;
      font-size: 120%;
      color: #808080;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    gs-toast div.toast-wrapper p.close:hover {
      color: #e44028; }
  gs-toast div.toast-wrapper.hide {
    opacity: 0; }
  gs-toast div.toast-wrapper.displayed {
    display: block; }
