<footer>
    <div class="wrapper">
        <!--<div class="block subscribe">
            <header>
                <h1>Join Us!</h1>
                <div class="social">
                    <a href="https://www.facebook.com/giftstart"><img class="social" src="/assets/facebookLink.png"/></a>
                    <a href="https://twitter.com/GiftStarter"><img class="social" src="/assets/twitterLink.png"/></a>
                    <a href="https://www.linkedin.com/company/3768783"><img class="social" src="/assets/linkedinLink.png"/></a>
                    <a href="http://blog.giftstarter.co" target="_blank"><img class="social" src="/assets/blogLink.png" /></a>
                </div>
            </header>
            <p>Join us on our journey, as we bring meaning and convenience to social gifting.  Sign up for email updates sent directly from our founders to track our progress.</p>
            <p>Thank you for your support!</p>
            <div class="email-sub">
                <form action="//giftstarter.us8.list-manage.com/subscribe/post?u=9d503578c402cdc6d3fa96dd7&amp;id=fdc0096ceb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Email Address" required>
                    &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_9d503578c402cdc6d3fa96dd7_fdc0096ceb" tabindex="-1" value=""></div>
                    <button type="submit" class="button">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="block founders">
            <div class="block founder">
                <img src="/assets/arry_square_s.jpg"/>
                <p>ARRY YU</p>
                <p>BUSINESS LEAD</p>
            </div><div class="block founder">
                <img src="/assets/stuart_square_s.jpg"/>
                <p>STUART OWEN</p>
                <p>TECHNOLOGY LEAD</p>
            </div><div class="block founder">
                <img src="/assets/christie_square_s.jpg"/>
                <p>CHRISTIE GETTLER</p>
                <p>DESIGN LEAD</p>
            </div>
        </div>-->
        </div>
        <div class="footblock left">
            <div class="footcol">
                <span class="colhead">Company</span>
                <a href="/about">About Us</a><br/>
                <a href="#" onclick="olark('api.box.expand')">Contact Us</a><br/>
                <a href="/terms">Terms & Conditions</a><br/>
                <a href="/privacy">Privacy Policy</a>
            </div>
            <div class="footcol">
                <span class="colhead">Help</span>
                <a href="/howitworks">How It Works</a><br/>
                <a href="/faq">FAQ</a><br/>
                <a href="/concierge">Gift Concierge</a>
            </div>
            <div class="footcol">
                <span class="colhead">Discover</span>
                <a href="/partners">Partner With Us</a><br/>
                <a href="/press" target="_self">Press</a><br/>
                <a href="/blog" target="_blank">Blog</a>
            </div>
            <div class="footcol">
                <span class="colhead">Join Us</span>
                <span class="nobr">
                    <a href="https://www.facebook.com/giftstart"><img class="socialicon" src="/assets/facebookicon.png"></a>
                    <a href="https://twitter.com/giftstarter"><img class="socialicon" src="/assets/twittericon.png"></a>
                    <a href="https://www.linkedin.com/company/giftstarter"><img class="socialicon" src="/assets/linkedInicon.png"></a>
                    <a href="https://www.pinterest.com/Giftstarter/"><img class="socialicon" src="/assets/pintresticon.png"></a>
                    <a href="https://www.youtube.com/channel/UCDYNpHMV5-tOC1T9SGs8elQ"><img class="socialicon" src="/assets/youtubeicon.png"></a>
                </span>
                <form action="//giftstarter.us8.list-manage.com/subscribe/post?u=9d503578c402cdc6d3fa96dd7&amp;id=c0f44e11c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required><br/>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_9d503578c402cdc6d3fa96dd7_c0f44e11c0" tabindex="-1" value=""></div>
                    <button type="submit" class="button">Join our mailing list</button>
                </form>
            </div>
        </div>
        <div class="footblock right">
            <img class="logo" src="/assets/logo_square_nobg.png" /><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2015 Emotiv Labs, Inc.
        </div>
    </div>
</footer>
