<footer>
    <div class="footblock left">
        <div class="footcol links">
            <span class="colhead">HELPFUL LINKS</span>
            <a href="/howitworks">How It Works</a><br/>
            <a href="/about">About Us</a><br/>
            <a href="/about#contactus">Contact Us</a><br/>
            <a href="/concierge">Gift Concierge</a><br/>
            <a href="/blog" target="_blank">Blog</a><br/>
            <a href="/faq">FAQ</a><br/>
            <a href="/press" target="_self">Press</a><br/>
            <a href="/partners">Partners</a><br/>
            <a href="/terms">Terms & Conditions</a><br/>
            <a href="/privacy">Privacy Policy</a>
        </div>
        <div class="footcol social">
            <span class="colhead">SOCIAL</span>
            <a href="https://www.facebook.com/giftstart"><img class="socialicon" src="/assets/facebookicon.png"> /GiftStart</a>
            <a href="https://twitter.com/giftstarter"><img class="socialicon" src="/assets/twittericon.png"> @GiftChampion</a>
            <a href="https://www.linkedin.com/company/giftstarter"><img class="socialicon" src="/assets/linkedInicon.png"> GiftStarter</a>
            <a href="https://www.pinterest.com/Giftstarter/"><img class="socialicon" src="/assets/pintresticon.png"> GiftStarter</a>
            <a href="https://www.youtube.com/channel/UCDYNpHMV5-tOC1T9SGs8elQ"><img class="socialicon" src="/assets/youtubeicon.png"> GiftStarter</a>
        </div>
        <div class="footcol joinus">
            <span class="colhead">Join Us</span>
            <span id="desc">Don't miss our gifting tips, reminders, and special offers!</span>
            <form action="//giftstarter.us8.list-manage.com/subscribe/post?u=9d503578c402cdc6d3fa96dd7&amp;id=c0f44e11c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required><br/>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_9d503578c402cdc6d3fa96dd7_c0f44e11c0" tabindex="-1" value=""></div>
                <button type="submit" class="button">Join our mailing list</button>
            </form>
        </div>
    </div>
    <div class="footblock right">
        <span id="patentpending-desktop">PATENT PENDING</span>
        <div id="comodo-desktop"><img src="/assets/comodo_secure.png" /></div>
        <div id="logo">
            <img class="logo" src="/assets/logo_square_nobg.png" /><br/>

            <span id="patentpending-mobile">PATENT PENDING</span>
            <span class="bullet">&#8226;&nbsp;</span>2015 Emotiv Labs, Inc.<span class="bullet">&nbsp;&#8226;</span>
            <div id="comodo-mobile"><img src="/assets/comodo_secure.png" /></div>
        </div>
    </div>
</div>
</footer>
