<!DOCTYPE html>
<html ng-app="GiftStarterApp">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=550px, user-scalable=no"/>
    <title>GiftStarter</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/frame.css"/>
    <link rel="stylesheet" href="/stylesheets/product-link.css">
    <link rel="stylesheet" href="/stylesheets/giftstart.css">
    <link rel="stylesheet" href="/stylesheets/product-overlay.css">
    <link rel="stylesheet" href="/stylesheets/popover.css">
    <link rel="stylesheet" href="/stylesheets/login-popover.css">
    <link rel="stylesheet" href="/stylesheets/note-popover.css">
    <link rel="stylesheet" href="/stylesheets/pay-popover.css">
    <link rel="stylesheet" href="/stylesheets/invite-popover.css">

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="/bower_components/angular-payments/lib/angular-payments.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/facebook.js"></script>
    <script src="/scripts/giftstart.js"></script>
    <script src="/scripts/product.js"></script>
    <script src="/scripts/overlay.js"></script>
    <script src="/scripts/popover.js"></script>
    <script src="/scripts/login-popover.js"></script>
    <script src="/scripts/note-popover.js"></script>
    <script src="/scripts/pay-popover.js"></script>
    <script src="/scripts/invite-popover.js"></script>

    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
        // ...
    </script>

</head>
<body>
    <header id="header">
        <img id="header-logo" src="/assets/Logo-01.png"/>
    </header>

    <div id="angular-view" ng-view></div>

    <gs-popover></gs-popover>
</body>
</html>