<!DOCTYPE html>
<html ng-app="GiftStarterApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>GiftStarter</title>

    <link rel="stylesheet" href="/stylesheets/frame.css"/>
    <!--<link rel="stylesheet" href="/stylesheets/friends.css">-->
    <link rel="stylesheet" href="/stylesheets/product-link.css">
    <link rel="stylesheet" href="/stylesheets/giftstart.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/facebook.js"></script>
    <script src="/scripts/giftstart.js"></script>
    <script src="/scripts/product.js"></script>

</head>
<body>
    <header id="header">
        <img id="header-logo" src="/assets/Logo-01.png"/>
    </header>
    <div id="angular-view" ng-view></div>
</body>
</html>