<!DOCTYPE html>
<html ng-app="GiftStarterApp">
<head lang="en">
    <title>GiftStarter</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{page_title}}" />
    <meta property="og:url" content="{{page_url}}" />
    <meta property="og:description" content="{{page_description}}" />
    <meta property="fb:app_id" content="301135316704582" />
    <meta property="og:image" content="{{image_url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/frame.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/home.css"/>
    <link rel="stylesheet" href="/stylesheets/product-link.css">
    <link rel="stylesheet" href="/stylesheets/giftstart.css">
    <link rel="stylesheet" href="/stylesheets/overlay.css">
    <link rel="stylesheet" href="/stylesheets/popover.css">
    <link rel="stylesheet" href="/stylesheets/login-popover.css">
    <link rel="stylesheet" href="/stylesheets/note-popover.css">
    <link rel="stylesheet" href="/stylesheets/pay-popover.css">
    <link rel="stylesheet" href="/stylesheets/invite-popover.css">
    <link rel="stylesheet" href="/stylesheets/giftstart-create-shipping.css">
    <link rel="stylesheet" href="/stylesheets/giftstart-create-campaign.css">

    <script src="/scripts/analytics.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="/bower_components/angular-payments/lib/angular-payments.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/facebook.js"></script>
    <script src="/scripts/giftstart.js"></script>
    <script src="/scripts/giftstart-create.js"></script>
    <script src="/scripts/product.js"></script>
    <script src="/scripts/overlay.js"></script>
    <script src="/scripts/popover.js"></script>
    <script src="/scripts/login-popover.js"></script>
    <script src="/scripts/note-popover.js"></script>
    <script src="/scripts/pay-popover.js"></script>
    <script src="/scripts/invite-popover.js"></script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("e62cefc2003d70c2c10c3fdb1fc46917");</script>
    <!-- end Mixpanel -->

    <script>
        {{js_insert|safe}}
    </script>

    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
        // ...
    </script>

</head>
<body>
    {% include 'header.html' %}

    <div id="angular-view" ng-view></div>

    {% include 'footer.html' %}

    <gs-popover></gs-popover>
</body>
</html>