<header id="header" ng-controller="HeaderController as header">
    <div class="wrapper" ng-class="{big: header.thisRoute == '/', small: header.thisRoute != '/'}">
        <a href="/"><img id="header-logo" src="/assets/logo_beta.png"/></a>
        <div class="nav">
            <a ng-show="header.loggedIn"><h2 class="logout navitem" ng-click="header.logout()">Logout</h2><h2>|</h2></a><a href="http://blog.giftstarter.co" target="_blank"><h2 class="blog navitem">Blog</h2></a><a><h2>|</h2></a><a href="/faq"><h2 class="faq navitem">FAQ</h2></a>
        </div>
    </div>
</header>