{% raw %}
<header ng-controller="HeaderController as header" id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a href="/"><img id="logo" src="/assets/webLogo.png" class="navbar-brand" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/giftideas" ng-click="header.closeMobileMenu()">Discover <span class="sr-only">(current)</span></a></li>
        <li><a href="/howitworks" ng-click="header.closeMobileMenu()">Start</a></li>
      </ul>
      <form class="navbar-form navbar-left form-inline" role="search">
        <div class="form-group">
		  <button id="product-search-button-head" class="btn btn-link btn-large" onclick="top.location='/search/'+jQuery('#product-search-input-head').val()" style="margin-top: -8px;font-size: 1.6em;"><i class="fa fa-search"></i></button>
		<input id="product-search-input-head"
               class="text-input form-control"
               type="text"
               name="product-link"
               placeholder="Search for a gift"
               onkeypress="if(event.keyCode==13){jQuery('#product-search-button-head').click();}" />
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
       <li id="nav_notifications" class="menu-login dropdown" ng-show="header.loggedIn" ng-mouseenter="header.notificationsHoverIn()" ng-mouseleave="header.notificationsHoverOut()" ng-class="{hideMobileNotifications: !notifyOpen}">
        <a name="notificationlist" href="#" data-toggle="dropdown" class="menu-notifications dropdown-toggle" ng-hide="notifyOpen" role="button" aria-expanded="false"><img class="header-notifications" ng-src="/assets/notifications-{{notificationHover && 'open' || numNotifications==0 && 'none' || 'new'}}.png" ng-hide="notifyOpen" /> {{numNotificationsUnseen}}</a>
		<ul id="notification-list" class="dropdown-menu" role="menu">
            <li ng-repeat="item in notifications" ng-class="{notificationsRead: item.seen, notificationsUnread: !item.seen}"><a href="{{item.link}}" ng-click="header.notificationClick(item)">{{item.title}}</a>
            </li>
            <li id="no-notifications-msg" ng-show="numNotifications==0" ng-click="header.closeNotifications()">You have no notifications</li>
        </ul>
    </li>
        <li class="dropdown" ng-show="header.loggedIn" ng-class="{hideOnMobile: notifyOpen}">
			
		<a class="menu-user dropdown-toggle" data-toggle="dropdown" ng-href="{{header.userProfileUrl}}" ng-click="header.closeMobileMenu()" ng-show="header.loggedIn" role="button" aria-expanded="false">
			<img class="header-picture" ng-src="{{header.userImageUrl}}" ng-show="header.loggedIn && header.userImageUrl" /> {{header.userName}} <span class="caret"></span>
		</a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="{{header.userProfileUrl}}" ng-click="header.closeMobileMenu()">Profile Page</a></li>
            <li><a ng-href="{{header.userProfileUrl}}#mycampaigns" ng-click="header.closeMobileMenu()">My Campaigns</a></li>
            <li><a ng-href="{{header.userProfileUrl}}#savedgiftideas" ng-click="header.closeMobileMenu()">Saved Gift Ideas</a></li>
            <li id="mobile_notifications"><a ng-click="header.openNotifications()" class="linky">Notifications ({{numNotificationsUnseen}})</a></li>
            <li><a ng-href="/faq" ng-click="header.closeMobileMenu()">FAQ</a></li>
            <li class="dropdown-divider" role="presentation"></li>
			<li class="hidden"><a class="coming-soon">Settings</a></li>
            <li><a class="linky" ng-click="header.logout(); actions.menuItemClicked(); header.closeMobileMenu()">Log Out</a></li>
          </ul>
        </li>
	<li class="menu-login" ng-class="{hideOnMobile: notifyOpen}"><a ng-href="{{isHeaderOnly?'#nav_login':''}}" ng-hide="header.loggedIn || header.portaling" ng-click="header.showLogin(); actions.menuItemClicked(true);" class="btn btn-link">Login</a></li>
	<li class="menu-login" ng-class="{hideOnMobile: notifyOpen}"><a href="/login" ng-hide="header.loggedIn || header.portaling" class="btn btn-link strong cta">Sign Up</a></li>

	</ul>
    </div>
  </div>
</nav>
    <div class="loginwrapper" ng-show="showLoginwrapper" ng-keyup="header.loginKeyPress($event)">
      <img id="closebtn" src="/assets/x.png" ng-click="header.closeLogin()" />
      <ng-include src="'/scripts/login/login-or-create.html'"></ng-include>
    </div>
    <div class="nomobile">
      <div class="blackout-screen" ng-show="showBlackout" ng-click="header.closeLogin(); header.closeNotifications()"></div>
    </div>
</header>
{% endraw %}


