<header id="header" ng-controller="HeaderController">
    <div class="wrapper" ng-class="{big: thisRoute == '/', small: thisRoute != '/'}">
        <img id="header-logo" src="/assets/logo_beta.png"/>
        <div class="big-container">
            <h1>Reinventing Gifting, Together.</h1>
            <gs-product-link></gs-product-link>
            <div class="nav">
                <span class="login navitem">Login</span>|<span class="faq navitem">FAQ</span>
            </div>
        </div>
    </div>
</header>