<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/scripts/out/app.js"></script>

<!-- PINGDOM -->
<script>
    var _prum = [['id', '543ee36aabe53d827cdf07cd'],
        ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
                , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
</script>