<script src="/scripts/analytics.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="/bower_components/angular-easyfb/angular-easyfb.min.js"></script>
<script src="/bower_components/angular-payments/lib/angular-payments.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/header.js"></script>
<script src="/scripts/user.js"></script>
<script src="/scripts/facebook.js"></script>
<script src="/scripts/twitter.js"></script>
<script src="/scripts/googleplus.js"></script>
<script src="/scripts/giftstart.js"></script>
<script src="/scripts/giftstart-create.js"></script>
<script src="/scripts/product.js"></script>
<script src="/scripts/overlay.js"></script>
<script src="/scripts/popover.js"></script>
<script src="/scripts/time-left-bar.js"></script>
<script src="/scripts/funding-bar.js"></script>
<script src="/scripts/login-popover.js"></script>
<script src="/scripts/note-popover.js"></script>
<script src="/scripts/pay-popover.js"></script>
<script src="/scripts/thanks-popover.js"></script>
<script src="/scripts/team_email_authorize.js"></script>
