
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="{{page_title}}" />
<meta property="og:url" content="{{page_url}}" />
<meta property="og:description" content="{{page_description}}" />
<meta property="fb:app_id" content="301135316704582" />
<meta property="og:image" content="{{image_url}}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />


<!-- google plus button params -->
<!--<meta name="google-signin-clientid" content="26242969111.apps.googleusercontent.com" />-->
<!--<meta name="google-signin-cookiepolicy" content="single_host_origin" />-->
<!--<meta name="google-signin-callback" content="googlePlusCallback" />-->
<!--<meta name="google-signin-requestvisibleactions" content="https://schemas.google.com/AddActivity" />-->
<!--<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />-->
<!--<meta name="google-signin-accesstype" content="offline" />-->