iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

#giftideas {
  text-align: center;
  margin: 0 auto; }
  #giftideas .products .head .hero {
    margin-top: 20px; }
  #giftideas .products .head .titles {
    padding-top: 15px; }
  #giftideas .singleproduct .head {
    padding-top: 25px; }
    #giftideas .singleproduct .head .hero {
      width: 50%; }
    #giftideas .singleproduct .head .titles {
      width: 50%; }
  #giftideas .products, #giftideas .singleproduct {
    display: block;
    clear: both;
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 25px; }
    #giftideas .products .saveforlater .product-message, #giftideas .singleproduct .saveforlater .product-message {
      text-align: center;
      color: #666;
      font-size: 13px;
      padding-top: 5px; }
      #giftideas .products .saveforlater .product-message a, #giftideas .singleproduct .saveforlater .product-message a {
        color: #DD494E;
        font-size: 13px; }
    #giftideas .products .textleft, #giftideas .singleproduct .textleft {
      margin: 0;
      text-align: left; }
    #giftideas .products .head, #giftideas .singleproduct .head {
      width: 80%;
      margin: 0 auto; }
      #giftideas .products .head .button, #giftideas .singleproduct .head .button {
        width: 100%; }
    #giftideas .products .hero, #giftideas .singleproduct .hero {
      float: left;
      width: 35%;
      text-align: left; }
    #giftideas .products .titles, #giftideas .singleproduct .titles {
      float: right;
      width: 65%;
      text-align: left;
      padding-left: 15px; }
      #giftideas .products .titles h3, #giftideas .singleproduct .titles h3 {
        margin-top: 5px; }
      #giftideas .products .titles h4, #giftideas .singleproduct .titles h4 {
        margin-top: 5px;
        margin-bottom: 20px; }
    #giftideas .products p, #giftideas .singleproduct p {
      display: block;
      clear: both;
      width: 100%; }
  #giftideas .grid .group {
    width: 50%;
    margin: 0 0;
    padding: 0 0; }
    @media screen and (max-width: 37.5em) {
      #giftideas .grid .group {
        width: 100%; } }
  #giftideas .grid .left {
    float: left; }
    #giftideas .grid .left .tile {
      float: right; }
  #giftideas .grid .right {
    float: right; }
  #giftideas .grid .group.left .tile.last {
    float: none !important; }
  #giftideas .grid .tile a {
    color: #555555; }
  #giftideas .grid .tile .tilelabel {
    height: 50px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 98%; }
    #giftideas .grid .tile .tilelabel .price {
      font-weight: 300; }
  #giftideas .gsbutton {
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 100%;
    vertical-align: middle; }
  @media screen and (max-width: 1030px) {
    #giftideas {
      width: 100%; }
      #giftideas .products .titles {
        float: none;
        width: 100%; }
        #giftideas .products .titles h3 {
          display: table-cell; } }
  @media screen and (max-width: 37.5em) {
    #giftideas {
      width: 100%; }
      #giftideas .products .hero {
        width: 30%; }
      #giftideas .grid .group .tile {
        float: none; }
      #giftideas .singleproduct .hero {
        float: none;
        width: 100% !important;
        text-align: center;
        margin-bottom: 10px; }
        #giftideas .singleproduct .hero img {
          max-width: 50% !important; }
      #giftideas .singleproduct .titles {
        float: none;
        width: 100% !important; }
        #giftideas .singleproduct .titles h1 {
          font-size: 20px; } }
