@import "../base"

.android .popover-container
  margin-top: -20%
  position: relative
  z-index: 10000

.andorid .popover-wrapper.shown
  display: block

.android .note-popover button
  margin: 0 0 1.5rem

.android .note-popover
  background: #e54028
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  height: 32rem
  @media screen and (max-width: $phone-landscape-width)
    height: 16rem

.android .focus
  position: relative
  top: -2rem
  background: #e54028

::-webkit-scrollbar
  -webkit-appearance: none
  width: 5px

::-webkit-scrollbar-thumb
  border-radius: 2px
  background-color: rgba(0,0,0,.3)
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3)

div.popover-wrapper
  position: absolute
  display: none
  width: 100%
  height: 100%
  left: 0
  background: rgba(0, 0, 0, 0.6)
  transition: all 0.2s
  text-align: center
  z-index: 10000

  div.popover-container
    display: inline-block
    +self-align(center)
    margin: 0 auto
    transition: all 0.2s
    z-index: 10001
    padding: 1em
    background: $primary-color
    //+border-radius(0.5em)
    color: #fff
    margin-top: -5%

    a
      color: #fff
      font-weight: 700

  p.cancel-button
    display: inline-block
    text-align: right
    cursor: pointer
    text-decoration: underline
    margin: 0
  div.cancel-button
    text-align: right

  @media screen and (min-width: $phone-tablet-boundary)
    div.popover-container
      padding: 2em

div.popover-wrapper.shown
  +display-flex()
