<div class="pay-popover" ng-controller="PayPopoverController">
    <h1 class="white">Pitch In!</h1>
    <div class="powered">Powered by <img src="/assets/powered_by_stripe.png"></div>

    <div class="saved-cards" ng-show="cards.length > 0" ng-class="{hidden: putNew}">
        <span ng-repeat="card in cards" class="card">
            <input ng-attr-id="{{card.fingerprint}}" type="checkbox" ng-checked="card.selected" value="{{card.fingerprint}}" ng-click="selectCard()"/>
            <label ng-attr-for="{{card.fingerprint}}">
                <img class="brand" ng-src="{{card.brandImage}}">
                <span class="last-four">{{card.last_four}}</span>
            </label>
        </span>
    </div>

    <form stripe-form="stripeSubmit" name="stripeForm" ng-class="{submitted: submitted}" ng-submit="pitchingIn = stripeForm.$valid;">

        <input id="new-credit-card-cb" type="checkbox" ng-model="putNew"><label for="new-credit-card-cb" ng-click="deselectCards()"><span class="arrow" ng-class="{down: putNew}">&#x25BC;</span><span>Use New Card</span></label>

        <div class="card-entry" ng-class="{'put-new': putNew}">
            <div class="number">
                <img ng-src="{{numberImgUrl}}"/>
                <input type="text" id="card-number" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card" ng-class="type" placeholder="Card Number" ng-change="updateFormValidity()" gs-focus="true"/>
            </div><div class="cvc">
                <img ng-src="{{cvcImgUrl}}"/>
                <input type="text" id="card-cvc" ng-model="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc" placeholder="CVC" ng-change="updateFormValidity()"/>
            </div><div class="expiry">
                <img ng-src="{{expiryImgUrl}}"/>
                <input type="text" id="card-expiry" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="MM / YY" ng-change="updateFormValidity()"/>
            </div><div class="zip" ng-class="{invalidzip: (addressZip.length < 5)}">
                <img ng-src="{{zipImgUrl}}">
                <input type="text" id="card-zip" ng-model="addressZip" maxlength="5" placeholder="ZIP" ng-change="updateFormValidity()"/>
            </div><div class="email">
                <img src="{{emailImgUrl}}"/>
                <input type="email" id="card-email" ng-model="email" placeholder="Email Address" ng-change="updateFormValidity()"/>
            </div><span class="save-card">
                <input type="checkbox" id="save-credit-card" ng-model="saveCreditCard"/><label class="small" for="save-credit-card"><img id="save-credit-card-lock" src="/assets/cc_icon_cvc_white.png"/>Save my card</label>
            </span>
        </div>
        <span class="subscribe" ng-hide="userOnMailingList">
            <input type="checkbox" id="subscribe-checkbox" ng-model="emailSubscribe"/><label class="small" for="subscribe-checkbox">Want to hear about new features? (Don't worry, once a month - max!)</label>
        </span>

        <span class="error" ng-show="errorMessage.length > 0">{{errorMessage}}</span>

        <button class="large white-border pay" ng-class="{disabled: pitchingIn}">Pay ${{currentCharge / 100 | number : 2}}</button>
    </form>
    <div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Cancel</p></div>
</div>