.staffpicks

  .product-item
    background-color: rgb(54, 54, 54)
    color: white
    display: inline-block
    height: 300px
    padding: 10px
    position: relative
    margin: 10px
    text-align: left
    width: 500px
    vertical-align: top
    -webkit-font-smoothing: antialiased
    .left-col
      float: left
      height: 280px
      margin-right: 10px

    .title
      font-size: 1.125em

    .avatar
      position: relative
      width: 100px
      z-index: 2

    hr
      margin: 10px

    .corner-box
      background-color: rgb(160, 160, 160)
      position: absolute
      right: 0px
      top: 0px
      height: 75px
      width: 210px
      z-index: 1