<div role="main" class="main">
    <section class="product-tab top-tall">
        <div class="container">
            <h2 class="text-center">The Easiest Way To Get The Help You Need</h2>
            <ul class="nav nav-tabs pro-tabs mason-tabs narrow-tabs text-center" role="tablist">
                <li class="active">By breaking any product or service into affordable pieces, you allow your friends and family to help you and your baby's life much easier.</li>
            </ul>
            <a href="/join" class="btn btn-primary btn-block">Yep - Let's Get Started</a>
            <a href="http://snip.ly/a3Sw" class="btn btn-default btn-block">No Thanks - I Like Thing Difficult</a>
        </div>
    </section>
    <hr />
    <section class="product-tab top-tall">
        <div class="container">
            <p class="text-center">Not quite sure what will make your life easier? We have some suggestions based on what other mother's found.</p>
            <div class="tab-content">
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumb-item">
                            <div class="thumb-item-img">
                                <a href="https://www.giftstarter.com/create?product_url=https:%2F%2Fwww.bohemianguitars.com%2Fbohemian-surfwax-electric-guitar&amp;title=Bohemian%20Guitar%20BOHO%20SURFWAX&amp;price=29900&amp;img_url=https:%2F%2Fimage-cdn.symphonycommerce.com%2Fimages%2Fsites%2Fbohemianguitars%2F1435677246642_Frontside_Left.1200w.jpg&amp;source=bohemianguitar">
                                    <img class="img-responsive" src="http://go.giftstarter.com/marvel/images/products/bohemia-guitar.png" alt="Bohemian Guitar BOHO SURFWAX">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <!-- Insert Speak2Lead and AirCall functionality here. -->
    </section>
</div>