/* font size */
/* color */
/* bg color */
/* color */
a:hover {
  color: #a57bcd; }

.error {
  color: #a57bcd; }

.btn-primary {
  background-color: #a57bcd;
  border-color: #a57bcd; }
  .btn-primary:hover {
    background-color: #000;
    border-color: #000; }

.btn-default:hover {
  background-color: #a57bcd;
  border-color: #a57bcd;
  color: #fff; }

.btn-active {
  background-color: #a57bcd;
  border-color: #a57bcd; }

.close:hover, .close:focus {
  color: #a57bcd; }

.divider {
  background-color: #a57bcd; }

.bg-color1 {
  background-color: #a57bcd !important; }

.bg-color2 {
  background-color: #2a688f !important; }

.bg-color3 {
  background-color: rgba(255, 255, 255, 0.5) !important; }

.bg-color4 {
  background-color: #ededed !important; }

.bg-color5 {
  background-color: #fff !important; }

.bg-color6 {
  background-color: #222; }

.bg-color7 {
  background-color: rgba(0, 0, 0, 0.8) !important; }

/* Header */
.nav-top > li > a:hover, .nav-top > li > a:focus {
  color: #a57bcd; }
  .nav-top > li > a:hover .fa, .nav-top > li > a:focus .fa {
    color: #a57bcd; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #a57bcd; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #a57bcd; }

.nav-main-menu > li > a:after {
  background-color: #a57bcd; }
.nav-main-menu > li > a:hover, .nav-main-menu > li > a:focus {
  background-color: transparent; }

.menu-column-inner .product-price ins {
  color: #a57bcd; }

.header-top .nav-top > li > a:hover, .header-top .nav-top > li > a:focus {
  color: #a57bcd; }
  .header-top .nav-top > li > a:hover .fa, .header-top .nav-top > li > a:focus .fa {
    color: #a57bcd; }
.header-top .shopping-cart a span span {
  color: #a57bcd; }

.nav-icons a:hover, .nav-icons a:focus {
  color: #a57bcd; }
.nav-icons .shopping-cart span {
  background-color: #a57bcd; }

.nav-search-menu > .dropdown > .dropdown-menu > li > a:hover:before, .nav-search-menu > .dropdown > .dropdown-menu > li > a:focus:before {
  border-left-color: #a57bcd; }
.nav-search-menu .dropdown-menu .open > a:before {
  border-left-color: #a57bcd; }

/* countdown */
.countdown {
  border-top-color: #a57bcd; }

/* grid-tabs */
.grid-tabs > li.active > a, .grid-tabs > li.active > a:hover, .grid-tabs > li.active > a:focus {
  border-top-color: #a57bcd; }

/* search */
.form-search .btn:hover, .form-search .btn:focus {
  color: #a57bcd; }

.cat-thumb-act a:hover {
  color: #a57bcd; }

@media (max-width: 360px) {
  .cat-thumb-item-content-wrap.bg-color1 {
    background-color: rgba(165, 123, 205, 0.8) !important; } }

.cat-thumb-video .cat-thumb-item-img:after {
  background-color: rgba(165, 123, 205, 0.1); }

.cat-caption {
  background-color: rgba(165, 123, 205, 0.9); }

.owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #a57bcd;
  border-color: #a57bcd; }

/* post img slide */
.pgl-img-slide .owl-controls .owl-buttons div:hover {
  background-color: #a57bcd;
  border-color: #a57bcd; }

/* second slides */
.second-slides .slide-item-caption-info h1 {
  color: #a57bcd; }

.highlight-slide h3 a:hover, .highlight-slide h3 a:focus, .highlight-slide .product-price ins {
  color: #a57bcd; }

.product-cat a:hover {
  color: #a57bcd; }

.thumb-act-more .btn-cart {
  background-color: #a57bcd; }

.list-review a:hover, .list-review a:focus {
  color: #a57bcd; }

/* summary */
.summary .product-cat a:hover, .summary .product-cat a:focus {
  color: #a57bcd; }

/* _shopping-cart */
.product-subtotal, .total .amount {
  color: #a57bcd; }

/* Blog */
.post-date {
  background-color: #a57bcd; }

.post-large blockquote footer cite, .post-mansory-item .post-mid blockquote footer cite {
  color: #a57bcd; }

.post-info a:hover, .post-info a:focus {
  color: #a57bcd; }

/* Sidebar */
.blk-categories {
  background-color: #a57bcd; }

.blk-highlight:after {
  border-top-color: #a57bcd; }
.blk-highlight h4 {
  color: #a57bcd; }

/* featured-foot */
.contact-info-wrap:after {
  background-color: rgba(165, 123, 205, 0.9); }

.newsletter-form .form-control:focus {
  border-bottom-color: #a57bcd; }

/* Scroll to Top */
.scroll-to-top:hover {
  background-color: #a57bcd;
  border-color: #a57bcd; }

/* Panel in offcanvas */
.uk-offcanvas .uk-panel h3 a:hover, .uk-offcanvas .uk-panel h3 a:focus {
  color: #a57bcd; }
.uk-offcanvas .uk-panel .product-price ins {
  color: #a57bcd; }

.uk-nav-offcanvas a:hover, .uk-nav-offcanvas a:focus {
  color: #a57bcd; }

.uk-nav-sub .active a {
  color: #a57bcd; }

@media (max-width: 991px) {
  .uk-navbar-toggle:hover, .uk-navbar-toggle:focus {
    color: #a57bcd; } }

/* #Footer */
#footer a:hover {
  color: #a57bcd; }
#footer address a:hover, #footer .footer-copyright p a:hover {
  color: #a57bcd; }
#footer .latest-tweets a {
  color: #a57bcd; }
  #footer .latest-tweets a:hover {
    color: #777; }
#footer .card-icons a:hover {
  color: #a57bcd; }

.social-icons a:after {
  background-color: #a57bcd; }

#footer.bg-color6 a:hover {
  color: #a57bcd; }
#footer.bg-color6 address a:hover, #footer.bg-color6 .footer-copyright p a:hover {
  color: #a57bcd; }
#footer.bg-color6 .latest-tweets a {
  color: #a57bcd; }
  #footer.bg-color6 .latest-tweets a:hover {
    color: #777; }
#footer.bg-color6 .card-icons a:hover {
  color: #a57bcd; }
