<div class="userlogin__form">
    <p>Create account with email address:</p>
    <form ng-submit="$parent.doCreateEmail()">
        <input class="userlogin__name" type="text" name="name" ng-model="$parent.name" placeholder="First Name" required /><br/>
        <input class="userlogin__surname" type="text" name="surname" ng-model="$parent.surname" placeholder="Last Name" required /><br/>
        <input class="userlogin__email" type="email" name="email" ng-model="$parent.email" placeholder="Email Address" required /><br/>
        <div class="userlogin__passwordwrap"><input ng-hide="$parent.showPassword" class="userlogin__password" type="password" autocomplete="off" name="password" ng-model="$parent.password" placeholder="Password" required /><input ng-show="$parent.showPassword" class="userlogin__password" type="text" autocomplete="off" name="password" ng-model="$parent.password" placeholder="Password" required /><div class="userlogin__eye" ng-click="$parent.showPassword=!$parent.showPassword"></div></div>
        <div class="userlogin__message">{{$parent.message}}</div>
        <button class="userlogin__loginbtn red" ng-disabled="$parent.working">Create account</button>
    </form>
</div>
