<div class="userlogin__form" ng-hide="$parent.showForgot || $parent.showReset">
    <h4>Login with an email address:</h4>
    <form ng-submit="$parent.doLoginEmail()" class="login_action">
        <input class="userlogin__email" type="email" name="email" ng-model="$parent.email" placeholder="Enter your email address" required />
        <div class="userlogin__passwordwrap"><input class="userlogin__password" type="password" autocomplete="off" name="password" ng-model="$parent.password" placeholder="Enter your password" required></div>
        <a class="userlogin__forgot linky" ng-click="$parent.showForgot=true">Forgot password</a>
        <div class="userlogin__wrapper">
            <!--<input class="userlogin__remember" type="checkbox" name="remember" id="remember">-->
        </div>
        <div class="userlogin__message">{{$parent.message}}</div>
        <button class="userlogin__loginbtn red login_action" ng-disabled="$parent.working">Log In</button>
    </form>
</div>

<div class="userlogin__form" ng-show="$parent.showForgot">
    <form ng-submit="$parent.doForgotPassword()">
        <input class="userlogin__email" type="email" name="email" ng-model="$parent.email" placeholder="Enter your email address" required />
        <a class="userlogin__forgot linky" ng-click="$parent.showForgot=false">Cancel</a>
        <div class="userlogin__message">{{$parent.message}}</div>
        <button class="userlogin__loginbtn" ng-disabled="$parent.working">Get Password</button>
    </form>
</div>

<div class="userlogin__form" ng-show="$parent.showReset">
    <h4>Reset Your Password:</h4>
    <form ng-submit="$parent.doResetPassword()">
        <input class="userlogin__email" type="hidden" name="resetcode" ng-model="$parent.resetCode" placeholder="Enter the reset code" required />
        <input class="userlogin__email" type="email" name="email" ng-model="$parent.email" placeholder="Enter your email address" required />
        <div class="userlogin__passwordwrap"><input ng-hide="$parent.showPassword" class="userlogin__password" type="password" autocomplete="off" name="password" ng-model="$parent.password" placeholder="Enter a New Password" required /><input ng-show="$parent.showPassword" class="userlogin__password" type="text" autocomplete="off" name="password" ng-model="$parent.password" placeholder="Password" required /><div class="userlogin__eye" ng-click="$parent.showPassword=!$parent.showPassword"></div></div>
        <!--<input class="userlogin__password" type="password" autocomplete="off" name="password" ng-model="$parent.reenterpassword" placeholder="Re-enter the Password" required>-->
        <a class="userlogin__forgot linky" ng-click="$parent.showReset=false">Cancel</a>
        <div class="userlogin__message">{{$parent.message}}</div>
        <button class="userlogin__loginbtn red" ng-disabled="$parent.working">Change Password</button>
    </form>
</div>