<div class="userlogin" ng-controller="LoginOrCreateController">
    <div class="userlogin__emaillogin block" ng-hide="showCreate">
        <ng-include src="'/scripts/login/login.html'"></ng-include>
        <div class="userlogin__createacc switchtxt" ng-hide="showSocials">
            <span>Don't have an account? </span>
           <span><a ng-click="showCreate=true; resetForm();" class="userlogin__createacclink linky">Create</a></span>
        </div>
    </div>
    <div class="userlogin__emaillogin block" ng-show="showCreate">
        <ng-include src="'/scripts/login/create-account.html'"></ng-include>
        <div class="userlogin__createacc switchtxt" ng-hide="showSocials">
            <span>Already have an account? </span>
            <span><a ng-click="showCreate=false; resetForm();" class="userlogin__createacclink linky">Login</a></span>
        </div>
    </div>
    <div class="vertical-line-block">
        <div class="vertical-line" ng-show="showSocials"/>
    </div>
    <div class="userlogin__sociallogin block" ng-show="showSocials">
        <p>Or {{showCreate?"create account":"login"}} with social media:</p>
        <div class="social">
            <a class="social__link linky" ng-click="doLoginFacebook()"><img class="social__icons" src="/assets/login/facebook.png"></a><br/>
            <a class="social__link linky" ng-click="doLoginTwitter()"><img class="social__icons" src="/assets/login/twitter.png"></a>
            <a class="social__link linky" ng-click="doLoginLinkedin()"><img class="social__icons" src="/assets/login/linkedin.png"></a>
            <a class="social__link linky" ng-click="doLoginGoogleplus()"><img class="social__icons" src="/assets/login/google.png"></a>
        </div>
        <div class="userlogin__createacc switchtxt" ng-show="showCreate">
            <span>Already have an account? </span>
            <span><a ng-click="showCreate=false; resetForm();" class="userlogin__createacclink linky">Login</a></span>
        </div>
        <div class="userlogin__createacc switchtxt" ng-hide="showCreate">
            <span>Don't have an account? </span>
           <span><a ng-click="showCreate=true; resetForm();" class="userlogin__createacclink linky">Create</a></span>
        </div>
    </div>
    <div ng-hide="showSocials">
        <br/><br/>
    </div>
</div>