@import "../base"
@import "../frame/column"

$step-margin-width: 4em
$landing-page-padding-horz: 1.5em
$step-width: (2 * $column-width - 4 * $step-margin-width - 2 * $landing-page-padding-horz) / 3

div.landing-page
  padding: 0.75em $landing-page-padding-horz
  text-align: center
  margin: 1em auto

  *
    font-family: "Roboto", sans-serif
    font-color: #333
    margin: 0
    padding: 0

  hr
    margin-top: 90px

  div.clear
    clear: both

  button
    font-family: BlanchCondensed

  div.horizontalBar
    border-color: $primary-color
    background-color: $primary-color
    width: 160px
    height: 2px
    margin: 0 auto 60px auto

  @media screen and (max-width: $tablet-computer-boundary)
    width: 100%
  @media screen and (min-width: $tablet-computer-boundary)
    width: 2 * $column-width

  p.explainer
    margin-top: 0
    font-size: 18px
  @media screen and (min-width: $phone-tablet-boundary)
    p.explainer:first-of-type
      margin-top: 1em
      margin-bottom: 0.25em
    p.explainer:last-of-type
      margin-top: 0.25em

  h1
    font-family: "Roboto Bold", sans-serif
    font-size: 65pt
  h3
    font-size: 36pt
    margin: 90px 0 40px 0
  h5
    font-size: 24pt
    color: #666
  h5.stepsHeader
    margin-bottom: 60px

  div.copy
    margin-bottom: 2em
    text-align: left

    div
      padding-right: 1em
      display: inline-block
      vertical-align: top
      text-align: justify
      @media screen and (min-width: $tablet-computer-boundary)
        p.what-is-it
          +column-count(2)
          +column-gap(1.5em)
          margin-top: 0
          margin-bottom: 1.5em
      @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
        p.what-is-it
          +column-count(2)
          +column-gap(1.5em)
          margin-top: 0
          margin-bottom: 1.5em
      @media screen and (max-width: $phone-tablet-boundary)
        width: 100%
        p
          margin: 0

    h1
      color: #000

  div.process
    div.step
      float: left
      text-align: center
      width: $step-width
      vertical-align: top

      img
        width: $step-width
      p
        margin: 0
        text-align: center
      p.stepTitle
        font-size: 24pt
        margin: 25px 0


  @media screen and (max-width: $phone-tablet-boundary)
    div.process
      div.step
        width: 100%

        img
          width: 60%

  @media screen and (min-width: $phone-tablet-boundary) and (max-width: $tablet-computer-boundary)
    div.process
      div.step
        margin-left: 2em
        margin-right: 2em

  div.process
    @media screen and (min-width: $tablet-computer-boundary)
      div.step
        margin-left: $step-margin-width
        margin-right: $step-margin-width

    @media screen and (min-width: $tablet-computer-boundary)
      div.step.one
        margin-left: 0
      div.step.three
        margin-right: 0

  div.hot-campaigns
    h1
      text-align: left

  div.need-a-champion
    width: 100%
    text-align: left
    @media screen and (min-width: $phone-tablet-boundary)
      width: 30em

  p.need-help-concierge
    width: 300px
    margin: 0 auto
    @media screen and (max-width: $phone-tablet-boundary)
      width: 80%

    a
      color: $primary-color
      text-decoration: none

  p.exploreText
    width: 470px
    margin: 0 auto 60px auto
    @media screen and (max-width: $phone-tablet-boundary)
      width: 80%


#how-to-gif
  width: 118%
  margin: 0 -9%
  position: relative
  @media screen and (min-width: $phone-tablet-boundary)
    padding: 1em
    margin: 0 auto
    width: 80%
  img
    width: 100%
  img.gif
    position: absolute
    top: 0
    left: 0

h3.headline
  margin: 0.25em

h1.successful-giftstarts
  text-align: left