@import "../base"

.share
  &.pitchin
    border: solid $gs-lightteal 3px
    margin: 0 4% 30px 4%
    text-align: center
    #title
      background-color: $gs-lightteal
      padding: 20px
      h1
        color: white !important
        font-size: 1.75em
    #share-block
      #content
        display: flex
        display: -webkit-flex
        flex-flow: row
        -webkit-flex-flow: row
        @include apply-at-size("phone")
          flex-flow: column
          -webkit-flex-flow: column
        div.block
          display: flex
          display: -webkit-flex
          flex: 0 1 auto
          -webkit-flex: 0 1 auto
          -ms-flex: 0 1 auto
          max-width: none //calc(590px - 4%)
          text-align: left
          width: 100%
      .message
        flex-flow: column
        -webkit-flex-flow: column
        #shareMessage
          @include apply-at-size("phone")
            height: 250px
      textarea
        border-width: 1px
        flex: 1 1 auto
        -webkit-flex: 1 1 auto
        -ms-flex: 1 1 auto
        font-size: 13px
        line-height: 20px
        width: 100%
      .share
        &-where
          display: inline-block
          flex-flow: row
          -webkit-flex-flow: row
          @include apply-at-size("phone")
            flex-flow: column
            -webkit-flex-flow: column
          div
            display: inline-block
            vertical-align: top
            @include apply-at-size("phone")
              width: 100%
          &-social
            margin-right: 20px
            width: calc(40% - 1.5em)
            .social__icons
              display: block
              width: 100%
              @include apply-at-size("phone")
                display: inline-block
                width: 49%
                
          &-email
            display: flex !important
            display: -webkit-flex !important
            flex: 1 1 auto
            -webkit-flex: 1 1 auto
            -ms-flex: 1 1 auto
            flex-flow: column
            -webkit-flex-flow: column
            width: calc(60% - 1.5em)
            p
              margin-top: 0
          &-link
            max-width: 500px
            margin: 50px auto
            input
              border-width: 1px
              max-width: 500px
              width: 90%
              &::selection
                background-color: $highlight-green
            p
              margin: 14px auto
              text-align: left
              width: 90%
            h4
              @include apply-at-size("phone")
                margin: auto
                text-align: left
                width: 90%
        &-buttons
          p
            background-color: #eee
            padding: 10px
          .twitter-note
            background-color: #fff
            padding: 0 30%
            margin-bottom: 0
            @include apply-at-size("phone")
              padding: 0 10%
      button
        margin: 10px 30px
        max-width: calc(100% - 60px)
        width: 300px
      h4
        font-size: 0.92em
        font-weight: normal
      a
        text-decoration: underline
      p
        font-size: 13px
        &#twitterNote
          margin: 10px auto
          width: 40%
          @include apply-at-size("phone")
            width: 90%
            
.share.modal
  #social-icons-container
    text-align: center
    width: 65%
    margin: 1rem 0
    
  #content + .share-buttons
    margin-top: 1.5rem 0 0
        