@import "../../static-pages/static-pages"

div#new-pillow
  .headerwrap
    background: url("/assets/giftideas/hero.jpg") no-repeat center top
    color: white
    margin: 0px auto 50px auto
    height: 300px
    padding-top: 30px
    text-align: center
    width: 100%

    h1
      color: white
      font: 700 3.5em "Roboto Condensed"
      letter-spacing: 3px
      -webkit-font-smoothing: antialiased

    p
      font: 1.688em "Roboto", sans-serif
      @include  apply-at-size("phone", "portrait")
        font-size: 0.9em
      letter-spacing: 1px
      line-height: 35px
      margin: 10px auto 3px auto
      width: 60%
      @include apply-at-size("phone")
        width: 80%
      -webkit-font-smoothing: antialiased