<div id="shareControllerWrapper" class="ui bottom sidebar middle share pitchin segment" ng-controller="ShareController">
    <a href="#" class="close-share"><i class="large close icon"></i></a>
    <div class="ui center aligned attached column grid vertical top medium">
		<ng-include src="'/scripts/login/login-or-create.html'"></ng-include>
	</div>
	<div ng-show="loggedIn()" id="share-block" class="content ui form container vertical top medium">
		<div class="ui three top attached steps">
		  <div class="step">
			<i class="comment icon"></i>
			<div class="content">
			  <div class="title">Message</div>
			  <div class="description">Choose your personalized message</div>
			</div>
		  </div>
		  <div class="active step">
			<i class="users icon blue"></i>
			<div class="content">
			  <div class="title">Social</div>
			  <div class="description">Share with your circles</div>
			</div>
		  </div>
		  <div class="step">
			<i class="mail icon"></i>
			<div class="content">
			  <div class="title">Email</div>
			  <div class="description">Share via email</div>
			</div>
		  </div>
		</div>
		<div class="ui segment center aligned attached stackable three column grid vertical bottom small" style="border-top: 1px solid #e3e3e3;">
			<div class="column">				
				<textarea id="shareMessage" ng-model="message" style="min-height: 17rem;"></textarea>
			</div>
			<div class="column" id="social-icons-container">
				<div class="ui divided selection list">
					<a class="item">
  						<div class="ui red horizontal label">Tip</div>
  						Select the social networks to share with
					</a>
				</div>
				<a class="social__link linky" ng-click="selectedSocials['facebook']=false">
					<img class="social__icons" src="/assets/share/facebook.png" ng-show="selectedSocials['facebook']">
				</a>
				<img class="social__icons linky" src=/assets/share/facebook-share-unselected.png ng-hide="selectedSocials['facebook']" ng-click="selectSocial('facebook')" />
				<a class="social__link linky" ng-click="selectedSocials['twitter']=false">
					<img class="social__icons" src="/assets/share/twitter.png" ng-show="selectedSocials['twitter']">
				</a>
				<img class="social__icons linky" src=/assets/share/twitter-share-unselected.png ng-hide="selectedSocials['twitter']" ng-click="selectSocial('twitter')" />
				<a class="social__link linky" ng-click="selectedSocials['linkedin']=false">
					<img class="social__icons" src="/assets/share/linkedin.png" ng-show="selectedSocials['linkedin']">
				</a>
				<img class="social__icons linky" src=/assets/share/linkedin-share-unselected.png ng-hide="selectedSocials['linkedin']" ng-click="selectSocial('linkedin')" />
				<!--<a class="social__link linky" ng-click="selectedSocials['google']=false"><img class="social__icons" src="/assets/share/google.png" ng-hide="!sharePermission['google'] || !selectedSocials['google']"></a>-->
				<!--<img class="social__icons linky" src=/assets/share/google-share-unselected.png ng-show="!selectedSocials['google']" ng-click="selectSocial('google')"/>-->
            	<p class="twitter-note ui message info" ng-show="selectedSocials['twitter'] && message.length>118">Only the first 118 characters of your Twitter message and a link to this campaign will be posted.</p>
			</div>
			<div class="column">				
            	<textarea ng-model="emailRecipients" placeholder="Enter email addresses, separated by commas"></textarea>
			</div>
		</div>	
		<div class="share-buttons ui middle aligned center content">
            <div class="ui aligned center centered">
				<button class="ui button huge icon blue" ng-hide="shareSuccess" ng-disabled="!selectedSocials['facebook']&&!selectedSocials['twitter']&&!selectedSocials['linkedin']&&!selectedSocials['google']&&emailRecipients.length==0" ng-click="shareClick()">
					<i class="share external icon"></i> Share Now
				</button>
            	<p ng-show="shareSuccess" class="ui message positive">That was successful!</p>
				<button class="ui button large" ng-show="shareSuccess" ng-click="shareReset()">
					Share again
				</button>
			</div>

        </div>
        <div class="share-buttons ui middle aligned center aligned content share-where-link form segment">
            <p style="text-align:center">Copy this link to invite friends and family</p>
            <input value="{{campaignUrl()}}" gs-copy-url readonly/>
        </div>
        <!--a href=""><h4>SKIP AND SHARE LATER</h4></a>
        <p>You can share your campaign at any time from your profile page or the campaign page!</p-->
        <div class="actions">
            <div class="ui blue right labeled icon button" ng-show="shareSuccess" ng-click="shareReset()">
                Finish Up
                <i class="checkmark icon"></i>
            </div>
        </div>
	</div>
</div>