<div id="shareControllerWrapper" class="share pitchin" ng-controller="ShareController">
    <h1>Invite Friends to Pitch-in</h1>
    <p>Your GiftStarter campaign is successfully set up! Invite friends to help pitch-in
    and increase your chances of fully funding the gift!</p>

    <div class="block">
    <h4>YOUR MESSAGE</h4>
    <textarea>Hey! I just pitched in on a {{giftStart.product_title}} for {{recipientname}} on GiftStarter, a website where you can buy anything online and split the cost with friends! Follow the link below to pitch in too and be a part of this great gift!
{{campaignUrl()}}

{{giftStart.gc_name}}</textarea>
        <h3>DEV TOOLS:
            <a class="linky" ng-click="ensureFacebookSharePermission()" ng-hide="sharePermission['facebook']">[ensure FB]</a><a class="linky" ng-click="shareFacebook('I just created a new gift on GiftStarter!')" ng-show="sharePermission['facebook']">[share FB]</a>
            <a class="linky" ng-click="ensureTwitterSharePermission()" ng-hide="sharePermission['twitter']">[ensure TW]</a><a class="linky" ng-click="shareTwitter('I just created a new gift on GiftStarter!')" ng-show="sharePermission['twitter']">[share TW]</a>
            <a class="linky" ng-click="ensureGplusSharePermission()" ng-hide="sharePermission['google']">[ensure G+]</a><a class="linky" ng-click="shareGplus('I just created a new gift on GiftStarter!')" ng-show="sharePermission['google']">[share G+]</a>
            <a class="linky" ng-click="shareLinkedin('I just created a new gift on GiftStarter!')">[share LI]</a>
        </h3>
    </div>

    <div class="share-where block">
        <div class="share-where-social">
            <h4>SHARE ON SOCIAL MEDIA</h4>
            <p>Select which networks you would like to post on:</p>
            <a class="social__link linky" ng-click="selectedSocials['facebook']=false"><img class="social__icons" src="/assets/share/facebook.png" ng-hide="!sharePermission['facebook'] || !selectedSocials['facebook']"></a>
            <img class="social__icons linky" src=/assets/share/facebook-share-unselected.png ng-show="!selectedSocials['facebook']" ng-click="selectSocial('facebook')"/>
            <a class="social__link linky" ng-click="selectedSocials['twitter']=false"><img class="social__icons" src="/assets/share/twitter.png" ng-hide="!sharePermission['twitter'] || !selectedSocials['twitter']"></a>
            <img class="social__icons linky" src=/assets/share/twitter-share-unselected.png ng-show="!selectedSocials['twitter']" ng-click="selectSocial('twitter')"/>
            <a class="social__link linky" ng-click="selectedSocials['linkedin']=false"><img class="social__icons" src="/assets/share/linkedin.png" ng-hide="!selectedSocials['linkedin']"></a>
            <img class="social__icons linky" src=/assets/share/linkedin-share-unselected.png ng-show="!selectedSocials['linkedin']" ng-click="selectSocial('linkedin')"/>
            <a class="social__link linky" ng-click="selectedSocials['google']=false"><img class="social__icons" src="/assets/share/google.png" ng-hide="!sharePermission['google'] || !selectedSocials['google']"></a>
            <img class="social__icons linky" src=/assets/share/google-share-unselected.png ng-show="!selectedSocials['google']" ng-click="selectSocial('google')"/>
        </div>
        <div class="share-where-email">
            <h4>SEND AN EMAIL</h4>
            <p>Enter email addresses seperated by a comma, or import gmail contacts to select email addresses:</p>
            <a href=""><h4>IMPORT GMAIL CONTACTS</h4></a>
            <textarea placeholder="Enter email addresses, separated by commas"></textarea>
        </div>
    </div>
    <div class="share-buttons">
        <p ng-show="shareSuccess">YOUR SHARE SUCCESSFULLY POSTED!</p>
        <button class="red" ng-hide="shareSuccess" ng-click="shareClick()">SHARE</button>
        <button ng-show="shareSuccess" ng-click="shareSuccess=false">SHARE AGAIN</button>
        <button ng-show="shareSuccess">FINISH</button>
    </div>

    <div class="share-where-link">
        <h4>SHARE A LINK!</h4>
        <p>Use this link to invite friends and family to GiftStarter through any means you'd like:</p>
        <input value="{{campaignUrl()}}" />
    </div>

    <a href=""><h4>SKIP AND SHARE LATER</h4></a>
    <p>You can share your campaign at any time from your profile page or the campaign page!</p>
</div>