.share
  &.pitchin
    text-align: center
    textarea
      width: 100%
    .share-where
      display: inline-block
      &-social
        width: 40%
      &-email
        width: 60%
    .block
      display: inline-block
      max-width: 500px
      width: 100%