.share
  &.pitchin
    text-align: center
    textarea
      height: 200px
      width: 100%
    .share-where
      display: inline-block
      div
        display: inline-block
        vertical-align: top
      &-social
        width: calc(40% - 1.5em)
        .social__icons
          width: 100%
      &-email
        width: calc(60% - 1.5em)
    div.block
      display: inline-block
      max-width: 598px
      width: 100%