iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

gs-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1020; }
  gs-menu button.cancel {
    left: 202px;
    top: 5px;
    right: initial;
    color: #888;
    z-index: 1021; }
  gs-menu div.menu-wrapper.expanded {
    left: 0; }
  gs-menu div.menu-wrapper {
    left: -240px;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  gs-menu ul.menu {
    width: 240px;
    padding: 3em 0;
    margin: 0;
    height: 100%;
    background-color: #414141;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
    gs-menu ul.menu li.menu-item:hover {
      background-color: rgba(255, 255, 255, 0.8); }
    gs-menu ul.menu li.menu-item:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    gs-menu ul.menu li.menu-item {
      background-color: rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      gs-menu ul.menu li.menu-item a {
        display: block;
        width: 100%;
        padding: 0.75em 1.5em;
        text-decoration: none;
        color: #202020;
        font-size: 1.25em; }
