<div class="user-wrapper" ng-controller="ProfileController">
    <header>
        <div id="profile-image-container" ng-class="{edit: editMode}">
            <img id="profile-image" ng-src="{{user.img_url}}" ng-hide="editMode" src=""/>
            <gs-image-upload ng-show="editMode" on-image-updated="imageUpdated"></gs-image-upload>
            <button class="cancel" ng-show="editMode" ng-click="editMode = false;">X</button>
            <button class="edit" ng-show="editable && !editMode" ng-click="editMode=true;"><img class="edit" src="/assets/edit_button_white.png"/></button>
            <button class="upload" ng-click="submit()" ng-show="editMode" ng-class="{disabled: !imageSet}"></button>
        </div>
        <h1>{{user.name}}</h1>
    </header>
    <section>
        <article class="giftstarts">
            <h2>{{user.giftstarts.length}} GiftStarts</h2>
            <div class="giftstarts">
                <div class="giftstart" ng-repeat="gs in user.giftstarts">
                    <a ng-href="/giftstart/{{gs.giftstart_url_title}}">
                        <p><span class="title">{{gs.title}}</span><br>{{gs.description}}</p>
                    </a>
                </div>
            </div>
        </article>
        <article class="pitchins">
            <h2>{{user.pitchins.length}} PitchIns</h2>
            <div class="pitchins">
                <div class="pitchin" ng-repeat="pi in user.pitchins">
                    <a ng-href="/giftstart/{{pi.giftstart_url_title}}">
                        <p><span class="title">{{pitchin.gs_title}}</span>{{pi.note}}</p>
                    </a>
                </div>
            </div>
        </article>
    </section>
</div>

