@import "../base"

.useridea
  width: 96%
  margin: 0 auto 1rem
  padding-bottom: 1rem
  min-height: 15rem
  background: #238471

  &__title
    color: #fff
    text-align: center
    position: relative
    padding-top: 1rem

  &__wrap
    width: 88%
    margin: 0 auto

  &__innfonone
    text-align: center
    color: #fff

  &__filter
    text-transform: uppercase
    margin: 0.5rem 0 0 1rem

  &__filterby
    color: #fff
    @include apply-at-size("phone")
      display: block
      margin-bottom: 0.85rem

  &__filtertags,
  &__filterdate,
  &__filtertprice
    font-size: 0.65rem
    color: #fff
    margin-left: 0.8rem
    @include apply-at-size("phone")
      margin: 0 1rem 0 0
    &:hover
      cursor: pointer

  &__productlist
    display: table
    border-spacing: 1rem

  &__productimgwrap
    min-height: 11rem
    max-height: 12rem
    background: #fff
    width: 100%
    @media screen and (max-width: $tablet-landscape-width+200)
      min-height: 8rem
      max-height: 9.5rem
      max-width: 11.5rem
      min-width: 4rem
    @media screen and (max-width: $tablet-portrait-width+200)
      min-height: 5.5rem
      max-height: 6.5rem
      max-width: 9.5rem
      min-width: 4rem
    @include apply-at-size("phone")
      margin: 0 auto
      min-height: 100%
      max-height: 100%

  &__productimg
    padding: 0.5rem 0 1rem
    vertical-align: top
    max-height: 10.5rem
    min-height: 9.5rem
    display: block
    margin: 0 auto
    @media screen and (max-width: $tablet-landscape-width+200)
      min-height: 7.5rem
      max-height: 8rem
      max-width: 10rem
      min-width: 4rem
    @media screen and (max-width: $tablet-portrait-width+200)
      min-height: 5rem
      max-height: 6rem
      max-width: 9rem
      min-width: 3.5rem
    @include apply-at-size("phone")
      max-height: 11rem

  &__productdesc
    @include apply-at-size("phone")
      background: #fff

  &__productlist--row
    display: table-row
    @include apply-at-size("phone")
      display: none

  &__productlistitem
    display: table-cell
    width: 18%
    border: 1px solid #000
    background: #12584c
    @include apply-at-size("phone")
      display: block
      width: 98%
      margin: 0.5rem 0

    &--only
      display: block
      width: 65%
      @include apply-at-size("phone")
        width: 100%


  &__producttitle
    background: #12584c
    color: #fff
    padding: 0.65rem 0.65rem 0 0.65rem
    font-size: 0.85rem
    height: 3rem
    position: relative
    overflow: hidden
    text-align: center
    -ms-word-break: break-all
    word-break: break-all
    -webkit-hyphens: auto
    -moz-hyphens: auto
    hyphens: auto

  &__productprice
    text-align: center
    margin: 0 0 1rem
    font-size: 0.95rem
    padding-top: 0.5rem
    background: #12584c
    color: #fff

  &__findbtn
    margin: 1rem auto 0
    width: 12rem
    background: #12584c
    border: 1px solid #092C26
    color: #fff
    cursor: pointer
    padding: 9px 12px 8px 12px
    text-align: center
    vertical-align: top
    @include apply-at-size("phone")
      margin: 1rem auto 1rem
    &:hover
      background: #0E463C
      border-color: #092C26

  &__findlink,
  &__viewmorelink
    font-family: Gotham, sans-serif
    font-size: 1rem

  &__findlink
    color: #fff

  &__viewmorelink
    display: block
    text-align: center
    color: #fff
    background: url('/assets/plus.png') no-repeat center
    background-size: 3rem 3rem
    width: 7rem
    margin: 2rem auto 0
    padding-bottom: 5rem
