<div class="ui container">
    <div class="ui section hidden divider"></div>
    <div class="ui centered stackable grid">
        <div class="sixteen wide column">
            <h1 class="ui header">
                <span ng-show="editable">Campaigns You Pitched In On</span>
                <span ng-show="!editable">Campaigns Pitched In On by {{user.name}}</span>
            </h1>
        </div>
        <div class="twelve wide column" ng-show="userCampaings.pitchins.length === 0">
            <div class="ui message container text center aligned">
                <h3 class="ui header">
                    <span ng-show="editable">You haven't pitched in on any Gift Campaigns yet.</span>
                    <span ng-show="!editable">{{ user.name }} hasn't pitched in on any Gift Campaigns yet. Invite them to pitch-in on one of yours!</span>
                </h3>
            </div>
        </div>
        <div class="sixteen wide column" ng-show="userCampaings.pitchins.length > 0">
            <div class="ui stackable four cards">
                <div class="card" ng-repeat="pitchin in pitchins_unique | limitTo:campaingquantity track by $index">
                    <div class="content">
                        <a ng-href="/giftstart/{{ pitchin.giftstart_url_title }}" class="header">{{ pitchin.gs_title  | limitTo:20 }}<span ng-if="pitchin.gs_title.length > 20">...</span></a>
                    </div>
                    <a ng-href="/giftstart/{{ pitchin.giftstart_url_title }}" class="image">
                        <img ng-src="{{ pitchin.gs_img }}" alt="{{ pitchin.giftstart_url_title }}"/>
                    </a>
                    <div class="content">
                        <div class="meta">
                            What you wrote:
                        </div>
                        <div class="description">
                            "{{ giftstart.note | limitTo:90 }}<span ng-if="giftstart.note.length > 90">...</span>"
                        </div>
                    </div>
                    <a class="ui bottom attached button" ng-href="/giftstart/{{ pitchin.giftstart_url_title }}">
                        <i class="external icon"></i> Go To Campaign
                    </a>
                </div>
            </div>
        </div>
        <div class="six wide column" ng-show="showMoreCampaign && userCampaings.pitchins.length > 4">
            <button class="ui fluid basic button" ng-click="campaingquantity=userCampaings.pitchins.length; showMoreCampaign = false">
                <i class="unhide icon"></i> View {{userCampaings.pitchins.length - campaingquantity}} More Campaigns
            </button>
        </div>
    </div>
</div>