
        <div class="userprofile__fields" ng-hide="loading">
            <p class="userprofile__text" ng-show="editable">
                The information below will not be visible to anyone but you. Adding this information now ensures you'll always know what's happening with gifts you're a part of, and we will know where to ship gifts for you! (Unless specified otherwise)
            </p>
            <form class="userprofileform" name="userProfileform" ng-show="editable">
                <div class="userprofileform__firstcol">
                    <div class="userprofileform__email">
                    <span class="invalid invalid--email" ng-show="userProfileform.userEmail.$error.required">
                        Please fill in your email
                    </span>
                    <span class="invalid invalid--email" ng-show="userProfileform.userEmail.$error.email">
                        Please fill in valid email
                    </span>
                    <p class="userprofileform__labelmail">Email</p>
                    <input type="email" class="userprofileform__usermail" ng-disabled="fieldisable" ng-model="user.email"  placeholder="{{ user.email }} Your e-mail" name="userEmail" ng-required="!fieldisable" />
                </div>
                    <div class="userprofileform__phone">
                    <p class="userprofileform__labelphone">Phone</p>
                    <input type="text"  class="userprofileform__userphone" ng-disabled="fieldisable" ng-model="user.phone" placeholder="{{user.phone}} Phone number" name="phone" required />
                </div>
                </div>
                <div class="userprofileform__secondcol">
                    <div class="userprofileform__shipping">
                        <div>
                            <div class="userprofileform__labelshipping">
                                Shipping Address
                            </div>
                            <div class="userprofileform__usershippinginfo" ng-show="fieldisable">
                                <span class="userprofileform__useraddress">{{ user.shipping_address }} </span><br/>
                                <span class="userprofileform__useraddressfull"> {{ user.shipping_city }} {{ user.shipping_state }} {{ user.shipping_zip }}</span>
                            </div>
                            <input type="text" ng-hide="fieldisable" class="userprofileform__usershipping" ng-disabled="fieldisable" ng-model="user.shipping_address" placeholder="{{ user.shipping_address }} Shipping address" name="shippingaddress" required  />
                        </div>
                        <div>
                            <input type="text" class="userprofileform__usercity" ng-disabled="fieldisable" ng-hide="fieldisable" ng-model="user.shipping_city" placeholder="{{ user.shipping_city }} Shipping city"  name="shippingcity" required  />
                            <input type="text" class="userprofileform__userstate" ng-disabled="fieldisable" ng-hide="fieldisable" ng-model="user.shipping_state" placeholder="{{ user.shipping_state }} State" name="shippingstate" required  />
                            <input type="text" class="userprofileform__userzip" ng-disabled="fieldisable" ng-hide="fieldisable" ng-model="user.shipping_zip" placeholder="{{ user.shipping_zip }} ZIP code" name="shippingzip" required  />
                        </div>
                    </div>
                </div>
                <div ng-show="editable" class="editlink">
                    <gs-user-edit fieldisable="fieldisable" blocked="blocked" user="user" loading="loading"></gs-user-edit>
                </div>
            </form>
        </div>