<div class="ui text container user" ng-show="editable">
    <div class="ui segments">
        <div class="ui segment">
              <p>Account Information</p>
        </div>
        <div class="ui secondary segment">
            <form class="ui account information form" name="userProfileform" ng-class="{error: userProfileform.userEmail.$error.required || userProfileform.userEmail.$error.email}">
                <h4 class="ui dividing header">Personal Information</h4>
                <div class="two fields">
                    <div class="required field"> 
                        <label>Email</label>
                        <input type="email" ng-disabled="blocked" ng-model="user.email" placeholder="{{ user.email }} Email" name="userEmail" required />
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <input type="text" ng-disabled="blocked" ng-model="user.phone" placeholder="{{user.phone}} Phone Number" name="phone" />
                    </div>
                </div>
                <div class="ui error message" ng-show="userProfileform.userEmail.$error.required || userProfileform.userEmail.$error.email">
                    <div class="header">Before we proceed...</div>
                    <ul class="list">
                        <li ng-show="userProfileform.userEmail.$error.required">Please fill in your email</li>
                        <li ng-show="userProfileform.userEmail.$error.email">Please fill in valid email</li>
                    </ul>
                </div>
                <h4 class="ui dividing header">Shipping Information</h4>
                <div class="field">
                    <label>Address</label>
                    <div class="sixteen wide field">
                        <input type="text" ng-disabled="blocked" ng-model="user.shipping_address" placeholder="{{ user.shipping_address }} Street Address" name="shippingaddress"  />
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>City</label>
                        <input type="text" ng-disabled="blocked" ng-model="user.shipping_city" placeholder="{{ user.shipping_city }} City" name="shippingcity" />
                    </div>
                    <div class="field">
                        <label>State</label>
                        <input type="text" ng-disabled="blocked" ng-model="user.shipping_state" placeholder="{{ user.shipping_state }} State" name="shippingstate" />
                    </div>
                    <div class="field">
                        <label>Zip Code</label>
                        <input type="text" ng-disabled="blocked" ng-model="user.shipping_zip" placeholder="{{ user.shipping_zip }} Zip Code" name="shippingzip" />
                    </div>
                </div>
                <gs-user-edit ng-show="editable" fieldisable="fieldisable" inverted="false" section-title="Acount Information" blocked="blocked" user="user" userinfo="true" loading="loading"></gs-user-edit>
            </form>
        </div>
        <div class="ui attached bottom warning message">
            <small>
                <i class="lock icon"></i>
                Note: Your account information is private and will not be visible to the public.
            </small>
        </div>
    </div>
</div>