<div class="userprofile" ng-controller="UserprofileController">
        <form class="userprofile__info" name="userprofilInfo">
            <div class="userprofile__image">
               <img class="userprofile__userimage" ng-src="{{user.img_url}}" ng-hide="editMode" src=""/>
            </div>
            <div class="userprofile__name">
                <h2 class="userprofile__title">
                    {{user.name}}
                </h2>
            </div>
            <div class="userprofile__social">
                <div class="social">
                    <p class="social__desc">Social profiles</p>
                    <a href="#">
                        <img class="social__icons" src="/assets/facebookicon.png">
                    </a>
                    <a href="#">
                        <img class="social__icons" src="/assets/twittericon.png">
                    </a>
                    <a href="#">
                        <img class="social__icons" src="/assets/linkedInicon.png">
                    </a>
                    <a href="#">
                        <img class="social__icons" src="/assets/googleicon.png">
                    </a>
                    <a href="#">
                        <img class="social__icons" src="/assets/rssicon.png">
                    </a>
                </div>
            </div>
            <div class="calendar">
                <p class="calendar__calendartext">Upcoming important dates</p>
                <input ng-show="visibleCalendar" type="text" ui-date />
                    <div class="calendar__month">
                    {{ user.birth_month }}
                </div>
                <div class="calendar__date">
                    {{ user.birth_day }}
                </div>
            </div>
            <div class="editlink editlink--white">
                <gs-user-edit fieldisable="fieldisable" user="user" userinfo="true"  ></gs-user-edit>
            </div>
       </form>
        <div class="userprofile__fields" ng-show="editable">

            <p class="userprofile__text">This information will not be visible on your public profile. Your friends will recieve notifications for your important dates, and the address will be used as your shipping address </p>
            <form class="userprofileform" name="userProfileform">
                <div class="userprofileform__email">
                    <p class="userprofileform__labelmail">Email</p>
                    <input type="email" class="userprofileform__usermail" ng-disabled="fieldisable" ng-model="user.email"  placeholder="{{ user.email }}" name="userEmail" required />
                    <span class="invalid invalid--email" ng-show="userProfileform.userEmail.$error.required">
                        Please fill in your email
                    </span>
                    <span class="invalid invalid--email" ng-show="userProfileform.userEmail.$error.email">
                        Please fill in valid email
                    </span>
                </div>
                 <div class="userprofileform__shipping">
                    <p class="userprofileform__labelshipping">Shipping Address</p>
                    <input type="text" class="userprofileform__usershipping" ng-disabled="fieldisable" ng-model="user.shipping_address" disabled placeholder="{{ user.shipping_address }}" name="shippingaddress" required  />
                 </div>
                 <div class="userprofileform__phone">
                    <p class="userprofileform__labelphone">Phone</p>
                    <input type="text" class="userprofileform__userphone" ng-disabled="fieldisable" ng-model="user.phone" placeholder="{{user.phone}}" name="phone" required />
                </div>
                <div class="editlink">
                    <gs-user-edit fieldisable="fieldisable" user="user"></gs-user-edit>
                </div>
            </form>
        </div>
</div>