@import "../base"

.friendconnections
  width: 96%
  margin: 3rem auto 1rem
  padding-bottom: 1rem
  min-height: 10rem
  @include apply-at-size("phone")
    margin-top: -1rem
  &__title
    color: #000
    text-align: center
    position: relative
    padding-top: 1rem

  &__wrap
    width: 88%
    margin: 0 auto

  &__info
    text-align: center
    color: #000
