       <form class="userprofile__info" name="userprofileInfo">
            <div class="userprofile__image" ng-class="{true: 'userprofile__image--edit'}[editMode]">
                <button class="userprofile__imagecancel tooltip--right" data-tooltip="Close" ng-show="editMode" ng-click="editMode = false;">x</button>
                <img class="userprofile__userimage" ng-src="{{user.img_url}}" ng-hide="editMode" />
                <gs-image-upload ng-show="editMode" ng-class="{disabled: !imageSet}" on-image-updated="imageUpdated"></gs-image-upload>
                <img class="userprofile__preload" src="/assets/loading_transparent.gif" alt="image loading" title="image loading" ng-show="imgloading">
                <button class="userprofile__imageedit" ng-hide="blocked||editMode"  ng-click="editMode=true;">Change photo</button>
                <button class="userprofile__imagesave" ng-click="submit(); editMode = false;" ng-show="editMode" ng-class="{disabled: !imageSet}">Save</button>
                <button class="userprofile__imageupload" ng-show="editMode"  ng-click="openImageDialogGlobal();">Upload</button>
            </div>
            <div class="userprofile__name">
                <h2 ng-show="blocked" class="userprofile__title">
                    {{ user.name }}
                </h2>
                <input class="userprofile__title" type="text" ng-model="user.name" ng-disabled="blocked" ng-hide="blocked" name="username" ng-value="user.name" placeholder="{{ user.name }}" />
            </div>
            <div class="userprofile__social">
                <div class="social" ng-show="user.link_facebook||user.link_twitter||user.link_linkedin||user.link_googleplus||user.link_website||editable">
                    <p class="social__desc">Social profiles</p>
                    <div class="social__nolinks" ng-hide="user.link_facebook||user.link_twitter||user.link_linkedin||user.link_googleplus||user.link_website||!blocked">
                        (none added)
                    </div>
                    <div class="social__inline" >
                        <div class="social__editblock" ng-show="user.link_facebook||!blocked">
                            <a ng-href="{{user.link_facebook}}" class="social__link" target="_blank">
                                <img class="social__icons" src="/assets/facebookicon.png">
                            </a>
                            <input type="text" name="linkfacebook" class="social__inputs" placeholder="{{user.link_facebook}} Paste link to profile" onfocus="this.placeholder = ''" ng-disabled="blocked" ng-hide="blocked" ng-model="user.link_facebook" ng-blur="validateLinks()"/>
                        </div>
                        <div class="social__editblock" ng-show="user.link_twitter||!blocked">
                            <a ng-href="{{user.link_twitter}}" class="social__link" target="_blank">
                                <img class="social__icons" src="/assets/twittericon.png">
                            </a>
                            <input type="text" name="linktwitter" class="social__inputs" placeholder="{{user.link_twitter}} Paste link to profile" onfocus="this.placeholder = ''" ng-disabled="blocked" ng-hide="blocked" ng-model="user.link_twitter" ng-blur="validateLinks()"/>
                        </div>
                        <div class="social__editblock" ng-show="user.link_linkedin||!blocked">
                            <a ng-href="{{user.link_linkedin}}"  class="social__link">
                                <img class="social__icons" src="/assets/linkedInicon.png">
                            </a>
                            <input type="text" name="linklinkedin" class="social__inputs" placeholder="{{user.link_linkedin}} Paste link to profile" onfocus="this.placeholder = ''" ng-disabled="blocked" ng-hide="blocked" ng-model="user.link_linkedin" ng-blur="validateLinks()"/>
                        </div>
                        <div class="social__editblock" ng-show="user.link_googleplus||!blocked">
                            <a ng-href="{{user.link_googleplus}}"  class="social__link" target="_blank">
                                <img class="social__icons" src="/assets/googleicon.png">
                            </a>
                            <input type="text" name="linkgoogleplus" class="social__inputs" placeholder="{{user.link_googleplus}} Paste link to profile" onfocus="this.placeholder = ''" ng-hide="blocked" ng-hide="blocked" ng-model="user.link_googleplus" ng-blur="validateLinks()"/>
                        </div>
                        <div class="social__editblock" ng-show="user.link_website||!blocked">
                            <a href="{{user.link_website}}"  class="social__link" target="_blank">
                                <img class="social__icons" src="/assets/rssicon.png">
                            </a>
                            <input type="text" name="linkwebsite" class="social__inputs" placeholder="{{user.link_website}} Paste link to web page" onfocus="this.placeholder = ''" ng-disabled="blocked" ng-hide="blocked" ng-model="user.link_website" ng-blur="validateLinks()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar" ng-show="user.birth_month&&user.birth_day&&editable">
                <p class="calendar__calendartext">Birth Date</p>
                <div class="calendar__monthwrap">
                    <select ng-disabled="blocked" class="calendar__month" ng-model="user.birth_month" ng-options="month.value as month.label for month in months"></select>
                </div>
                <input type="number" name="date" min="1" max="31" class="calendar__date" ng-disabled="blocked" ng-model="user.birth_day"  />
            </div>
            <div ng-show="editable" class="editlink editlink--white">
                <gs-user-edit fieldisable="fieldisable" blocked="blocked" user="user" userinfo="true" loading="loading" ></gs-user-edit>
            </div>
       </form>