@import "../base"

.usercampaign
  width: 49%
  background: #E2E2E2
  display: table-cell
  @media screen and (max-width: $tablet-portrait-width+100)
    width: 100%
    display: block
    margin-bottom: 1rem

  &__header
    background: #333
    color: #fff
    position: relative

  &__title
    font-size: 1.3rem
    padding:  0.5rem 0.5rem 0.5rem 1rem
    display: inline-block

  &__viewmore
    display: inline-block
    position: absolute
    right: 1.3rem
    height: 2.5rem

  &__viewmorelink
    color: #fff
    font-size: 0.6rem
    text-transform: uppercase
    background: url("/assets/plus.png") no-repeat right
    background-size: 1.5rem
    padding-right: 2.1rem
    height: 2.5rem
    line-height: 2.5rem
    display: block

  &__link
    color: #333
    text-decoration: underline

  &__list
    display: table
    border-spacing: 1rem
    @include apply-at-size("phone")
      display: block
      padding: 0.3rem 1rem

  &__items
    display: none
    &--row
      display: table-row
      @include apply-at-size("phone")
        display: none
      
  &__productimgwrap
    background: #fff
    min-height: 8.94rem
    top: -3px
    @media screen and (max-width: $tablet-landscape-width)
      min-height: 8.215rem
      max-height: 8.315rem
    @include apply-at-size("phone")
      min-height: 100%
      max-height: 100%

  &__productlistitem
    display: table-cell
    width: 30%
    background: #333
    @include apply-at-size("phone")
      display: block
      width: 85%
      margin: 1rem auto

    &--only
      display: block
      width: 110%
      @include apply-at-size("phone")
        width: 100%
        margin: 1rem 0

  &__itemsimages
    max-height: 8.95rem
    display: block
    margin: 0 auto
    @media screen and (max-width: $tablet-landscape-width)
      min-height: 7rem
      max-height: 7rem
    @include apply-at-size("phone")
      max-height: 10rem

  &__itemstitle
    margin: 0
    padding: 1rem 0.5rem
    font-size: 0.9rem
    line-height: 1.3rem
    color: #fff
    text-align: center
