<div class="ui container">
    <div class="ui section hidden divider"></div>
    <div class="ui centered stackable grid">
        <div class="sixteen wide column">
            <h1 class="ui header">
                <span ng-show="editable">Campaigns You Created</span>
                <span ng-show="!editable">Campaigns Created by {{user.name}}</span>
            </h1>
        </div>
        <div class="twelve wide column" ng-show="userCampaings.giftstarts.length === 0">
            <div class="ui message container text center aligned">
                <div ng-show="editable">
                    <h3 class="ui header">
                        You haven't created a Gift Campaign yet.
                    </h3>
                    <p>
                        Someone in your life deserves a gift. Browse our hand picked gift ideas and start a Gift Campaign today!
                    </p>
                    <p>
                        <a href="/giftideas" class="ui teal button">Browse Gift Ideas</a>
                    </p>
                </div>
                <div ng-show="!editable">
                    <h3 class="ui header">{{ user.name }} hasn't started any Gift Campaigns yet.</h3>
                </div>
            </div>
        </div>
        
        <div class="sixteen wide column" ng-show="userCampaings.giftstarts.length > 0">
            <div class="ui stackable four cards">
                <div class="card" ng-repeat="giftstart in userCampaings.giftstarts | limitTo:campaingquantity track by $index">
                    <a class="image fixed height" ng-href="/giftstart/{{ giftstart.giftstart_url_title }}">
                        <img ng-src="{{ giftstart.product_img_url }}" alt="{{ giftstart.title }}"/>
                    </a>
                    <div class="content">
                        <a class="header" ng-href="/giftstart/{{ giftstart.giftstart_url_title }}" ng-if="giftstart.title.length > 0">{{ giftstart.title  | limitTo:20 }}<span ng-if="giftstart.title.length > 20">...</span></a>
                        <div class="meta" ng-if="giftstart.shipping_name.length > 0">
                            <i class="user icon"></i>
                            For {{ giftstart.shipping_name }}
                        </div>
                        <div class="description" ng-if="giftstart.description.length  > 0">
                            "{{ giftstart.description | limitTo:60 }}<span ng-if="giftstart.description.length > 50">...</span>"
                        </div>
                    </div>
                    <a class="ui bottom attached animated fade button" ng-class="{'inverted green': isActive(giftstart)}" ng-href="/giftstart/{{ giftstart.giftstart_url_title }}">
                        <span class="visible content" ng-if="isActive(giftstart)">
                            Campaign Is Active
                        </span>
                        <span class="visible content" ng-if="!isActive(giftstart)">
                            Campaign Is Not Active
                        </span>
                        <span class="hidden content">
                            <i class="external icon"></i> Click To View
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="six wide column" ng-show="showMoreCampaign && userCampaings.giftstarts.length > 4">
            <button class="ui fluid basic button" ng-click="campaingquantity=userCampaings.giftstarts.length; showMoreCampaign = false">
                <i class="unhide icon"></i> View {{userCampaings.giftstarts.length - campaingquantity}} More Campaigns
            </button>
        </div>
    </div>
</div>