@import "../base"

.userprofile
  min-height: 70rem
  color: #333
  @include apply-at-size("tablet")
    min-height: 68rem
  @include apply-at-size("phone")
    min-height: 86rem

  &__campaigns
    width: 99%
    margin: 1rem auto 0.5rem
    display: table
    border-spacing: 1rem
    min-height: 20rem
    @include apply-at-size("phone")
      margin-top: 5.5rem

  &__info
    background: url("/assets/homepage_hero.jpg")
    background-size: cover
    padding-top: 3rem

  &__image
    text-align: center
    margin: 0 auto 2.8rem
    position: relative
    height: 10rem
    width: 10rem

    .image-upload,
    gs-image-upload
      padding-bottom: 0 !important
      height: 10rem !important
      width: 10rem

    &--edit
      .userprofile__imageedit
        bottom: -2.5rem
        left: 50%

  &__userimage
    width: 9rem
    border-radius: 5rem
    border: 2px solid #fff

  &__imageedit
    position: absolute
    bottom: -2rem
    left: 10%
    white-space: nowrap

  .uploader
    top: 0
    left: 0 !important

  &__imagecancel
    position: absolute
    top: 0
    right: 0
    z-index: 1

  &__imageupload
    position: absolute
    bottom: -40px
    left: 0

  &__name
    width: 60%
    margin: 0 auto
    @include apply-at-size("phone")
      width: 90%

  &__title
    color: #fff
    font-size: 2.8rem
    font-weight: bold
    margin: 0.2rem auto 0
    padding: 0.2rem 0
    font-family: Roboto, sans-serif
    word-break: break-all
    background: transparent
    display: block
    text-align: center
    width: 80%
    @include apply-at-size("phone")
      font-size: 2.2rem
      width: 100%

  &__loading
    position: fixed
    width: 100%
    bottom: 50%

  &__loadingimg
    margin: 0 auto
    display: block

  input.userprofile__title
    border: 1px solid #eee

  &__social,
  &__month,
  &__text,
  &__date
    text-align: center

  &__text
    font-family: Gotham, sans-serif
    font-size: 0.9rem
    width: 80%
    margin: 1.5rem auto 0
    @include apply-at-size("phone")
      text-align: justify
      margin-bottom: 0

  &__fields
    width: 80%
    margin: 0 auto

  .ng-invalid-email
    .editlink__save
      color: #ccc

  .ng-invalid-required
    .editlink__save
      color: #ccc

  .invalid--email
    color: darkred
    position: absolute
    top: -0.9rem
    left: 5.5rem
    font-size: 0.9rem
    @include apply-at-size("phone")
      top: 1.8rem

  .userprofileform__usermail.ng-invalid.ng-invalid-email,
  .userprofileform__usermail.ng-invalid-required
    border: 1px solid #ff0000

  .userprofileform
    width: 100%
    height: 8rem
    margin-top: 1.5rem
    @include apply-at-size("phone")
      text-align: left
      height: 18rem
      margin-top: 0

    &__firstcol,
    &__secondcol
      width: 49%
      display: inline-block
      @include apply-at-size("phone")
        width: 100%
        margin: 1rem auto

    &__secondcol
      @include apply-at-size("tablet")
        margin-top: 0
      @include apply-at-size("phone")
        margin-top: 0

    &__email,
    &__shipping,
    &__phone
      height: 3rem
      @include apply-at-size("phone")
        float: none
        height: 5rem
        width: 100%
    
    &__email
      position: relative

    &__userzip,
    &__userstate,
    &__usercity,
    &__usermail,
    &__userphone,
    &__usershipping,
    &__labelmail,
    &__labelphone,
    &__labelshipping,
    &__useraddressfull,
    &__useraddress
      font-family: Gotham, sans-serif

    &__labelmail,
    &__labelphone,
    &__labelshipping
      margin: 1rem 0 0
      font-size: 0.9rem
      text-transform: uppercase
      display: inline-block
      text-align: left

    &__labelmail,
    &__labelphone
      width: 5rem

    &__usermail,
    &__userphone,
    &__usershipping,
    &__userzip,
    &__userstate,
    &__usercity
      display: inline-block
      margin-left: 5px
      width: 60%
      padding: 9px 0 6px 10px
      border: 1px solid #eee
      line-height: 1.5rem
      @include apply-at-size("phone")
        margin-left: 0

    &__usermail,
    &__userphone
      @include apply-at-size("phone")
        text-align: left
        display: block
        width: 97%

    &__usercity
      width: 45%
      @include apply-at-size("phone")
        width: 50%

    &__usershipping
      width: 49%
      @include apply-at-size("tablet")
        width: 97%
      @include apply-at-size("phone")
        margin-top: 0.5rem
        width: 97%

    &__userstate
      width: 17%
      margin-top: 9px
      @include apply-at-size("phone")
        margin-top: 1.5rem

    &__usershippinginfo
      font-size: 0.9rem
      margin-top: 1rem

    &__userzip
      width: 30%
      @include apply-at-size("tablet")
        width: 29%
      @include apply-at-size("phone")
        width: 28%

    input:disabled
      background: #fff
      border: 0
      color: #333

.calendar
  padding-bottom: 1rem

  &__calendartext
    text-align: center
    text-transform: uppercase
    color: #fff
    font-size: 0.9rem
    font-family: Gotham, sans-serif
    margin: 0 0 0.2rem

  &__monthwrap
    width: 4.6rem
    overflow: hidden
    margin: 0 auto

  &__month,
  &__date
    width: 4.6rem
    margin: 0 auto
    font-family: Gotham, sans-serif
    text-transform: uppercase
    text-align: center
    border: 1px solid #ccc

  &__month
    background: #343434
    color: #fff
    font-size: 1rem
    padding: 0.2rem 0 0.1rem 18%
    margin-top: 0.2rem
    min-height: 1.6rem
    display: block
    -webkit-appearance: none
    border-radius: 0

    &:disabled
      border: 0
      width: 121%

  &__date
    position: relative
    background: #fff
    padding: 0.5rem 0 0.1em 1.1rem
    margin-bottom: 0.3rem
    font-size: 1.3rem
    min-height: 2.5rem
    display: block
    color: #333

    &:disabled
      border: 0

.editlink
  position: relative

  &__edit,
  &__cancel,
  &__save
    font-size: 0.9rem
    font-family: Gotham, sans-serif
    color: #333
    text-transform: uppercase
    position: absolute
    right: -11%
    top: 1rem
    @include apply-at-size("phone")
      top: 3rem
      right: -10%

  &__cancel
    right: 0
    @include apply-at-size("phone")
      right: 3rem

.editlink--white
  padding: 1.2rem 0 1.2rem

  .editlink__edit,
  .editlink__save,
  .editlink__cancel
    color: #FFF
    right: 0.9375rem
    bottom: 0.9375rem
    top: auto

  .editlink__cancel
    right: 5rem
