<div class="ui container saved gifts">
    <div class="ui section hidden divider"></div>
    <div class="ui centered stackable grid">
        <div class="sixteen wide column">
            <h1 class="ui header">
                <span ng-show="editable">Your Saved Gift Ideas</span>
                <span ng-show="!editable">Gift Ideas by {{user.name}}</span>
            </h1>
            Filter by
            <div class="ui inline dropdown">
                <div class="text">
                      Price
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ng-click="priceOrder = '' ">
                        Price
                    </div>
                    <div class="item" ng-click="priceOrder = 'price' ">
                        Price: Low to High
                    </div>
                    <div class="item" ng-click="priceOrder = '-price' ">
                        Price: High to Low
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column" ng-show="userIdea.length === 0">
            <div class="ui message container text center aligned">
                <span>
                    Did you know you can let your friends and family know exactly what gift you want? Just click the "Save It For Later" button on any gift on GiftStarter.
                </span>
            </div>
        </div>
        <div class="sixteen wide column" ng-show="userIdea.length > 0">
            <div class="ui stackable four cards">
                <div class="card" ng-repeat="idea in userIdea | limitTo:quantity | orderBy:priceOrder track by $index">
                    <a class="image fixed height" ng-href="{{ giftstartThisUrl(idea.title, idea.price, idea.img, idea.url) }}">
                        <img ng-src="{{ idea.img }}" alt="{{ idea.title }}" />
                    </a>
                    <div class="content">
                        <a class="description" ng-href="{{ giftstartThisUrl(idea.title, idea.price, idea.img, idea.url) }}">
                            {{ idea.title | limitTo:60 }}<span ng-if="idea.title.length > 60">...</span>
                        </a>
                        <div class="meta">
                            {{ idea.price / 100 | currency }}
                        </div>
                    </div>
                    <a class="ui inverted red bottom attached animated fade button" ng-show="editable" ng-click="DeleteSavedItem(idea)" ng-disabled="idea.loading">
                        <span class="visible content">
                            <i class="close icon"></i>
                            Remove
                        </span>
                        <span class="hidden content">
                            Are you sure?
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="column row extra buttons">
            <button class="ui basic button" ng-click="quantity=userIdea.length; showMore=false" ng-show="showMore && userIdea.length > 8">
                <i class="unhide icon"></i> View {{userIdea.length - quantity}} More Saved Gifts
            </button>
            <button class="ui teal basic button big" ng-click="goToLink('giftideas')">
                <i class="search icon"></i> Find More Gift Ideas
            </button>
        </div>
    </div>
</div>


<!-- <div class="useridea">
    <div class="useridea__wrap">
        <h2 class="useridea__title">Saved Gift Ideas</h2>
        <div class="useridea__filter" ng-hide="userIdea.length == 0">
            <span class="useridea__filterby">
                Filter by
            </span>
            <span class="useridea__filtertags">
                My tags
            </span>
            <span class="useridea__filterdate">
                Date added
            </span>
            <span class="useridea__filtertprice" ng-click="userOrder = '-price' ">
                Product price
            </span>
        </div>
        <p class="useridea__innfonone" ng-show="userIdea.length == 0">
            Did you know you can save products you like to your Saved Gift Idea Board? Just click the "Save It For Later" button!
        </p>
        <div class="useridea__productlist">
            <div ng-repeat-start="idea in userIdea | limitTo:quantity | orderBy:userOrder track by $index" class="h--hide"></div>
            <div class="useridea__productlistitem">
                    <div class="useridea__productdesc">
                        <a class="useridea__productlink" href="{{ giftstartThisUrl(idea.title, idea.price, idea.img, idea.url) }}">
                            <div class="useridea__productimgwrap">
                                <img class="useridea__productimg" ng-src="{{ idea.img }}" alt="Gift Idea Image"/>
                                <a class="useridea__close linky" ng-show="editable" ng-click="DeleteSavedItem(idea)" ng-disabled="idea.loading">
                                    X <span class="useridea__deletetext">remove</span> <img src="/assets/loading_transparent.gif" class="loader" ng-show="idea.loading">
                                </a>
                            </div>
                        </a>
                        <a class="useridea__productlink" href="{{ giftstartThisUrl(idea.title, idea.price, idea.img, idea.url) }}">
                            <div clamp="2"  class="useridea__producttitle">
                                {{ idea.title }}
                            </div>
                            <div class="useridea__productprice">{{ idea.price / 100 | currency }}</div>
                        </a>
                    </div>

            </div>
            <div ng-repeat-end="" class="h--hide"></div>
        </div>
        <div class="useridea__findbtn">
            <button href="search/" ng-click="goToLink('giftideas')" class="useridea__findlink ui button red">Find more gift ideas</button>
        </div>
        <div ng-show="showMore">
            <a class="useridea__viewmorelink linky" ng-show=" userIdea.length>10"  ng-click="quantity=userIdea.length; showMore=false">
                View more
            </a>
        </div>
    </div>
</div> -->