<div class="ui inverted masthead center aligned vertical segment concierge" ng-controller="HomeController as home">
    <div class="ui text">
		<div class="ui text container">
        <h1 class="ui inverted header">You Love Giving.<br class="desktop" /> We Love Helping.</h1>
        <h2 class="ui inverted header">GiftStarter matches the gifts you give with the thought you put in.</h2>
        <button class="ui animated vertical button facebook huge fluid" ng-controller="LoginOrCreateController" ng-click="doLoginFacebook()" analytics-on="click" analytics-event="CTA">
            <div class="visible content">
                <i class="facebook icon"></i>
                Use Gift Concierge
            </div>
            <div class="hidden content">
                <i class="facebook icon"></i>
                Join With Facebook
            </div>
        </button>
        <p>
            <small class="light">
                It's the thought that counts.
            </small>
        </p>
		</div>
        <div class="ui grid column wide sixteen centered top medium vertical" ng-controller="ConciergeController" style="background: #fff;">
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first"><i class="wait icon"></i> Timely</a>
                <a class="item" data-tab="second"><i class="comments icon"></i> Personal</a>
                <a class="item" data-tab="third"><i class="smile icon"></i> Meaningful</a>
            </div>
            <div class="ui tab items active" data-tab="first">
                <div class="item">
                    <div class="content">
                        <h3 class="header">Timely & Covenient</h3>
                        <div class="extra">
                            The Concierge can provide fast and friendly guidance on how to make your gift campaign a success. We can also help "quick start" your GiftStart campaign by setting it up and helping you share with friends and family...or everyone.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab items" data-tab="second">
                <div class="item">
                    <div class="content">
                        <h3 class="header">Personal Gifter</h3>
                        <div class="extra">
                            Fun, fast and no pressure gift ideas - The Concierge will provide recommendations without the feeling of obligation. Once you settle on the perfect gift and the campaign is set up, we take care of the rest through the GiftStarter platform.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab items" data-tab="third">
                <div class="item">
                    <div class="content">
                        <h3 class="header">Give Just About Anything</h3>
                        <div class="extra">
                            Can't find it on GiftStarter? No matter what the gift, whether it's horseback riding lessons with a local provider or an airline ticket to a beautiful beach, we will add it to GiftStarter so you can give the thought that counts.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical stripe quote segment">
                <div class="ui equal width stackable internally celled grid">
                    <div class="center aligned row">
                        <div class="column">
                            <h3>"What a Company"</h3>
                            <p>That is what they all say about us</p>
                        </div>
                        <div class="column">
                            <h3>"I shouldn't have gone with their competitor."</h3>
                            <p>
                                <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>