<div class="howitworks static-pages" ng-controller="HowItWorksController">
  <div class="headerwrap">
  <div class="ui container">
    <h1>Crowdfunding for Gifts</h1>
    <h4>Gift and pay for <em>any</em> product or service <em>to</em> anyone <em>with</em> anyone.</h4>
    <a class="ui right labeled icon button purple huge" href="/join">
		Get Started
		<i class="add user icon"></i>
	  </a>
   </div>
  </div>

  <div class="main ui middle aligned stackable grid container">
    <div class="menu">
      <div class="menu-wrapper" ng-click="sectionShown = 'welcome'" ng-class="{selected: sectionShown == 'welcome'}">
        <div class="menu-item">
          Welcome
        </div>
      </div>
      <div class="menu-wrapper" ng-click="sectionShown = 'group-gifting'" ng-class="{selected: sectionShown == 'group-gifting'}">
        <div class="menu-item">
          Group Gifting
        </div>
      </div>
      <div class="menu-wrapper" ng-click="sectionShown = 'concierge'" ng-class="{selected: sectionShown == 'concierge'}">
        <div class="menu-item">
          Gift Concierge
        </div>
      </div>
      <div class="menu-wrapper" ng-click="sectionShown = 'search'" ng-class="{selected: sectionShown == 'search'}">
        <div class="menu-item">
          Find A Gift
        </div>
      </div>
      <div class="menu-wrapper" ng-click="sectionShown = 'glossary'" ng-class="{selected: sectionShown == 'glossary'}">
        <div class="menu-item">
          Glossary
        </div>
      </div>
    </div>

    <div id="selector-bar"></div>

    <div class="content ui container main full">
      <div id="welcome" ng-show="sectionShown == 'welcome'">
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="seven wide column">
          <h3 class="ui header">Give amazing gifts.</h3>
          <p>GiftStarter is the best way to bring family and friends together to give an amazing gift. When it's complete - receive a handmade card with everyone's message and the gift. </p>
          <h3 class="ui header">Launch a campaign.</h3>
          <p>Share & promote your campaign with friends. We take care of collecting the money.</p>
        </div>
        <div class="nine wide right floated column">
          <iframe width="100%" src="https://www.youtube-nocookie.com/embed/AKk6Po6csM0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
      </div>
      <div id="glossary" ng-show="sectionShown == 'glossary'">
        <h2>Giftstarter Glossary</h2>
        <h4>GiftStarter is a new gifting movement bringing people committed to giving amazing gifts.</h4>
        <p class="sub">
          Here's a glossary of gifting words to help you in our gifting community:
        </p>
        <table>
          <tr>
            <td>GiftStarter - n.</td>
            <td>That's us! We are here to help you give amazing gifts you are proud to give, and they are happy to get.</td>
          </tr>
          <tr>
            <td>Gift Champion - n.</td>
            <td>This is a person (you!) that starts an amazing gift, and invites family and friends to pitch in.</td>
          </tr>
          <tr>
            <td>Contributor - n.</td>
            <td>The people invited in by the Gift Champion to pitch in on the amazing gift and sign the card.</td>
          </tr>
          <tr>
            <td>Recipient - n.</td>
            <td>The person(s) that receive the amazing gift!</td>
          </tr>
          <tr>
            <td>Gift Concierge - n.</td>
            <td>Our Gift Concierge is like your personal shopper who will help you find and give that amazing gift.</td>
          </tr>
          <tr>
            <td>Nudge - n, v.</td>
            <td>These are the gentle friendly reminders (nudges) we make in order to help ensure your gifting event is amazing.</td>
          </tr>
        </table>
      </div>
      <div id="search" ng-show="sectionShown == 'search'">
        <h2>Find an Amazing Gift</h2>
        <h4>GiftStarter helps you give amazing gifts you are proud to give and they are happy to get.</h4>
        <p class="sub">GiftStarter has the tools to help you find those gifts you’re proud to give, and they’re happy to get.</p>
        <div class="search-item">
          <div class="desc">
            <p>Search</p>
            <p>Use our search bar located at the top of the page and on the home page to search for products by name or brand. We source our gifts from reliable stores such as:</p>
          </div>
          <img src="/assets/howitworks/how-it-works-findagift-1.png" />
        </div>
        <div class="search-item">
          <div class="desc">
            <p>Gift Concierge</p>
            <p>Our Gift Concierge is like you personal shopping assistant who will help you find the perfect gift for the occassion - even if it’s not on our site!</p>
          </div>
          <div id="search-item-concierge">
            <p>You can <a href="mailto:giftconcierge@giftstarter.com">email</a> (giftconcierge@giftstarter.com), contact via <a href="javascript:void(0);" onclick="olark('api.box.expand')">chat</a>, or call  206.486.4849</p>
          </div>
        </div>
        <div class="search-item">
          <div class="desc">
            <p>Gift Ideas</p>
            <p>More of a browser when you shop? Our carefully curated gift ideas are a great place to see what new and exciting products there are to gift.</p>
          </div>
          <img src="/assets/howitworks/how-it-works-findagift-2.png" />
        </div>
      </div>
      <div id="concierge" ng-show="sectionShown == 'concierge'">
        <h2>Gift Concierge</h2>
        <h4>Fast, fun, and no pressure personal shopper to help you find that perfect gift. Can't find it? We can help. Can't think of an idea? We can help.</h4>
        <p class="sub">We'll get back to you same day if possible -- definitely within 24 hours.</p>
        <div class="concierge-table">
          <div class="concierge-item">
            <p>Email<br/><br/>
              Send us an email at any time. The more information you include about your need, the more we can help!<br/><br/><br/>
              <a href="mailto:giftconcierge@giftstarter.com">giftconcierge@giftstarter.com</a>
            </p>
          </div>
          <div class="concierge-item">
            <p>Live Chat<br/><br/>
              You can access our live chat program in the bottom right corner of your browser.<br/><br/>
              <a href="javascript:void(0);" onclick="olark('api.box.expand')">Don't see it?</a><br/><br/>
              *Live chat available during business hours (PST)
            </p>
          </div>
          <div class="concierge-item">
            <p>Online Form<br/><br/>
              Fill out the quick form about your gifting need and we'll get on it ASAP!<br/><br/><br/>
              <a href="/concierge" class="button">Online Form</a>
            </p>
          </div>
        </div>
        <p>Or you can just plain call us: 206-486-4849.</p>
      </div>
      <div id="group-gifting" ng-show="sectionShown == 'group-gifting'">
        <h2>Group Gifting Starts Here</h2>
        <h4>GiftStarter is a new gifting movement focused on bringing people together in a community that loves giving amazing gifts.<br/></h4>
        <p class="sub">Our patent-pending technology divides the price of the gift into perfect pieces, giving family and friends the ability to purchases as many or as few pieces as they wish! Any product available online can be gifted with GiftStarter, and we’re here to help every step of the way. From collecting the money to shipping the gift - and even creating a special card with your personal messages - we’ve got you covered!<br/></p>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-1.png" />
          <p class="center"><strong>1</strong><br/>Find A Gift</p><p>Search from over 3 million products on our site. You can also discover our favorite gifts on our Gift Ideas page or contact our Gift Concierge for custom gifts.</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-2.png" />
          <p class="center"><strong>2</strong><br/>Select A Gift</p><p>From the search results or Gift Ideas page, you can click on product images to view product information and details, and the “GiftStart it” button. Click this button to start your group gift!</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-3.png" />
          <p class="center"><strong>3</strong><br/>Adjust The Price</p><p>Click the “+” to add pieces, thus lowering the price of each piece. Click the “-” button to remove pieces, and increase the price of each piece. Consider the size of the group you’ll invite; some people will buy 1 piece, some may buy more.</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-4.png" />
          <p class="center"><strong>4</strong><br/>Your Gifting Event</p><p>Describe the reason for this gift. What’s the event? Who is it for? Why is this a good gift for this person and/or event?</p>
        </div>
        <div class="group-item">
          <img src="/assets/howitworks/how-it-works-groupgift-5.png" />
          <p class="center"><strong>5</strong><br/>The Gift</p><p>Tell us where this gift needs to go and when you want it there and we’ll make it happen! <br />*Note standard shipping is always free with GiftStarter</p>
        </div>
        <p class="clear sub">That’s all there is to it. Share and invite friends and family to purchase pieces and give a gift that shows how much you care. We’re here to help you at any time and to ensure the gift and personal card are delivered. <br /><br />Give a remarkable gift today.</p>
      </div>
      
	  <div class="row ui middle aligned center aligned grid vertical top medium">
        <div class="center aligned column">
          <a href="/giftideas" class="ui huge button fuild icon labeled" id="gifting-button">
			  <i class="gift icon left"></i> 
			  Discover Gift Ideas
			</a>
        </div>
      </div>
    </div>

    <h2>Recent Campaigns</h2>
    <ng-include src="'/scripts/inspirationalexamples/inspirationalexamples.ng.html'"></ng-include>
  </div>

</div>