<div class="ui inverted masthead center aligned vertical segment is slim" ng-controller="HowItWorksController">
    <div class="ui text">
		<div class="ui text container">
        	<h1 class="ui inverted header">Crowdfunding<br class="mobile" /> for Gifts.</h1>
        	<h2 class="ui inverted header">Because it's the thought that counts.</h2>
		</div>
	</div>
</div>
<div class="ui grid container is-page" ng-controller="ConciergeController">
    <div class="centered row">
        <div class="ui pointing secondary stackable menu">
            <a class="item active" data-tab="first"><i class="gift icon"></i> Gift Economy</a>
            <a class="item" data-tab="second"><i class="comments icon"></i> Group Gifts</a>
            <a class="item" data-tab="third"><i class="find icon"></i> Examples</a>
        </div>
    </div>

    <div class="fourteen wide column centered row">
        <div class="ui basic padded segment">
            <div class="ui tab active" data-tab="first">
                <div class="ui middle aligned stackable grid">
                    <div class="seven wide column">
                        <h3 class="ui header">Give amazing gifts.</h3>
                        <p>GiftStarter is the best way to bring family and friends together to give an amazing gift. When it's complete - receive a handmade card with everyone's message and the gift.</p>
                        <h3 class="ui header">Launch a campaign.</h3>
                        <p>Share &amp; promote your campaign with friends. We take care of collecting the money.</p>
                    </div>
                    <div class="nine wide right floated column youtube">
                        <div class="ui embed" data-source="youtube" data-id="AKk6Po6csM0"></div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="second">
                <div class="ui middle aligned stackable grid">
                    <div class="row">
                        <p class="ui raised segment sub">
                            GiftStarter splits the price of any gift into small pieces, giving family and friends the ability to purchase as many or as few pieces as they wish. From collecting the money to shipping the gift - we even create a special card with your personal message.
                        </p>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            <h3 class="ui header">1: Find A Gift</h3>
                            <p>Search from over 4 million products on our site. You can also discover our favorite gifts on our Gift Ideas page or contact our Gift Concierge for custom gifts.</p>
                        </div>
                        <div class="eight wide right floated column">
                            <img src="assets/howitworks/how-it-works-groupgift-1.png" class="ui huge bordered rounded image">
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="row">
                        <div class="eight wide column">
                            <img src="assets/howitworks/how-it-works-groupgift-2.png" class="ui huge bordered rounded image">
                        </div>
                        <div class="six wide right floated column">
                            <h3 class="ui header">2: Select A Gift</h3>
                            <p>From the search results or Gift Ideas page, you can click on product images to view product information and details, and the “GiftStart it” button. Click this button to start your group gift!</p>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="row">
                        <div class="six wide column">
                            <h3 class="ui header">3: Adjust The Pieces</h3>
                            <p>Click the “+” to add pieces, thus lowering the price of each piece. Click the “-” button to remove pieces, and increase the price of each piece. Consider the size of the group you’ll invite; some people will buy 1 piece, some may buy more.</p>
                        </div>
                        <div class="eight wide right floated column">
                            <img src="assets/howitworks/how-it-works-groupgift-3.png" class="ui huge bordered rounded image">
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="row">
                        <div class="eight wide column">
                            <img src="assets/howitworks/how-it-works-groupgift-4.png" class="ui huge bordered rounded image">
                        </div>
                        <div class="six wide right floated column">
                            <h3 class="ui header">4: Your Gifting Event</h3>
                            <p>Describe the reason for this gift. What’s the event? Who is it for? Why is this a good gift for this person and/or event?</p>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="row">
                        <div class="six wide column">
                            <h3 class="ui header">5: The Gift</h3>
                            <p>Tell us where this gift needs to go and when you want it there and we’ll make it happen!
                                <br />*Note standard shipping is always free with GiftStarter.</p>
                            <p>That’s all there is to it. Share and invite friends and family to purchase pieces and give a gift that shows how much you care. We’re here to help you at any time and to ensure the gift and personal card are delivered.
                                <br />
                                <br />Give a remarkable gift today.</p>
                        </div>
                        <div class="eight wide right floated column">
                            <img src="assets/howitworks/how-it-works-groupgift-5.png" class="ui huge bordered rounded image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="third">
                <ng-include src="'/scripts/giftsgivenbar/giftsgivenbar.ng.html'"></ng-include>
            </div>
        </div>
    </div>
</div>