<div class="partnerportal static-pages" ng-controller="PartnerportalController" >
    <div class="headerwrap">
        <h1>PARTNER PORTAL</h1>
        <br />
        <p>Thanks for joining the gifting revolution!  GiftStarter is a great platform to help you increase average order size, turn your users into brand advocates endorsing your brand to their family and friends.  Let's reinvent gifting.  #GiftsMatter when we #GiftTogether.</p>
    </div>

    <div class="login">
        <div class="login-title" ng-show="!loggedIn()">Welcome, partner!  Please log in:</div>
        <span ng-repeat="showCreate in [false]"><ng-include ng-repeat="showSocials in [false]" src="'/scripts/login/login-or-create.html'"></ng-include></span>
    </div>

    <div class="core-info" ng-show="loggedIn()">
        <h1>1. {{coreDataComplete?'Verify':'Enter'}} your company info:</h1>
        <form class="core-form"><a name="core-form"></a>
            <span class="row"><span class="label" for="companyName">Company Name:</span><span class="value" ng-hide="editMode">{{partner.company_name}}</span><span ng-show="editMode" class="input"><input type="text" name="companyName" ng-model="partner.company_name"/></span></span>
            <span class="row"><span class="label" for="companyUrl">Website:</span><span class="value"  ng-hide="editMode">{{partner.company_url}}</span><span ng-show="editMode" class="input"><input type="text" name="companyUrl" ng-model="partner.company_url"/><br/></span></span>
            <span class="row"><span class="label" for="phone">Phone:</span><span class="value" ng-hide="editMode">{{partner.phone_number}}</span><span ng-show="editMode" class="input"><input type="text" name="phone" ng-model="partner.phone_number"/><br/></span></span>
            <span class="row"><span class="label" for="phone">API Key:</span><span class="value" ng-hide="editMode">{{partner.api_key}}</span></span>
            <span class="row"><span class="error" ng-show="coreError!=''">{{coreError}}</span></span>
            <span class="row buttons"><span class="buttons"><button ng-hide="editMode" ng-click="editCore()" ng-disabled="loading">Edit</button><span ng-show="editMode"><button ng-show="coreDataComplete" ng-click="cancelCore()" ng-disabled="loading">Cancel</button> <button ng-click="saveCore()" ng-disabled="loading">Save</button></span></span></span>
        </form>
    </div>
    <div ng-show="coreDataComplete">
        <section id="add-the-button">
            <h1>2. Add the GiftStart It button to your website:</h1>
            <p>Adding the GiftStart It button is easy.  Pick your platform:</p>
            <ul class="toggle-button">
                <li ng-class="{'selected': shopifyInstructions}"><a ng-click="showShopifyInstructions()">Shopify</a></li>
                <li ng-class="{'selected': htmlInstructions}"><a ng-click="showHtmlInstructions()">All Others</a></li>
            </ul>
            <div class="add-instructions" ng-show="shopifyInstructions">
                <p>To add the button to your Shopify store, you should add the following snippet of HTML to your product details liquid file:</p>
                <pre>
                &lt;gs-button id="gsbutton" class="gsbutton"&gt;&lt;/gs-button&gt;
                &lt;script src="https://www.giftstarter.co/scripts/shopify/button.js?key={{partner.api_key}}"&gt;&lt;/script&gt;
                </pre>
                <p>You should style the button to match your existing buttons height and corner rounding, but a good starting point for the buttons CSS is:</p>
                <pre>
                #gsbutton {
                    height: 36px;
                    border-radius: 4px;
                    background-color: white;
                }
                </pre>
                <p>Be sure to only adjust the height or the width - doing both will likely distort the button!</p>
                <p>If you have any questions at all, please email us at <a href="mailto:giftconcierge@giftstarter.co">giftconcierge@giftstarter.co</a>!</p>
            </div>
            <div class="add-instructions" ng-show="htmlInstructions">
                <p>To add the button to a site, you should insert the following snippet next to your "Add to Cart" button:</p>
                <pre>
                &lt;gs-button id="gsbutton" class="gsbutton" style="display: none;"&gt;&lt;/gs-button&gt;
                &lt;script&gt;
                    window.giftStartButton = {
                        productUrl: 'http://example.com/product/12345',
                        title: 'Example title',
                        price: 85.00,
                        imgUrl: 'http://example.com/images/12345.jpg'
                    };
                &lt;/script&gt;
                &lt;script src="https://www.giftstarter.co/scripts/button/general.js?key={{partner.api_key}}"&gt;&lt;/script&gt;
                </pre>
                <p>You'll need to replace the example product info in the first script tag with your actualy product data.  On most platforms this can be done in the template for your product details page.</p>
                <p>You should style the button to match your existing buttons height and corner rounding, but a good starting point for the buttons CSS is:</p>
                <pre>
                #gsbutton {
                    height: 36px;
                    border-radius: 4px;
                    background-color: white;
                }
                </pre>
                <p>Be sure to only adjust the height or the width - doing both will likely distort the button!</p>
                <p>If you have any questions at all, please email us at <a href="mailto:giftconcierge@giftstarter.co">giftconcierge@giftstarter.co</a>!</p>
            </div>
        </section>
    </div>

</div>