iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

div.giftstart.wrapper {
  margin: 0 auto; }
  div.giftstart.wrapper gs-overlay {
    margin-left: 0; }
  div.giftstart.wrapper .giftstart-this {
    background-color: #ccc;
    text-align: center;
    padding: 10px 5px; }
    @media screen and (max-width: 1030px) {
      div.giftstart.wrapper .giftstart-this {
        padding-top: 2px; } }
  div.giftstart.wrapper button.share {
    width: 4em;
    margin: 0.5em; }
    @media screen and (max-width: 1030px) {
      div.giftstart.wrapper button.share {
        margin: 0.25em; } }
  div.giftstart.wrapper button.pitch-in {
    margin: 0.5em;
    white-space: nowrap;
    min-width: 155px; }
  div.giftstart.wrapper .giftstart-this-link:hover {
    text-decoration: none; }
  div.giftstart.wrapper .saveforlater {
    font-size: 14px; }
    div.giftstart.wrapper .saveforlater .loader {
      height: 14px;
      width: 14px; }
    div.giftstart.wrapper .saveforlater button {
      min-width: 155px; }
    div.giftstart.wrapper .saveforlater .product-message {
      text-align: center;
      color: #666;
      font-size: 13px;
      padding-top: 5px; }
      div.giftstart.wrapper .saveforlater .product-message a {
        color: #DD494E;
        font-size: 13px; }
  @media screen and (max-width: 1802.5px) {
    div.giftstart.wrapper {
      width: 100%; } }
  div.giftstart.wrapper span.circle {
    margin-right: 0.4em; }
  div.giftstart.wrapper .block {
    width: 32em;
    display: inline-block;
    padding: 0.75em 1.5em;
    vertical-align: top; }
    div.giftstart.wrapper .block h4 {
      margin: 0; }
    @media screen and (max-width: 1030px) {
      div.giftstart.wrapper .block {
        width: 100%; } }
    @media screen and (min-width: 1030px) {
      div.giftstart.wrapper .block {
        width: 39%; } }
  div.giftstart.wrapper div.block.overlay {
    position: relative;
    width: 32em;
    text-align: center;
    padding: 0;
    float: left;
    margin: 0 0 0.75em 0; }
    div.giftstart.wrapper div.block.overlay.shrunk {
      zoom: 0.5;
      -moz-transform: scale(0.5); }
    @media screen and (max-width: 1030px) {
      div.giftstart.wrapper div.block.overlay {
        width: 100%;
        padding-top: 2em; } }
    @media screen and (min-width: 1030px) and (max-width: 1802.5px) {
      div.giftstart.wrapper div.block.overlay {
        width: 60%;
        max-width: 500px;
        margin-left: 5%; } }
    div.giftstart.wrapper div.block.overlay div.image-upload {
      margin-bottom: 0.5em; }
  div.giftstart.wrapper div.receipt-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
    div.giftstart.wrapper div.receipt-wrap .receipt {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      background-color: white;
      border: 2px solid #e2e2e2; }
      @media screen and (max-width: 1030px) {
        div.giftstart.wrapper div.receipt-wrap .receipt {
          width: 80%; } }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper div.receipt-wrap .receipt h2 {
          margin: 0; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper div.receipt-wrap .receipt h2 {
          margin: 0; } }
      div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles {
        height: 60%;
        padding: 50px;
        vertical-align: top; }
        @media screen and (max-width: 580px) {
          div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles {
            padding: 15px; } }
        div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .info-tiles {
          float: right; }
          @media screen and (max-width: 580px) {
            div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .info-tiles {
              width: 100%;
              float: none; } }
          div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .info-tiles .num-tiles {
            clear: both;
            width: 100%;
            text-align: center; }
          div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .info-tiles .cost-tiles {
            margin-top: 1em;
            width: 100%;
            text-align: center; }
        div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .img-wrap {
          float: left;
          width: 60%;
          height: 100%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
          @media screen and (max-width: 580px) {
            div.giftstart.wrapper div.receipt-wrap .receipt .receipt-tiles .img-wrap {
              height: 50%;
              margin: 0 auto;
              float: none; } }
      div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total {
        height: 40%;
        background-color: #e2e2e2;
        padding: 50px;
        vertical-align: top; }
        @media screen and (max-width: 580px) {
          div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total {
            text-align: center;
            padding: 15px; } }
        div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-total {
          display: block;
          width: 100%;
          text-align: left; }
          @media screen and (max-width: 1030px) {
            div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-total {
              text-align: center;
              width: 100%;
              margin-top: 0; } }
          div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-total .total-price {
            display: inline-block;
            float: right; }
            @media screen and (max-width: 1030px) {
              div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-total .total-price {
                float: none;
                display: block;
                text-align: center;
                width: 100%; } }
        div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-note {
          display: block;
          clear: both;
          width: 100%;
          margin: 0; }
          @media screen and (min-width: 580px) and (max-width: 1030px) {
            div.giftstart.wrapper div.receipt-wrap .receipt .receipt-total .purchase-note {
              margin-top: 50px; } }
  div.giftstart.wrapper div.invite.block {
    width: 100%;
    text-align: center;
    padding-top: 0; }
    div.giftstart.wrapper div.invite.block #share-url {
      display: block;
      height: 38px;
      margin-left: 5px;
      width: 100%; }
  div.giftstart.wrapper div.block.fullwidth {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
    div.giftstart.wrapper div.block.fullwidth div.title {
      margin: 15px auto 0 auto;
      text-align: center;
      vertical-align: top;
      color: #444;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      div.giftstart.wrapper div.block.fullwidth div.title .campaign-title {
        white-space: normal; }
      div.giftstart.wrapper div.block.fullwidth div.title .campaign-title {
        white-space: normal; }
  div.giftstart.wrapper .login-box, div.giftstart.wrapper .pay-box, div.giftstart.wrapper .sign-box, div.giftstart.wrapper .share-box {
    float: right;
    display: block;
    padding-top: 0;
    margin-right: 2%;
    width: 40%; }
    @media screen and (max-width: 1029px) {
      div.giftstart.wrapper .login-box, div.giftstart.wrapper .pay-box, div.giftstart.wrapper .sign-box, div.giftstart.wrapper .share-box {
        float: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        max-width: 100%;
        text-align: center; } }
    div.giftstart.wrapper .login-box h2, div.giftstart.wrapper .pay-box h2, div.giftstart.wrapper .sign-box h2, div.giftstart.wrapper .share-box h2 {
      margin-top: 1rem;
      margin-bottom: 10px;
      color: #e27f24;
      font-size: 1.2em; }
    div.giftstart.wrapper .login-box input, div.giftstart.wrapper .login-box button, div.giftstart.wrapper .pay-box input, div.giftstart.wrapper .pay-box button, div.giftstart.wrapper .sign-box input, div.giftstart.wrapper .sign-box button, div.giftstart.wrapper .share-box input, div.giftstart.wrapper .share-box button {
      width: 100%;
      margin-left: 0; }
    div.giftstart.wrapper .login-box .userlogin__passwordwrap, div.giftstart.wrapper .pay-box .userlogin__passwordwrap, div.giftstart.wrapper .sign-box .userlogin__passwordwrap, div.giftstart.wrapper .share-box .userlogin__passwordwrap {
      width: 100%;
      padding-left: 11px; }
  div.giftstart.wrapper .login-box input {
    margin-left: 0; }
  div.giftstart.wrapper .login-box .vertical-line {
    display: none; }
  div.giftstart.wrapper .login-box .switchtxt {
    position: relative;
    width: 100%; }
  div.giftstart.wrapper .login-box .login-block {
    display: block;
    text-align: center;
    width: 100%;
    vertical-align: top; }
    div.giftstart.wrapper .login-box .login-block input {
      width: 100% !important; }
  div.giftstart.wrapper .login-box .userlogin {
    display: block; }
    div.giftstart.wrapper .login-box .userlogin__loginbtn {
      margin: 0 auto; }
    div.giftstart.wrapper .login-box .userlogin__passwordwrap, div.giftstart.wrapper .login-box .userlogin__email, div.giftstart.wrapper .login-box .userlogin__surname {
      margin-top: 5px; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .login-box .userlogin__passwordwrap, div.giftstart.wrapper .login-box .userlogin__email, div.giftstart.wrapper .login-box .userlogin__surname {
          width: 100%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .login-box .userlogin__passwordwrap, div.giftstart.wrapper .login-box .userlogin__email, div.giftstart.wrapper .login-box .userlogin__surname {
          width: 100%; } }
  div.giftstart.wrapper .login-box p {
    margin: 0; }
  div.giftstart.wrapper .login-box .social {
    margin-top: 0.5rem; }
    div.giftstart.wrapper .login-box .social__icons {
      margin: 0 auto; }
  div.giftstart.wrapper .pay-box div.payment {
    display: block;
    margin: 0 auto; }
  div.giftstart.wrapper .share-box {
    text-align: center; }
    div.giftstart.wrapper .share-box a {
      color: black;
      text-decoration: underline; }
    div.giftstart.wrapper .share-box h2 {
      text-align: left; }
    div.giftstart.wrapper .share-box p {
      text-align: left; }
  div.giftstart.wrapper div.block.col2 {
    float: right;
    padding-top: 0px;
    margin-right: 4%; }
    @media screen and (max-width: 1029px) {
      div.giftstart.wrapper div.block.col2 {
        float: left;
        padding: 0 2%;
        margin-left: 0;
        margin-right: 2%; } }
    div.giftstart.wrapper div.block.col2 button {
      margin: 0.1em; }
    div.giftstart.wrapper div.block.col2 a.title {
      margin: 0;
      text-align: center;
      vertical-align: top;
      color: #444;
      text-decoration: none;
      font-weight: 700;
      font-size: 110%; }
    div.giftstart.wrapper div.block.col2 div.title {
      position: relative;
      overflow: hidden; }
      div.giftstart.wrapper div.block.col2 div.title h1.title {
        text-align: center; }
      div.giftstart.wrapper div.block.col2 div.title span.title.edit {
        display: block;
        overflow: hidden;
        float: left; }
    div.giftstart.wrapper div.block.col2 div.save {
      float: right; }
    div.giftstart.wrapper div.block.col2 div.prodtitle {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px; }
    div.giftstart.wrapper div.block.col2 div.description {
      position: relative;
      overflow: hidden;
      padding-top: 2em;
      padding-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px; }
      @media screen and (max-width: 1029px) {
        div.giftstart.wrapper div.block.col2 div.description {
          padding-top: 0.5em;
          padding-bottom: 0.5em; } }
    div.giftstart.wrapper div.block.col2 a.edit {
      position: absolute;
      right: 0;
      bottom: 0; }
      div.giftstart.wrapper div.block.col2 a.edit img.edit {
        margin-top: 0.25em;
        height: 1.5em; }
    div.giftstart.wrapper div.block.col2 input.title {
      width: 100%;
      padding-top: 0.1em;
      padding-bottom: 0.1em;
      font: 300 2.667em Roboto, sans-serif; }
    div.giftstart.wrapper div.block.col2 input.gc-name {
      width: 100%;
      padding-top: 0.1em;
      padding-bottom: 0.1em;
      font: 300 1.25em Roboto, sans-serif; }
    div.giftstart.wrapper div.block.col2 textarea.description {
      width: 100%;
      height: 15em; }
    div.giftstart.wrapper div.block.col2 h1 {
      color: black; }
    div.giftstart.wrapper div.block.col2 div.signature {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px; }
      div.giftstart.wrapper div.block.col2 div.signature p.name {
        font-weight: 300;
        font-size: 125%;
        margin: 0; }
      div.giftstart.wrapper div.block.col2 div.signature p.gift-champion {
        margin: 0; }
    div.giftstart.wrapper div.block.col2 div.description {
      font: 16px / 2 Gotham, sans-serif;
      line-height: 1.5; }
    div.giftstart.wrapper div.block.col2 .description {
      line-height: 1.5;
      font-weight: 300; }
    div.giftstart.wrapper div.block.col2 .signature__title:before {
      content: "\2014"; }
    div.giftstart.wrapper div.block.col2 div.pitch-instructions {
      display: block;
      margin: 35px auto 0 auto;
      max-width: 500px; }
      @media screen and (max-width: 1029px) {
        div.giftstart.wrapper div.block.col2 div.pitch-instructions {
          margin-top: 5px; } }
      div.giftstart.wrapper div.block.col2 div.pitch-instructions h4 {
        display: inline; }
        @media screen and (max-width: 1029px) {
          div.giftstart.wrapper div.block.col2 div.pitch-instructions h4 {
            margin-bottom: 0; } }
      div.giftstart.wrapper div.block.col2 div.pitch-instructions .ordinal {
        color: #e44028;
        line-height: 31px; }
      div.giftstart.wrapper div.block.col2 div.pitch-instructions .ordinal_circle {
        border: #e44028 2px solid;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
        height: 36px;
        width: 36px;
        text-align: center;
        vertical-align: middle; }
    div.giftstart.wrapper div.block.col2 button.pitch-in {
      display: block;
      margin: 10px auto;
      max-width: 500px;
      width: 100%; }
    div.giftstart.wrapper div.block.col2 img.share {
      width: 2.75em;
      margin: 0.5em 0.5em 0.5em 0;
      position: relative;
      cursor: pointer;
      display: inline-block; }
    div.giftstart.wrapper div.block.col2 img.share:last-of-type {
      margin-right: 0; }
    div.giftstart.wrapper div.block.col2 img.share:first-of-type {
      margin-right: 0.5em; }
    div.giftstart.wrapper div.block.col2 img.share:hover {
      -webkit-filter: brightness(1.2);
      -moz-filter: brightness(1.2);
      -ms-filter: brightness(1.2);
      -o-filter: brightness(1.2);
      filter: brightness(1.2); }
    div.giftstart.wrapper div.block.col2 img.share:active {
      -webkit-filter: brightness(1.6);
      -moz-filter: brightness(1.6);
      -ms-filter: brightness(1.6);
      -o-filter: brightness(1.6);
      filter: brightness(1.6); }
  div.giftstart.wrapper .block.prices {
    padding: 12px 0;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 1029px) {
      div.giftstart.wrapper .block.prices {
        width: 70%;
        margin-left: 14%;
        margin-right: 14%; } }
    @media screen and (min-width: 1030px) {
      div.giftstart.wrapper .block.prices {
        width: 50%;
        padding-left: 5%; } }
    div.giftstart.wrapper .block.prices h1 {
      color: black; }
    div.giftstart.wrapper .block.prices .price {
      display: inline-block;
      width: 49%; }
      div.giftstart.wrapper .block.prices .price h2 {
        color: #de7f24;
        display: inline;
        margin-right: 7px; }
        @media only screen and (max-width: 667px) {
          div.giftstart.wrapper .block.prices .price h2 {
            display: block;
            font-size: 1.5em; } }
        @media only screen and (max-width: 375px) and (orientation: portrait) {
          div.giftstart.wrapper .block.prices .price h2 {
            display: block;
            font-size: 1.5em; } }
      div.giftstart.wrapper .block.prices .price h4 {
        display: inline; }
        @media only screen and (max-width: 667px) {
          div.giftstart.wrapper .block.prices .price h4 {
            display: block;
            font-size: 1em; } }
        @media only screen and (max-width: 375px) and (orientation: portrait) {
          div.giftstart.wrapper .block.prices .price h4 {
            display: block;
            font-size: 1em; } }
    div.giftstart.wrapper .block.prices .price.remaining {
      text-align: right; }
  div.giftstart.wrapper .block.completion {
    text-align: left; }
    @media screen and (min-width: 1030px) {
      div.giftstart.wrapper .block.completion {
        width: 39%;
        margin-left: 7.5%; } }
    div.giftstart.wrapper .block.completion .countdown {
      color: #12584c;
      display: inline;
      margin-right: 7px; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .block.completion .countdown {
          font-size: 1.5em; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .block.completion .countdown {
          font-size: 1.5em; } }
    div.giftstart.wrapper .block.completion p {
      margin-bottom: 7px;
      margin-top: 0; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .block.completion p {
          text-align: center; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .block.completion p {
          text-align: center; } }
    @media only screen and (max-width: 667px) {
      div.giftstart.wrapper .block.completion div {
        text-align: center; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      div.giftstart.wrapper .block.completion div {
        text-align: center; } }
    div.giftstart.wrapper .block.completion h4 {
      display: inline; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .block.completion h4 {
          font-size: 1em; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .block.completion h4 {
          font-size: 1em; } }
  div.giftstart.wrapper .groupcard {
    clear: both;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%; }
    div.giftstart.wrapper .groupcard .title--groupcard {
      margin: 0 auto 10px; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .groupcard .title--groupcard {
          display: block; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .groupcard .title--groupcard {
          display: block; } }
    div.giftstart.wrapper .groupcard .title__name {
      font-size: 3.2rem;
      margin: 20px auto 5px auto; }
    div.giftstart.wrapper .groupcard .contributors {
      display: inline-block;
      padding-bottom: 50px;
      position: relative;
      margin: 17px;
      height: calc((1200px - ((35px * 2) + (52px * 2))) / 3);
      width: calc((1200px - ((35px * 2) + (52px * 2))) / 3);
      max-width: calc(100% - 34px);
      vertical-align: top; }
      @media only screen and (max-width: 667px) {
        div.giftstart.wrapper .groupcard .contributors {
          height: auto; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        div.giftstart.wrapper .groupcard .contributors {
          height: auto; } }
      div.giftstart.wrapper .groupcard .contributors.orange {
        background-color: #de7f24; }
      div.giftstart.wrapper .groupcard .contributors.teal {
        background-color: #238471; }
      div.giftstart.wrapper .groupcard .contributors.green {
        background-color: #b2b812; }
      div.giftstart.wrapper .groupcard .contributors.red {
        background-color: #e44028; }
      div.giftstart.wrapper .groupcard .contributors:nth-child {
        position: relative; }
      div.giftstart.wrapper .groupcard .contributors__info {
        color: white;
        overflow-wrap: break-word;
        padding: 0 15px; }
        div.giftstart.wrapper .groupcard .contributors__info input {
          margin-top: 10px;
          width: 100%; }
        div.giftstart.wrapper .groupcard .contributors__info p {
          padding: 0; }
        div.giftstart.wrapper .groupcard .contributors__info textarea {
          width: 100%; }
        div.giftstart.wrapper .groupcard .contributors__info #textcount {
          line-height: 10px;
          margin: 0;
          text-align: right; }
      div.giftstart.wrapper .groupcard .contributors__name {
        color: white;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: center; }
      div.giftstart.wrapper .groupcard .contributors__titleblock {
        position: absolute;
        height: 96px;
        width: 100%;
        z-index: 1; }
        div.giftstart.wrapper .groupcard .contributors__titleblock.orange {
          background-color: #ff912b; }
        div.giftstart.wrapper .groupcard .contributors__titleblock.teal {
          background-color: #12584c; }
        div.giftstart.wrapper .groupcard .contributors__titleblock.green {
          background-color: #d8d82b; }
        div.giftstart.wrapper .groupcard .contributors__titleblock.red {
          background-color: #ea7063; }
      div.giftstart.wrapper .groupcard .contributors__img {
        width: 80%;
        margin: 8% 0 1%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border: 6px solid #d6d6d6;
        vertical-align: top;
        cursor: pointer; }
      div.giftstart.wrapper .groupcard .contributors__edit {
        bottom: 0;
        right: 0;
        position: absolute;
        text-align: right; }
        div.giftstart.wrapper .groupcard .contributors__edit__button {
          margin: 10px;
          vertical-align: inherit; }
      div.giftstart.wrapper .groupcard .contributors__figure {
        position: relative;
        margin: 0 auto;
        height: 10rem;
        width: 10rem;
        text-align: center;
        z-index: 2; }
        div.giftstart.wrapper .groupcard .contributors__figure gs-image-upload {
          padding-bottom: 0 !important;
          height: 10rem !important;
          width: 10rem !important; }
    div.giftstart.wrapper .groupcard .nocontributors {
      color: #aaa;
      font-size: 1.3em;
      text-align: center; }
  div.giftstart.wrapper .btn {
    width: 170px;
    margin: 20px auto 0;
    border-color: #aeaeae; }
    div.giftstart.wrapper .btn__link {
      text-transform: uppercase;
      text-align: center;
      color: #aeaeae; }
    div.giftstart.wrapper .btn--pdf {
      background: #e54028;
      margin: -1rem auto 2rem;
      text-align: center;
      padding: 1rem; }
      div.giftstart.wrapper .btn--pdf .btn__link {
        text-transform: uppercase;
        color: #fff; }
  div.giftstart.wrapper .fullwidth--last {
    padding-bottom: 1.5rem; }
    div.giftstart.wrapper .fullwidth--last div.comment {
      position: relative;
      margin-bottom: 2.5em;
      vertical-align: top;
      display: inline-block;
      width: 100%; }
      @media screen and (min-width: 1030px) {
        div.giftstart.wrapper .fullwidth--last div.comment {
          width: 45%;
          margin-right: 5%;
          margin-bottom: 1em; } }
      div.giftstart.wrapper .fullwidth--last div.comment div {
        position: relative;
        width: 78%;
        margin-left: 1%;
        padding: 0 3%;
        font-weight: 300;
        text-align: left;
        display: inline-block; }
        div.giftstart.wrapper .fullwidth--last div.comment div p {
          margin-top: 0; }
  div.giftstart.wrapper #share-panel {
    position: relative; }
    div.giftstart.wrapper #share-panel #closebtn {
      color: white;
      position: absolute;
      right: 7%;
      top: 10px;
      text-decoration: underline; }
