iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.social {
  margin: 1rem auto 2rem; }
  .social__nolinks {
    color: #ccc; }
  .social__editblock {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 8px;
    margin-right: 5px; }
    @media only screen and (min-width: 668px) and (max-width: 1024px) {
      .social__editblock {
        margin-bottom: 0; } }
    @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
      .social__editblock {
        margin-bottom: 0; } }
    @media only screen and (max-width: 667px) {
      .social__editblock {
        margin-bottom: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .social__editblock {
        margin-bottom: 0; } }
  .social__icons {
    max-width: 210px;
    margin-top: 4px; }
    @media only screen and (max-width: 667px) {
      .social__icons {
        margin: 0.5rem auto 0 auto;
        display: block; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .social__icons {
        margin: 0.5rem auto 0 auto;
        display: block; } }
  .social__desc {
    color: #fff;
    font-size: 0.9rem;
    font-family: Gotham, sans-serif; }
  .social__inputs {
    color: #fff;
    border: 2px solid #cdcdcd;
    background: transparent;
    vertical-align: top; }
    @media only screen and (min-width: 668px) and (max-width: 1024px) {
      .social__inputs {
        margin-top: 0.5rem;
        margin-left: 0.5rem; } }
    @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
      .social__inputs {
        margin-top: 0.5rem;
        margin-left: 0.5rem; } }
    @media only screen and (max-width: 667px) {
      .social__inputs {
        margin-top: 0.5rem;
        margin-left: 0.5rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .social__inputs {
        margin-top: 0.5rem;
        margin-left: 0.5rem; } }
    .social__inputs::-webkit-input-placeholder {
      color: #fff; }
    .social__inputs:-moz-placeholder {
      color: #eee;
      opacity: 1; }
    .social__inputs::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .social__inputs:-ms-input-placeholder {
      color: #fff; }
  .social__inline {
    display: inline; }
