iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.userprofile {
  min-height: 70rem;
  color: #333; }
  @media only screen and (min-width: 668px) and (max-width: 1024px) {
    .userprofile {
      min-height: 68rem; } }
  @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
    .userprofile {
      min-height: 68rem; } }
  @media only screen and (max-width: 667px) {
    .userprofile {
      min-height: 86rem; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .userprofile {
      min-height: 86rem; } }
  .userprofile__errors {
    color: #FFF;
    text-align: center; }
  .userprofile__emnote {
    font-weight: bolder;
    font-style: italic;
    font-size: 110%; }
  .userprofile__campaigns {
    width: 98%;
    margin: 1rem auto 0.5rem;
    display: block;
    border-spacing: 1rem;
    min-height: 20rem;
    text-align: center; }
    @media only screen and (max-width: 667px) {
      .userprofile__campaigns {
        margin-top: 1.5rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile__campaigns {
        margin-top: 1.5rem; } }
  .userprofile__info {
    background: url("/assets/homepage_hero.jpg");
    background-size: cover;
    padding-top: 3rem; }
  .userprofile__image {
    text-align: center;
    margin: 0 auto 2.8rem;
    position: relative;
    height: 10rem;
    width: 10rem; }
    .userprofile__image .image, .userprofile__image .userprofile__imagesave.disabled, .userprofile__image .disabled .rotate {
      display: none; }
    .userprofile__image .image-upload, .userprofile__image gs-image-upload {
      padding-bottom: 0 !important;
      height: 10rem !important;
      width: 10rem; }
    .userprofile__image--edit .userprofile__imageedit {
      bottom: -2.5rem;
      left: 50%; }
  .userprofile__preload {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0.625rem; }
  .userprofile__userimage {
    width: 9rem;
    border-radius: 5rem;
    border: 2px solid #fff; }
  .userprofile__imageedit {
    white-space: nowrap; }
  .userprofile .uploader {
    top: 0;
    left: 0 !important; }
  .userprofile__imagecancel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0; }
  .userprofile__imageupload, .userprofile__imagesave {
    position: absolute;
    bottom: -2.5rem; }
  .userprofile__imagesave.disabled + .userprofile__imageupload {
    left: 0;
    width: 100%; }
  .userprofile__imagesave + .userprofile__imageupload {
    left: 5rem; }
  .userprofile__imagesave {
    left: 0; }
  .userprofile__name {
    width: 60%;
    margin: 0 auto; }
    @media only screen and (max-width: 667px) {
      .userprofile__name {
        width: 90%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile__name {
        width: 90%; } }
  .userprofile__title {
    color: #fff;
    font-weight: bold;
    margin: 0.2rem auto 0;
    padding: 0.2rem 0;
    word-break: break-all;
    background: transparent;
    display: block;
    text-align: center;
    width: 79%; }
    @media only screen and (max-width: 667px) {
      .userprofile__title {
        width: 100%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile__title {
        width: 100%; } }
  .userprofile__header {
    color: #333;
    text-align: center;
    margin-top: 3rem; }
    @media only screen and (max-width: 667px) {
      .userprofile__header {
        margin-top: 8rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile__header {
        margin-top: 8rem; } }
  .userprofile__loading {
    position: fixed;
    width: 100%;
    bottom: 50%; }
  .userprofile__loadingimg {
    margin: 0 auto;
    display: block; }
  .userprofile input.userprofile__title {
    border: 1px solid #eee; }
  .userprofile__social, .userprofile__month, .userprofile__text, .userprofile__date {
    text-align: center; }
  .userprofile__text {
    font-family: Gotham, sans-serif;
    font-size: 0.9rem;
    width: 80%;
    margin: 1.5rem auto 0; }
    @media only screen and (max-width: 667px) {
      .userprofile__text {
        text-align: justify;
        margin-bottom: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile__text {
        text-align: justify;
        margin-bottom: 0; } }
  .userprofile__fields {
    width: 80%;
    margin: 0 auto; }
  .userprofile .ng-invalid-email .editlink__save {
    color: #ccc; }
  .userprofile .ng-invalid-required .editlink__save {
    color: #ccc; }
  .userprofile .invalid--email {
    color: darkred;
    position: absolute;
    top: -0.9rem;
    left: 5.5rem;
    font-size: 0.9rem; }
    @media only screen and (max-width: 667px) {
      .userprofile .invalid--email {
        top: 1.8rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile .invalid--email {
        top: 1.8rem; } }
  .userprofile .userprofileform__usermail.ng-invalid.ng-invalid-email, .userprofile .userprofileform__usermail.ng-invalid-required {
    border: 1px solid #ff0000; }
  .userprofile .userprofileform {
    width: 100%;
    height: 8rem;
    margin-top: 1.5rem; }
    @media only screen and (max-width: 667px) {
      .userprofile .userprofileform {
        text-align: left;
        height: 18rem;
        margin-top: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile .userprofileform {
        text-align: left;
        height: 18rem;
        margin-top: 0; } }
    .userprofile .userprofileform__firstcol, .userprofile .userprofileform__secondcol {
      width: 49%;
      display: inline-block; }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__firstcol, .userprofile .userprofileform__secondcol {
          width: 100%;
          margin: 1rem auto; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__firstcol, .userprofile .userprofileform__secondcol {
          width: 100%;
          margin: 1rem auto; } }
    @media only screen and (min-width: 668px) and (max-width: 1024px) {
      .userprofile .userprofileform__secondcol {
        margin-top: 0; } }
    @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
      .userprofile .userprofileform__secondcol {
        margin-top: 0; } }
    @media only screen and (max-width: 667px) {
      .userprofile .userprofileform__secondcol {
        margin-top: 0; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile .userprofileform__secondcol {
        margin-top: 0; } }
    .userprofile .userprofileform__email, .userprofile .userprofileform__shipping, .userprofile .userprofileform__phone {
      height: 3rem; }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__email, .userprofile .userprofileform__shipping, .userprofile .userprofileform__phone {
          float: none;
          height: 5rem;
          width: 100%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__email, .userprofile .userprofileform__shipping, .userprofile .userprofileform__phone {
          float: none;
          height: 5rem;
          width: 100%; } }
    .userprofile .userprofileform__email {
      position: relative; }
    .userprofile .userprofileform__userzip, .userprofile .userprofileform__userstate, .userprofile .userprofileform__usercity, .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone, .userprofile .userprofileform__usershipping, .userprofile .userprofileform__labelmail, .userprofile .userprofileform__labelphone, .userprofile .userprofileform__labelshipping, .userprofile .userprofileform__useraddressfull, .userprofile .userprofileform__useraddress {
      font-family: Gotham, sans-serif; }
    .userprofile .userprofileform__labelmail, .userprofile .userprofileform__labelphone, .userprofile .userprofileform__labelshipping {
      margin: 1rem 0 0;
      font-size: 0.9rem;
      text-transform: uppercase;
      display: inline-block;
      text-align: left; }
    .userprofile .userprofileform__labelmail, .userprofile .userprofileform__labelphone {
      width: 5rem; }
    .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone, .userprofile .userprofileform__usershipping, .userprofile .userprofileform__userzip, .userprofile .userprofileform__userstate, .userprofile .userprofileform__usercity {
      display: inline-block;
      margin-left: 5px;
      width: 60%;
      padding: 9px 0 6px 10px;
      border: 1px solid #eee;
      line-height: 1.5rem; }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone, .userprofile .userprofileform__usershipping, .userprofile .userprofileform__userzip, .userprofile .userprofileform__userstate, .userprofile .userprofileform__usercity {
          margin-left: 0; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone, .userprofile .userprofileform__usershipping, .userprofile .userprofileform__userzip, .userprofile .userprofileform__userstate, .userprofile .userprofileform__usercity {
          margin-left: 0; } }
    @media only screen and (max-width: 667px) {
      .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone {
        text-align: left;
        display: block;
        width: 97%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .userprofile .userprofileform__usermail, .userprofile .userprofileform__userphone {
        text-align: left;
        display: block;
        width: 97%; } }
    .userprofile .userprofileform__usercity {
      width: 45%; }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__usercity {
          width: 50%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__usercity {
          width: 50%; } }
    .userprofile .userprofileform__usershipping {
      width: 49%; }
      @media only screen and (min-width: 668px) and (max-width: 1024px) {
        .userprofile .userprofileform__usershipping {
          width: 97%; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .userprofile .userprofileform__usershipping {
          width: 97%; } }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__usershipping {
          margin-top: 0.5rem;
          width: 97%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__usershipping {
          margin-top: 0.5rem;
          width: 97%; } }
    .userprofile .userprofileform__userstate {
      width: 17%;
      margin-top: 9px; }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__userstate {
          margin-top: 1.5rem; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__userstate {
          margin-top: 1.5rem; } }
    .userprofile .userprofileform__usershippinginfo {
      font-size: 0.9rem;
      margin-top: 1rem; }
    .userprofile .userprofileform__userzip {
      width: 30%; }
      @media only screen and (min-width: 668px) and (max-width: 1024px) {
        .userprofile .userprofileform__userzip {
          width: 29%; } }
      @media only screen and (min-width: 376px) and (max-width: 768px) and (orientation: portrait) {
        .userprofile .userprofileform__userzip {
          width: 29%; } }
      @media only screen and (max-width: 667px) {
        .userprofile .userprofileform__userzip {
          width: 28%; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .userprofile .userprofileform__userzip {
          width: 28%; } }
    .userprofile .userprofileform input:disabled {
      background: #fff;
      border: 0;
      color: #333; }

.calendar {
  padding-bottom: 1rem; }
  .calendar__calendartext {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-family: Gotham, sans-serif;
    margin: 0 0 0.2rem; }
  .calendar__monthwrap {
    width: 4.6rem;
    overflow: hidden;
    margin: 0 auto; }
  .calendar__month, .calendar__date {
    width: 4.6rem;
    margin: 0 auto;
    font-family: Gotham, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ccc; }
  .calendar__month {
    background: #343434;
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem 0 0.1rem 18%;
    margin-top: 0.2rem;
    min-height: 1.6rem;
    display: block;
    -webkit-appearance: none;
    border-radius: 0; }
    .calendar__month:disabled {
      border: 0;
      width: 121%; }
  .calendar__date {
    position: relative;
    background: #fff;
    padding: 0.5rem 0 0.1em 1.1rem;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    min-height: 2.5rem;
    display: block;
    color: #333; }
    .calendar__date:disabled {
      border: 0; }

.ie11 .calendar__month {
  font-size: 0.9rem; }
  .ie11 .calendar__month:disabled {
    width: 125%; }
.ie11 .calendar__date {
  padding: 0.5rem; }

.editlink {
  position: relative; }
  .editlink__edit, .editlink__cancel, .editlink__save {
    font-size: 0.9rem;
    font-family: Gotham, sans-serif;
    color: #333;
    text-transform: uppercase;
    position: absolute;
    right: -11%;
    top: 1rem; }
    @media only screen and (max-width: 667px) {
      .editlink__edit, .editlink__cancel, .editlink__save {
        top: 3rem;
        right: -10%; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .editlink__edit, .editlink__cancel, .editlink__save {
        top: 3rem;
        right: -10%; } }
  .editlink__cancel {
    right: 0; }
    @media only screen and (max-width: 667px) {
      .editlink__cancel {
        right: 3rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .editlink__cancel {
        right: 3rem; } }

.editlink--white {
  padding: 1.2rem 0 1.2rem; }
  .editlink--white .editlink__edit, .editlink--white .editlink__save, .editlink--white .editlink__cancel {
    color: #FFF;
    right: 0.9375rem;
    bottom: 0.9375rem;
    top: auto; }
  .editlink--white .editlink__cancel {
    right: 5rem; }
