iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.usercampaign {
  background: #E2E2E2;
  display: inline-block;
  width: 49%;
  position: relative; }
  @media screen and (max-width: 867px) {
    .usercampaign {
      width: 100%;
      display: block;
      margin-bottom: 1rem; } }
  .usercampaign__header {
    background: #b2b812;
    color: #fff;
    padding: 15px;
    margin-top: 0; }
  .usercampaign__viewmore {
    background: #e2e2e2;
    color: #fff;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: -2.5rem;
    width: 100%; }
  .usercampaign__viewmorelink {
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #333;
    font-size: 0.8rem; }
  .usercampaign__viewmoretext {
    vertical-align: top; }
  .usercampaign__viewmoreicon {
    display: inline-block;
    background: url("/assets/plus-black.png") no-repeat center;
    background-size: 2rem;
    width: 3rem;
    height: 3rem; }
    .usercampaign__viewmoreicon:hover {
      display: inline-block;
      background: url("/assets/plus-green.png") no-repeat center;
      background-size: 2rem;
      width: 3rem;
      height: 3rem; }
  .usercampaign__link {
    color: #333;
    text-decoration: underline; }
  .usercampaign__list {
    display: table;
    border-spacing: 1rem;
    margin: 0 auto; }
    @media only screen and (max-width: 667px) {
      .usercampaign__list {
        display: block;
        padding: 0.3rem 1rem;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .usercampaign__list {
        display: block;
        padding: 0.3rem 1rem;
        margin-bottom: 4rem; } }
  .usercampaign__items {
    display: none; }
    .usercampaign__items--row {
      display: table-row; }
      @media only screen and (max-width: 667px) {
        .usercampaign__items--row {
          display: none; } }
      @media only screen and (max-width: 375px) and (orientation: portrait) {
        .usercampaign__items--row {
          display: none; } }
  .usercampaign__productimgwrap {
    background: #fff;
    height: 10rem;
    max-width: 10rem;
    min-width: 2rem; }
    @media screen and (max-width: 1224px) {
      .usercampaign__productimgwrap {
        height: 8rem;
        max-width: 9rem; } }
    @media screen and (max-width: 968px) {
      .usercampaign__productimgwrap {
        height: 5.5rem;
        max-width: 7.5rem; } }
    @media screen and (max-width: 867px) {
      .usercampaign__productimgwrap {
        height: 9.5rem;
        max-width: 12rem; } }
    @media only screen and (max-width: 667px) {
      .usercampaign__productimgwrap {
        height: 100%;
        max-width: 100%;
        min-width: 4rem;
        min-height: 7rem;
        min-width: 1.75rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .usercampaign__productimgwrap {
        height: 100%;
        max-width: 100%;
        min-width: 4rem;
        min-height: 7rem;
        min-width: 1.75rem; } }
  .usercampaign__productlistitem {
    display: table-cell;
    background: #333;
    vertical-align: top;
    padding-bottom: 0.8rem; }
    @media only screen and (max-width: 667px) {
      .usercampaign__productlistitem {
        display: block;
        width: 85%;
        margin: 1rem auto; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .usercampaign__productlistitem {
        display: block;
        width: 85%;
        margin: 1rem auto; } }
  .usercampaign__itemsimages {
    min-height: 7rem;
    max-height: 9rem;
    max-width: 11rem;
    min-width: 1.5rem;
    display: block;
    margin: 0 auto;
    padding: 1rem; }
    @media screen and (max-width: 1224px) {
      .usercampaign__itemsimages {
        min-height: 6rem;
        max-height: 8rem;
        min-width: 1.5rem;
        max-width: 8rem; } }
    @media screen and (max-width: 968px) {
      .usercampaign__itemsimages {
        max-height: 5rem;
        max-width: 7rem;
        min-height: 3rem;
        min-width: 1rem; } }
    @media screen and (max-width: 867px) {
      .usercampaign__itemsimages {
        min-height: 7rem;
        max-height: 9rem;
        max-width: 11.5rem;
        min-width: 1.5rem; } }
    @media only screen and (max-width: 667px) {
      .usercampaign__itemsimages {
        max-height: 10rem;
        max-width: 16rem;
        min-width: 1.5rem; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .usercampaign__itemsimages {
        max-height: 10rem;
        max-width: 16rem;
        min-width: 1.5rem; } }
    @media screen and (max-width: 375px) {
      .usercampaign__itemsimages {
        min-height: 5rem;
        max-height: 8rem;
        min-width: 1rem; } }
  .usercampaign__itemstitle {
    margin: 0;
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: #fff;
    text-align: center;
    max-width: 10rem;
    height: 3.688rem;
    overflow: hidden;
    word-break: break-all; }
    @media screen and (max-width: 1224px) {
      .usercampaign__itemstitle {
        max-width: 8rem; } }
    @media screen and (max-width: 968px) {
      .usercampaign__itemstitle {
        max-width: 7rem; } }
    @media screen and (max-width: 867px) {
      .usercampaign__itemstitle {
        max-width: 12rem; } }
    @media only screen and (max-width: 667px) {
      .usercampaign__itemstitle {
        max-width: 15rem;
        margin: 0 auto; } }
    @media only screen and (max-width: 375px) and (orientation: portrait) {
      .usercampaign__itemstitle {
        max-width: 15rem;
        margin: 0 auto; } }
