iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

.friendconnections {
  width: 96%;
  margin: 3rem auto 1rem;
  padding-bottom: 1rem;
  min-height: 10rem; }
  @media only screen and (max-width: 667px) {
    .friendconnections {
      margin-top: -1rem; } }
  @media only screen and (max-width: 375px) and (orientation: portrait) {
    .friendconnections {
      margin-top: -1rem; } }
  .friendconnections__title {
    color: #000;
    text-align: center;
    position: relative;
    padding-top: 1rem; }
  .friendconnections__wrap {
    width: 88%;
    margin: 0 auto; }
  .friendconnections__info {
    text-align: center;
    color: #000; }
