@import "../../base"

.note-popover
  width: 100%

  .profile-picture-wrapper
    text-align: center

  img.profile-picture
    vertical-align: top
    width: 25%
    margin-bottom: 0.7em
    +border-radius(50%)

  .edit-picture-button
    display: block
    margin: 1px auto !important

  textarea:focus
    +box-shadow(rgba(0, 0, 0, 0), 0, 0, 0)

  .note
    width: 100%
    border: solid 1px rgba(255, 255, 255, 1)
    background-color: #fff
    padding: 10px
    position: relative
    color: $gs-black

    p.chars-left
      color: $gs-gray
      position: absolute
      right: 2em
      margin: 0
      cursor: default
      +user-select(none)
    p.chars-left.warning
      color: $gs-red

    textarea[disabled]
      text-decoration: line-through

    #name-box
      margin-bottom: 12px

    textarea
      width: 100%
      height: 3em

  .note-skipbox
    padding: 0 10px

  #skipNote
    width: auto

  button
    margin-top: 20px

.popover-container .note-wrapper .profile-picture-wrapper
  margin: 1rem auto
  float: none !important
  @include apply-at-size("phone")
    width: 45% !important

