<div class="note-popover" ng-controller="NotePopoverController" >
    <h1 class="white">Sign the Card!</h1>
    <p>Write a message to the recipient and we'll include it on the group card so they'll know part of this gift came from you. You know, giving credit where credit is due. We’re all about that.</p>
    <div class="note-wrapper">
        <div class="profile-picture-wrapper">
            <img class="profile-picture" ng-src="{{profilePicture}}">
            <button class="small white-border edit-picture-button" ng-click="editPhoto()">Edit Photo</button>
        </div>
        <div class="note">
            <textarea class="note" ng-model="noteText" ng-disabled="skipNote"></textarea>
            <p class="chars-left" ng-show="noteText.length > 0" ng-class="{warning: (noteText.length > 214)}">{{250 - noteText.length}}</p>
        </div>
    </div>
    <div>
        <input id="skipNote" type="checkbox" ng-model="skipNote">
        <label for="skipNote">No thanks, just put my name on the group card.</label>
    </div>
    <button class="large white-border" ng-click="action.submit()" ng-disabled="!skipNote && !noteText || noteText.length > 250 " ng-class="{disabled: !skipNote && !noteText}">Sign it!</button>
    <!-- div class="cancel-button"><p class="cancel-button" ng-click="hidePopover()">Cancel</p></div -->
</div>